{% extends 'clinic/base.html' %}
{% load static %}
{% block content %}
{% if new_kit_data %}
    <div class="row my-2">
        <div class="col-sm-6 offset-1">
            <div class="card ">
                <div class="card-header"><h3>Successful definition for Commercial Kit </h3></div>
                <div class="card-body">
                    <table class="table ">
                     <thead>
                        <tr>
                            {% for value in new_kit_data.heading %}
                                <th>{{value}}</th>
                            {% endfor %}
                        </tr>
                     </thead>
                     <tbody>
                          <tr>
                              {% for value in new_kit_data.data %}
                                  <td>{{value}}</td>
                              {% endfor %}
                       </tr>
                      </tbody>
                  </table>
                </div>  
            </div>
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->

{% else %}
    {% if invalid_name %}
        <div class="row my-2">
            <div class="col-sm-6 offset-1">
                <div class="card border-danger mb-3">
                    <div class="card-header"><h3>Commercial Kit already exists</h3></div>
                    <div class="card-body">
                        <p>The Commercial kit Name <strong>{{invalid_name}}  already exists</strong></p>
                    </div>  
                </div>
            </div> <!--// end col-sm-7  -->
        </div> <!--// end row -->
    {% endif %}
<div class="row my-2">
    <div class="col-sm-6">
        <div class="card ">
            <div class="card-header"><h3>Form to add new Commercial Kit.</h3></div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" name="addCommercialKit" id="addCommercialKit" class="form-horizontal well">
                {% csrf_token %}
                <input type="hidden" name="action" value="addCommercialKit"/>
                <div class="form-control required">
                    <label class="col-sm-5 control-label" for="protocol" >Select the Protocol used for the Kit </label>
                    <div class="col-sm-7">
                        <select class="form-control" required = required name="protocol" id="protocol">
              				<option value="">Choose a value</option>
                                {% for value in defined_protocols %}
                                    <option value="{{value}}">{{value}}</option>
                                {% endfor %}
                        </select>
                    </div>  <!-- end select input -->
                </div>  <!-- end from-group   -->
                <BR>
                    <div class="form-control required">
                         <label class="col-sm-5  control-label" for="provider" >Select the Kit Provider company </label>
                           <div class="col-sm-5"><input class="form-control" type="text" required = required name="provider" id="provider" size="100" maxlength="100"></div>
                    </div>  <!-- end from-group   -->

                    <br>

                 <div class="form-control required">
                      <label class="col-sm-5  control-label" for="catNo" > Cat No./ID </label>
                        <div class="col-sm-5"><input class="form-control" required = required type="text" name="catNo" id="catNo"></div>
                 </div>  <!-- end from-group   -->
                 <br>
                    <div class="form-control required">
                      <label class="col-sm-5 control-label" for="kitName" >Kit Name</label>
                      <div class="col-sm-5"><input class="form-control" required = required  type="text" name="kitName" value="" id="kitName"></div>
                </div>  <!-- end from-group   -->
                <br>
                   <div class="form-control">
                     <label class="col-sm-5 control-label" for="description" >Description</label>
                     <div class="col-sm-7"><textarea class="form-control" name="description" value="" id="description" rows="4" cols="60" maxlength="220"></textarea></div>
               </div>  <!-- end from-group   -->
               <br>
               <br>
                   <input class="btn pull-left btn-outline-primary" type="reset" value="Reset Fields">
                   <input class="btn float-end btn-outline-primary" type="submit" value="Submit">
               </form>

            </div>  
        </div>
    </div> <!--// end col-sm-6  -->

    <div class="row my-2">
        <div class="col-sm-5 offset-1">
            <div class="card ">
                <div class="card-header"><h3>Commercial Kit defined for protocols</h3></div>
                <div class="card-body">
                    {% for key , values in commercial_kits_data.data.items %}
                    <h4>{{key}} </h4>
                        <table class="table ">
                            <thead>
                                <tr>
                                    {% for value in commercial_kits_data.headings %}
                                        <th>{{value}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {%for name, provider, cat_number, percent in values %}
                                    <tr>
                                        <td>{{name}}</td>
                                        <td>{{provider}}</td>
                                        <td>{{cat_number}}</td>
                                        <td>{{percent}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br><br>
                    {% endfor %}
                </div>  
            </div>
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->

</div> <!--// end row -->



{% endif %}

{% endblock %}
