clinic{% extends 'clinic/base.html' %}
{% load static %}_
{% block content %}
{% csrf_token %}
<BR>
<div class="row mt-2 mb-4">
    <div class="col-sm-12" >
        {% if new_project %}
            <div class="col-sm-6" >
                <div class="card ">
                    <div class="card-header"><h3>Project has been succesfuly created</h3> </div>
                    <div class="card-body">
                        <p>New protocol <strong>{{ new_project.project_name }}</strong> has been recorded</p>
                        <p>Click on the "add Project Fields" button  to define the custom information used in the project</p>
                        <p></p>
                        <button type="button" class="btn btn-primary" onclick="window.location.href = '/clinic/defineProjectFields={{new_project.project_id}}';">Define Project Fields</button>
                    </div>  <!--  end of panel body  -->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-6 -->
        {% endif %}
        <div class="col-sm-6" >
            <div class="card ">
                <div class="card-header"><h3>Form to add a new Project</h3> </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" name="addNewProject" id="addNewProject" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group required">
                            <input type="hidden" name="action" value="addNewProject"/>

                            <br><br>
                            <label class="col-sm-5 control-label">Define new Project name</label>
                            <div class="col-sm-6"><input class="form-control" required = "required" type="text"  name="projectName" size="80"></div>
                            <br><br><br>
                            <label class="col-sm-5 control-label">Project Manager</label>
                            <div class="col-sm-6"><input class="form-control" required = "required" type="text"  name="projectManager" size="80"></div>
                            <br><br><br>
                            <label class="col-sm-5 control-label">Contact Data </label>
                            <div class="col-sm-6"><input class="form-control" required = "required" type="text"  name="projectContact" size="80"></div>
                            <br><br><br>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Description</label>
                            <div class="col-sm-6">
                                <textarea rows="2" cols="25" name="projectDescription" form="addNewProject"></textarea>
                            </div>
                            <BR> <BR> <BR>
                        </div>
                        <input class="btn pull-right btn-primary" type="submit" value="Submit" id="btnSubmit">
                    </form>

                </div>  <!--  end of panel body  -->
                <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>
            </div> <!--// end panel -->
        </div> <!--// end of sm-6 -->
    </div> <!--// end of sm-12 -->
</div> <!--// end row -->
<div class="row mt-2 mb-4">
    <div class="col-sm-10" >
        <BR> <BR> <BR>
        <div class="card ">
          <div class="card-header"><h3>Projects already defined </h3></div>
          <div class="card-body">
                {% if defined_projects %}
                    <table class="table table-hover">
                       <thead>
                          <tr>
                            <th>Project Name</th>
                            <th>Project Manager</th>
                            <th>Project Contact</th>
                            <th>Project Description</th>
                            <th>Project Fields</th>
                          </tr>
                       </thead>
                       <tbody>
                        {% for  name, manager, contact, description , id , fields in defined_projects %}
                            <tr>
                                <td><a href="/clinic/displayPatientProject={{id}}">{{ name }}</a></td>
                                <td>{{ manager }}</td>
                                <td>{{ contact }}</td>
                                <td>{{ description }}</td>
                                {% if fields %}
                                    <td> </td>
                                {% else %}
                                    <td><button onclick="window.location.href = '/clinic/defineProjectFields={{id}}';">Define Fields</button></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No Protocols  have been defined so far</p>
                {% endif %}
            </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
    </div> <!--// end col-sm-8  -->
</div> <!--// end row -->


{% endblock %}
