{% extends 'clinic/base.html' %}
{% load static %}
{% block content %}
<link href="{% static "iSkyLIMS_common_static/css/collapse.css" %}" rel="stylesheet" type="text/css"/>
{% if display_patient_info %}
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-12" >
        <div class="col-sm-6" >
            <div class="card ">
                <div class="card-header"><h3>Main Information for {{display_patient_info.patient_name.0}} {{display_patient_info.patient_name.1}}</h3></div>
                <div class="card-body">

                    <br>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th colspan="2" style="text-align:center">Patient main data</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for values in display_patient_info.patient_basic_info %}
                                <tr>
                                    {% for value in values %}
                                        <td>{{ value }} </td>
                                    {%endfor%}
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>

                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->

            <br>
            <div class="card ">
                <div class="card-header"><h3>Project Information</h3></div>
                <div class="card-body">
                    {% if display_patient_info.project_information %}
                        {% for key, values in display_patient_info.project_information.items %}

                            <button type="button" class="collapsible">{{key}}</button>
                                <div class="contentCollapse">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" style="text-align:center">Project data </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for field , value in values %}
                                                <tr>
                                                    <td>{{ field }} </td>
                                                    <td>{{ value }} </td>
                                                </tr>
                                            {%endfor%}
                                        </tbody>
                                    </table>
                                </div>



                        {%endfor%}
                        <script>
                            var coll = document.getElementsByClassName("collapsible");
                            var i;

                            for (i = 0; i < coll.length; i++) {
                              coll[i].addEventListener("click", function() {
                                this.classList.toggle("collapsibleactive");
                                var content = this.nextElementSibling;
                                if (content.style.display === "block") {
                                  content.style.display = "none";
                                } else {
                                  content.style.display = "block";
                                }
                              });
                            }
                        </script>
                    {% endif %}
                    <br>
                    {%if display_patient_info.available_projects %}
                        <form method="post" action="/clinic/assignProject" enctype="multipart/form-data" name="addPatientProject"  id="addPatientProject" class="form-horizontal well">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="addPatientProject"/>
                            <input type="hidden" name="patient_id" value="{{display_patient_info.patient_id}}"/>
                            <div class="form-control">
                                <label class="col-sm-5 control-label" for="projectName" >Assign project to patient</label>
                                <div class="col-sm-4">
                                    <select class="form-control" name="projectName" id="projectName">
                                        <option value="">Choose a value</option>
                                        {% for value in display_patient_info.available_projects %}
                                            <option value="{{value}}">{{value}}</option>
                                        {% endfor %}
                                    </select>
                                </div>  <!-- end select input -->

                             </div>  <!-- end from-group   -->

                            <div class="col-sm-10 offset-1">
                                <input class="btn float-end btn-outline-primary" type="submit" value="Assign new Project">
                            </div>
                        </form>
                    {% endif %}
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->

        </div> <!--// end col-sm-6  -->
        <div class="col-sm-6" >
            <div class="card ">
                <div class="card-header"><h3>Additional Information</h3></div>
                <div class="card-body">
                    {% if display_patient_info.patient_data %}

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th colspan="2" style="text-align:center">Patient addtional data</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for values in display_patient_info.patient_data %}
                                    <tr>
                                        {% for value in values %}
                                            <td>{{ value }} </td>
                                        {%endfor%}
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>

                    {% else %}
                        <h4>No additional information is recorded for {{display_patient_info.patient_name.0}}</h4>
                        <br>
                        <div class="col-sm-12 ">
                            <button class="accordion">Click on the button to add it.</button>
                            <div class="panelaccordion">
                                <form method="post" action="/clinic/defineNewPatient" enctype="multipart/form-data" name="addAdditionalInformation"  id="addAdditionalInformation" class="form-horizontal well">
                                {% csrf_token %}
                                    <input type="hidden" name="action" value="addAdditionalInformation"/>
                                    <input type="hidden" name="patient_id" value="{{display_patient_info.patient_id}}"/>

                                    <div class="form-control">
                                        <label class="col-sm-5  control-label" for="address" >Patient Address </label>
                                        <div class="col-sm-5"><textarea rows="2" cols="25" name="address" form="addAdditionalInformation"></textarea></div>
                                    </div>  <!-- end from-group   -->
                                    <div class="form-control">
                                        <label class="col-sm-5  control-label" for="phone" >Patient Phone Number </label>
                                        <div class="col-sm-5"><input class="form-control" type="text" name="phone" id="phone" size="80" maxlength="80"></div>
                                    </div>  <!-- end from-group   -->
                                    <div class="form-control">
                                        <label class="col-sm-5  control-label" for="email" >Patient email </label>
                                        <div class="col-sm-5"><input class="form-control" type="text" name="email" id="email" size="80" maxlength="80"></div>
                                    </div>  <!-- end from-group   -->
                                    <div class="form-control">
                                        <label class="col-sm-5  control-label" for="birthday" >Patient Birthday </label>
                                        <div class="col-sm-5"><input class="form-control" type="date" name="birthday" id="birthday" size="80" maxlength="80"></div>
                                    </div>  <!-- end from-group   -->
                                    <div class="form-control">
                                        <label class="col-sm-5  control-label" for="smoker" >Patient is Smoker? </label>
                                        <div class="col-sm-5"><input class="form-control" type="text" name="smoker" id="smoker" size="80" maxlength="80"></div>
                                    </div>  <!-- end from-group   -->
                                    <div class="form-control">
                                        <label class="col-sm-5  control-label" for="notificationPreference" >Notification Preferences</label>
                                        <div class="col-sm-5"><input class="form-control" type="text" name="notificationPreference" id="notificationPreference" size="80" maxlength="80"></div>
                                    </div>  <!-- end from-group   -->
                                    <div class="form-control">
                                        <label class="col-sm-5  control-label" for="comments" >Comments </label>
                                        <div class="col-sm-5"><textarea rows="2" cols="25" name="comments" form="addAdditionalInformation"></textarea></div>

                                    </div>  <!-- end from-group   -->
                                    <br>

                                    <div class="col-sm-10 offset-1">
                                        <input class="btn pull-left btn-outline-primary" type="reset" value="Reset Fields">
                                        <input class="btn float-end btn-outline-primary" type="submit" value="Submit">
                                    </div>

                                </form>
                            </div> <!-- end of panelaccordion -->
                        </div> <!--  end of col-sm-6 -->
                    {% endif %}
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-6  -->
    </div> <!--// end row -->

    <div class="row row-space-4 margin-b-1">
        <div class="col-sm-12 ">
            <div class="tab">
                <button class="tablinks" onclick="summaryBin(event, 'patient_history')" id="tablinksdefaultOpen">History Information </button>
                <button class="tablinks" onclick="summaryBin(event, 'samples')">Samples handled for patient</button>


                <!-- Patiente History    -->
                <div id="patient_history" class="tabcontent">
                    <div class="col-sm-11 ">
                        <br>
                        <div class="col-sm-10 " >
                            <div class="card ">
                                <div class="card-header"><h3>Patient History</h3></div>
                                <div class="card-body">
                                    <br>
                                    {%  if display_patient_info.pat_hist.heading %}
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" style="text-align:center">Patient main history</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for values in display_patient_info.patient_basic_info %}
                                                <tr>
                                                    {% for value in values %}
                                                        <td>{{ value }} </td>
                                                    {%endfor%}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% endif %}
                                    <br>
                                    <form method="post" action="/clinic/defineNewPatientHistory" enctype="multipart/form-data" name="addPatientHistory"  id="addPatientHistory" class="form-horizontal well">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="addPatientHistory"/>
                                        <input type="hidden" name="patient_id" value="{{display_patient_info.patient_id}}"/>

                                        <div class="col-sm-10 offset-1">
                                            <input class="btn float-end btn-outline-primary" type="submit" value="Create New Patient History">
                                        </div>
                                    </form>
                                </div>  <!--  end of panel body  -->
                            </div> <!--// end panel -->
                        </div> <!--// end col-sm-9  -->
                    </div> <!--// end col-sm-11  -->
                </div> <!-- // end of tab patient -->
                <!-- End Patiente History    -->

                <!-- samples    -->
                <div id="samples" class="tabcontent">
                    <div class="col-sm-11 ">
                        <br>
                        <div class="col-sm-10 " >
                            <div class="card ">
                                <div class="card-header"><h3>Samples of Patient </h3></div>
                                <div class="card-body">
                                    <br>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                {% for value in display_patient_info.samples_heading %}
                                                    <th>{{value}}</th>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for id, name, orig, date, type, state in display_patient_info.samples_data %}
                                                <tr>

                                                    <td><a href="/clinic/displaySampleInfo={{id}}">{{ name }}</a> </td>
                                                    <td>{{ orig }} </td>
                                                    <td>{{ date }} </td>
                                                    <td>{{ type }} </td>
                                                    <td>{{ state }} </td>

                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>  <!--  end of panel body  -->
                            </div> <!--// end panel -->
                        </div> <!--// end col-sm-9  -->
                    </div> <!--// end col-sm-11  -->
                </div> <!-- // end of tab patient -->
                <!-- End samples    -->
            </div> <!-- End Tab    -->
{% endif %}
<script type="text/javascript" src="{% static 'iSkyLIMS_common_static/js/accordion.js' %}"></script>
{% endblock %}
