{% extends 'clinic/base.html' %}
{% load static %}
{% block content %}

{% if display_sample_info %}


    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-10 offset-1" >
            <div class="card ">
                <div class="card-header"><h3>Main Information for Sample {{display_sample_info.s_name}}</h3></div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                           <tr>
                               {% for value in display_sample_info.sample_core_heading %}
                                    <th>{{value}} </th>
                               {% endfor %}
                           </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for value in display_sample_info.sample_core_info %}
                                   <td>{{ value }} </td>
                                {%endfor%}
                              </tr>
                        </tbody>
                    </table>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->

    <div class="row row-space-4 margin-b-1">
        <div class="col-sm-12 ">
            <div class="tab">
                <button class="tablinks" onclick="summaryBin(event, 'patient')">Patient Information </button>
                <button class="tablinks" onclick="summaryBin(event, 'analysis')">Data from Analysis</button>
                {% if display_sample_info.run_data.heading %}
                    <button class="tablinks" onclick="summaryBin(event, 'runData')">Run Data</button>
                {% endif %}
                <button class="tablinks" onclick="summaryBin(event, 'results')">Results</button>


                <div id="patient" class="tabcontent">

                    <div class="col-sm-12 ">
                    <div class="col-sm-6 " >
                        <div class="card ">
                            <div class="card-header"><h3>Patient Information for Sample {{display_sample_info.s_name}}</h3></div>
                            <div class="card-body">
                                <br>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="2" style="text-align:center">Patient main data</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for values in display_sample_info.patient_basic_info %}
                                            <tr>
                                                {% for value in values %}
                                                    <td>{{ value }} </td>
                                                {%endfor%}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>  <!--  end of panel body  -->
                        </div> <!--// end panel -->
                    </div> <!--// end col-sm-6  -->
                    <div class="col-sm-6 " >
                        <div class="card ">
                            <div class="card-header"><h3>Patient Information for Sample {{display_sample_info.s_name}}</h3></div>
                            <div class="card-body">
                                <br>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Patient addtional data</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for values in display_sample_info.patient_data %}
                                            <tr>
                                                {% for value in values %}
                                                    <td>{{ value }} </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>  <!--  end of panel body  -->
                        </div> <!--// end panel -->
                    </div> <!--// end col-sm-6  -->
                </div> <!--// end col-sm-12  -->


            </div> <!-- // end of tab patient -->

            <div id="analysis" class="tabcontent">
                <div class="col-sm-11 ">
                    <h3>Information collection during DNA/RNA extraction</h3>
                    <div class="col-sm-12 " >
                        <div class="card ">
                            <div class="card-header"><h3>Information for Sample {{display_sample_info.s_name}}</h3></div>
                            <div class="card-body">
                                <br>
                                {% if display_sample_info.not_massive.parameter_heading_values %}
                                    <div class="row my-2">
                                        <div class="col-sm-11">
                                            <div class="card ">
                                                <h3>DNA/RNA extraction using for not massive methods on sample {{ display_sample_info.not_massive.sample_definition.0 }} </h3>
                                                <div class="card-header"><h4>Molecule Information</h4></div>
                                                <div class="card-body">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                {% for values in display_sample_info.not_massive.molecule_definition_heading %}
                                                                    <th>{{ values }} </th>
                                                                {%endfor%}
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for values in display_sample_info.not_massive.molecule_definition %}
                                                                <tr>
                                                                    {% for value in values %}
                                                                        <td>{{ value }} </td>
                                                                    {%endfor%}
                                                                </tr>
                                                            {%endfor%}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div> <!--  end of col-sm-11 -->
                                    </div> <!--  end of row -->
                                {% endif %}

                                {% if display_sample_info.not_massive.parameter_heading_values %}
                                    <div class="row my-2">
                                        <div class="col-sm-11">
                                            <div class="card ">
                                                <h3>Parameter Information for Molecules using for the sample {{ display_sample_info.not_massive.sample_definition.0 }} </h3>
                                                <div class="card-header"><h4>Quality Parameter Molecule Information</h4></div>
                                                <div class="card-body">
                                                    {% for heading, values in display_sample_info.not_massive.parameter_heading_values %}
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                  {% for head in heading %}
                                                                    <th>{{ head }} </th>
                                                                  {%endfor%}
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    {% for value in values %}
                                                                        <td>{{ value }} </td>
                                                                    {%endfor%}
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <br><br>
                                                   {%endfor%}
                                                </div>
                                             </div>
                                           </div> <!--  end of col-sm-11 -->
                                      </div> <!--  end of row -->
                                {% endif %}
                                <br><br><br>
                                {% if display_sample_info.massive.parameter_heading_values %}
                                    <div class="row my-2">
                                        <div class="col-sm-11">
                                            <div class="card ">
                                                <h3>DNA/RNA extraction using for massive methods on sample {{ display_sample_info.massive.sample_definition.0 }} </h3>
                                                <div class="card-header"><h4>Molecule Information</h4></div>
                                                <div class="card-body">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                {% for values in display_sample_info.massive.molecule_definition_heading %}
                                                                    <th>{{ values }} </th>
                                                                {%endfor%}
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for values in display_sample_info.massive.molecule_definition %}
                                                                <tr>
                                                                    {% for value in values %}
                                                                        <td>{{ value }} </td>
                                                                    {%endfor%}
                                                                </tr>
                                                            {%endfor%}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div> <!--  end of col-sm-11 -->
                                    </div> <!--  end of row -->
                                {% endif %}

                                {% if display_sample_info.massive.parameter_heading_values %}
                                    <div class="row my-2">
                                        <div class="col-sm-11">
                                            <div class="card ">
                                                <h3>Parameter Information for Molecules using for the sample {{ display_sample_info.massive.sample_definition.0 }} </h3>
                                                <div class="card-header"><h4>Quality Parameter Molecule Information</h4></div>
                                                <div class="card-body">
                                                    {% for heading, values in display_sample_info.massive.parameter_heading_values %}
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                  {% for head in heading %}
                                                                    <th>{{ head }} </th>
                                                                  {%endfor%}
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    {% for value in values %}
                                                                        <td>{{ value }} </td>
                                                                    {%endfor%}
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <br><br>
                                                   {%endfor%}
                                                </div>
                                             </div>
                                           </div> <!--  end of col-sm-11 -->
                                      </div> <!--  end of row -->
                                {% endif %}
                            </div>  <!--  end of panel body  -->
                        </div> <!--// end panel -->
                    </div> <!--// end col-sm-5  -->
                </div>
            </div> <!-- // end of tab analysis -->
            </div> <!-- // end of tab  -->
        </div> <!--  end of col-sm-12 -->
    </div> <!--  end of row -->

{% else%}
    <br><br>
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-10 offset-1" >
            <div class="card ">
                <div class="card-header"><h3>Clinic Samples</h3></div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                {% for value in display_sample_list_info.heading %}
                                    <th>{{value}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <h4>The following clinic samples match with your input request</h4>
                            {% for s_id, s_name, history, doc, priority, date, state in display_sample_list_info.sample_c_data %}
                                <tr>
                                    <td><a href="/clinic/displaySampleClinicInfo={{s_id}}">{{ s_name }}</a> </td>
                                    <td>{{ history }} </td>
                                    <td>{{ doc }} </td>
                                    <td>{{ priority }} </td>
                                    <td>{{ date }} </td>
                                    <td>{{ state }} </td>



                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->


{% endif %}

{% endblock %}
