<meta charset="utf-8">
<title>iSkyLIMS</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load staticfiles  %}
<!-- External STYLES -->
<link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>
<link rel="stylesheet" href= "https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"  type="text/css"/>

<link href="{% static "iSkyLIMS_common_static/css/icons.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "iSkyLIMS_common_static/css/animate.css" %}" rel="stylesheet">
<link href="{% static "iSkyLIMS_common_static/css/custom.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "iSkyLIMS_common_static/css/customized.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "iSkyLIMS_common_static/css/form.css" %}" rel="stylesheet" type="text/css"/>

<link href="{% static "iSkyLIMS_common_static/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "iSkyLIMS_common_static/vendor/swiper/css/swiper.min.css" %}" rel="stylesheet"/>



<!-- THEME STYLES -->
<link href="{% static "iSkyLIMS_common_static/css/layout.css" %}" rel="stylesheet" type="text/css"/>

<link rel="icon" href="{% static 'iSkyLIMS_common_static/img/favicon.ico' %}">

    <!-- GLOBAL  JAVA SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> <!-- drop menus -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<script src="{% static "iSkyLIMS_common_static/js/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "iSkyLIMS_common_static/js/customized.js" %}" type="text/javascript"></script>
