{% extends 'clinic/base.html' %}
{% load static %}
{% block content %}

<div class="row mt-2 mb-4">
    <div class="col-sm-11">
        <div class="card ">
            <h3>Information for Sample {{ sample_information.sample_definition.0 }} </h3>
            <div class="card-header"><h4>Basic Information</h4></div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                        {% for values in sample_information.sample_definition_heading %}
                          <th>{{ values }} </th>
                        {%endfor%}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for values in sample_information.sample_definition %}
                                <td>{{ values }} </td>
                            {%endfor%}
                        </tr>
                    </tbody>
                </table>
            </div> <!--  end of panel body -->
            {% if sample_information.sample_project_name %}
                <div class="card-header"><h4>Sample Information {{sample_information.sample_project_name }}</h4></div>
                <div class="card-body">

                        <table class="table">
                            <thead>
                                <tr>
                                {% for values in sample_information.sample_project_field_heading %}
                                  <th>{{ values }} </th>
                                {%endfor%}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for values in sample_information.sample_project_field_value %}
                                        <td>{{ values }} </td>
                                    {%endfor%}
                                </tr>
                            </tbody>
                        </table>

                </div> <!--  end of panel body -->
            {% endif %}

        </div> <!--  end of panel  -->
    </div> <!--  end of col-sm-11 -->
</div> <!--  end of row -->

{% if sample_information.molecule_definition %}
  <div class="row mt-2 mb-4">
      <div class="col-sm-11">
          <div class="card ">
              <h3>Information for Molecule using the sample {{ sample_information.sample_definition.0 }} </h3>
              <div class="card-header"><h4>Molecule Information</h4></div>
              <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            {% for values in sample_information.molecule_definition_heading %}
                                <th>{{ values }} </th>
                            {%endfor%}
                        </tr>
                    </thead>
                    <tbody>
                        {% for values in sample_information.molecule_definition %}
                            <tr>
                                {% for value in values %}
                                    <td>{{ value }} </td>
                                {%endfor%}
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
              </div> <!--  end of panel body -->
           </div> <!--  end of panel  -->
         </div> <!--  end of col-sm-11 -->
    </div> <!--  end of row -->
{% endif %}

{% if sample_information.parameter_heading_values %}
    <div class="row mt-2 mb-4">
        <div class="col-sm-11">
            <div class="card ">
                <h3>Parameter Information for Molecules using for the sample {{ sample_information.sample_definition.0 }} </h3>
                <div class="card-header"><h4>Quality Parameter Molecule Information</h4></div>
                <div class="card-body">
                    {% for heading, values in sample_information.parameter_heading_values %}
                        <table class="table">
                            <thead>
                                <tr>
                                  {% for head in heading %}
                                    <th>{{ head }} </th>
                                  {%endfor%}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for value in values %}
                                        <td>{{ value }} </td>
                                    {%endfor%}
                                </tr>
                            </tbody>
                        </table>
                        <br><br>
                   {%endfor%}
                </div> <!--  end of panel body -->
             </div> <!--  end of panel  -->
           </div> <!--  end of col-sm-11 -->
      </div> <!--  end of row -->
{% endif %}


{% if sample_information.library_definition_heading %}
  <div class="row mt-2 mb-4">
      <div class="col-sm-11">
          <div class="card ">
              <h3>Library Preparation Information for sample  {{ sample_information.sample_definition.0 }} </h3>
              <div class="card-header"><h4>Index used for sample {{ sample_information.sample_definition.0 }}</h4></div>
              <div class="card-body">
                <table class="table table-hover">
                    <thead>
                      <tr>
                      {% for values in sample_information.library_definition_heading %}
                        <th>{{ values }} </th>
                      {%endfor%}
                      </tr>
                    </thead>
                    <tbody>
                        {% for values in sample_information.library_definition %}
                            <tr>
                                {% for value in values %}
                                    <td>{{ value }} </td>
                                {%endfor%}
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
              </div> <!--  end of panel body -->
           </div> <!--  end of panel  -->
         </div> <!--  end of col-sm-11 -->
    </div> <!--  end of row -->
{% endif %}

{% if sample_information.library_parameter_heading %}
  <div class="row mt-2 mb-4">
      <div class="col-sm-11">
          <div class="card ">
              <h3>Parameter Information for Library Preparation using for the sample {{ sample_information.sample_definition.0 }} </h3>
              <div class="card-header"><h4>Quality Parameter Library Preparation Information</h4></div>
              <div class="card-body">
                <table class="table table-hover">
                    <thead>
                      <tr>
                      {% for values in sample_information.library_parameter_heading %}
                        <th>{{ values }} </th>
                      {%endfor%}
                      </tr>
                    </thead>
                    <tbody>
                        {% for values in sample_information.library_parameter_values %}
                            <tr>
                                {% for value in values %}
                                    <td>{{ value }} </td>
                                {%endfor%}
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
              </div> <!--  end of panel body -->
           </div> <!--  end of panel  -->
         </div> <!--  end of col-sm-11 -->
    </div> <!--  end of row -->
{% endif %}

{% if sample_information.lib_prep_param_heading %}
  <div class="row mt-2 mb-4">
      <div class="col-sm-11">
          <div class="card ">
              <h3>Parameter Information for Library Preparation using for the sample {{ sample_information.sample_definition.0 }} </h3>
              <div class="card-header"><h4>Library Preparation Quality Parameter Information</h4></div>
              <div class="card-body">
                <table class="table table-hover">
                    <thead>
                      <tr>
                      {% for values in sample_information.lib_prep_param_heading %}
                        <th>{{ values }} </th>
                      {%endfor%}
                      </tr>
                    </thead>
                    <tbody>
                        {% for values in sample_information.lib_prep_param_value %}
                            <tr>
                                {% for value in values %}
                                    <td>{{ value }} </td>
                                {%endfor%}
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
              </div> <!--  end of panel body -->
           </div> <!--  end of panel  -->
         </div> <!--  end of col-sm-11 -->
    </div> <!--  end of row -->
{% endif %}


{% if sample_information.pool_heading %}
  <div class="row mt-2 mb-4">
      <div class="col-sm-11">
          <div class="card ">
              <h3>Information for Pool definition for sample {{ sample_information.sample_definition.0 }} </h3>
              <div class="card-header"><h4>Pool Information</h4></div>
              <div class="card-body">
                <table class="table table-hover">
                    <thead>
                      <tr>
                      {% for values in sample_information.pool_heading %}
                        <th>{{ values }} </th>
                      {%endfor%}
                      </tr>
                    </thead>
                    <tbody>
                        {% for values in sample_information.pool_information %}
                            <tr>
                                {% for value in values %}
                                    <td>{{ value }} </td>
                                {%endfor%}
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
              </div> <!--  end of panel body -->
           </div> <!--  end of panel  -->
         </div> <!--  end of col-sm-11 -->
    </div> <!--  end of row -->
{% endif %}
{% endblock %}
