{% extends 'clinic/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}

{% if Error %}
    <div class="row my-2">
        <div class="col-sm-5 offset-3" >
            <div class="card border-danger mb-3">
                <div class="card-header"><strong>No Results </strong></div>
                <div class="card-body">
                    {% for message in Error %}
                        <p>{{message}}</p>
                    {% endfor %}
                </div>  
            </div>
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->
{% endif %}

    <!-- FORM for searching Samples  Information -->
    <div class="row my-2">
      <div class="col-sm-7" >
        <div class="card ">
          <div class="card-header"><strong>Searching Sample</strong></div>
          <div class="card-body">
            <form method="post" enctype="multipart/form-data" name="searchSample" id="searchSample" class="form-horizontal well">
            {% csrf_token %}
            <input type="hidden" name="action" value="searchSample"/>
            <div class="form-control">
                <label class="col-sm-5  form-label" for="sampleName" >Fill the Sample name </label>
                <div class="col-sm-5"><input class="form-control" type="text" name="sampleName" id="sampleName" size="80" maxlength="80"></div>
             </div>  <!-- end from-group   -->
             <BR>
             <div class="form-control">
               <label class="col-sm-5 form-label" for="patientName" >Patient Name</label>
               <div class="col-sm-5"><input class="form-control" type="text" name="patientName" id="patientName" size="80" maxlength="80"></div>
            </div>  <!-- end from-group   -->
            <BR>
            <div class="form-control">
              <label class="col-sm-5 form-label" for="patientSurname" >Patient Family name</label>
              <div class="col-sm-5"><input class="form-control" type="text" name="patientSurname" id="patientSurname" size="80" maxlength="80"></div>
           </div>  <!-- end from-group   -->
           <BR>
            <div class="form-control">
                <label class="col-sm-5 form-label" for="patientCode" >Patient Code</label>
                <div class="col-sm-5"><input class="form-control" type="text" name="patientCode" id="patientCode" size="80" maxlength="80"></div>
            </div>  <!-- end from-group   -->
            <BR>
            <div class="form-control">
                <label class="col-sm-5 form-label" for="doctor" >Doctor</label>
                <div class="col-sm-4">
                    <select class="form-control" name="doctor" id="doctor">
               			<option value="">Choose a value</option>
                        {% for value in search_sample_data.doctors %}
                            <option value="{{value}}">{{value}}</option>
                        {% endfor %}
                     </select>
               </div>  <!-- end select input -->
            </div>  <!-- end from-group   -->
            <BR>
            <div class="form-control">
                <label class="col-sm-5 form-label" for="requestedby" >Requested Service by</label>
                <div class="col-sm-4">
                    <select class="form-control" name="requestedby" id="requestedby">
           				<option value="">Choose a value</option>
                        {% for value in search_sample_data.requested_service_by %}
                            <option value="{{value}}">{{value}}</option>
                        {% endfor %}
                    </select>
                </div>  <!-- end select input -->

             </div>  <!-- end from-group   -->
             <br>
                <div class="form-control">
                  <label class="col-sm-5 form-label" for="startdate" >From Start Date (DD-MM-YYYY)</label>
                  <div class="col-sm-5"><input class="form-control" type="date" name="startdate" value="" id="startdate"></div>
            </div>  <!-- end from-group   -->
                <br>
                <div class="form-control">
                  <label class="col-sm-5 form-label" for="enddate" >End Date Search (DD-MM-YYYY)</label>
                  <div class="col-sm-5"><input class="form-control" type="date" name="enddate" value="" id="enddate"></div>
            </div>  <!-- end from-group   -->
            <br>
                <input class="btn pull-left btn-outline-primary" type="reset" value="Reset Fields">
                <input class="btn float-end btn-outline-primary" type="submit" value="Submit">
            </form>
         </div>  
        </div>
        </div> <!--// end col-sm-7  -->

        <!-- Insert the help panel -->
        <BR><BR>

        <div class="col-sm-3 offset-1">
          <div class="card ">
             <div class="card-header">Searching information of the RUN</div>
             <div class="card-body">
             <p>Searching information can be done on Patients or on Samples: <BR>
             <p>For extended help click on the button below.</p>
            <center><button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">Click for Help</button></center>
            </div>  
        </div>
       </div> <!--  end col-sm-3  -->
     <!-- Insert the Help window when clicking on the button -->
        {% include 'clinic/search-sample-help.html' %}

    </div> <!--// end row -->

    <!-- End of FORM for searching RUN information -->

{% endblock %}
