{% extends 'clinic/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}

{% if Error %}
    <div class="row my-2">
        <div class="col-sm-5 offset-3" >
            <div class="card border-danger mb-3">
                <div class="card-header"><strong>No Results </strong></div>
                <div class="card-body">
                    {% for message in Error %}
                        <p>{{message}}</p>
                    {% endfor %}
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->
{% endif %}


{% if display_patient_list_info %}

    <br><br>
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-10 offset-1" >
            <div class="card ">
                <div class="card-header"><h3>Patient Names found in the search</h3></div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                {% for value in display_patient_list_info.heading %}
                                    <th>{{value}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <h4>The following clinic samples match with your input request</h4>
                            {% for p_code, p_name, p_surname, p_id in display_patient_list_info.patient_data %}
                                <tr>
                                    <td><a href="/clinic/displayPatientInformation={{p_id}}">{{ p_code }}</a> </td>
                                    <td>{{ p_name }} </td>
                                    <td>{{ p_surname }} </td>
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->

{% else%}
<!-- FORM for searching Patient  Information -->
    <div class="row my-2">
        <div class="col-sm-7" >
            <div class="card ">
                <div class="card-header"><strong>Searching Patient</strong></div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" name="searchPatient" id="searchPatient" class="form-horizontal well">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="searchPatient"/>
                        <div class="form-control">
                            <label class="col-sm-5  control-label" for="patientname" >{{s_patient_data.p_name}}</label>
                            <div class="col-sm-5"><input class="form-control" type="text" name="patientname" id="patientname" size="80" maxlength="80"></div>
                        </div>  <!-- end from-group   -->
                        <BR>
                        <div class="form-control">
                            <label class="col-sm-5 control-label" for="patientname" >{{s_patient_data.p_surname}}</label>
                            <div class="col-sm-5"><input class="form-control" type="text" name="patientsurname" id="patientsurname" size="80" maxlength="80"></div>
                        </div>  <!-- end from-group   -->
                        <BR>
                        <div class="form-control">
                            <label class="col-sm-5 control-label" for="historynumber" >Patient Code</label>
                            <div class="col-sm-5"><input class="form-control" type="text" name="patientcode" id="patientcode" size="80" maxlength="80"></div>
                        </div>  <!-- end from-group   -->
                        <BR>
                        <br>
                        <input class="btn pull-left btn-outline-primary" type="reset" value="Reset Fields">
                        <input class="btn float-end btn-outline-primary" type="submit" value="Submit">
                    </form>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->

        <!-- Insert the help panel -->
        <BR><BR>

        <div class="col-sm-3 offset-1">
          <div class="card ">
             <div class="card-header">Searching information for Patient</div>
             <div class="card-body">
             <p>Searching information can be done on Patients or on Samples: <BR>
             <p>For extended help click on the button below.</p>
            <center><button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">Click for Help</button></center>
            </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
       </div> <!--  end col-sm-3  -->
     <!-- Insert the Help window when clicking on the button -->
        {% include 'clinic/search-sample-help.html' %}

    </div> <!--// end row -->

    <!-- End of FORM for searching RUN information -->
{% endif %}
{% endblock %}
