

#banner {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color: #000000;
	font-size: 20px;
	background-image: url(NextSeq_banner.jpg);
	background-repeat: no-repeat;
	height: 200px;
	width: 800px;
	margin-bottom: 3px;

