
.form-control.required .form-label:after {
  content:"  *";
  color:red;
}
.horizontal-scroll {
    overflow-x: auto;
    white-space: nowrap;
}

.btn-primary {
  background-color: #6db23d !important;
  border-color: #6db23d !important;
}
