{% extends "core/base.html" %}
{% load static %}
{% block content %}

{% include 'core/menu.html' %}
<section class="iskylims d-flex flex-column fill-height">
    <div class="container-md">
        {% if form.errors %}
        <div class="row justify-content-center pt-2 pb-2">
            <div class="col-md-8">
                <div class="card border-danger">
                    <h4 class="card-header text-danger ">Your userid and/or password are incorrect</h4>
                    <div class="card-body">
                        <p> Please enter your credentials again to login</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row justify-content-center pt-2 pb-2">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Login access form</div>
                    <div class="card-body">
                        <p> Please enter your credentials to access to iSkyLIMS </p>
                        <form class="container-md" method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}" />
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="id_username" name="username"
                                        placeholder="User name">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <input type="password" class="form-control" id="id_password" name="password"
                                        placeholder="Password">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-8">
                                    <button type="submit" class="btn btn-primary" type="button">Login</button>
                                </div>
                                <div class="col-md-4 text-end">
                                    <a class="align-self-end" href="{% url 'password_reset' %}">Lost password?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}