{% if user.is_authenticated %}
    <div class="row mt-1 justify-content-end">
        <div class="col-md-auto">
            <form id="signin"  role="form" method="post" action="{% url 'logout' %}?next={{request.path}}">
                {% csrf_token %} 
                <div class="row g-3">
                    <div class="col-md-auto">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-person-check-fill"></i></span>
                            <span class="form-control">{{user.get_username}}</span>
                        </div>
                    </div>
                    <div class="col-md-auto">                                                                                                 
                        <button type="submit" class="btn btn-outline-primary"> Logout </button>
                    </div>
                    <div class="col-md-auto"> 
                        <a class="btn btn-outline-secondary" href="/utils/user_edit"> My account </a>
                    </div>
                </div>
            </form>
        </div>
    </div>                                                                                                                          
{% else %}
    <div class="row mt-1 justify-content-end">
        <div class="col-md-auto">                                                                                                               
            <form id="signin" role="form" method="post" action="{% url 'login' %}">                          
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-md-auto">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
                            <input type="text" class="form-control" id="id_username" name="username" placeholder="User name">
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                            <input type="password" class="form-control" id="id_password"  name="password" placeholder="Password">
                        </div>
                    </div>                                                                                                            
                    <div class="col-md-auto">
                        <button type="submit" class="btn btn-outline-primary me-md-2">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>                                                                                                                          
 {% endif %}                                                                                                                       
