{% extends "core/base.html" %}
{% load static %}
{% block content %}

{% include 'core/menu.html' %}
<section class="iskylims d-flex flex-column fill-height">
    <div class="container-md">
        <div class="row justify-content-center pt-2 pb-2">
            <div class="col-md-8">
                <div class="card ">
                    <div class="card-header">Password reset complete</div>
                    <div class="row card-body">
                        <div class="col-md-12">
                            <p>Your password has been set. You may go ahead and log in now.</p>
                            <a class="btn btn-outline-primary" href="{{ login_url }}">Log in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}