{% extends "core/base.html" %}
{% load static %}
{% block content %}

{% include 'core/menu.html' %}
<section class="iskylims d-flex flex-column fill-height">
    <div class="container-md">
        <div class="row justify-content-center pt-2 pb-2">
            <div class="col-md-8">
                {% if validlink %}
                <p>Please enter your new password twice.<br />So we can verify you typed it in correctly.</p>
                <form action="" method="post">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    <div class="card ">
                        <div class="card-header">Setting new password</div>
                        <div class="row card-body">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                                    <input id="id_new_password1" type="password" class="form-control"
                                        name="new_password1" value="" placeholder="Enter new password">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                                    <input id="id_new_password2" type="password" class="form-control"
                                        name="new_password2" value="" placeholder="Re-enter new password">
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-primary"> Change my password </button>
                                    <input type="hidden" name="next" value="{{ next }}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {% else %}
                <div class="card ">
                    <div class="card-header">Password reset unsuccessful</div>
                    <div class="card-body">
                        The password reset link was invalid,
                        possibly because it has already been used.
                        Please request a new password reset.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}