{% extends 'core/base.html' %}
{% load static %}

{% block content %}
{% include 'core/menu.html' %}
<section class="iskylims d-flex flex-column fill-height">
  <div class="container-md">
    {% include 'registration/login_inline.html' %}
    <div class="row justify-content-center pt-2 pb-2">
      <div class="col-md-8">
        <div class="alert alert-success">
          <strong>SUCCESS!</strong> Your last action request was successful.
        </div>
      </div>
    </div>
    <div class="row justify-content-center pt-2 pb-2">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Password reset successfully</div>
          <div class="card-body">
            <div class="row pt-2 pb-2">
              <div class="col-md-12">
                We've e-mailed you instructions for setting your password to the e-mail address you submitted.
                You should be receiving it shortly
              </div>
            </div>
            <div class="row justify-content-between pt-2 pb-2">
              <div class="col-md-auto">
                <button class="btn btn-primary" onclick="goBack()">Go Back</button>
              </div>
              <div class="col-md-auto align-self-end">
                <button class="btn btn-secondary" onclick="goToHome()">Go to Home</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function goBack() {
    window.history.back();
  }

  function goToHome() {
    window.location.href = "/";
  }
</script>                                                                                                         
