{% extends "core/base.html" %}

{% block content %}
<p>Please specify your email address to receive instructions for resetting it.</p>

<div class="row-margin-t-40">
        <div class="col-md-6 col-md-offset-3">
        <form action="" method="post">
                <div style="display:none">
                           <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                {{ form.email.errors }}
        <div class="panel panel-default">                                                                                                            
                <div class="panel-heading"><h3 class="panel-title"> Reset password </h3> </div>                                                                 
                        <div class="row panel-body">                                                                                                         
                                <div class="col-md-12">                                                                                                          
                                        <div class="form-group input-group">                                                                                             
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>                                              
                                        <input id="id_email" type="email" class="form-control" name="email" value="" placeholder="e-mail">                   
                                        </div>
                        <div>                                                                                                                                 
                                <button type="submit" class="btn btn-primary"> Send e-mail </button>                                                                    
                                <input type="hidden" name="next" value="{{ next }}" />                                                                            
                        </div>                                                                                                                                
                        </div>
                </div>
                        </div>
                </div>
                <!-- <p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset password" /></p>-->
        </form>
</div>
</div>
{% endblock %}
