{% extends 'core/base.html' %}
{% load static %}

{% block content %}
{% include 'core/menu.html' %}
<section class="iskylims d-flex flex-column fill-height">
    <div class="container-md">
        {% include 'registration/login_inline.html' %}
        <div class="row justify-content-center pt-2 pb-2">
            <div class="col-md-8">
                <p>Please specify your email address to receive instructions for resetting it.</p>
                <form action="" method="post">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    {{ form.email.errors }}
                    <div class="card ">
                        <div class="card-header">Reset password</div>
                        <div class="card-body">
                            <div class="row pb-2 pt-2">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="bi bi-envelop"></i></span>
                                        <input id="id_email" type="email" class="form-control" name="email" value=""
                                            placeholder="e-mail">
                                    </div>
                                </div>
                                <div class="row justify-content-between pb-2 pt-2">
                                    <div class="col-md-auto">
                                        <button type="submit" class="btn btn-outline-primary"> Send e-mail </button>
                                    </div>
                                    <div class="col-md-auto">
                                        <input type="hidden" name="next" value="{{ next }}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}