{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<link href="{% static 'core/vendor/multi_select/css/multi-select.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{% static 'core/vendor/multi_select/js/jquery.multi-select.js' %}"></script>

{% include 'core/menu.html' %}
<section class="iskylims d-flex flex-column fill-height">
    <div class="container-md">
        {% include 'registration/login_inline.html' %}
        <div class="row justify-content-center pt-2 pb-2">
            <div class="col-md-12">
                {% csrf_token %}
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="row pt-2 pb-2">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">User data</div>
                                <div class="card-body">
                                    {% crispy form1 %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-2 pb-2">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">Researcher data</div>
                                <div class="card-body">
                                    {% crispy form2 %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-2 pb-2">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Sharing list</h2>
                                </div>
                                <div class="card-body">
                                    <h3>Select the users to share your projects</h3>
                                    <!-- start -->
                                    <select name="shared_list" id="shared_list" multiple="multiple">
                                        {% for userid, username in username_list %}
                                        <option value="{{ userid }}">{{username}}</option>
                                        {% endfor %}
                                        {% if sharing_list %}
                                        {% for userid, username in sharing_list %}
                                        <option value="{{ userid }}" selected>{{username}}</option>
                                        {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"> Submit </button>
                </form>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    // run pre selected options
    $('#shared_list').multiSelect({
        selectableHeader: "<div class='text-center'>  <div class='text-primary' ><strong>Available user to share</strong></div></div>",
        selectionHeader: "<div class='text-center'>  <div class='text-success' >Your Shared user list</div></div>",
    });
</script>

{% endblock %}