

#banner {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color: #000000;
	font-size: 20px;
	background-image: url(../img/NextSeq_banner.jpg);
	background-repeat: no-repeat;
	height: 350px;
	width: 1400px;
	margin-bottom: 5px;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.img-center {margin:0 auto;}


<style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #e6e6e6;
    color: white;
}

.modal-body {padding: 2px 16px;
	background-color:#f2f2f2;
    color: white;}

.modal-footer {
    padding: 2px 16px;
    background-color: #e6e6e6;
    color: white;
}




formwapper{
		width: 600px;
		height: auto;
		background-color: #FFF;
	}
	form {
		width: 600px;
		height: auto;
		background-color: #FFF;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		font-size: 13px;
		
	}
	
	fieldset {
	
		background-color:#F1FBFB;
		border: none;
		padding-bottom: 20px;
	}
	
	.f_label {
		width: 250px;
		display: block;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		font-size: 13px;
		margin-top: 5px;
		margin-right: 10px;
		margin-bottom: 5px;
		margin-left: 5px;
	}
		
	.f_input{
		width: 350px;
		border:thin solid #66CCFF;
		margin-bottom: 10px;
	}
	.f_select{
		width: 350px;
		border: thin solid #66#66CCFF;
		margin-bottom: 10px;
	}
	.f_textarea {
		width: 350px;
		border: thin solid #66CCFF;
		margin-bottom: 10px;
	}
	.b_send {
		width: 150px;
		height: 25px;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		color: #FFF;
		font-weight: bold;
		background-color: #6CF;
		margin-right: 10px;
		float: right;
	}
	.b_reset {
		width: 150px;
		height: 25px;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		color: #FFF;
		font-weight: bold;
		background-color: #6CF;
		margin-left: 10px;
		float: left;
}


