[submodule "iSkyLIMS-wetlab"]
	path = iSkyLIMS-wetlab
	url = https://github.com/BU-ISCIII/iSkyLIMS-wetlab
[submodule "iSkyLIMS-drylab"]
	path = iSkyLIMS-drylab
	url = https://github.com/BU-ISCIII/iSkyLIMS-drylab
[submodule "django-utils"]
	path = django-utils
	url = https://github.com/BU-ISCIII/django-utils
[submodule "iSkyLIMS_home"]
	path = iSkyLIMS_home
	url = https://github.com/BU-ISCIII/iSkyLIMS_home
