[submodule "iSkyLIMS_drylab"]
	path = iSkyLIMS_drylab
	url = https://github.com/BU-ISCIII/iSkyLIMS_drylab.git
[submodule "iSkyLIMS_wetlab"]
	path = iSkyLIMS_wetlab
	url = https://github.com/BU-ISCIII/iSkyLIMS_wetlab.git
[submodule "django_utils"]
	path = django_utils
	url = https://github.com/BU-ISCIII/django_utils.git
[submodule "iSkyLIMS_clinic"]
	path = iSkyLIMS_clinic
	url = https://github.com/BU-ISCIII/iSkyLIMS_clinic.git
[submodule "iSkyLIMS_core"]
	path = iSkyLIMS_core
	url = https://github.com/BU-ISCIII/iSkyLIMS_core.git
