{% extends "iSkyLIMS_home/base.html" %}                                                                                                                                      
                                                                                                                                                                              
{% block content %}                                                                                                                                                          
<div class="row-margin-t-40">                                                                                                                                                
  	<div class="col-md-6 col-md-offset-3">                                                                                                                                   
      	<div class="panel panel-default">                                                                                                                                    
          	<div class="panel-heading"><h3 class="panel-title"> Password reset complete </h3> </div>                                                                     
          		<div class="row panel-body">                                                                                                                                 
					<div class="col-md-12">
						<p>Your password has been set.  You may go ahead and log in now.</p>                                                                                     
 						<a class="btn btn-primary" href="{{ login_url }}">Log in</a>                                                                                      
 					</div>
 				</div>                                                                                                                                                       
              	</div>                                                                                                                                                       
  			</div>                                                                                                                                                           
  		</div>                                                                                                                                                               
 	</div>                                                                                                                                                                   
</div>                                                                                                                                                                       
{% endblock %}                                                                                                                                                               
