{% extends 'iSkyLIMS_home/base.html' %}             
{% load crispy_forms_tags %} 
{% load static %}                
                                              
{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link href="{% static "iSkyLIMS_common_static/css/multi_select/multi-select.css" %}" rel="stylesheet" type="text/css"/>
 
<style>
* {
  .border-radius(0) !important;
}

#field {
    margin-bottom:20px;
}


</style>                        
<div class="container-fluid margin-t-40">	 
	{% csrf_token %}
	<form action="" method="POST" enctype="multipart/form-data">
	    {% crispy form1 %}
	    {% crispy form2 %}


	
	
	<div class="row row-space-2 margin-b-4">
	    <div class="col-sm-12">
		<div class="panel panel-default">
		    <div class="panel-heading"><h2>Sharing list</h2></div>
		    <div class="panel-body">
			<div class="col-sm-5">
			    <h3>Select the users to share your projects</h3>
			    <!-- start -->
			     <select name="shared_list" id="shared_list" multiple="multiple" >
			    
				{% for userid, username in username_list %}
				    <option value="{{ userid }}">{{username}}</option>
				{% endfor %}
				{% if sharing_list %}
				    {% for userid, username in sharing_list %}
					<option value="{{ userid }}" selected>{{username}}</option>
				    {% endfor %}
				{% endif %}
			    </select>
			    <!-- ends -->
			    <!-- jQuery -->
			    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
			    <!-- Bootstrap JavaScript -->
			    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
			    <script type="text/javascript" src="{% static "iSkyLIMS_common_static/js/jquery.multi-select.js" %}"></script>

			    <script type="text/javascript">
			    // run pre selected options
			    $('#shared_list').multiSelect({
				selectableHeader: "<div class='text-center'>  <div class='text-primary' ><strong>Available user to share</strong></div></div>",
				selectionHeader: "<div class='text-center'>  <div class='text-success' >Your Shared user list</div></div>",
			    });
			    </script>
	
	
			</div> <!--  //end col-sm-5   -->
			<div class="col-sm-5 col-sm-offset-2">
			{% if not sharing_list %}
			    <BR><BR>
			    <h3>Your shared project list is empty. </h3>
			{% endif %}
			</div> <!--  //end col-sm-5   -->
		    </div> <!-- // end panel body -->
		</div> <!--// end panel -->
	    </div> <!--// end col-sm-12  -->
	</div> <!-- //  end row -->
 

	<button type="submit" class="btn btn-primary"> Submit </button>                                                                                                                                                                                                      
	</form>
</div>


{% endblock %}                               
