{% extends 'polls/base.html' %}

{% block content %}
<div class="full_text" id="full_text">
  <div id="left_text">Colocar aquí el contenido para  id "left_text"
    <h1>Form for uploading the Sample Sheet</h1>
  
    <form method="post" enctype="multipart/form-data" name="formMaster" id="formMaster">
        <fieldset>
        <div class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="b_reset" type="reset">
        <input class="b_send" type="submit">
        </div>
        </fieldset>
    </form>
    <script language="JavaScript" type="text/javascript" xml:space="preserve">//<![CDATA[
    
		var formValidator = new Validator ("formMaster");
        formValidator.addValidation ("user_id","req","Por favor introduzca el nombre");
        formValidator.addValidation ("email", "req", "Por favor introduzca el correo electrónico");
        formvalidator.addValidation("icsv_file","file_extn=csv","Allowed file type is: csv");
        formvalidator.addValidation ("csv_file","req_file","File upload is required");
        
    //]]></script>
    <p> <br> </p>
  </div>  
  
  <div id="right_text">Colocar aquí el contenido para  id "right_text"</div>

</div>

	<!-- End Main Content -->
	

{% endblock %}
