<!DOCTYPE html>
<html>
  <head>
    {% include "iSkyLIMS_core/header.html" %}
    {% load static %}
    {% load user_groups %}
    {% load mptt_tags %}
  </head>
  <!-- END HEAD -->

  <!-- BODY -->
  <body id="body" data-spy="scroll" data-target=".header">
              <!--========== HEADER ==========-->
        <header class="header navbar-fixed-top">
            <!-- Navbar -->
            <nav class="navbar" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="menu-container js_nav-item">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="toggle-icon"></span>
                        </button>

                        <!-- Logo -->
                        <div class="logo">
                            <a class="logo-wrap" href="/">
                                <img src="{% static "iSkyLIMS_common_static/img/logo_iSkyLIMS2.png" %}" alt="ISCiii_Bio_Informatic_Logo">
                            </a>
                        </div>
                        <!-- End Logo -->
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-collapse">
                        <div class="menu-container">
                            <ul class="nav navbar-nav navbar-nav-right">
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="/drylab/">Home</a></li>
                                {% if user.username == "admin" %}
                                    <li class=" js_nav-item nav-item dropdown"><a class=" nav-item-child nav-item-hover dropdown-toggle" data-toggle="dropdown" href="#">Configuration<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/drylab/configurationSamba">Configuration Samba</a></li>
                                            <li><a href="/drylab/configurationEmail">Configuration Email</a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                                <li class=" js_nav-item nav-item dropdown"><a class=" nav-item-child nav-item-hover dropdown-toggle" data-toggle="dropdown" href="#">SERVICES REQUEST<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/drylab/service_request_internal_sequencing">GENOMICS UNIT SEQUENCING</a></li>
                                        <li><a href="/drylab/service_request_external_sequencing">EXTERNAL SEQUENCING</a></li>
                                        <li><a href="/drylab/counseling_request">COUNSELING REQUEST</a></li>
                                        <li><a href="/drylab/infrastructure_request">INFRASTRUCTURE REQUEST</a></li>
                                        <li><a href="/drylab/">RECORD NEW SAMPLES</a></li>
                                    </ul>
                                </li>
                                <li class="js_nav-item nav-item dropdown"><a class="nav-item-child nav-item-hover dropdown-toggle" data-toggle="dropdown" href="#">PREPARATION PIPELENES<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/drylab/definePipelineService">DEFINE PREPARATION PIPELINE SERVICE </a></li>
                                        <li><a href="/drylab/managePipelines">MANAGE PREPARATION PIPELINES</a></li>
                                    </ul>
                                </li>
                                <li class="js_nav-item nav-item dropdown"><a class="nav-item-child nav-item-hover dropdown-toggle" data-toggle="dropdown" href="#">ANALYSIS<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/drylab/">REQUEST ANALYSIS</a></li>
                                        <li><a href="/drylab/">MANAGE ANALYSIS </a></li>
                                    </ul>
                                </li>
                                {% if user.is_authenticated and request.user|has_group:"ServiceManager" %}
                                    <li class="js_nav-item nav-item dropdown"><a class="nav-item-child nav-item-hover dropdown-toggle" data-toggle="dropdown" href="#">MANAGE SERVICES<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/drylab/searchService">SEARCH SERVICE</a></li>
                                            <li><a href="/drylab/pendingServices">PENDING SERVICES</a></li>
                                            <li style="text-align:center"><a  class="list-group-item disabled">STATISTIC SERVICES</a></li>
                                            <li><a href="/drylab/statsByDateUser">REQUESTED BY USER</a></li>
                                            <li><a href="/drylab/statsByServicesRequest">SERVICES REQUESTED</a></li>
                                            <li><a href="/drylab/statsBySamplesProcessed">SAMPLES PROCESSED</a></li>
                                            <li><a href="/drylab/statsTimeDelivery">STATS TIME DELIVERY</a></li>
                                        </ul>
                                    </li>

                                {% endif %}
                                {% if user.username == "admin" %}
                                    <li class="js_nav-item nav-item dropdown"><a class="nav-item-child nav-item-hover dropdown-toggle" data-toggle="dropdown" href="#">USER ACTIVITY</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/drylab/openSessions">CURRENT OPEN USER SESSIONS</a></li>
                                            <li><a href="/drylab/userLogin">USER LAST LOGING</a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                            </ul>
                        </div> <!-- menu- container -->
                    <!-- End Navbar Collapse -->
                    </div> <!-- class menu-container -->
                </div> <!-- class container -->

            </nav>
            <!-- Navbar -->
        </header>
        <!--========== END HEADER ==========-->


        <!--========== PAGE LAYOUT ==========-->

        <div class="bg-color-sky-light">
          <div class="container content-lg fill-height">
            <div class="row margin-b-40">
                <!-- Loggin pannel -->
                <div class="row row-space-2 margin-b-4">
                    <div class="col-sm-6 col-sm-offset-6">
                     {% include 'registration/login_inline.html' %}
                    </div>
                </div>
            <!-- End Loggin pannel -->
            {% block content %}
        <!--========== HERE WILL BE THE INFORMATION FROM DJANGO CODE  ==========-->
            {% endblock %}
            </div> <!--// end row -->
        </div> <!--// end container -->
        </div> <!--// end bg-color -->


        {% include "iSkyLIMS_core/footer.html" %}
        <!--========== END FOOTER ==========-->

        <!-- Back To Top -->
        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>
        <!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

        <!-- CORE PLUGINS -->

    <script src="{% static "iSkyLIMS_common_static/vendor/jquery-migrate.min.js" %}" type="text/javascript"></script>
        <script src="{% static "iSkyLIMS_common_static/vendor/bootstrap/js/bootstrap.min.js" %}" type="text/javascript"></script>

        <!-- PAGE LEVEL PLUGINS -->
    <script src="{% static "iSkyLIMS_common_static/vendor/jquery.easing.js" %}" type="text/javascript"></script>
        <script src="{% static "iSkyLIMS_common_static/vendor/jquery.back-to-top.js" %}" type="text/javascript"></script>
        <script src="{% static "iSkyLIMS_common_static/vendor/jquery.smooth-scroll.js"%}"  type="text/javascript"></script>
        <script src="{% static "iSkyLIMS_common_static/vendor/jquery.wow.min.js" %}"type="text/javascript"></script>
    <script src="{% static "iSkyLIMS_common_static/vendor/jquery.appear.js" %}" type="text/javascript"></script>
        <script src="{% static "iSkyLIMS_common_static/vendor/swiper/js/swiper.jquery.min.js" %}"type="text/javascript"></script>

        <!-- PAGE LEVEL SCRIPTS -->
        <script src="{% static "iSkyLIMS_common_static/js/layout.min.js" %}" type="text/javascript"></script>
        <script src="{% static "iSkyLIMS_common_static/js/components/progress-bar.min.js" %}" type="text/javascript"></script>
        <script src="{% static "iSkyLIMS_common_static/js/components/swiper.min.js"%}" type="text/javascript"></script>
    <script src="{% static "iSkyLIMS_common_static/js/components/wow.min.js" %}" type="text/javascript"></script>
  </body>
  <!-- END BODY -->
</html>
