{% extends 'iSkyLIMS_drylab/base.html' %}
{% load static %}
{% block content %}
{%include 'iSkyLIMS_core/jexcel_functionality.html' %}

<style>
    .scrolling-wrapper {
        overflow-x: auto;
        overflow-y: auto;
        white-space: nowrap;
        height: 300px;
    }
 </style>
{% if defined_service_pipeline %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><h3  style="text-align:center">Successful service Pipeline recorded.</h3></div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                {% for value in defined_service_pipeline.heading_pipeline %}
                                    <th>{{value}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for value in defined_service_pipeline.pipeline_data %}
                                    <td>{{value}}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                    <br><br>
                     <input type="button" value="Return Home" onclick="location.href ='/drylab' ;"/>
                      <input class="btn pull-right" type="button" value="Create New Service Pipeline" onclick="location.href ='/drylab/definePipelineService' ;"/>
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-12 -->
    </div> <!--  end of row -->

{% else %}
    {% if error_message %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3">
            <div class="panel panel-danger">
                <div class="panel-heading"><h3 style="text-align:center">UNABLE TO RECORD YOUR REQUEST</h3> </div>
                <div class="panel-body">
                    {% for values in error_message %}
                        <h4>{{values}}</h4>
                    {% endfor %}
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->
    {% endif %}
    {% if not data_pipeline.available_services %}
        <div class="row row-space-2 margin-b-4">
            <div class="col-sm-8 col-sm-offset-2" >
                <div class="panel panel-danger">
                    <div class="panel-heading"><h3 style="text-align:center">No Services have been defined so far</h3></div>
                    <div class="panel-body">
                        <h5 style="text-align:center">Check in the User Guide to define services </h5>
                    </div> <!--  end of panel body -->
                </div> <!--  end of panel  -->
            </div> <!--  end of col-sm-12 -->
        </div> <!--  end of row -->
    {% else %}
    	<div class="row row-space-2 margin-b-4">
    		<div class="col-sm-12">
    			<div class="panel panel-default">
    				<div class="panel-heading"><h3>Define the pipeline and data used for the selected service.</h3></div>
    				<div class="panel-body">
    					<form method="post" enctype="multipart/form-data" name="servicePipeline"  id="servicePipeline" class="form-horizontal well">
    						{% csrf_token %}
                            <input type="hidden" name="action" value="servicePipeline"/>
    						<div class="row row-space-2 margin-b-4">
                                <div class="form-group required">
        							<div class="col-sm-5">

                                        <label class="col-sm-4 control-label" for="service_id" >Select a Service</label>
                                        <div class="col-sm-8"><select class="form-control"  required = "required" name="service_id" id="service_id">
                                            <option value="">Select one service</option>
                                            {% for id, name in data_pipeline.available_services %}
                                                <option value="{{id}}">{{name}}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
        							</div> <!--  end of col-sm-6 -->
        							<div class="col-sm-7">
                                        <label class="col-sm-5  control-label" for="pipelineName" >Pipeline Name </label>
                                        <div class="col-sm-6"><input class="form-control" type="text" required = "required" name="pipelineName" id="pipelineName" value ="{{data_pipeline.pipelineName}}" size="100" maxlength="100"></div>
                                        <BR><br>
                                        <label class="col-sm-5  control-label" for="pipelineVersion" >Pipeline Version </label>
                                        <div class="col-sm-6"><input class="form-control" type="text" required = "required" name="pipelineVersion" id="pipelineVersion" value ="{{data_pipeline.pipelineVersion}}"  size="20" maxlength="100"></div>
                                        <BR><br>
                                        <label class="col-sm-5 control-label" for="useRunFolder" >Use files from Run folder</label>
        	                            <div class="col-sm-5">
        									<label class="radio-inline"><input type="radio" name="useRunFolder" required = "required" value="True" checked>YES</label>
        		                            <label class="radio-inline"><input type="radio" name="useRunFolder" required = "required" value="False" >NO</label>
        								</div>  <!-- end  radio -->
                                        <br><br>
                                        <label class="col-sm-5 control-label" for="automaticAction" >Allow data for external request</label>
        	                            <div class="col-sm-5">
        									<label class="radio-inline"><input type="radio" name="externalRequest" required = "required" value="True" checked>YES</label>
        		                            <label class="radio-inline"><input type="radio" name="externalRequest" required = "required" value="False" >NO</label>
        								</div>  <!-- end  radio -->
        							</div> <!--  end of col-sm-6-->
                                </div>  <!-- end from-group   -->
        						<br><br>
        						<div  class="scrolling-wrapper">
        							<div id="spreadsheet"></div>
            	                    <br>
        						    <script>
        	                            var data = [{% for item , value in data_pipeline.additional_parameters.items %}
        	                               ['{{item}}', '{{value}}'],{% endfor %}
        	                            ];
        	                           mySpreadsheet = $('#spreadsheet').jexcel({
        	                               data:data,
        	                               columns: [
        	                                    { type: 'text', title:'{{data_pipeline.heading.0}}', width:400  },
        										{ type: 'text', title:'{{data_pipeline.heading.1}}', width:450 },
        	                               ],
        	                               allowInsertColumn:false,
        	                               allowDeleteColumn:false,
        	                               allowRenameColumn:false,
        	                               allowInsertRow:true,
        	                               allowDeleteRow:true,
        	                               tableOverflow:true,
        	                               tableHeight:'200px',
        								   minDimensions:[{{data_actions.heading|length}},3],
        								   csvFileName:'servicePipeline',
        	                           });
        	                        </script>
        	                       <input type="button" value="Return Home" onclick="location.href ='/drylab' ;"/>
        	                       <input class="btn pull-right btn-primary" type="submit" id = "btnSubmit" value="Submit">
    				   		    </div> <!--  end of scrolling  -->
                            </div> <!--  end of row -->
                        </form>
                        <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>
                        <script>
                            $(document).ready(function () {
                                $("#servicePipeline").submit(function (e) {
                                    //stop submitting the form to see the disabled button effect
                                    // e.preventDefault();
                                    //disable the submit button
                                    var table_data = $('#spreadsheet').jexcel('getData')
                                    var data_json = JSON.stringify(table_data)
                                    $("<input />").attr("type", "hidden")
                                      .attr("name", "pipeline_data")
                                      .attr("value", data_json)
                                      .appendTo("#servicePipeline");
                                    $("#btnSubmit").attr("disabled", true);
                                    return true;
                                });
                            });
                        </script>
                    </div> <!--  end of panel body -->
                </div> <!--  end of panel  -->
            </div> <!--  end of col-sm-12 -->
        </div> <!--  end of row -->
    {% endif %}
{% endif %}
{% endblock %}
