<!DOCTYPE HTML>
<html lang="en">
<head>
{% load static %}
    <meta charset="utf-8">
    <title>Django Jquery file upload demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- base    -->
    <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <link href="{% static "iSkyLIMS_common_static/css/icons.css" %}" rel="stylesheet" type="text/css"/>
        <link href="{% static "iSkyLIMS_common_static/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
        <link href="{% static "iSkyLIMS_common_static/css/custom.css" %}" rel="stylesheet" type="text/css"/>

            <!-- GLOBAL MANDATORY JAVA SCRIPTS -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> <!-- drop menus -->
    <!-- añadidos -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>

    <!-- PAGE LEVEL PLUGIN STYLES -->
        <link href="{% static "iSkyLIMS_common_static/css/animate.css" %}" rel="stylesheet">
        <link href="{% static "iSkyLIMS_common_static/vendor/swiper/css/swiper.min.css" %}" rel="stylesheet" type="text/css"/>
            <link href="{% static "iSkyLIMS_common_static/css/form.css" %}" rel="stylesheet" type="text/css"/>

        <!-- THEME STYLES -->
        <link href="{% static "iSkyLIMS_common_static/css/layout.css" %}" rel="stylesheet" type="text/css"/>

    <!-- base    -->



    <!-- Bootstrap styles -->
    <link href="{% static "iSkyLIMS_common_static/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- Generic page styles -->
    <link rel="stylesheet" href="/static/iSkyLIMS_common_static/multiple_files/css/style.css">
    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="/static/iSkyLIMS_common_static/multiple_files/css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="/static/iSkyLIMS_common_static/multiple_files/css/jquery.fileupload-ui.css">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel="stylesheet" href="/static/iSkyLIMS_common_static/multiple_files/css/jquery.fileupload-ui-noscript.css"></noscript>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> <!-- drop menus -->


    <!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="/static/iSkyLIMS_common_static/multiple_files/js/vendor/jquery.ui.widget.js"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="/static/iSkyLIMS_common_static/multiple_files/js/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    script src="/static/iSkyLIMS_common_static/multiple_files/js/load-image.min.js"></script
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="/static/iSkyLIMS_common_static/multiple_files/js/canvas-to-blob.min.js"></script>
    <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
    <script src="/static/iSkyLIMS_common_static/multiple_files/js/bootstrap.min.js"></script>
    <!-- blueimp Gallery script -->
    script src="/static/iSkyLIMS_common_static/multiple_files/js/jquery.blueimp-gallery.min.js"></script
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    script src="/static/iSkyLIMS_common_static/multiple_files/js/jquery.iframe-transport.js"></script
    <!-- The basic File Upload plugin -->
    <script src="/static/iSkyLIMS_common_static/multiple_files/js/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->

    <script src="/static/iSkyLIMS_common_static/multiple_files/js/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    script src="/static/iSkyLIMS_common_static/multiple_files/js/jquery.fileupload-image.js"></script
    <!-- The File Upload audio preview plugin -->
    script src="/static/iSkyLIMS_common_static/multiple_files/js/jquery.fileupload-audio.js"></script
    <!-- The File Upload video preview plugin -->
    script src="/static/iSkyLIMS_common_static/multiple_files/js/jquery.fileupload-video.js"></script
    <!-- The File Upload validation plugin -->
    script src="/static/iSkyLIMS_common_static/multiple_files/js/jquery.fileupload-validate.js"></script
    <!-- The File Upload user interface plugin -->
    <script src="/static/iSkyLIMS_common_static/multiple_files/js/jquery.fileupload-ui.js"></script>
    <!-- The main application script -->
    <script src="/static/iSkyLIMS_common_static/multiple_files/js/main.js"></script>
    <script src="/static/iSkyLIMS_common_static/multiple_files/js/locale.js"></script>
    <script src="/static/iSkyLIMS_common_static/multiple_files/js/csrf.js"></script>


<!-- base    -->
    <script src="{% static "iSkyLIMS_common_static/vendor/jquery-migrate.min.js" %}" type="text/javascript"></script>
    <script src="{% static "iSkyLIMS_common_static/vendor/bootstrap/js/bootstrap.min.js" %}" type="text/javascript"></script>

    <!-- PAGE LEVEL PLUGINS -->
<script src="{% static "iSkyLIMS_common_static/vendor/jquery.easing.js" %}" type="text/javascript"></script>
    <script src="{% static "iSkyLIMS_common_static/vendor/jquery.back-to-top.js" %}" type="text/javascript"></script>
    <script src="{% static "iSkyLIMS_common_static/vendor/jquery.smooth-scroll.js"%}"  type="text/javascript"></script>
    <script src="{% static "iSkyLIMS_common_static/vendor/jquery.wow.min.js" %}"type="text/javascript"></script>
<script src="{% static "iSkyLIMS_common_static/vendor/jquery.appear.js" %}" type="text/javascript"></script>
    <script src="{% static "iSkyLIMS_common_static/vendor/swiper/js/swiper.jquery.min.js" %}"type="text/javascript"></script>

    <!-- PAGE LEVEL SCRIPTS -->
    <script src="{% static "iSkyLIMS_common_static/js/layout.min.js" %}" type="text/javascript"></script>
    <script src="{% static "iSkyLIMS_common_static/js/components/progress-bar.min.js" %}" type="text/javascript"></script>
    <script src="{% static "iSkyLIMS_common_static/js/components/swiper.min.js"%}" type="text/javascript"></script>
<script src="{% static "iSkyLIMS_common_static/js/components/wow.min.js" %}" type="text/javascript"></script>
</head>
<body>


{% block content %}
    <h1>No content set</h1>
{% endblock %}

</body>
</html>
