{% extends 'iSkyLIMS_drylab/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
{% include "iSkyLIMS_core/graphic_chart_functionality.html" %}
<style>
    .scrolling-wrapper {
        overflow-x: auto;
        overflow-y: auto;
        white-space: nowrap;
        height: 300px;
 </style>
    <h1><div class="color-heading">Pending Services</div></h1>
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-6">  <!-- first column with list of pending services in state Recorded and Approved -->
            <div class="col-sm-12">  <!-- Recorded  pending services -->
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 style="text-align:center">List of Services in Recorded State</h3></div>
                    <div class="panel-body">
                        {% if pending_services.recorded %}
                            <div class="scrolling-wrapper">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Services Request ID</th>
                                            <th>Requested Center</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key, values in pending_services.recorded.items %}
                                            <tr>
                                                {% for requestID, center in values %}
                                                    <td><a href="/drylab/display_service={{ key }}">{{ requestID }}</a> </td>
                                                    <td> {{ center }} </td>
                                                {% endfor %}
                                            </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div> <!--  end of scrolling wrapper -->
                      {% else %}
                      There is not pending services in <b>RECORDED</b> state.
                      {% endif%}
                  </div> <!--// end panel body -->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-12  Recorded  pending services  -->

          </div> <!--// end col-sm-6 first column with list of pending services in state Recorded and Approved -->
          <div class="col-sm-6 ">
            {% if pending_services.graphic_pending_services %}
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>Percentage of pending Services.</h3></div>
                        <div class="panel-body">
                        <!-- Pie chart for number of pending Services chart will start here-->
                            <div id="chart-1"> </div>
                            <!-- dumping JavaScript code here -->
                            {{ pending_services.graphic_pending_services |safe }}
                        </div> <!--  end of panel body -->
                    </div> <!--  end of panel  -->
                    </div> <!--// end col-sm-12  graphics for pending services  -->
                {% endif %}
            </div> <!--  end of col-sm-6  -->
        </div> <!--// end row -->

        <div class="row row-space-2 margin-b-4">
            <div class="col-sm-12">  <!-- Queued  pending services -->
                <div class="panel panel-default">
                    <div class="panel-heading">List of Services in Queued State</div>
                    <div class="panel-body">
                        {% if pending_services.heading_queued %}
                            <div class="scrolling-wrapper">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            {% for column in pending_services.heading_queued %}
                                                <th>{{column}}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for s_id, s_name, res_name , s_acronym, assigned, queued_date, estimated_date in pending_services.queued %}
                                            <tr>
                                                <td><a href="/drylab/display_service={{ s_id }}">{{ s_name }}</a> </td>
                                                <td> {{ res_name }}</td>
                                                <td> {{ s_acronym }}</td>
                                                <td> {{ assigned }}</td>
                                                <td> {{ queued_date }}</td>
                                                <td> {{ estimated_date }} </td>
                                            </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div> <!--  end of scrolling wrapper -->
                        {% else %}
                            There is not pending services in <b>QUEUED</b> state.
                      {% endif%}
                    </div> <!--// end panel body -->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-12  Queued  pending services  -->
            <div class="col-sm-12">  <!-- In Progress  pending services -->
                <div class="panel panel-default">
                    <div class="panel-heading">List of Services in In Progress State</div>
                    <div class="panel-body">
                        {% if pending_services.in_progress %}
                            <div class="scrolling-wrapper">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                             {% for column in pending_services.heading_in_progress %}
                                                 <th>{{column}}</th>
                                             {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for s_id, s_name, res_name , s_acronym, assigned, queued_date, estimated_date in pending_services.in_progress %}
                                            <tr>
                                                <td><a href="/drylab/display_service={{ s_id }}">{{ s_name }}</a> </td>
                                                <td> {{ res_name }}</td>
                                                <td> {{ s_acronym }}</td>
                                                <td> {{ assigned }}</td>
                                                <td> {{ queued_date }}</td>
                                                <td> {{ estimated_date }} </td>
                                            </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div> <!--  end of scrolling wrapper -->
                        {% else %}
                            There is not pending services in <b>IN PROGRESS</b> state.
                        {% endif%}
                    </div> <!--// end panel body -->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-12  In Progress  pending services  -->

    </div> <!--// end row -->
{% endblock %}
