{% extends 'iSkyLIMS_drylab/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    .scrolling-wrapper {
        overflow-x: auto;
        overflow-y: auto;
        white-space: nowrap;
        height: 400px;
    }
 </style>
{% if error_message %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3">
            <div class="panel panel-danger">
                <div class="panel-heading"><h3 style="text-align:center"></h3> </div>
                <div class="panel-body">
                    {% for values in error_message %}
                        <h4>{{values}}</h4>
                    {% endfor %}
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->
{% endif %}

{% if confirmation_result %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 style="text-align:center">Service Recorded</h3> </div>
                <div class="panel-body">
                    {% for values in confirmation_result.text %}
                        <h5>{{values}}</h5>
                    {% endfor %}
                    {% if confirmation_result.download_file %}
                        <p><a href="{{confirmation_result.download_file}}" download>Download Confirmation file  <span class="glyphicon glyphicon-download-alt"></span></a></p>
                    {% endif%}
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->

{% else %}
        <div class="row row-space-2 margin-b-4">
            <div class="col-sm-12">
    			<div class="panel panel-default">
                      <div class="panel-heading"><h3 style="text-align:center">{{request_type.type}}. Requesting form service</h3></div>
                      <div class="panel-body">
                          <div class="container-fluid margin-t-40">
                          	{% crispy form %}
                          </div>
                      </div> <!--// end panel body -->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-12  Recorded  pending services  -->
    	</div> <!-- //  end row -->

    <script>
        $(document).ready(function () {
            $("form").submit(function (e) {
                //stop submitting the form to see the disabled button effect
                // e.preventDefault();
                //disable the submit button
                $("input:submit").attr("disabled", true);
                return true;
            });
        });
    </script>
{% endif %}
{% endblock %}
