{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}
{% if NoSamples %}
    <div class="row mt-2 mb-4">
        <div class="col-sm-6 offset-1">
            <div class="card ">
                <div class="card-header"><h3>The are not samples.</h3></div>
                <div class="card-body">
                    <p><strong>All samples in iSkyLIMS have already the informmation </strong>requested during the Library Preparation process</p>
                    <p>If you are <strong>missing any Sample </strong> that should be listed, you can search it through the search menu</p>
                    <p></p>
                    <p>Or create a <strong>new sample </strong> using the Record Sample option from the Library Preparation menu.</p>
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-6 -->
    </div> <!--  end of row -->
{% elif DisplayList %}
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-7 offset-1" >
            <div class="card ">
                <div class="card-header"><h3>The following Samples can be updated with the libary preparation</h3></div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                {% for value in DisplayList.heading %}
                                    <th> {{ value }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for name, protocol, type, register, request ,  s_id in DisplayList.list_of_samples  %}
                                <tr>
                                    <td><a href="/wetlab/displaySample={{ s_id }}">{{ name }}</a></td>
                                    <td>{{protocol}}</td>
                                    <td>{{type}}</td>
                                    <td>{{register}}</td>
                                    <td>{{request}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->
{% else %}
<div class="row row-space-4 margin-b-4">
    <div class="col-sm-7 offset-1" >
        <div class="card ">
            <div class="card-header"><h3>The following Samples can be updated with the libary preparation</h3></div>
            <div class="card-body">
                <p> ERRORRRRR</p>
            </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
    </div> <!--// end col-sm-7  -->
</div> <!--// end row -->
{% endif %}

{% endblock %}
