{% extends 'wetlab/base.html' %}
{% load static %}_
{% block content %}
{% csrf_token %}
{% if list_of_libraries.new_basespace_library %}
    <BR>
        <div class="row mt-2 mb-4">
            <div class="col-sm-6" >
            <div class="card ">
              <div class="card-header">New BaseSpace Library name has been added </div>
              <div class="card-body">
                  <table class="table ">
                   <thead>
                      <tr>
                        <th>Library BaseSpace Name</th>
                      </tr>
                   </thead>
                   <tbody>
                        <tr>
                       <td>{{ list_of_libraries.new_basespace_library }}</td>
                     </tr>
                    </tbody>
                </table>

            </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        </div> <!--// end col-sm-6  -->

        <div class="col-sm-5 offset-1" >
            <BR> <BR> <BR>
        <div class="card ">
          <div class="card-header">Library name for BaseSpace is already defined</div>
          <div class="card-body">
          {% if list_of_libraries.libraries %}
                <table class="table table-hover">
                   <thead>
                      <tr>
                        <th>Library BaseSpace Name</th>
                      </tr>
                   </thead>
                   <tbody>
                    {% for  value in list_of_libraries.libraries %}
                        <tr>
                       <td>{{ value }}</td>
                     </tr>
              {% endfor %}
                    </tbody>
                </table>
          {% else %}
                No Basespace library has been defined so far
          {% endif %}
          </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        </div> <!--// end col-sm-4  -->
    </div> <!--// end row -->

{% else %}
    <BR>
    <div class="row mt-2 mb-4">
        <div class="col-sm-6" >
        <div class="card ">
          <div class="card-header">Form to add a new Library name for BaseSpace</div>
          <div class="card-body">
            <form method="post" enctype="multipart/form-data" name="addBasespaceLibrary" id="addBasespaceLibrary" class="form-horizontal">
            {% csrf_token %}
                <div class="form-group required">
                  <input type="hidden" name="action" value="addNewBasespaceLibrary"/>
                  <label class="col-sm-4 control-label">New Basespace Library</label>
                  <div class="col-sm-8"><input class="form-control" required = "required" type="text"  name="newBasespaceLibrary"size="80"></div>
                  <BR> <BR> <BR>
                </div>
                <input class="btn pull-right btn-primary" type="submit" value="Submit" id="btnSubmit">
            </form>

         </div>  <!--  end of panel body  -->
         <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>
        </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->

        <div class="col-sm-5 offset-1" >
            <BR> <BR> <BR>
        <div class="card ">
          <div class="card-header">Basespace Libraries already defined</div>
          <div class="card-body">
          {% if list_of_libraries.libraries %}
                <table class="table table-hover">
                   <thead>
                      <tr>
                        <th>Basespace Library Name</th>
                      </tr>
                   </thead>
                   <tbody>
                    {% for  value in list_of_libraries.libraries %}
                        <tr>
                       <td>{{ value }}</td>
                    {% endfor %}
                    </tbody>
                </table>
          {% else %}
                No library Kit have been defined so far
          {% endif %}
          </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        </div> <!--// end col-sm-4  -->
    </div> <!--// end row -->

<!--script to disable the submit button -->

<script>
    $(document).ready(function () {
        $("#getSample").submit(function (e) {
            //stop submitting the form to see the disabled button effect
            // e.preventDefault();
            //disable the submit button
            $("#btnSubmit").attr("disabled", true);
            return true;
        });
    });
</script>
 <!--script ends here-->



{% endif %}

{% endblock %}
