{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}
{% if new_lot_kit_data %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-6 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Successful definition for User Lot Kit </h3></div>
                <div class="panel-body">
                    <table class="table ">
                         <thead>
                            <tr>
                                {% for value in new_lot_kit_data.heading %}
                                    <th>{{value}}</th>
                                {% endfor %}
                            </tr>
                         </thead>
                         <tbody>
                            <tr>
                                {% for value in new_lot_kit_data.data %}
                                    <td>{{value}}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                    <br><br>
                    <input type="button" value="Add new User Lot kit" onclick="location.href ='/wetlab/addUserLotCommercialKit' ;"/>
                    <br>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->


{% else %}
    {% if invalid_name %}
        <div class="row row-space-2 margin-b-4">
            <div class="col-sm-6 col-sm-offset-1">
                <div class="panel panel-danger">
                    <div class="panel-heading"><h3>Lot User Commercial Kit already exists</h3></div>
                    <div class="panel-body">
                        <p>The Lot Commercial kit Name <strong>{{invalid_name}}  </strong> already exists</p>
                    </div>  <!--  end of panel body  -->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-7  -->
        </div> <!--// end row -->
    {% endif %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-6 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>User Lot Commercial Kit.</h3></div>
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data" name="addUserLotKit" id="addUserLotKit" class="form-horizontal well">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="addUserLotKit"/>
                    <div class="form-group required">
                        <label class="col-sm-5 control-label" for="commercialKit" >Select the Commercial Kit name</label>
                        <div class="col-sm-7"><select class="form-control" required = "required"  name="commercialKit" id="commercialKit">
                                          				<option value="">Choose a value</option>
                                                       {% for value in defined_kits %}
                                                           <option value="{{value}}">{{value}}</option>
                                                       {% endfor %}
                                                 </select>
                        </div>  <!-- end select input -->
                    </div>  <!-- end from-group   -->
                    <BR>

                        <br>
                        <div class="form-group required">
                            <label class="col-sm-5  control-label" for="barCode" >Enter the Lot barcode  </label>
                            <input type="text" id="barCode" required = "required"  class="barcodeinput" name="barCode"/>
                            <input type="button" value="OK" class="nextcontrol"/>
                            <h3 id="msg"/>
                        </div>  <!-- end from-group   -->
                        <br>

                        <div class="form-group required">
                          <label class="col-sm-5 control-label" for="expirationDate" >Kit Expiration Date (DD-MM-YYYY)</label>
                          <div class="col-sm-5"><input class="form-control" type="date" required = "required"  name="expirationDate" value="" id="expirationDate"></div>
                    </div>  <!-- end from-group   -->
                    <br>
                        <input class="btn pull-left btn-primary" type="reset" value="Reset Fields">
                        <input class="btn pull-right btn-primary" type="submit" value="Submit">
                    </form>

                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->

    <script>
    $(document).ready(function () {

        var keyupFiredCount = 0;

        function DelayExecution(f, delay) {
            var timer = null;
            return function () {
                var context = this, args = arguments;

                clearTimeout(timer);
                timer = window.setTimeout(function () {
                    f.apply(context, args);
                },
                delay || 300);
            };
        }
        $.fn.ConvertToBarcodeTextbox = function () {

            $(this).focus(function () { $(this).select();$("#msg").html(""); });

             $(this).keydown(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);

                if ($(this).val() == '') {
                    keyupFiredCount = 0;
                }
                if (keycode == 13) {//enter key
                        $(".nextcontrol").focus();
                        return false;
                        event.stopPropagation();
                }
            });

            $(this).keyup(DelayExecution(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                    keyupFiredCount = keyupFiredCount + 1;
            }));

             $(this).blur(function (event) {
                 if ($(this).val() == '')
                     return false;

                 if(keyupFiredCount <= 1)
                 {
                     $("#msg").html("<span style='<span id="IL_AD2" class="IL_AD">color</span>:green'>Its Scanner!</span>");
                     //alert('Its Scanner');
                 }
                 else
                 {
                     $("#msg").html("<span style='color:red'>Its Manually Typed!</span>");
                     //alert('Its Manual Entry');
                 }

                 keyupFiredCount = 0;
             });
        };
        try {
            $(".barcodeinput").ConvertToBarcodeTextbox();
            if ($(".barcodeinput").val() == '')
                $(".barcodeinput").focus();
            else
                $(".nextcontrol").focus();
        } catch (e) { }

    });
    </script>
{% endif %}

{% endblock %}
