{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}
    {% csrf_token %}
{% if display_annual_report %}
<script type="text/javascript" src="{% static "wetlab/js/fusioncharts/js/fusioncharts.widgets.js" %}"></script>              
<script type="text/javascript" src="{% static "wetlab/js/fusioncharts/js/fusioncharts.js" %}"></script>                   
<script type="text/javascript" src="{% static "wetlab/js/fusioncharts/js/themes/fusioncharts.theme.fint.js" %}"></script> 
<script type="text/javascript" src="{% static "wetlab/js/fusioncharts/js/themes/fusioncharts.theme.ocean.js" %}"></script>
<script type="text/javascript" src="{% static "wetlab/js/fusioncharts/js/themes/fusioncharts.theme.zune.js" %}"></script>
<script type="text/javascript" src="{% static "wetlab/js/fusioncharts/js/themes/fusioncharts.theme.carbon.js" %}"></script> 
<script type="text/javascript" src="{% static "wetlab/js/wetlab.js" %}"></script> 
<style>
.table-wrapper {
    max-height: 450px;
    overflow: auto;
    display:inline-block;
    width: 550px;
}
.table-wrapper-sm-4 {
    max-height: 450px;
    overflow: auto;
    display:inline-block;
    width: 370px;
}
</style>
<!--  Start Run created during the year   -->
<div class="container">
    <div class="row my-2">
        <div class="col-sm-6">
            <div class="card ">
                <div class="card-header"><h3>Runs performed on the year {{ display_annual_report.year }}.</h3></div>
                <div class="card-body"> 
                    <div class="table-wrapper">
                        <div class="col-sm-6">
                            <table id="runsPerformed" class="table table-fixed" >
                                <thead>
                                    <tr><th>Runs on Completed state </th></tr>
                                </thead>
                                <tbody>
                                {% if display_annual_report.completed_run %}
                                    {% for runs in display_annual_report.completed_run %}
                                        <tr>
                                            <td>{{ runs }} </td> 
                                        </tr>
                                    {%endfor%}
                                </tbody>
                                {% endif %}
                            </table>
                        </div> <!--  end of col-sm-5 -->
                        <div class="col-sm-5 offset-1">
                            <table class="table table-fixed">
                                <thead>
                                    <tr><th>Not Completed Runs </th></tr>
                                </thead>
                                <tbody>
                                {% if display_annual_report.uncompleted_run %}
                                    {% for runs in display_annual_report.uncompleted_run %}
                                        <tr>
                                            <td>{{ runs }} </td> 
                                        </tr>
                                    {%endfor%}
                                {% endif %}
                                </tbody>
                            </table>
                            
                        </div> <!--  end of col-sm-5 -->
                      </div> <!--  end of table wrapper  -->
                    </div>
                </div>
            </div> <!--  end of col-sm-6 -->
        {% if display_annual_report.graphic_completed_run %}
        <div class="col-sm-5">
            <div class="card ">
                <div class="card-header"><h3>Relation of Completed and Unfinished Runs.</h3></div>
                <div class="card-body"> 
                <!-- Pie chart for number of Runs comparations chart will start here-->
                    <div id="chart-1"> </div>
                    <!-- dumping JavaScript code here -->
                    {{ display_annual_report.graphic_completed_run |safe }}

                </div>
            </div>
        {% endif %}
        </div> <!--  end of col-sm-5 -->                  
    </div> <!--  end of row -->
</div> <!--  end of container -->
<!--  End Run created during the year   -->
<!--  Start Projects created by investigator during the year   -->
    <div class="row my-2">
        <div class="card ">
            <div class="card-header"><h3>Projects performed by investigator during year {{ display_annual_report.year }}.</h3></div>
            <div class="card-body">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <table class="table table-hover" >
                            <thead>
                                <tr><th colspan="2">Investigators with projects < 5</th></tr>
                            </thead>
                            <tbody>
                            {% if display_annual_report.user_5_projects %}
                                {% for investigator, projects in display_annual_report.user_5_projects.items %}
                                    <tr>
                                        <td>{{ investigator }} </td> 
                                        <td>{{ projects|cut:"[" |cut:"]"}} </td> 
                                    </tr>
                                {%endfor%}
                            {% endif %}
                            </tbody>
                        </table>
                    </div> <!--  end of col-sm-4 -->
                    <div class="col-sm-4">
                    
                        <table class="table table-hover" >
                            <thead>
                                <tr><th colspan="2">Investigators with projects < 10</th></tr>
                            </thead>
                            <tbody>
                            {% if display_annual_report.user_10_projects %}
                                {% for investigator, projects in display_annual_report.user_10_projects.items %}
                                    <tr>
                                        <td>{{ investigator }} </td> 
                                        <td>{{ projects|cut:"[" |cut:"]"}} </td> 
                                    </tr>
                                {%endfor%}
                                {% endif %}
                            </tbody>
                        </table>
                    </div> <!--  end of col-sm-4 -->
                    <div class="col-sm-4">
                    
                        <table class="table table-hover" >
                            <thead>
                                <tr><th colspan="2">investigators with more than 10 projects</th></tr>
                            </thead>
                            <tbody>
                            {% if display_annual_report.user_more_10_projects %}
                                {% for investigator, projects in display_annual_report.user_more_10_projects.items %}
                                    <tr>
                                        <td>{{ investigator }} </td> 
                                        <td>{{ projects|cut:"[" |cut:"]"}} </td> 
                                    </tr>
                                {%endfor%}
                            {% endif %}
                            </tbody>
                        </table>

                    </div> <!--  end of col-sm-4 -->
                </div>   <!--  end of col-sm-12 --> 
                <div class="col-sm-12">
                    <div class="col-sm-5">
                    <!-- Start graphics for projects created by investigator during the year   -->
                        <div id="p_user_chart-1"> </div>
                    <!-- dumping JavaScript code here -->
                    {{ display_annual_report.p_user_year_graphic |safe }}
                    </div>   <!--  end of col-sm-5 --> 
                    <div class="col-sm-5 offset-1">
                    <!-- Start graphics for projects created by investigator during the year   -->
                        <div id="p_user_chart-2"> </div>
                    <!-- dumping JavaScript code here -->
                    {{ display_annual_report.pie_p_user_year_graphic |safe }}
                        
                        
                    <!-- End graphics for projects created by investigator during the year   -->    
                    </div>   <!--  end of col-sm-5 --> 
                </div>   <!--  end of col-sm-12 --> 
            </div>
        </div>
          
    </div> <!--  end of row -->
              

<!--  End Projects created by investigator during the year   -->
    <!--  Q30 year report -->
    <div class="row my-2">
        <div class="col-sm-4">
            <div class="card ">
                <div class="card-header"><h3>Percentage of quality >30 for the year {{ display_annual_report.year }}.</h3>
                <button onclick="exportTableToExcel('reportQ30')" class="btn float-end">Export Table To Excel <span class="glyphicon glyphicon-download-alt"></span></button>
                <BR></div>
                <div class="card-body"> 
                {% if display_annual_report.q30_data %}
                    <div class="table-wrapper-sm-4">
                        <table id="reportQ30" class="table table-fixed">
                            <thead>
                                <tr>
                                    <th class="col-xs-8"> Run name </th>
                                    <th class="col-xs-4"> >Q30 (%)</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key, values in display_annual_report.q30_data.items %}
                                <tr>
                                    <td class="col-xs-8">{{ key }} </td> 
                                    <td class="col-xs-4">{{ values }} </td> 
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </div> <!--  end of table wrapper  -->
                {% endif %}
                   
                </div>
            </div>
        </div> <!--  end of col-sm-6 -->
        {% if display_annual_report.q30_graphic %}
        <div class="col-sm-7 offset-1">
            <div class="card ">
                <div class="card-header"><h3>Relation of Q 30 for the year {{ display_annual_report.year }}.</h3></div>
                <div class="card-body"> 
                <!-- Pie chart for number of Runs comparations chart will start here-->
                    <div id="q30_chart-2"> </div>
                    <!-- dumping JavaScript code here -->
                    {{ display_annual_report.q30_graphic |safe }}

                </div>
            </div>
        {% endif %}
        </div> <!--  end of col-sm-5 -->                  
    </div> <!--  end of row -->

    <!--  Aligned year report -->
    <div class="row my-2">
        <div class="col-sm-4">
            <div class="card ">
                <div class="card-header"><h3>Percentage of aligned for the year {{ display_annual_report.year }}.</h3>
                <button onclick="exportTableToExcel('reportAligment')" class="btn float-end">Export Table To Excel <span class="glyphicon glyphicon-download-alt"></span></button>
                <BR></div>
                <div  class="card-body"> 
                {% if display_annual_report.aligned_data %}
                    <div class="table-wrapper-sm-4">
                        <table id="reportAligment" class="table table-fixed">
                            <thead>
                                <tr>
                                    <th class="col-xs-8"> Run name </th>
                                    <th class="col-xs-4"> Aligned (%)</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key, values in display_annual_report.aligned_data.items %}
                                <tr>
                                    <td class="col-xs-8">{{ key }} </td> 
                                    <td class="col-xs-4">{{ values }} </td> 
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </div> <!--  end of table wrapper  -->
                {% endif %}
                </div>
            </div>
        </div> <!--  end of col-sm-6 -->
        {% if display_annual_report.aligned_graphic %}
        <div class="col-sm-7 offset-1">
            <div class="card ">
                <div class="card-header"><h3>Aligned for the year {{ display_annual_report.year }}.</h3></div>
                <div class="card-body"> 
                <!-- Pie chart for number of Runs comparations chart will start here-->
                    <div id="aligned_chart-3"> </div>
                    <!-- dumping JavaScript code here -->
                    {{ display_annual_report.aligned_graphic |safe }}

                </div>
            </div>
        {% endif %}
        </div> <!--  end of col-sm-5 -->                  
    </div> <!--  end of row -->
                
    <!--  Error Rate year report -->
    <div class="row my-2">
        <div class="col-sm-4">
            <div class="card ">
                <div class="card-header"><h3>Error rate for the year {{ display_annual_report.year }}.</h3>
                <button onclick="exportTableToExcel('reportError')" class="btn float-end">Export Table To Excel <span class="glyphicon glyphicon-download-alt"></span></button>
                <BR></div>
                <div class="card-body"> 
                {% if display_annual_report.error_rate_data %}
                    <div class="table-wrapper-sm-4">
                        <table id="reportError" class="table table-fixed">
                            <thead>
                                <tr>
                                    <th class="col-xs-8"> Run name </th>
                                    <th class="col-xs-4"> Error rate</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key, values in display_annual_report.error_rate_data.items %}
                                <tr>
                                    <td class="col-xs-8">{{ key }} </td> 
                                    <td class="col-xs-4">{{ values }} </td> 
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </div> <!--  end of table wrapper  -->
                {% endif %}
                </div>
            </div>
        </div> <!--  end of col-sm-6 -->
        {% if display_annual_report.error_rate_graphic %}
        <div class="col-sm-7 offset-1">
            <div class="card ">
                <div class="card-header"><h3>Error Rate for the year {{ display_annual_report.year }}.</h3></div>
                <div class="card-body"> 
                <!-- Pie chart for number of Runs comparations chart will start here-->
                    <div id="error_rate_chart-4"> </div>
                    <!-- dumping JavaScript code here -->
                    {{ display_annual_report.error_rate_graphic |safe }}

                </div>
            </div>
        {% endif %}
        </div> <!--  end of col-sm-5 -->                  
    </div> <!--  end of row -->

   
{% else %}
    <!-- FORM for selecting annual Report Information -->
  
    <div class="row my-2">
      <div class="col-sm-7" >
        <div class="card ">
          <div class="card-header"><strong>Form for annual Report</strong></div>
          <div class="card-body">
            <form method="post" enctype="multipart/form-data" name="searchannualreport" id="searchannualreport" class="form-horizontal well">
            {% csrf_token %}
            <input type="hidden" name="action" value="searchannualReport"/>
             <br>
                <div class="form-control required">
                  <label class="col-sm-6 form-label" for="yearselected" >Select the year for the annual Report (YYYY)</label>
                  <div class="col-sm-4"><input class="form-control" type="number" min="2016" max="2199" step="1" required = "required" value="" name="yearselected"  id="yearselected"></div>
                </div>  <!-- end from-group   -->
            <br>
                <input class="btn pull-left btn-outline-primary" type="reset" value="Reset Fields">
                <input class="btn float-end btn-outline-primary" type="submit" value="Submit">
            </form>
         </div>  
        <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>
        </div>

        </div> <!--// end col-sm-7  -->
        
        <!-- Insert the help panel -->
        <BR><BR>
        <div class="col-sm-3 offset-1">
          <div class="card ">
             <div class="card-header">annual Report information</div>
             <div class="card-body">
             <p>annual reports generate graphics and data for all runs that have been started on the selected year. <BR>
             <p>For extended help click on the button below.</p>
            <center><button id="myBtn"> Help </button></center>
            </div>  
        </div>
        <!-- Insert the Help window when clicking on the button -->
        {% include 'wetlab/annual-Report-help.html' %}
 
    </div> <!--// end row -->

    <!-- End of FORM for annual Report information -->


{% endif %}
{% endblock %}
