{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<script>
function goBack() {
    window.history.back();
}
</script>
{% if changed_lib_kit %}
    <div class="row my-2">
        <div class="col-sm-7">
            <div class="card ">
                <div class="card-header">Successful library change for project : <strong>{{ changed_lib_kit.project_name }}</strong>  </div>
                <div class="card-body">
                    <div class="col-sm-6"> New Library Kit </div>
                    <div class="col-sm-6"> {{ changed_lib_kit.library_name }}  </div>
                    <div class="col-sm-6"> File to upload to BaseSpace </div>
                    <div class="col-sm-6"><a href="/{{ changed_lib_kit.file_to_download }}" download>Library Kit File  <span class="glyphicon glyphicon-download-alt"></span> </a>  </div>  
                </div>
          </div>
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row-space -->

  
{% else %}
{% load user_groups %}
<!-- FORM for Updating the library Kit in the Project -->
          
<div class="row row-space-4 margin-b-4">
    <div class="col-sm-7 offset-1" >
        <div class="card ">
            <div class="card-header">Change the library kit for the Project <strong>{{ form_change_lib_kit.project_name }}</strong></div>
            <div class="card-body">
                <div class="col-sm-10"> <!-- start project information   -->
                    <table class="table table-hover">
                      <tbody>
                            {% for key, values in  form_change_lib_kit.project_data %}
                        <tr>
                            <td>{{ key }} </td>
                            <td>{{ values }}</td>
                        </tr>
                            {% endfor %}
                      </tbody>
                    </table>
                </div> <!-- end project information   -->
                <div class="col-sm-12"> <!-- start from-group   -->
                    <form method="post" enctype="multipart/form-data" name="change_project_libKit" id="change_project_libKit" class="form-horizontal well">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="change_project_libKit"/>
                        <div class="form-control required"> 
                            <label class="col-sm-5  control-label" for="projectlibkit" >Enter the new Library Kit name </label>
                            <div class="col-sm-5"><input class="form-control" type="text" required="required" name="projectlibkit" id="projectlibkit" size="100" maxlength="100"></div>
                        </div>  <!-- end from-group   -->
                        <br>          
                        <button type="button" class="btn btn-outline-primary" onclick="goBack()">Go Back</button>
                        <input class="btn float-end btn-outline-primary" type="submit" value="Submit">
                    </form>
                </div>  <!-- end from-group   -->
            </div><!--  end of panel body  -->
            <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>
        </div> <!--// end panel -->
    </div> <!--// end col-sm-7  -->
</div> <!--// end row -->
    <!-- End of FORM for searching Project information -->
    
{% endif %} 
 
{% endblock %}
