{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}
{%include 'core/jexcel_functionality.html' %}

{% if ERROR %}
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-10 offset-1" >
            <div class="card border-danger mb-3">
                <div class="card-header"><h3>Unable to accept your request</h3></div>
                <div class="card-body">
                    {% for value in ERROR %}
                        <p class="text-center">{{value}}</p>
                    {% endfor %}
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-12 -->
    </div> <!--  end of row -->
{% endif %}


{% if display_sample_information %}

    <style>
        .scrolling-wrapper {
             overflow-x: scroll;
             white-space: nowrap;
            }
    </style>
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-12" >
            <div class="card ">
                <div class="card-header"><h3>Library Preparation information to create the new Run</h3></div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data" name="storeDataNewRun"  id="storeDataNewRun" class="form-horizontal well">
                            {% csrf_token %}
                            <h3>{{display_sample_information.experiment_name}}</h3>
                                <p>Confirm/ Update library preparation indexes to create the new Run <strong>{{display_sample_information.experiment_name}}</strong></p>

                                <input type="hidden" name="action" value="storeDataNewRun"/>
                                <input type="hidden" name="lib_prep_ids" value="{{display_sample_information.lib_prep_ids}}"/>
                                <input type="hidden" name="lib_prep_unique_ids" value="{{display_sample_information.lib_prep_unique_ids}}"/>
                                <input type="hidden" name="platform_type" value="{{display_sample_information.platform_type}}"/>
                                <input type="hidden" name="run_process_id" value="{{display_sample_information.run_process_id}}"/>
                                <input type="hidden" name="single_read" value="{{display_sample_information.single_read}}"/>

                                <div class="col-sm-12" >
                                    <div class="col-sm-6" >
                                        <div class="form-group">
                                            <h4>Sample Sheet confirmation data</h4>
                                            <label class="col-sm-5 control-label">Application</label>
                                            <div class="col-sm-5"><input class="form-control" type="text" value="{{display_sample_information.application}}" name="application" size="80"></div>
                                            <br><br>
                                            {% if display_sample_information.instrument %}
                                                <label class="col-sm-5 control-label">Instrument</label>
                                                <div class="col-sm-5"><input class="form-control"  required = "required" type="text" value="{{display_sample_information.instrument}}" name="instrument" size="80"></div>
                                                <br><br>
                                            {% endif %}
                                            <label class="col-sm-5 control-label">Assay</label>
                                            <div class="col-sm-5"><input class="form-control"   type="text"  value="{{display_sample_information.assay}}"  name="assay" size="80"></div>
                                            <br><br>
                                        </div> <!--  end of form-group -->
                                        <div class="form-group required">
                                            {% if display_sample_information.collection_index %}
                                                <label class="col-sm-5 control-label">Index Adapters</label>
                                                <div class="col-sm-5"><input class="form-control"  required = "required" type="text"  value="{{display_sample_information.collection_index}}"  name="collection_index" size="80"></div>
                                                <br><br>
                                            {% endif %}
                                            <label class="col-sm-5 control-label">Reads</label>
                                            <div class="col-sm-5"><input class="form-control"  required = "required" type="text"  value="{{display_sample_information.reads}}"  name="reads" size="80"></div>
                                            <br><br>
                                            <label class="col-sm-5 control-label">Adapter</label>
                                            <div class="col-sm-5"><input class="form-control"  required = "required" type="text"  value="{{display_sample_information.adapter1}}"  name="adapter" size="80"></div>
                                            <br><br>
                                            {% if display_sample_information.adapter2 %}
                                                <label class="col-sm-5 control-label">Adapter-2</label>
                                                <div class="col-sm-5"><input class="form-control"  required = "required" type="text"  value="{{display_sample_information.adapter2}}"  name="adapter2" size="80"></div>
                                                <br><br><br>
                                            {% endif %}
                                        </div> <!--  end of form-group -->
                                    </div> <!--  end of col-sm-6 -->
                                    <div class="col-sm-6" >

                                    </div> <!--  end of col-sm-6 -->
                                </div> <!--  end of col-sm-12 -->
                                <br><br>
                                <div class="col-sm-12" >
                                    <div class="scrolling-wrapper">
                                        <div id="spreadsheet"></div>


                                        <script>
                                            var data = [{% for values in display_sample_information.data %}
                                                [{% for value in values %}'{{value}}',{% endfor %}],{% endfor %}
                                            ];
                                            mySpreadsheet = $('#spreadsheet').jexcel({
                                                data:data,
                                                columns: [
                                                    {% for item in display_sample_information.heading %}
                                                        {% if forloop.counter == 1 or forloop.counter == 2 %}
                                                            { type: 'text', title:'{{item}}', width:180 , readOnly:true },
                                                        {% else %}
                                                            { type: 'text', title:'{{item}}', width:180 },
                                                        {% endif %}
                                                    {% endfor %}
                                                ],
                                                allowInsertColumn:false,
                                                allowDeleteColumn:false,
                                                allowRenameColumn:false,
                                                allowInsertRow:false,
                                                allowDeleteRow:false,
                                                tableOverflow:true,
                                                tableHeight:'200px',
                                                csvFileName:'sample_sheet',

                                            });
                                        </script>
                                    </div> <!--  end of scrolling  -->
                                </div> <!--  end of col-sm-12 -->
                                <br><br><br><br>
                                <input type="button" value="Return to Select Sample" onclick="location.href ='/wetlab/selectSamplesForRun' ;"/>
                                <input class="btn pull-right btn-primary" type="submit" id = "btnSubmit" value="Submit">

                         </form>
                         <script>
                             $(document).ready(function () {
                                 $("#storeDataNewRun").submit(function (e) {
                                     //stop submitting the form to see the disabled button effect
                                     // e.preventDefault();
                                     //disable the submit button
                                     var table_data = $('#spreadsheet').jexcel('getData')
                                     var data_json = JSON.stringify(table_data)
                                     $("<input />").attr("type", "hidden")
                                       .attr("name", "s_sheet_data")
                                       .attr("value", data_json)
                                       .appendTo("#storeDataNewRun");
                                     $("#btnSubmit").attr("disabled", true);
                                     return true;
                                 });
                             });
                         </script>
                     </div> <!--  end of panel body -->
                 </div> <!--  end of panel  -->

             </div> <!--  end of col-sm-12 -->
         </div> <!--  end of row -->

{% elif created_new_run %}
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-10 offset-1" >
            <div class="card ">
                <div class="card-header"><h3>Successful creation of Run {{created_new_run.exp_name}}</h3></div>
                <div class="card-body">
                    <h5 style="text-align:center">Run name {{created_new_run.exp_name}} is Recorded State</h5>
                    <p>Click on the link below to check the Run information </p>
                    <br><br>
                    <p style="text-align:center"><a href="/wetlab/displayRun={{created_new_run.run_process_id}}">{{created_new_run.exp_name}} </a> </p>
                    <div class="col-sm-11" >
                        <h5 style="text-align:center"> Click on the link to download the Sample Sheet File</h5>
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Sample Sheet</td>
                                    <td><a href="/documents/{{ created_new_run.sample_sheet }}" download>Sample Sheet File  <span class="glyphicon glyphicon-download-alt"></span></a></td>
                                </tr>

                            </tbody>
                        </table>
                    </div> <!--// end col-sm-11  -->
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->

        </div> <!--  end of col-sm-12 -->
    </div> <!--  end of row -->

{% else %}

    {% if display_pools_for_run.invalid_run_data.heading %}
        <div class="row row-space-4 margin-b-4">
            <div class="col-sm-10 offset-1" >
                <div class="card border-danger mb-3">
                    <div class="card-header"><h3>Invalid pools </h3></div>
                    <div class="card-body">
                        <p>Some of the samples in the following pools are missing.</p>
                        <br>
                        <table class="table">
                            <thead>
                                <tr>
                                    {% for value in display_pools_for_run.invalid_run_data.heading%}
                                        <th>{{value}} </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for p_name, p_code, number, p_id in display_pools_for_run.invalid_run_data.data  %}
                                    <tr>
                                        <td>{{p_name}}</td>
                                        <td>{{p_code}}</td>
                                        <td>{{number}}</td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div> <!--  end of panel body -->
                </div> <!--  end of panel  -->

            </div> <!--  end of col-sm-12 -->
        </div> <!--  end of row -->
    {% endif %}


    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-12" >
            <div class="tab">
                {% if display_pools_for_run.run_data.heading %}
                    <button class="tablinks" onclick="summaryBin(event, 'defined')" id="defaultOpen">Defined Run</button>
                {% endif %}
                {% for key, values in display_pools_for_run.pool_data.platform.items %}
                    {% if forloop.first and not display_pools_for_run.run_data.heading %}
                        <button class="tablinks" onclick="summaryBin(event, '{{key}}')" id="defaultOpen">Pool for {{key}} </button>
                    {% else %}
                        <button class="tablinks" onclick="summaryBin(event, '{{key}}')">Pool for {{key}} </button>
                    {% endif %}
                {% endfor %}

                {% if display_pools_for_run.run_data.heading %}
                    <div id="defined" class="tabcontent">
                        <div class="col-sm-11" >
                            <div class="card ">
                                <div class="card-header"><h3>The following Run have been defined, but not yet completed</h3></div>
                                <div class="card-body">
                                    <form method="post" enctype="multipart/form-data" name="continueWithRun"  id="continueWithRun" class="form-horizontal">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="continueWithRun"/>
                                        {% for r_name, p_values, r_id in display_pools_for_run.run_data.data  %}
                                            <div class="col-sm-12">
                                                <div class="card ">
                                                    <div class="card-header"><h4>Run Name {{r_name }}</h4></div>
                                                    <div class="card-body">
                                                        <div class="col-sm-8">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        {% for value in display_pools_for_run.run_data.heading %}
                                                                            <th>{{value}} </th>
                                                                        {% endfor %}
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for p_name, p_code, p_number in  p_values  %}
                                                                        <tr>
                                                                            <td>{{p_name}}</td>
                                                                            <td>{{p_code}}</td>
                                                                            <td>{{p_number}}</td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                            <br>
                                                        </div> <!--  end of col-sm-8 -->
                                                        <div class="col-sm-4">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Select Run</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td><input type="checkbox" name="run_ids" value="{{r_id}}"></td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                            <br><br>
                                                        </div> <!--  end of col-sm-4 -->
                                                    </div> <!--  end of panel body -->
                                                </div> <!--  end of panel  -->
                                            </div> <!--  end of col-sm-12 -->
                                        {% endfor %}
                                        <input class= "btn pull-right btn-primary" type= "submit" id = "btnSubmit" value= "Submit">
                                    </form>
                                </div> <!--  end of panel body -->
                            </div> <!--  end of panel  -->
                        </div> <!--  end of col-sm-11 -->
                    </div> <!--  end of tab -->
                {% endif %}
                {% load user_text %}
                {% for key, values in display_pools_for_run.pool_data.platform.items %}

                    <div id="{{key}}" class="tabcontent">
                        <div class="col-sm-11" >
                            <div class="card ">
                                <div class="card-header"><h3>Fill the information to create the New Run </h3></div>
                                <div class="card-body">
                                    <form method="post" enctype="multipart/form-data" name="createNewRun"  id="createNewRun" class="form-horizontal well">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="createNewRun"/>
                                        <input type="hidden" name="platform" value="{{key}}"/>
                                        <input type="hidden" name="commercialKits" value="{{display_pools_for_run.commercial_kits|keyvalue:key}}"/>
                                        <div class="form-group required">
                                            <label class="col-sm-5 control-label">Define the Experiment Name for the Run</label>
                                            <div class="col-sm-5"><input class="form-control" required = "required" type="text"  name="experimentName" size="80"></div>
                                            <br><br>
                                        </div>

                                        {% for reagent , lots in display_pools_for_run.reagents_kits|keyvalue:key %}
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label">{{reagent}}</label>
                                                <div class="col-sm-5">
                                                    <select class="form-control" name="{{reagent}}" id="{{reagent}}">
                                                        <option value="">Choose a value</option>
                                                        {% for id, lot in lots %}
                                                            <option value="{{id}}">{{lot}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>  <!-- end select input -->
                                                <br><br>
                                            </div>
                                        {% endfor %}
                                        <p>Select the Pools to be included in the new Run</p>
                                        <br>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    {% for value in display_pools_for_run.pool_data.heading%}
                                                        <th>{{value}} </th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for p_name, p_code, number, p_id in values  %}
                                                    <tr>
                                                        <td>{{p_name}}</td>
                                                        <td>{{p_code}}</td>
                                                        <td>{{number}}</td>
                                                        <td><input type="checkbox" name="poolID" value="{{p_id}}"></td>
                                                    </tr>
                                                {% endfor %}

                                            </tbody>
                                        </table>
                                        <br><br>
                                        <input type="button" value="Return to Home" onclick="location.href ='/wetlab' ;"/>
                                        <input class="btn pull-right btn-primary" type="submit" id = "btnSubmit" value="Submit">

                                    </form>
                                </div> <!--  end of panel body -->
                            </div> <!--  end of panel  -->
                        </div> <!--  end of col-sm-11 -->
                    </div> <!--  end of tab -->
                {% endfor %}
            </div> <!--  end of tab -->
            <script>
                // Get the element with id="defaultOpen" and click on it
                document.getElementById("defaultOpen").click();
            </script>
        </div> <!--  end of col-sm-12 -->
    </div> <!--  end of row -->

    {% if not display_pools_for_run.pool_data.heading and not display_pools_for_run.run_data.heading %}
        <div class="row row-space-4 margin-b-4">
            <div class="col-sm-10 offset-1" >
                <div class="card ">
                    <div class="card-header"><h3>Not available Pools </h3></div>
                    <div class="card-body">
                        <p>There is not available pools to create a new Run</p>
                    </div> <!--  end of panel body -->
                </div> <!--  end of panel  -->

            </div> <!--  end of col-sm-12 -->
        </div> <!--  end of row -->
    {% endif %}

{% endif %}

{% endblock %}
