{% extends "core/base.html" %}
{% load static %}
{% block content %}
{% include "wetlab/menu.html" %}
{% include 'registration/login_inline.html' %}
{% include "core/jexcel_functionality.html" %}
<section class="iskylims">


    {% if error_message %}
        <div class="row my-2">
            <div class="col-sm-7 offset-3">
                <div class="card border-danger mb-3">
                    <div class="card-header"><h3 class="text-center">Unable to process your request</h3> </div>
                    <div class="card-body">
                        <h4>{{error_message}}</h4>
                    </div>
                </div>
            </div> <!--  end of col-sm-7 -->
        </div> <!--  end of row -->
    {% endif %}
    {% if sample_project_field_data %}
        <div class="row row-space-4 margin-b-4">
            <div class="col-sm-12" >
                <div class="card ">
                    <div class="card-header"><h3>Sucessful store of parameters on {{sample_project_field_data.sample_project_name}} Sample Project</h3></div>
                    <div class="card-body">

                        <div class="col-sm-10" >
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        {% for value in sample_project_field_data.heading %}
                                            <th>{{value}}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for  values in sample_project_field_data.fields %}
                                        <tr>
                                            {% for value in values %}
                                                <td>{{ value }}</td>
                                            {% endfor %}
                                        </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div> <!--// end col-sm-5  -->
                    </div>  
                </div>
            </div> <!--// end col-sm-12  -->
        </div> <!--// end row -->
    {% elif schema_result %}
        <div class="row row-space-4 margin-b-4">
            <div class="col-sm-12" >
                <div class="card ">
                    <div class="card-header"><h3>Sucessful Schema load for {{schema_result.sample_project_name}} Sample Project</h3></div>
                    <div class="card-body">

                    </div>  
                </div>
            </div> <!--// end col-sm-12  -->
        </div> <!--// end row -->
    {% elif sample_project_data %}
        <div class="row my-2">
            <div class="col" >
                <h3 style="text-align:center">Define Samples Proyect Fields for {{sample_project_data.sample_project_name}}</h3>
                <div class="col">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="new_fields-tab" data-bs-toggle="tab" data-bs-target="#new_fields" type="button" role="tab" aria-controls="new_fields" aria-selected="true">Define Samples Project Fields</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link " id="batch-tab" data-bs-toggle="tab" data-bs-target="#batch" type="button" role="tab" aria-controls="batch" aria-selected="false">Load batch new fields</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="new_fields" role="tabpanel" aria-labelledby="new_fields-tab">
                            <div class="container">
                                <div class="row mt-4">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header"><h3 style="text-align:center">Fill the form to define the fields </h3></div>
                                            <div class="card-body">
                                                <form method="post" enctype="multipart/form-data" name="defineSampleProjectFields"  id="defineSampleProjectFields" class="form-horizontal well">
                                                    {% csrf_token %}
                                                    <div class="horizontal-scroll">
                                                        <input type="hidden" name="action" value="defineSampleProjectFields"/>
                                                        <input type="hidden" name="sample_project_id" value="{{sample_project_data.sample_project_id}}"/>
                                                        <div id="spreadsheet1"></div>
                                                        <div class="text-center">
                                                            <button class="btn btn-outline-info" type="button" data-bs-toggle="collapse" data-bs-target="#help" aria-expanded="false" aria-controls="help">
                                                                Click to get details to fill the form
                                                              </button>
                                                            
                                                        </div>
                                                    </div>
                                                    <input type="button" class="btn btn-outline-secondary mt-3" value="Download Sample Project Fields" onclick="table1.download()"/>
                                                    <script>
                                                        var data1 = [[],];
                                                        var table1 = jexcel(document.getElementById('spreadsheet1'), {
                                                            data:data1,
                                                            columns: [
                                                                { type: 'text', title:'{{sample_project_data.heading.0}}', width:160 },
                                                                { type: 'numeric', title:'{{sample_project_data.heading.1}}', width:50, mask:' #.##,00' },
                                                                { type: 'checkbox', title:'{{sample_project_data.heading.2}}', width:50 },
                                                                { type: 'checkbox', title:'{{sample_project_data.heading.3}}', width:70 },
                                                                { type: 'dropdown' , title: '{{sample_project_data.heading.4}}', width:140 , source: ["String", "Date" , "Options List"] },
                                                                { type: 'text', title:'{{sample_project_data.heading.5}}', width:240, wordWrap:true },
                                                                { type: 'text', title:'{{sample_project_data.heading.6}}', width:300 , wordWrap:true },
                                                                { type: 'text', title:'{{sample_project_data.heading.7}}', width:240 , wordWrap:true },
                                                            ],
                                                            allowInsertColumn:false,
                                                            allowDeleteColumn:false,
                                                            allowRenameColumn:false,
                                                            csvFileName:'sample_project_fields',
                                                            minDimensions:[8,5],
                                                        });
                                                    </script>

                                                    <div class="collapse" id="help">
                                                        <div class="card card-body">
                                                            <p><strong>Field name.</strong> Define the name of the field that will be showed later when investigator requested to add the information</p>
                                                            <p><strong>Order.</strong> Define the order that these parameters are presented in the form</p>
                                                            <p><strong>Used.</strong> Click on the Used check box to display the parameter in the form</p>
                                                            <p><strong>Searchable.</strong>Select if the field should be used for trigger the condition for searching.<br>
                                                            Note.- This functionality will be implemted in the next iSkyLIMS release </p>
                                                            <p><strong>Field Type.</strong> There are 3 field types: String, Date, and Option List<br>
                                                            - Use string for having any kind of letter and numbers, <br>
                                                            - Date to display a calender <br>
                                                            - Option List. To select only the predefined values. </p>
                                                            <p><strong>Option Values.</strong> It is only valid when the parameter is defined as “Option List”. <br>
                                                            Set the possible values that parameter could have, when presenting to the Investigator as a selection option list. <br>
                                                            To define the values, write them <strong>separating by commas “,”</strong> and without any blank space between the option values.</p>
                                                            <p><strong>Description.</strong> field is optional and you can type some few words to explain the parameter</p>
                                                        </div>  
                                                    </div>
                                                    <input class="btn float-end btn-outline-primary mt-3" type="submit" value="Submit">
                                                </form>
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#defineSampleProjectFields").submit(function (e) {
                                                            //stop submitting the form to see the disabled button effect
                                                            //e.preventDefault();
                                                            //disable the submit button
                                                            var table_data1 = table1.getData()
                                                            var data1_json = JSON.stringify(table_data1)
                                                            $("<input />").attr("type", "hidden")
                                                            .attr("name", "table_data1")
                                                            .attr("value", data1_json)
                                                            .appendTo("#defineSampleProjectFields");
                                                            $("#btnSubmit").attr("disabled", true);
                                                            return true;
                                                        });
                                                    });
                                                </script>
                                            </div>  
                                        </div>
                                    </div>  
                                </div>
                            </div> 
                        </div><!--  end of tab new_fields -->
                        <div class="tab-pane fade" id="batch" role="tabpanel" aria-labelledby="batch-tab">
                            <div class="container">
                                <div class="row mt-4">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header"><h3 style="text-align:center">Load Schema to define Samples Project Fields </h3></div>
                                            <div class="card-body">
                                                <form method="post" enctype="multipart/form-data" name="defineBatchFields"  id="defineBatchFields" class="form-horizontal well">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="action" value="defineBatchFields"/>
                                                    <input type="hidden" name="sample_project_id" value="{{sample_project_data.sample_project_id}}"/>
                                                    <div  class="col" >
                                                        <div class="card " >
                                                            <div class="card-header"><h3  class="text-center">Upload schema file for {{sample_project_data.sample_project_name}} </h3></div>
                                                            <div class="card-body" >
                                                                <div class="form-control required">
                                                                    <label class="col  form-label" for="jsonSchema" ><td> Upload Schema</td> </label>
                                                                    <div class="col mb-3">
                                                                        <input class="form-control" required = "required" type="file" accept=".json" name="jsonSchema" id="jsonSchema" >
                                                                    </div>
                                                                
                                                                    <label class="col-sm-5  form-label" for="classification" ><td>Property where to fetch fields</td> </label>
                                                                    <div class="col mb-3">
                                                                        <input class="form-control" required = "required" type="text" name="classification" id="classification" >
                                                                    </div>
                                                                
                                                                    <label class="col  form-label" for="subfilter" ><td>Select the values to be filtered</td> </label>
                                                                    <div class="col">
                                                                        <textarea class="form-control" name="subfilter" value="" id="subfilter" style="height:100px" ></textarea>
                                                                    </div>
                                                                </div>  
                                                            </div> 
                                                        </div>  
                                                        <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>
                                                        <input class="btn pull-left btn-outline-primary" type="reset" value="Reset Fields">
                                                        <input class="btn float-end btn-outline-primary" type="submit" value="Submit">
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div> 
                    </div>
                </div> 
            </div>
        </div> 
    {% endif %}
</section>
{% endblock %}
