{% extends 'wetlab/base.html' %}
{% load static %}_
{% block content %}
{% csrf_token %}
{% if sample_types.error_message %}
    <div class="row mt-2 mb-4">
        <div class="col-sm-6 offset-2" >
            <div class="panel panel-warning">
                <div class="card-header"><h3>Unable to record your Sample Type</h3> </div>
                <div class="card-body">
                    <p>
                        {% for value in sample_types.error_message %}
                            {{ value }} <br>
                        {% endfor %}
                    </p>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end of sm-6 -->
    </div> <!--// end row -->
{% endif %}
<BR>

<div class="row mt-2 mb-4">
    <div class="col-sm-12" >
        {% if sample_types.new_defined_sample_type %}
            <div class="col-sm-6" >
                <div class="card ">
                    <div class="card-header"><h3>New sample type has been added</h3> </div>
                    <div class="card-body">
                        <p>New sample type :<br> <a href="/wetlab/displayTypeOfSample={{sample_types.new_defined_id}}">{{ sample_types.new_defined_sample_type }} has been recorded</a></p>
                        <br><br><br>

                    </div>  <!--  end of panel body  -->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-6 -->
        {% endif %}
        <div class="col-sm-6" >
            <div class="card ">
                <div class="card-header"><h3>Form to add a new type of sample</h3> </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" name="addNewSampleType" id="addNewSampleType" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group required">
                            <input type="hidden" name="action" value="addNewSampleType"/>
                            <label class="col-sm-5 control-label">Type of sample</label>
                            <div class="col-sm-6"><input class="form-control" required = "required" type="text"  name="sampleTypeName" size="80"></div>
                            <br><br><br>
                        </div>

                        <div class="col-sm-6" >
                            <br>
                            <p align="center">Field name in Sample </p>
                        </div>
                        <div class="col-sm-6" >
                            <p>Check the <strong>Mandatory</strong> Fields when recording a new Sample</p>
                        </div>
                        <div class="form-group">
                            {% for values  in sample_types.optional_values  %}
                                <label class="col-sm-5 control-label">{{values}}</label>
                                <div class="col-sm-6"><input class="form-control" type="checkbox"  name="{{values}}" size="80"></div>

                            {% endfor %}

                            <BR> <BR> <BR>
                        </div>
                        <input class="btn pull-right btn-primary" type="submit" value="Submit" id="btnSubmit">
                    </form>
                </div>  <!--  end of panel body  -->
                <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>
            </div> <!--// end panel -->
        </div> <!--// end of sm-6 -->
    </div> <!--// end of sm-12 -->
</div> <!--// end row -->
{% if sample_types.defined_sample_types %}
    <div class="row mt-2 mb-4">
        <div class="col-sm-8" >
            <BR> <BR> <BR>
            <div class="card ">
              <div class="card-header"><h3>Type of Samples already defined</h3></div>
              <div class="card-body">
                    <table class="table table-hover">
                       <thead>
                          <tr>
                            <th>Type of Sample</th>
                          </tr>
                       </thead>
                       <tbody>
                            {% for  id, name in sample_types.defined_sample_types %}
                                <tr>
                                    <td><a href="/wetlab/displayTypeOfSample={{id}}">{{name}}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-8  -->
    </div> <!--// end row -->

{% endif %}
{% endblock %}
