{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}

<style>
    .scrolling-wrapper {
        overflow-x: auto;
        overflow-y: auto;
        white-space: nowrap;
        height: 300px;
    }
 </style>
{% if error_message %}
    <div class="row mt-2 mb-4">
        <div class="col-sm-7 offset-3">
            <div class="card border-danger mb-3">
                <div class="card-header"><h3 style="text-align:center">Unable to upload the schema file</h3> </div>
                <div class="card-body">
                    {% for values in error_message %}
                        <h4>{{values}}</h4>
                    {% endfor %}
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->
{% endif %}
{% if sample_project_field_data %}
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-12" >
            <div class="card ">
                <div class="card-header"><h3>Sucessful store of parameters on {{sample_project_field_data.sample_project_name}} Sample Project</h3></div>
                <div class="card-body">

                    <div class="col-sm-10" >
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    {% for value in sample_project_field_data.heading %}
                                        <th>{{value}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for  values in sample_project_field_data.fields %}
                                    <tr>
                                        {% for value in values %}
                                            <td>{{ value }}</td>
                                        {% endfor %}
                                    </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div> <!--// end col-sm-5  -->
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-12  -->
    </div> <!--// end row -->
{% elif schema_result %}
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-12" >
            <div class="card ">
                <div class="card-header"><h3>Sucessful Schema load for {{schema_result.sample_project_name}} Sample Project</h3></div>
                <div class="card-body">

                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-12  -->
    </div> <!--// end row -->
{% else %}
    {% include 'core/jexcel_functionality.html' %}
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-12">
            <div class="tab">
                <button class="tablinks" onclick="summaryBin(event, 'newFields')" id="defaultOpen">Define Samples Proyect Fields</button>
                <button class="tablinks" onclick="summaryBin(event, 'batchFields')">Load batch new fields</button>

                <div id="newFields" class="tabcontent">
                    <div class="row row-space-4 margin-b-4">
                        <div class="col-sm-12" >
                            <div class="card ">
                                <div class="card-header"><h3>Define Sample Project Fields for {{sample_project_data.sample_project_name}}</h3></div>
                                <div class="card-body">
                                    <form method="post" enctype="multipart/form-data" name="defineSampleProjectFields"  id="defineSampleProjectFields" class="form-horizontal well">
                                        {% csrf_token %}
                                        <div class="scrolling-wrapper">
                                            <input type="hidden" name="action" value="defineSampleProjectFields"/>
                                            <input type="hidden" name="sample_project_id" value="{{sample_project_data.sample_project_id}}"/>
                                            <div id="spreadsheet1"></div>
                                            <div class="col-sm-1 offset-5 bg-secondary">
                                                <center> <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#help">Help</button></center>
                                            </div>
                                        </div> <!--  end of scrolling  -->
                                        <br>
                                        <br>
                                        <input type="button" value="Download Sample Project Fields" onclick="table1.download()"/>
                                        <br>
                                        <script>
                                            var data1 = [[],];
                                            var table1 = jexcel(document.getElementById('spreadsheet1'), {
                                                data:data1,
                                                columns: [
                                                    { type: 'text', title:'{{sample_project_data.heading.0}}', width:160 },
                                                    { type: 'numeric', title:'{{sample_project_data.heading.1}}', width:50, mask:' #.##,00' },
                                                    { type: 'checkbox', title:'{{sample_project_data.heading.2}}', width:50 },
                                                    { type: 'checkbox', title:'{{sample_project_data.heading.3}}', width:70 },
                                                    { type: 'dropdown' , title: '{{sample_project_data.heading.4}}', width:90 , source: ["String", "Date" , "Options List"] },
                                                    { type: 'text', title:'{{sample_project_data.heading.5}}', width:240, wordWrap:true },
                                                    { type: 'text', title:'{{sample_project_data.heading.6}}', width:300 , wordWrap:true },
                                                    { type: 'text', title:'{{sample_project_data.heading.7}}', width:240 , wordWrap:true },
                                                ],
                                                allowInsertColumn:false,
                                                allowDeleteColumn:false,
                                                allowRenameColumn:false,
                                                csvFileName:'sample_project_fields',
                                                minDimensions:[8,5],
                                            });
                                        </script>
                                        <div id="help" class="collapse">
                                            <br>
                                            <div class="row row-space-4 margin-b-4">
                                                <div class="col-sm-8 offset-2" >
                                                    <div class="card ">
                                                        <div class="card-header"><h5>Field description to fill in the parameters </h5></div>
                                                        <div class="card-body">
                                                            <p><strong>Field name.</strong> Define the name of the field that will be showed later when investigator requested to add the information</p>
                                                            <p><strong>Order.</strong> Define the order that these parameters are presented in the form</p>
                                                            <p><strong>Used.</strong> Click on the Used check box to display the parameter in the form</p>
                                                            <p><strong>Searchable.</strong>Select if the field should be used for trigger the condition for searching.<br>
                                                            Note.- This functionality will be implemted in the next iSkyLIMS release </p>
                                                            <p><strong>Field Type.</strong> There are 3 field types: String, Date, and Option List<br>
                                                            - Use string for having any kind of letter and numbers, <br>
                                                            - Date to display a calender <br>
                                                            - Option List. To select only the predefined values. </p>
                                                            <p><strong>Option Values.</strong> It is only valid when the parameter is defined as “Option List”. <br>
                                                            Set the possible values that parameter could have, when presenting to the Investigator as a selection option list. <br>
                                                            To define the values, write them <strong>separating by commas “,”</strong> and without any blank space between the option values.</p>
                                                            <p><strong>Description.</strong> field is optional and you can type some few words to explain the parameter</p>
                                                        </div>  <!--  end of panel body  -->
                                                    </div> <!--// end panel -->
                                                </div> <!--// end col-sm-8  -->
                                            </div> <!--// end row -->
                                        </div>
                                        <input class="btn pull-right btn-primary" type="submit" value="Submit">
                                    </form>
                                    <script>
                                        $(document).ready(function () {
                                            $("#defineSampleProjectFields").submit(function (e) {
                                                //stop submitting the form to see the disabled button effect
                                                //e.preventDefault();
                                                //disable the submit button
                                                var table_data1 = table1.getData()
                                                var data1_json = JSON.stringify(table_data1)
                                                $("<input />").attr("type", "hidden")
                                                  .attr("name", "table_data1")
                                                  .attr("value", data1_json)
                                                  .appendTo("#defineSampleProjectFields");
                                                $("#btnSubmit").attr("disabled", true);
                                                return true;
                                            });
                                        });
                                    </script>
                                </div>  <!--  end of panel body  -->
                            </div> <!--// end panel -->
                        </div> <!--// end col-sm-7  -->
                    </div> <!--// end row -->
                </div><!-- // end of tab newFields -->

                <div id="batchFields" class="tabcontent">
                    <div class="row row-space-4 margin-b-4">
                        <div class="col-sm-10 offset-1" >
                            <div class="card ">
                                <div class="card-header"><h3 style="text-align:center">Load Schema to define Samples Project Fields</h3></div>
                                <div class="card-body">
                                    <form method="post" enctype="multipart/form-data" name="defineBatchFields"  id="defineBatchFields" class="form-horizontal well" style="min-height: 700px;">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="defineBatchFields"/>
                                        <input type="hidden" name="sample_project_id" value="{{sample_project_data.sample_project_id}}"/>
                                        <div  class="col-sm-12" >
                                            <div class="card " >
                                                <div class="card-header"><h3  style="text-align:center">Upload schema file for {{sample_project_data.sample_project_name}} </h3></div>
                                                <div class="card-body" >
                                                    <div class="form-group required">
                                                        <label class="col-sm-5  control-label" for="jsonSchema" ><td> Upload Schema</td> </label>
                                                        <div class="col-sm-5"><input class="form-control" required = "required" type="file" accept=".json" name="jsonSchema" id="jsonSchema" ></div>
                                                    </div>  <!-- end from-group   -->
                                                    <BR>
                                                    <div class="form-group required">
                                                        <label class="col-sm-5  control-label" for="classification" ><td>Property where to fetch fields</td> </label>
                                                        <div class="col-sm-5"><input class="form-control" required = "required" type="text" name="classification" id="classification" ></div>
                                                    </div>  <!-- end from-group   -->
                                                    <div class="form-group">
                                                        <label class="col-sm-5  control-label" for="subfilter" ><td>Select the values to be filtered</td> </label>
                                                        <div class="col-sm-5"><textarea class="form-control" name="subfilter" value="" id="subfilter" rows="4" cols="60" maxlength="220"></textarea></div>

                                                    </div>  <!-- end from-group   -->
                                                </div> <!-- End   Panel Body   -->
                                            </div>  <!-- End   Panel    -->

                                            <input class="btn pull-left btn-primary" type="reset" value="Reset Fields">
                                            <input class="btn pull-right btn-primary" type="submit" value="Submit">
                                        </div> <!-- end col-sm-8 -->

                                    </form>
                                    <br>
                                    <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>


                                </div> <!--  end of panel body -->
                            </div> <!--  end of panel  -->
                        </div> <!--// end col-sm-10  -->
                    </div> <!--  end of row -->
                </div><!-- // end of tab batchFields -->
            </div> <!--  end of Tab  -->
        </div> <!--// end col-sm-12  -->
    </div> <!--// end row -->
    <script>
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>

{% endif %}




<!-- End of FORM for defining protocol parameters -->

{% endblock %}
