{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}
<style>
.table-wrapper {
    max-height: 450px;
    overflow: auto;
    display:inline-block;
    width: 550px;
}
.table-wrapper-sm-4 {
    max-height: 450px;
    overflow: auto;
    display:inline-block;
    width: 370px;
}
.table-wrapper-sm-5 {
        max-height: 450px;
        overflow: auto;
        display:inline-block;
        width: 460px;
}
.table-wrapper-sm-10 {
        max-height: 450px;
        overflow: auto;
        display:inline-block;
        width: 920px;
}
</style>
<script type="text/javascript" src="{% static "wetlab/js/wetlab.js" %}"></script>
{% if display_one_collection_index %}
    <div class="row mt-2 mb-4">
        <div class="col-sm-7">
            <p>The following information belongs to :</p>
            <div class="card ">
                {% for lib_name, version, plate, adapter1, adapter2, index_file in  display_one_collection_index.general_information %}

                <div class="card-header"><h3> {{ lib_name }}</h3></div>
                <div class="card-body">
                  <table class="table table-hover">
                   <thead>
                      <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                      </tr>
                   </thead>
                   <tbody>

                     <tr>
                       <td>Library Version </td><td>{{ version }} </td>
                     </tr>
                     <tr>
                       <td>Plate Extension </td><td>{{ plate }} </td>
                     </tr>
                     <tr>
                       <td>Adapter 1 </td><td>{{ adapter1 }} </td>
                     </tr>
                     <tr>
                       <td>Adapter 2 </td><td>{{ adapter2 }} </td>
                     </tr>
                     <tr>
                       <td>Index Library File </td><td><a href ="/documents/{{ index_file }}" download > Download Index File <span class="glyphicon glyphicon-pencil"></span></a></td>
                     </tr>
                    {%endfor%}
                    </tbody>
                 </table>
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
      </div> <!--  end of row -->
      <div class="row mt-2 mb-4">
        <div class="col-sm-5">
            <div class="card ">
              <div class="card-header"><h3> Index defined for I7 </h3>
              <button onclick="exportTableToExcel('IndexI7')" class="btn pull-right">Export Table To Excel <span class="glyphicon glyphicon-download-alt"></span></button>
                <BR>
              </div>
                <div id="IndexI7" class="card-body">
                    {% if display_one_collection_index.I7_indexes %}
                      <div class="table-wrapper-sm-5">
                      <table class="table table-hover">
                       <thead>
                          <tr>
                            <th>Index Name</th>
                            <th>Index Sequence</th>
                          </tr>
                       </thead>
                       <tbody>
                            {% for index_name, index_sequence in  display_one_collection_index.I7_indexes %}
                                <tr>
                                    <td>{{index_name}} </td><td>{{ index_sequence }} </td>
                                </tr>
                            {% endfor %}
                       </tbody>
                     </table>
                    </div> <!--  end table wrapper -->
                    {% else %}
                        There is no index sequence for I7 on this library

                    {% endif %}
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-5 -->

        <div class="col-sm-5 offset-1">

            <div class="card ">
              <div class="card-header"><h3> Index defined for I5 </h3>
                {% if display_one_collection_index.I5_indexes %}
                    <button onclick="exportTableToExcel('IndexI5')" class="btn pull-right">Export Table To Excel <span class="glyphicon glyphicon-download-alt"></span></button>
                    <BR>
                {% endif %}
              </div>
                <div class="card-body">
                    {% if display_one_collection_index.I5_indexes %}
                      <div class="table-wrapper-sm-5">
                        <table id="IndexI5" class="table table-hover">
                           <thead>
                              <tr>
                                <th>Index Name</th>
                                <th>Index Sequence</th>
                              </tr>
                           </thead>
                           <tbody>
                                {% for index_name, index_sequence in  display_one_collection_index.I5_indexes %}
                                    <tr>
                                        <td>{{index_name}} </td><td>{{ index_sequence }} </td>
                                    </tr>
                                {% endfor %}
                           </tbody>
                         </table>
                         </div> <!--  end table wrapper -->
                    {% else %}
                        There is no index sequence for I5 on this library

                    {% endif %}
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->



        </div> <!--  end of col-sm-5 -->
      </div> <!--  end of row -->

      <div class="row mt-2 mb-4">
        <div class="col-sm-10">
            <div class="card ">
              <div class="card-header"><h3> Default Layout for {{ display_one_collection_index.general_information.0.0 }} </h3>
              <button onclick="exportTableToExcel('Layout')" class="btn pull-right">Export Table To Excel <span class="glyphicon glyphicon-download-alt"></span></button>
                <BR>
              </div>
                <div id="Layout" class="card-body">
                    {% if display_one_collection_index.default_layout %}
                      <div class="table-wrapper-sm-10">
                      <table class="table table-hover">
                       <thead>
                          <tr>
                            <th>Well</th>
                            <th>Index 7</th>
                            <th>Index 7 Sequence</th>
                            <th>Index 5</th>
                            <th>Index 5 Sequence</th>
                          </tr>
                       </thead>
                       <tbody>
                            {% for well_row in  display_one_collection_index.default_layout %}
                                <tr>
                                  {% for value in well_row %}
                                      <td>{{value}} </td>
                                  {% endfor %}
                                </tr>
                            {% endfor %}
                       </tbody>
                     </table>
                     </div> <!--  end of table wrapper -->
                    {% else %}
                        There is no default layout for this  library

                    {% endif %}
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-10 -->
        </div> <!--  end of row -->
{% else %}


{% endif %}
{% endblock %}
