{% extends "core/base.html" %}
{% block content %}
{% include "wetlab/menu.html" %}
<section class="iskylims d-flex flex-column fill-height">
    <div class="container-md">
        {% include 'registration/login_inline.html' %}
        {% if error_message %}
            <div class="row mt-2 mb-4">
                <div class="col-md-7 offset-3">
                    <div class="card border-danger mb-3">
                        <div class="card-header border-danger text-center"><h3>Invalid definition </h3le=> </div>
                        <div class="card-body">
                            <h4>{{error_message}}</h4>
                        </div> 
                    </div> 
                </div> 
            </div> 
        {% endif %}
        {% if protocol_data %}
            <div class="row row-space-4 margin-b-4">
                <div class="col-sm-12" >
                    <h3>These are the parameters defined for {{protocol_data.protocol_name}} Protocol</h3>
                    <div class="card ">
                        <div class="card-header"><h4>{{protocol_data.protocol_name}}</h4></div>
                        <div class="card-body">
                            <div class="col-sm-11" >
                                <table class="table table-hover">
                                <thead>
                                    <tr>
                                            {% for value in protocol_data.parameter_heading %}
                                                <th>{{value}}</th>
                                            {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for  values in protocol_data.parameters %}
                                        <tr>
                                            {% for value  in values %}
                                                <td>{{ value }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div> <!--// end col-sm-11  -->
                            <button class="btn btn-outline.primary float-end" onclick="window.location.href = '/wetlab/modifyProtocolFields={{protocol_data.protocol_id}}';">Modify Protocol Fields</button>
                        </div>  
                    </div>

                </div> <!--// end col-sm-12  -->

            </div> <!--// end row -->

        {% endif %}

        {% if kit_data %}
            <div class="row row-space-4 margin-b-4">
                <div class="col-sm-12" >
                    <h3>Additional kits defined for {{protocol_data.protocol_name}} Protocol</h3>
                    <div class="card ">
                        <div class="card-header"><h4>{{protocol_data.protocol_name}}</h4></div>
                        <div class="card-body">
                            <div class="col-sm-11" >
                                <table class="table table-hover">
                                <thead>
                                    <tr>
                                            {% for value in kit_data.kit_heading %}
                                                <th>{{value}}</th>
                                            {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for  values in kit_data.kit_data %}
                                        <tr>
                                            {% for value  in values %}
                                                <td>{{ value }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div> <!--// end col-sm-11  -->
                            <button class="btn btn-outline.primary float-end" onclick="window.location.href = '/wetlab/modifyAdditionalKit={{kit_data.kit_id}}';">Modify Additional Kits</button>
                        </div>  
                    </div>

                </div> <!--// end col-sm-12  -->

            </div> <!--// end row -->

        {% endif %}
    </div>
</section>
{% endblock %}
