{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}

<div class="row row-space-2 margin-b-4">
    <div class="col-sm-11">
        <div class="panel panel-default">
            <h3>Information for User Lot Commercial Kit {{ user_lot_kit_data.sample_definition.0 }} </h3>
            <div class="panel-heading"><h4>User Lot. Basic Information</h4></div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                        {% for values in user_lot_kit_data.lot_kit_heading %}
                          <th>{{ values }} </th>
                        {%endfor%}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for values in user_lot_kit_data.lot_kit_data %}
                                <td>{{ values }} </td>
                            {%endfor%}
                        </tr>
                    </tbody>
                </table>
            </div> <!--  end of panel body -->

            <div class="panel-heading"><h4>Commercial Kit Information {{user_lot_kit_data.sample_project_name }}</h4></div>
            <div class="panel-body">

                    <table class="table">
                        <thead>
                            <tr>
                            {% for values in user_lot_kit_data.commercial_heading %}
                              <th>{{ values }} </th>
                            {%endfor%}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for name, provider, protocols, platform, number in user_lot_kit_data.commercial_data %}
                                    <td>{{ name }} </td>
                                    <td>{{provider}}</td>
                                    <td>
                                        {% for prot in protocols %}
                                            {{prot}}<br>
                                        {% endfor %}
                                    </td>
                                    <td>{{platform}}</td>
                                    <td>{{number}}</td>
                                {%endfor%}
                            </tr>
                        </tbody>
                    </table>

            </div> <!--  end of panel body -->


        </div> <!--  end of panel  -->
    </div> <!--  end of col-sm-11 -->
</div> <!--  end of row -->


{% endblock %}
