{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
{% if protocol_data %}
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-12" >
            <h3>These are the parameters defined for {{protocol_data.protocol_name}} Protocol</h3>
            <div class="panel panel-default">
                <div class="panel-heading"><h4>{{protocol_data.protocol_name}}</h4></div>
                <div class="panel-body">
                    <div class="col-sm-11" >
                        <table class="table table-hover">
                           <thead>
                              <tr>
                                    {% for value in protocol_data.parameter_heading %}
                                        <th>{{value}}</th>
                                    {% endfor %}
                              </tr>
                           </thead>
                           <tbody>
                            {% for  values in protocol_data.parameters %}
                                <tr>
                                    {% for value  in values %}
                                        <td>{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div> <!--// end col-sm-11  -->
                    <button onclick="window.location.href = '/wetlab/modifyProtocolFields={{protocol_data.protocol_id}}';">Modify Protocol Fields</button>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->

        </div> <!--// end col-sm-12  -->

    </div> <!--// end row -->

{% endif %}

{% if kit_data %}
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-12" >
            <h3>Additional kits defined for {{protocol_data.protocol_name}} Protocol</h3>
            <div class="panel panel-default">
                <div class="panel-heading"><h4>{{protocol_data.protocol_name}}</h4></div>
                <div class="panel-body">
                    <div class="col-sm-11" >
                        <table class="table table-hover">
                           <thead>
                              <tr>
                                    {% for value in kit_data.kit_heading %}
                                        <th>{{value}}</th>
                                    {% endfor %}
                              </tr>
                           </thead>
                           <tbody>
                            {% for  values in kit_data.kit_data %}
                                <tr>
                                    {% for value  in values %}
                                        <td>{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div> <!--// end col-sm-11  -->
                    <button onclick="window.location.href = '/wetlab/modifyAdditionalKits={{protocol_data.protocol_id}}';">Modify Additional Kits</button>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->

        </div> <!--// end col-sm-12  -->

    </div> <!--// end row -->

{% endif %}
{% endblock %}
