{% extends "core/base.html" %}
{% block content %}
{% include "wetlab/menu.html" %}
{% include "core/cdn_table_functionality.html" %}
{% include 'core/jexcel_functionality.html' %}
<section class="iskylims d-flex flex-column fill-height">
    <div class="container-md">
        {% include 'registration/login_inline.html' %}
        {% if error_message %}
            <div class="row my-2">
                <div class="col-sm-7 offset-3">
                    <div class="card border-danger mb-3">
                        <div class="card-header"><h3 class="text-center">Unable to process your request</h3> </div>
                        <div class="card-body">
                            <h4>{{error_message}}</h4>
                        </div>
                    </div>
                </div> 
            </div>
        {% endif %}
        {% if selecting_samples.heading %}
            <div class="row my-2">
                <div class="col" >
                    <div class="card ">
                        <div class="card-header"><h3>Select the samples for preparing output data</h3> </div>
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data" name="selectSamples" id="selectSamples" class="form-horizontal">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="selectSamples"/>
                                <input type="hidden" name="protocolID" value="{{ selecting_samples.protocol }}"/>
                                <input type="hidden" name="protocolType" value="{{ selecting_samples.protocol_type }}"/>
                                <input type="hidden" name="heading" value="{{ selecting_samples.heading_string }}"/>
                                 <div class="horizontal-scroll">
                                    <div id="samplesheet1" class="mb-4 col-md"></div>
                                </div>
                                <input class="btn float-end btn-outline-primary"
                                    id="btnSubmit"
                                    type="submit"
                                    value="Submit" />
                            
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% elif  data_for_download %}
            <div class="row my-2">
                <div class="col">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        {% for proj in project_list %}
                            {% if forloop.first %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active"
                                            id="download_samples-tab{{forloop.counter}}"
                                            data-bs-toggle="tab"
                                            data-bs-target="#d_samples{{forloop.counter}}"
                                            type="button"
                                            role="tab"
                                            aria-controls="d_samples"
                                            aria-selected="true">{{proj}} Project </button>
                                </li>
                            {% else %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link"
                                        id="download_samples-tab{{forloop.counter}}"
                                        data-bs-toggle="tab"
                                        data-bs-target="#d_samples{{forloop.counter}}"
                                        type="button"
                                        role="tab"
                                        aria-controls="d_samples"
                                        aria-selected="false">{{proj}} Project</button>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% for project_name, project_data in data_for_download.items %}
                        <div class="tab-content bg-white border-tab p-2" id="nav-tabContent">
                            {% if forloop.first %}
                                <div class="tab-pane fade show active"
                                        id="download_samples-tab{{forloop.counter}}"
                                        role="tabpanel"
                                        aria-labelledby="d_samples-tab{{forloop.counter}}">
                            {% else %}
                                <div class="tab-pane fade show"
                                        id="download_samples-tab{{forloop.counter}}"
                                        role="tabpanel"
                                        aria-labelledby="d_samples-tab{{forloop.counter}}">
                            {% endif %}
                            <div class="container">
                                <div class="row mt-4">
                                    <div class="col-md">
                                        <div class="card">
                                            <div class="card-header text-center">
                                                <h3>Samples selected to download </h3>
                                            </div>
                                            <div class="card-body">
                                                <table class="table table-hover" id="sample_download{{forloop.counter}}">
                                                    <thead>
                                                        <tr>
                                                            {% for value in project_data.heading %}<th>{{ value }}</th>{% endfor %}
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for s_values in project_data.values %}
                                                            <tr>
                                                                {% for value in s_values %}<td>{{ value }}</td>{% endfor %}
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="row my-2">
                <div class="col" >
                    <div class="card ">
                        <div class="card-header"><h3>External File Preparation</h3> </div>
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data" name="externalFilePreparation" id="externalFilePreparation" class="form-horizontal">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="externalFilePreparation"/>
                                <div class="row g-2 mb-3">
                                    <div class="col-md">
                                        <div class="form-floating mb-3">
                                            <select class="form-select"
                                                    name="sampleProject"
                                                    id="sampleProject"
                                                    aria-label="Floating label state">
                                                <option value="">Choose a value</option>
                                                {% for value, id in search_data.s_projects %}<option value="{{ id }}">{{ value }}</option>{% endfor %}
                                            </select>
                                            <label for="project">Select the project</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-floating mb-3">
                                            <select class="form-select"
                                                    name="protocol"
                                                    id="protocol"
                                                    required 
                                                    aria-label="Floating label state">
                                                <option value="">Choose a value</option>
                                                {% for value, id in search_data.protocols %}<option value="{{ id }}">{{ value }}</option>{% endfor %}
                                            </select>
                                            <label class="text-danger" for="protocol">Select the Protocol</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-2 mb-3">
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input type="date"
                                                    class="form-control"
                                                    id="start_date"
                                                    name="startdate"
                                                    placeholder="Filter run from start date" />
                                            <label for="start-date">From Start Date (DD-MM-YYYY)</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input type="date"
                                                    class="form-control"
                                                    id="end_date"
                                                    name="enddate"
                                                    placeholder="Filter run from end date" />
                                            <label for="start-date">End Date (DD-MM-YYYY)</label>
                                        </div>
                                    </div>
                                </div>
                                <p class="ms-3 mb-3"> Fields marked in <FONT COLOR="Red">Red</FONT> are mandatory</p>
                                <input class="btn float-end btn-outline-primary" type="submit" value="Submit" id="btnSubmit">
                            </form>
                        </div>  
                    </div>
                </div>
            </div>
        {% endif %}
        
    </div>
</section>
<script>
        {% if selecting_samples.heading %} // excel table for new samples 
            var data1 = [{% for values in selecting_samples.samples %}
                [{% for value in values %}'{{value}}',{% endfor %}],{% endfor %}
            ]; 
            var table1 = jexcel(document.getElementById('samplesheet1'), {
                data:data1, 
                columns: [{% for values in selecting_samples.heading  %}
                    {% if forloop.last %} 
                        { type: 'hidden' }, 
                        { type: 'checkbox',  title:'{{values}}', width:150 }, 
                    {% else %} 
                        { type: 'text', title:'{{values}}', width:300 , readOnly:true },
                    {% endif %} 
                {% endfor %} 
            ],  
                allowInsertColumn:false,
                allowDeleteColumn:false, 
                allowRenameColumn:false, 
                allowInsertRow:false, 
                allowDeleteRow:false, 
                tableOverflow:false, 
                search:true, 
                csvFileName:'SamplesDefined.csv',  
            });
            
            // send form for selected samples 
            $(document).ready(function () {
                $("#selectSamples").submit(function (e) { 
                    var table_data = table1.getData()
                    var data_json = JSON.stringify(table_data)
                    $("<input />").attr("type", "hidden")
                        .attr("name", "selected_samples")
                        .attr("value", data_json)
                        .appendTo("#selectSamples");
                    $("#btnSubmit").attr("disabled", true);
                    return true;
                });
            });
        {% endif %}
        {% if data_for_download %}
            // table to download samples 
            {% for project_name, project_data in data_for_download.items %}
                $(document).ready(function() {
                    $('#sample_download{{forloop.counter}}').DataTable({
                        dom: 'Bfrtip',
                        responsive: true,
                        buttons: ['copy' , "excel"]
                    });
                });
            {% endfor %}
        {% endif %}
</script>
{% endblock %}