{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<style>
    .scrolling-wrapper {
        overflow-x: auto;
        overflow-y: auto;
        white-space: nowrap;
        height: 300px;
    }
 </style>
{% if protocol_field_saved %}
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Sucessful store of Protocol Fields for Protocol {{protocol_field_saved.protocol_name}} </h3></div>
                <div class="panel-body">

                    <div class="scrolling-wrapper">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    {% for value in protocol_field_saved.heading %}
                                        <th>{{value}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for  values in protocol_field_saved.fields %}
                                    <tr>
                                        {% for value in values %}
                                            <td>
                                                {% if value == 'Yes' or value == True %}
                                                    <span class="glyphicon glyphicon glyphicon-ok"></span>
                                                {% elif value == 'No' or value == False %}

                                                {% else %}
                                                    {{ value }}
                                                {% endif %}

                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> <!--  end of scrolling  -->
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-12  -->
    </div> <!--// end row -->

{% else %}
    {% include 'core/jexcel_functionality.html' %}

    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-12" >

            <div class="panel panel-default">
                <div class="panel-heading"><h3>Modify Protocol Fields for {{protocol_field.protocol_name}}</h3></div>
                <div class="panel-body">
                     <form method="post" enctype="multipart/form-data" name="modifyProtocolFields"  id="modifyProtocolFields" class="form-horizontal well">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="modifyProtocolFields"/>
                        <input type="hidden" name="protocol_id" value="{{protocol_field.protocol_id}}"/>
                        <div class="scrolling-wrapper">
                            <div id="spreadsheet1"></div>
                        </div> <!--  end of scrolling  -->
                        <br>
                        <input type="button" value="Download_Protocol_Parameters" onclick="table1.download()"/>


                    <script>
                         var data1 = [{% for values in protocol_field.fields %} [{% for value in values %}'{{value}}',{% endfor %}], {% endfor %}
                         ];

                        var table1 = jexcel(document.getElementById('spreadsheet1'), {
                            data:data1,
                            columns: [
                                { type: 'text', title:'{{protocol_field.heading.0}}', width:160 ,readOnly:true},
                                { type: 'text', title:'{{protocol_field.heading.1}}', width:160 },
                                { type: 'numeric', title:'{{protocol_field.heading.2}}', width:50, mask:' #.##,00' },
                                { type: 'checkbox', title:'{{protocol_field.heading.3}}', width:50 },
                                { type: 'dropdown' , title: '{{protocol_field.heading.4}}', width:90 , source: ["string", "Date" , "Option List"] },
                                { type: 'text', title:'{{protocol_field.heading.5}}', width:200, wordWrap:true },
                                { type: 'text', title:'{{protocol_field.heading.6}}', width:300 , wordWrap:true },
                                { type: 'hidden'}
                            ],
                            allowInsertColumn:false,
                            allowDeleteColumn:false,
                            allowRenameColumn:false,
                            csvFileName:'protocol_fields',
                            minDimensions:[7,1],
                            tableOverflow: false,
                            tableWidth: "900px",
                         });
                    </script>
                    <input class="btn pull-right btn-primary" type="submit" value="Submit">
                    </form>
                    <script>
                        $(document).ready(function () {
                            $("#modifyProtocolFields").submit(function (e) {
                                //stop submitting the form to see the disabled button effect
                                //e.preventDefault();
                                //disable the submit button
                                var table_data1 = table1.getData()
                                var data1_json = JSON.stringify(table_data1)
                                $("<input />").attr("type", "hidden")
                                  .attr("name", "table_data1")
                                  .attr("value", data1_json)
                                  .appendTo("#modifyProtocolFields");
                                $("#btnSubmit").attr("disabled", true);
                                return true;
                            });
                        });
                    </script>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->

        </div> <!--// end col-sm-7  -->

    </div> <!--// end row -->
{% endif %}




<!-- End of FORM for defining protocol parameters -->

{% endblock %}
