{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<style>
    .scrolling-wrapper {
        overflow-x: auto;
        overflow-y: auto;
        white-space: nowrap;
        height: 400px;
    }
 </style>
{% if sample_project_field_saved %}
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-12" >
            <div class="card ">
                <div class="card-header"><h3>Sucessful store of Sample Project Fields for Sample Project {{sample_project_field_saved.sample_project_name}} </h3></div>
                <div class="card-body">

                    <div class="scrolling-wrapper">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    {% for value in sample_project_field_saved.heading %}
                                        <th>{{value}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for  values in sample_project_field_saved.fields %}
                                    <tr>
                                        {% for value in values %}
                                            <td>
                                                {% if value == 'Yes' or value == True %}
                                                    <span class="glyphicon glyphicon glyphicon-ok"></span>
                                                {% elif value == 'No' or value == False %}

                                                {% else %}
                                                    {{ value }}
                                                {% endif %}

                                            </td>
                                        {% endfor %}
                                    </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div> <!--  end of scrolling  -->
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-12  -->
    </div> <!--// end row -->

{% else %}
    {% include 'core/jexcel_functionality.html' %}

    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-12" >

            <div class="card ">
                <div class="card-header"><h3>Modify Sample Project Fields for {{sample_project_field.sample_project_name}}</h3></div>
                <div class="card-body">
                     <form method="post" enctype="multipart/form-data" name="modifySampleProjectFields"  id="modifySampleProjectFields" class="form-horizontal well">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="modifySampleProjectFields"/>
                        <input type="hidden" name="sample_project_id" value="{{sample_project_field.sample_project_id}}"/>
                        <input type="hidden" name="parameter_names" value="{{sample_project_field.parameter_names}}"/>
                        <input type="hidden" name="parameter_ids" value="{{sample_project_field.parameter_ids}}"/>
                        <div class="scrolling-wrapper">
                            <div id="spreadsheet1"></div>
                        </div> <!--  end of scrolling  -->
                        <br>
                        <br>

                        <input type="button" value="Download Sample Project Fields" onclick="table1.download()"/>

                     <br>

                     <script>

                     var data1 = [{% for values in sample_project_field.fields %} [{% for value in values %}'{{value}}',{% endfor %}], {% endfor %}
                     ];

                    var table1 = jexcel(document.getElementById('spreadsheet1'), {
                        data:data1,
                        columns: [
                            { type: 'text', title:'{{sample_project_field.heading.0}}', width:160 ,readOnly:true},
                            { type: 'text', title:'{{sample_project_field.heading.1}}', width:160 },
                            { type: 'numeric', title:'{{sample_project_field.heading.2}}', width:50, mask:' #.##,00' },
                            { type: 'checkbox', title:'{{sample_project_field.heading.3}}', width:50 },
                            { type: 'checkbox', title:'{{sample_project_field.heading.4}}', width:70 },
                            { type: 'dropdown' , title: '{{sample_project_field.heading.5}}', width:90 , source: ["String", "Date" , "Options List"] },
                            { type: 'text', title:'{{sample_project_field.heading.6}}', width:240, wordWrap:true },
                            { type: 'text', title:'{{sample_project_field.heading.7}}', width:400 , wordWrap:true },
                        ],
                        allowInsertColumn:false,
                        allowDeleteColumn:false,
                        allowRenameColumn:false,
                        csvFileName:'sample_project_fields',
                        minDimensions:[8,3],
                        tableOverflow: false,
                        tableWidth: "1100px",
                     });


                     </script>
                    <input class="btn pull-right btn-primary" type="submit" value="Submit">
                    </form>
                    <script>
                        $(document).ready(function () {
                            $("#modifySampleProjectFields").submit(function (e) {
                                //stop submitting the form to see the disabled button effect
                                //e.preventDefault();
                                //disable the submit button
                                var table_data1 = table1.getData()
                                var data1_json = JSON.stringify(table_data1)
                                $("<input />").attr("type", "hidden")
                                  .attr("name", "table_data1")
                                  .attr("value", data1_json)
                                  .appendTo("#modifySampleProjectFields");
                                $("#btnSubmit").attr("disabled", true);
                                return true;
                            });
                        });
                    </script>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->

        </div> <!--// end col-sm-7  -->

    </div> <!--// end row -->
{% endif %}




<!-- End of FORM for defining protocol parameters -->

{% endblock %}
