{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript" src="{% static "wetlab/js/fusioncharts/js/fusioncharts.js" %}"></script>
<script type="text/javascript" src="{% static "wetlab/js/fusioncharts/js/themes/fusioncharts.theme.fint.js" %}"></script>
<style >
    .text-large {
        font-size: 150%;
    }
</style>
<style>
.table-wrapper-sm-7 {
    max-height: 450px;
    overflow: auto;
    display:inline-block;

}
.table-wrapper-sm-4 {
    max-height: 450px;
    overflow: auto;
    display:inline-block;
    width: 370px;
}
</style>
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-12" >
            <div class="col-sm-7" >
                <div class="card ">
                    {% if pending.defined.sample_heading %}
                    <div class="card-header"><h3>The following Samples can be updated with the Molecule information</h3></div>
                        <div class="card-body">
                            <form method="post" action="/wetlab/setMoleculeValues" enctype="multipart/form-data" name="continueWithDNA"  id="continueWithDNA" class="form-horizontal well">
                            {% csrf_token %}
                                <input type="hidden" name="action" value="continueWithMolecule"/>
                                <input type="hidden" name="samples_in_list" value="True"/>
                                <div class="table-wrapper-sm-7">
                                <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                {% for value in pending.defined.sample_heading %}
                                                    <th> {{ value }}</th>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for date, code,  sampletype,  s_id , user in pending.defined.sample_information  %}
                                                <tr>
                                                        <td>{{date}}</td>
                                                        <td>{{code}}</td>
                                                        <td>{{sampletype}}</td>
                                                        <td><input type="checkbox" name="samples" value="{{s_id}}"></td>
                                                </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div> <!--  end of table wrapper  -->
                                <br><br>
                                <input type="button" value="Return Home" onclick="location.href ='/wetlab' ;"/>
                                <input class="btn pull-right btn-primary" type="submit" value="Submit">
                             </form>

                            {% else %}
                            <div class="card-header"><h3>Samples to be updated with the Molecule information</h3></div>
                                <div class="card-body">
                                <p>There is not new samples that requieres to add Molecule Information data </p>
                            {% endif %}
                        </div>  <!--  end of panel body  -->

                </div> <!--// end panel -->
            </div> <!--// end col-sm-7  -->
        <div class="col-sm-5" >
            <div class="card ">
                <div class="card-header"><h3>Sample state graphic</h3></div>
                <div class="card-body">
                    {% if pending.graphic_pending_samples %}

                        <!-- Pie chart for number of pending Services chart will start here-->
                        <div id="chart-1"> </div>
                        <!-- dumping JavaScript code here -->
                        {{ pending.graphic_pending_samples |safe }}

                    {% endif %}




                </div>  <!--  end of panel body  -->

            </div> <!--// end panel -->
        </div> <!--// end col-sm-5  -->
    </div> <!--// end row -->
{% if pending.extract_molecule.molecule_heading %}
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-12" >
            <div class="card ">
                <div class="card-header"><h3>The following Samples can be updated with the Molecule quality parameter</h3></div>
                    <div class="card-body">
                        {% if pending.extract_molecule.molecule_heading %}
                        <form method="post" action="/wetlab/setMoleculeValues" enctype="multipart/form-data" name="displayMoleculeParameters"  id="displayMoleculeParameters" class="form-horizontal well">
                        {% csrf_token %}
                            <input type="hidden" name="action" value="displayMoleculeParameters"/>
                            <input type="hidden" name="samples_in_list" value="True"/>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        {% for value in pending.extract_molecule.molecule_heading %}
                                            <th> {{ value }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for date, s_type, molecule_id, extr_date, protocol, m_id in pending.extract_molecule.molecule_information  %}
                                        <tr>
                                                <td>{{date}}</td>
                                                <td>{{s_type}}</td>
                                                <td>{{molecule_id}}</td>
                                                <td>{{extr_date}}</td>
                                                <td>{{protocol}}</td>
                                                <td><input type="checkbox" name="molecules" value="{{m_id}}"></td>

                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                            <br><br>
                            <input type="button" value="Return Home" onclick="location.href ='/wetlab' ;"/>
                            <input class="btn pull-right btn-primary" type="submit" value="Submit">
                         </form>
                        {% else %}
                            <p>There is not new samples </p>
                        {% endif %}
                    </div>  <!--  end of panel body  -->

            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->
{% endif %}
{% endblock %}
