{% extends "core/base.html" %}
{% block content %}
{% include "wetlab/menu.html" %}
{% include "core/cdn_table_functionality.html" %}
<section class="iskylims d-flex flex-column fill-height">
    <div class="container-md">
        {% include 'registration/login_inline.html' %}
        {% if error_message %}
            <div class="row my-2">
                <div class="col-sm-7 offset-3">
                    <div class="card border-danger mb-3">
                        <div class="card-header"><h3 class="text-center">Not matches</h3> </div>
                        <div class="card-body">
                            {% for values in error_message %}
                                <h4>{{values}}</h4>
                            {% endfor %}
                        </div>
                    </div>
                </div> 
            </div> 
        {% endif %}

        {% if display_run_list %}
            <div class="row my-2">
                <div class="col-sm-7 offset-3">
                    <div class="card ">
                        <div class="card-header"><h3>The following list matches with yor search</h3> </div>
                        <div class="card-body">
                            <p>Click on the run name to get full information</p>
                            <table class="table table-hover" id="run_table">
                                <thead>
                                    <tr>
                                        <th>Run Name</th>
                                        <th>Run Completion date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for id, name, date in display_run_list %}
                                        <tr>
                                            <td><a href="/wetlab/displayRun={{id}}" class="text-decoration-none">{{name}}</a> </td>
                                            <td>{{date}}</td>
                                        </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                        {% if display_run_list|length > 7 %}
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    $('#run_table').DataTable({
                                        responsive: true,
                                    });
                                });
                            </script>
                        {% endif %}
                    </div>
                </div> <!--  end of col-sm-7 -->
            </div> <!--  end of row -->

        {% else %}
            <div class="container">
                <div class="row my-2">
                    <div class="col-sm-7 offset-3" >
                        <div class="card ">
                            <div class="card-header"><h3 class="text-center">Search RUN</h3></div>
                            <div class="card-body">
                                <form method="post" enctype="multipart/form-data" name="searchrun" id="searchrun">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="runsearch"/>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" name="runname" id="runname" placeholder="Run name">
                                        <label for="runname">Run name</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <select class="form-select" name="platform" id="floatingPlatform" aria-label="Floating label select example">
                                            <option value="">Choose a value</option>
                                            {% for value in run_form_data.available_platforms %}
                                                <option value="{{value}}">{{value}}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="floatingPlatform">Select the sequencer platform</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <select class="form-select" name="runstate" id="floatingState" aria-label="Floating label select example">
                                            <option value="">Choose a value</option>
                                            {% for value in run_form_data.run_states %}
                                                <option value="{{value}}">{{value}}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="floatingState">Select the state of the run</label>
                                    </div>
                                    <div class="row g-2">
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <input type="date" class="form-control" id="start_date" name="startdate" placeholder="Filter run from start date" >
                                                <label for="start-date">From Start Date (DD-MM-YYYY)</label>
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <input type="date" class="form-control" id="end_date" name="enddate" placeholder="Filter run from end date" >
                                                <label for="start-date">End Date (DD-MM-YYYY)</label>
                                            </div>
                                        </div>
                                    </div>
                                    <input class="btn btn-outline-secondary mt-2" type="reset" value="Reset Fields">
                                    <input class="btn float-end btn-outline-primary mt-2" type="submit" value="Submit">
                                </form>
                            </div>  
                        </div>
                    </div> 
                </div>
            </div> 
        {% endif %}
    </div>
</section>
{% endblock %}
