{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<style>

.scroll-wrapper-sm-6 {
    max-height: 400px;
    overflow: auto;
    display:inline-block;
    width: 580px;
}
</style>
{% if matched_collection_index %}

    <div class="row my-2">
        <div class="col-sm-6 offset-3">
            <div class="card ">
                <div class="card-header">The following list matches with yor search: </div>
                <div class="card-body scroll-wrapper-sm-6">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Collection Index Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for  id, name in matched_collection_index %}
                                <tr>
                                    <td><a href="/wetlab/DisplayCollectionIndex={{id}}">{{ name }}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!--  end of col-sm-6 -->
    </div> <!--  end of row -->

{% else %}
    {% if not_found_matchs %}
        <div class="row my-2">
            <div class="col-sm-6 offset-3" >
                <div class="panel panel-warning">
                    <div class="card-header"><h3>No Results</h3></div>
                    <div class="card-body">
                        <p>There are no matches that meet your search parameters</p>
                    </div>
                </div>
            </div> <!--  end of col-sm-7 -->
        </div> <!--  end of row -->
    {% endif %}
    {% if error_message %}
        <div class="row my-2">
            <div class="col-sm-6 offset-3" >
                <div class="card border-danger mb-3">
                    <div class="card-header"><h3>Incorrect input parameters</h3></div>
                    <div class="card-body">
                        {% for values in error_message %}
                            <p>{{values}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div> <!--  end of col-sm-7 -->
        </div> <!--  end of row -->
    {% endif %}

    <!-- FORM for searching index Library -->
    <div class="row my-2">
      <div class="col-sm-7" >
        <div class="card ">
          <div class="card-header"><strong>Searching Collection Index Kit</strong></div>
          <div class="card-body">
            <form method="post" enctype="multipart/form-data" name="searchcollectionindexkit" id="searchcollectionindexkit" class="form-horizontal well">
                {% csrf_token %}
                <input type="hidden" name="action" value="searchcollectionindexkit"/>
             <div class="form-control">
                  <label class="col-sm-5  control-label" for="collectionindexkitname" >Collection Index Kit name </label>
                  <div class="col-sm-5"><input class="form-control" type="text" name="collectionindexkitname" id="collectionindexkitname" size="100" maxlength="200"></div>
             </div>  <!-- end from-group   -->
             <BR>
             <div class="form-control">
                  <label class="col-sm-5  control-label" for="adapter1" >Adapter 1</label>
                  <div class="col-sm-5"><input class="form-control" type="text" name="adapter1" id="adapter1" size="100" maxlength="200"></div>

             </div>  <!-- end from-group   -->
             <BR>
             <div class="form-control">
                  <label class="col-sm-5  control-label" for="adapter2" >Adapter 2</label>
                  <div class="col-sm-5"><input class="form-control" type="text" name="adapter2" id="adapter2" size="100" maxlength="200"></div>

             </div>  <!-- end from-group   -->
             <BR>
             <div class="form-control">
                  <label class="col-sm-5  control-label" for="indexname" >Index name</label>
                  <div class="col-sm-5"><input class="form-control" type="text" name="indexname" id="indexname" size="10" maxlength="50"></div>

             </div>  <!-- end from-group   -->
             <BR>
             <div class="form-control">
                  <label class="col-sm-5  control-label" for="indexbase" >Index Sequence</label>
                  <div class="col-sm-5"><input class="form-control" type="text" name="indexbase" id="indexbase" size="10" maxlength="50"></div>

             </div>  <!-- end from-group   -->
             <br>
                <input class="btn pull-left btn-outline-primary" type="reset" value="Reset Fields">
                <input class="btn float-end btn-outline-primary" type="submit" value="Submit">
            </form>
         </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->

    </div> <!--// end row -->
    <!-- End of FORM for searching index library information -->
{% endif %}
{% endblock %}
