{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}

<div class="row my-2">
    <div class="col-sm-12">
        {% if sequencer_data %}
            {%  for platform , values in sequencer_data.items %}
            <div class="card ">
                <div class="card-header"><h3>Sequecencer platform {{platform}}</h3></div>
                <div class="card-body">
                    {%for platform, name, description, location, serial, state, start_date, end_date, n_lanes, id in values %}
                    <div class="col-sm-8">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>Sequencer name</th>
                                    <th>serial</th>
                                    <th>state</th>
                                    <th>In Operation date</th>
                                    <th>Out of service date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{name}}</td>
                                    <td>{{serial}}</td>
                                    <td>{{state}}</td>
                                    <td>{{start_date}}</td>
                                    {% if end_date == 'Not available date' %}
                                        <td><input type="date" name="userKit" value="{{id}}"></td>
                                    {% else %}
                                        <td>{{end_date}}</td>
                                    {% endif %}
                                </tr>

                            </tbody>
                        </table>
                    </div> <!--// end col-sm-8  -->
                    <div class="col-sm-4">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>location</th>
                                <th>description</th>
                                <th>lanes</th>


                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>{{location}}</td>
                                <td>{{description}}</td>
                                <td>{{n_lanes}}</td>


                            </tr>

                        </tbody>
                    </table>
                    </div> <!--// end col-sm-4  -->
                        <br><br>
                    {% endfor %}

                </div>  
            </div>

            {% endfor %}

        {% else %}

        {% endif %}
    </div> <!--// end col-sm-12  -->
{% endblock %}
