{% extends 'wetlab/base.html' %}
{% load static %}_
{% block content %}
{% csrf_token %}
<style>
.table-wrapper {
    height: 250px;
    overflow: auto;
    display:inline-block;
    width: 420px;
</style>
{% if ERROR %}
    <div class="row my-2">
        <div class="col-sm-8" >
            <div class="card border-danger mb-3">
                <div class="card-header"><h3>Unable to accept your request</h3> </div>
                <div class="card-body">
                    <p> <strong>
                            {% for error in ERROR.ERROR %}
                                {{ error }} <br>
                            {% endfor %}
                        </strong> </p>
                    <br><br><br>
                </div>  
            </div>
        </div> <!--// end of sm-8 -->
    </div> <!--// end row -->
{% endif %}
{% if new_defined_sequencer %}
    <div class="row my-2">
        <div class="col-sm-8" >
            <div class="card ">
                <div class="card-header"><h3>New Sequencer has been added</h3> </div>
                <div class="card-body">
                    <p>New sequencer <strong>{{ new_defined_sequencer }}</strong> is defined</p>
                    <br><br><br>
                    <button type="button" class="btn btn-outline-primary" onclick="window.location.href = '/wetlab/sequencerConfiguration';">Add new Sequencer</button>
                </div>  
            </div>
        </div> <!--// end of sm-8 -->
    </div> <!--// end row -->
{% endif %}

{% if new_defined_configuration %}
    <div class="row my-2">
        <div class="col-sm-8" >
            <div class="card ">
                <div class="card-header"><h3>New Configuration has been added</h3> </div>
                <div class="card-body">
                    <p>New configuration <strong>{{ new_defined_configuration.1 }}</strong> is defined for {{new_defined_configuration.0}}</p>
                    <br><br><br>
                    <button type="button" class="btn btn-outline-primary" onclick="window.location.href = '/wetlab/sequencerConfiguration';">Add new Sequencer Configuration</button>
                </div>  
            </div>
        </div> <!--// end of sm-8 -->
    </div> <!--// end row -->
{% endif %}
<div class="row my-2">
    <div class="col-sm-8" >
        <div class="card ">
            <div class="card-header"><h3>Form to add a new Sequencer</h3> </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" name="addNewSequencer" id="addNewSequencer" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-control required">
                        <input type="hidden" name="action" value="addNewSequencer"/>
                        <label class="col-sm-5 control-label">Select Platform</label>

                        <div class="col-sm-6"><select class="form-control"  required = "required" name="platformID" id="protocolType">
                                       				<option value="">Choose a value</option>
                                                    {% for id , value  in sequencer_info.platforms %}
                                                        <option value="{{id}}">{{value}}</option>
                                                    {% endfor %}

                                              </select>
                        </div>  <!-- end select input -->
                        <br><br>
                        <label class="col-sm-5 control-label">Define Sequencer name</label>
                        <div class="col-sm-6"><input class="form-control" required = "required" type="text"  name="sequencerName" size="80"></div>
                        <br><br>
                        <label class="col-sm-5 control-label">Number of lanes</label>
                        <div class="col-sm-6"><input class="form-control" required = "required" type="text"  name="sequencerNumberLanes" size="80"></div>
                        <br><br>
                        <label class="col-sm-5 control-label">Sequencer location</label>
                        <div class="col-sm-6"><input class="form-control" required = "required" type="text"  name="sequencerLocation" size="80"></div>
                        <br><br>
                        <label class="col-sm-5 control-label">Serial number</label>
                        <div class="col-sm-6"><input class="form-control" required = "required" type="text"  name="sequencerSerialNumber" size="80"></div>
                        <br><br>
                        <label class="col-sm-5 control-label">Sequencer Start in sevice</label>
                        <div class="col-sm-6"><input class="form-control" required = "required" type="date"  name="sequencerOperationStart" size="80"></div>
                        <br><br>
                        <label class="col-sm-5 control-label" for="description" >Description</label>
                        <div class="col-sm-6"><textarea class="form-control" name="sequencerDescription" value="" id="sequencerDescription" rows="4" cols="60" maxlength="220"></textarea></div>
                        <br>
                    </div>
                    <br>
                    <input class="btn pull-left btn-outline-primary" type="reset" value="Reset Fields">
                    <input class="btn float-end btn-outline-primary" type="submit" value="Submit" id="btnSubmit">
                </form>
            </div>  
            <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>
        </div>
    </div> <!--// end of sm-10 -->
</div> <!--// end row -->
<br>


<div class="row my-2">
    <div class="col-sm-8" >
        <div class="card ">
            <div class="card-header"><h3>Form to add Sequencer Configuration</h3> </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" name="addNewConfiguration" id="addNewConfiguration" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-control required">
                        <input type="hidden" name="action" value="addNewConfiguration"/>
                        <label class="col-sm-5 control-label">Select Sequencing Platform</label>

                        <div class="col-sm-6"><select class="form-control"  required = "required" name="platformID" id="platformID">
                                       				<option value="">Choose a value</option>
                                                    {% for value, id in sequencer_info.platforms_used.items %}
                                                        <option value="{{id}}">{{value}}</option>
                                                    {% endfor %}

                                              </select>
                        </div>  <!-- end select input -->
                        <br><br>
                        <label class="col-sm-5 control-label">Define new Sequencer configuration</label>
                        <div class="col-sm-6"><input class="form-control" required = "required" type="text"  name="sequencerConfiguration" size="80"></div>
                        <br><br><br>
                    </div>
                    <input class="btn float-end btn-outline-primary" type="submit" value="Submit" id="btnSubmit">
                </form>
            </div>  
            <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>
        </div>
    </div> <!--// end of sm-10 -->
</div> <!--// end row -->
<br>





<div class="row my-2">
    <div class="col-sm-12" >
        <h3>Sequencer Information</h3>
        <div class="tab">
            <button class="tablinks" onclick="summaryBin(event, 'sequencer')" id="defaultOpen">Sequencers</button>
            <button class="tablinks" onclick="summaryBin(event, 'configuration')">Sequencer Configurations</button>

            <div id="sequencer" class="tabcontent">
                    <div class="col-sm-10" >
                        <div class="card ">
                            <div class="card-header"><h3>Sequencers defined</h3> </div>
                            <div class="card-body">
                                {% if sequencer_info.sequencer_names %}
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Platform</th>
                                                <th>Sequencer Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for platform, seq_names in sequencer_info.sequencer_names.items %}
                                            <tr>
                                                <td>{{ platform }}</td>
                                                <td>
                                                    {% for seq_name in seq_names %}
                                                        {{ seq_name }} <br>
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <p> No Sequencers are defined </p>
                                {% endif %}
                            </div>  
                        </div>
                    </div> <!--// end of sm-10 -->
                </div> <!--// end row -->
            </div> <!--  end of sequencer -->

            <div id="configuration" class="tabcontent">
                    <div class="col-sm-10" >
                        <div class="card ">
                            <div class="card-header"><h3>Sequencer Configurations defined</h3> </div>
                            <div class="card-body">
                                {% if sequencer_info.sequencer_data %}
                                    {% for  platform, confs in sequencer_info.sequencer_data.items %}
                                        <div class="table-wrapper">
                                            <table class="table table-hover">
                                               <thead>
                                                  <tr>
                                                    <th>{{platform}}</th>
                                                  </tr>
                                               </thead>
                                               <tbody>
                                                   {% for  configuration in confs %}
                                                        <tr>
                                                            <td>{{ configuration }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                        </div> <!--  end of table wrapper  -->
                                    {% endfor %}
                                {% else %}
                                    <p> No Sequencer Configurations are defined </p>
                                {% endif %}
                            </div>  
                        </div>
                    </div> <!--// end of sm-10 -->
                </div> <!--// end row -->
            </div> <!--  end of sequencer -->

        </div> <!--  end of tabs -->
    </div>  <!--  end of col-sm-12 -->

</div> <!--// end row -->




<script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
{% endblock %}
