{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
{% if display_one_sample %}



{% else %}
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-10 offset-1" >
            <div class="card ">
                <div class="card-header"><h3>The following Samples can be updated with the Library Preparation information</h3></div>
                {% for protocol_s_list in display_list.list_of_samples %}
                    <div class="card-body">

                        <form method="post" enctype="multipart/form-data" name="continueWithLib"  id="continueWithLib" class="form-horizontal well">
                        {% csrf_token %}
                            <input type="hidden" name="action" value="continueWithLib"/>
                            <input type="hidden" name="samples_in_list" value="True"/>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        {% for value in display_list.heading %}
                                            <th> {{ value }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for date, code, type, dna, protocol ,  s_id in protocol_s_list  %}
                                        <tr>

                                                <td>{{date}}</td>
                                                <td>{{code}}</td>
                                                <td>{{type}}</td>
                                                <td>{{dna}}</td>
                                                <td>{{protocol}}</td>
                                                <td><select class="form-control" name="libaryKit" id="libaryKit">
                                                        <option value="">Choose a value</option>
                                                        {% for value in display_list.lib_kits %}
                                                           <option value="{{value}}">{{value}}</option>
                                                        {% endfor %}
                                                </select></td>
                                                <td><input type="hidden" name="samples" value="{{s_id}}"></td>

                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                            <br><br>
                            <input type="button" value="Return Home" onclick="location.href ='/wetlab' ;"/>
                            <input class="btn float-end btn-outline-primary" type="submit" value="Submit">
                         </form>

                    </div>  
                {% endfor %}
            </div>
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->

{% endif %}

{% endblock %}
