{% extends "core/base.html" %}
{% block content %}
    {% load user_groups %}
    {% include "wetlab/menu.html" %}
    {% include "core/cdn_table_functionality.html" %}
    {% include "core/graphic_chart_functionality.html" %}
    <section class="iskylims d-flex flex-column fill-height">
        <div class="container-md">
            {% include 'registration/login_inline.html' %}
            {% if error_message %}
                <div class="row my-2">
                    <div class="col-sm-7 offset-3">
                        <div class="card border-danger mb-3">
                            <div class="card-header border-danger">
                                <h3 class="text-center">Unable to process your request</h3>
                            </div>
                            <div class="card-body">
                                {% for messge in error_message %}<h4 class="text-center">{{ message }}</h4>{% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if researcher_lab_statistics.type == "researcher" %}
                <div class="row my-2">
                    <div class="col">
                        <h3 class="text-center">Statistics results for Investigator {{ researcher_lab_statistics.researcher_name }}</h3>
                        <div class="col">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                {% if researcher_lab_statistics.seq_table_heading %}
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active"
                                                id="graphics-tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#graphics"
                                                type="button"
                                                role="tab"
                                                aria-controls="graphics"
                                                aria-selected="true">Sequenced samples graphics</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link "
                                                id="table-tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#table"
                                                type="button"
                                                role="tab"
                                                aria-controls="table"
                                                aria-selected="false">Sequenced Samples</button>
                                    </li>
                                    {% if researcher_lab_statistics.rec_table_heading %}
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link"
                                                    id="rec-graphics-tab"
                                                    data-bs-toggle="tab"
                                                    data-bs-target="#rec-graphics"
                                                    type="button"
                                                    role="tab"
                                                    aria-controls="rec-graphics"
                                                    aria-selected="true">Recorded samples graphics</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link "
                                                    id="rec-table-tab"
                                                    data-bs-toggle="tab"
                                                    data-bs-target="#rec-table"
                                                    type="button"
                                                    role="tab"
                                                    aria-controls="rec-table"
                                                    aria-selected="false">Recorded samples</button>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active"
                                                id="rec-graphics-tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#rec-graphics"
                                                type="button"
                                                role="tab"
                                                aria-controls="rec-graphics"
                                                aria-selected="true">Recorded samples graphics</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link "
                                                id="rec-table-tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#rec-table"
                                                type="button"
                                                role="tab"
                                                aria-controls="rec-table"
                                                aria-selected="false">Recorded samples</button>
                                    </li>
                                {% endif %}
                            </ul>
                            <div class="tab-content bg-white border-tab p-2" id="nav-tabContent">
                                {% if researcher_lab_statistics.seq_table_heading %}
                                    <div class="tab-pane fade show active"
                                         id="graphics"
                                         role="tabpanel"
                                         aria-labelledby="graphics-tab">
                                        <div class="container">
                                            <div class="row mt-4">
                                                <div class="col-md">
                                                    <div class="card">
                                                        <div class="card-header text-center">
                                                            <h3>Statistics from sequenced samples</h3>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="row ">
                                                                <div class="col-md-6">
                                                                    <div id="seq_sample_research_vs_other_chart"></div>
                                                                    {{ researcher_lab_statistics.seq_sample_research_vs_other_graphic|safe }}
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div id="research_usage_sequencer_chart"></div>
                                                                    {{ researcher_lab_statistics.research_usage_sequencer_graphic|safe }}
                                                                </div>
                                                            </div>
                                                            <div class="row ">
                                                                <div class="col-md-6">
                                                                    <div id="research_run_chart"></div>
                                                                    {{ researcher_lab_statistics.research_run_graphic|safe }}
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div id="research_project_chart"></div>
                                                                    {{ researcher_lab_statistics.research_project_graphic|safe }}
                                                                </div>
                                                            </div>
                                                            <div class="row ">
                                                                <div class="col-md-6">
                                                                    <div id="research_q_30_chart"></div>
                                                                    {{ researcher_lab_statistics.research_q_30_graphic|safe }}
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div id="research_mean_chart"></div>
                                                                    {{ researcher_lab_statistics.research_mean_graphic|safe }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end sequenced graphics tab-->
                                    <div class="tab-pane fade"
                                         id="table"
                                         role="tabpanel"
                                         aria-labelledby="table-tab">
                                        <div class="container">
                                            <div class="row mt-4">
                                                <div class="col-md">
                                                    <div class="card">
                                                        <div class="card-header text-center">
                                                            <h3>Researcher statistics</h3>
                                                        </div>
                                                        <div class="card-body">
                                                            <table class="table table-hover" id="researcher_table">
                                                                <thead>
                                                                    <tr>
                                                                        {% for column in researcher_lab_statistics.seq_table_heading %}<th>{{ column }}</th>{% endfor %}
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for sample, project, run, platform in researcher_lab_statistics.seq_samples %}
                                                                        <tr>
                                                                            <td>{{ sample }}</td>
                                                                            <td>{{ project }}</td>
                                                                            <td>{{ run }}</td>
                                                                            <td>{{ platform }}</td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end sequenced table tab-->
                                {% endif %}
                                {% if researcher_lab_statistics.rec_table_heading %}
                                    {% if not researcher_lab_statistics.seq_table_heading %}
                                        <div class="tab-pane fade show active"
                                             id="rec-graphics"
                                             role="tabpanel"
                                             aria-labelledby="rec-graphics-tab">
                                        {% else %}
                                            <div class="tab-pane fade show"
                                                 id="rec-graphics"
                                                 role="tabpanel"
                                                 aria-labelledby="rec-graphics-tab">
                                            {% endif %}
                                            <div class="container">
                                                <div class="row mt-4">
                                                    <div class="col-md">
                                                        <div class="card">
                                                            <div class="card-header text-center">
                                                                <h3>Statistics from recorded samples</h3>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="row ">
                                                                    <div class="col-md-6">
                                                                        <div id="rec_sample_research_vs_other_chart"></div>
                                                                        {{ researcher_lab_statistics.rec_sample_research_vs_other_graphic|safe }}
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div id="rec_sample_states_chart"></div>
                                                                        {{ researcher_lab_statistics.rec_sample_states_graphic|safe }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end sequenced graphics tab-->
                                        <div class="tab-pane fade"
                                             id="rec-table"
                                             role="tabpanel"
                                             aria-labelledby="rec-table-tab">
                                            <div class="container">
                                                <div class="row mt-4">
                                                    <div class="col-md">
                                                        <div class="card">
                                                            <div class="card-header text-center">
                                                                <h3>Recorded samples</h3>
                                                            </div>
                                                            <div class="card-body">
                                                                <table class="table table-hover" id="rec_sample_table">
                                                                    <thead>
                                                                        <tr>
                                                                            {% for column in researcher_lab_statistics.rec_table_heading %}<th>{{ column }}</th>{% endfor %}
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for sample_data in researcher_lab_statistics.rec_samples %}
                                                                            <tr>
                                                                                {% for value in sample_data %}<td>{{ value }}</td>{% endfor %}
                                                                            </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end table tab-->
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif researcher_lab_statistics.type == "lab" %}
                <div class="row my-2">
                    <div class="col">
                        <h3 class="text-center">Statistics results for {{ researcher_lab_statistics.lab_name }}</h3>
                        <div class="col">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active"
                                            id="lab-graphics-tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#lab-graphics"
                                            type="button"
                                            role="tab"
                                            aria-controls="lab-graphics"
                                            aria-selected="true">Laboratory samples graphics</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link "
                                            id="lab-table-tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#lab-table"
                                            type="button"
                                            role="tab"
                                            aria-controls="lab-table"
                                            aria-selected="false">Laboratory recorded samples</button>
                                </li>
                            </ul>
                            <div class="tab-content bg-white border-tab p-2" id="nav-tabContent">
                                <div class="tab-pane fade show active"
                                     id="lab-graphics"
                                     role="tabpanel"
                                     aria-labelledby="lab-graphics-tab">
                                    <div class="container">
                                        <div class="row mt-4">
                                            <div class="col-md">
                                                <div class="card">
                                                    <div class="card-header text-center">
                                                        <h3>Statistics from recorded samples</h3>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row ">
                                                            <div class="col-md-6">
                                                                <div id="lab_sample_vs_others_chart"></div>
                                                                {{ researcher_lab_statistics.lab_sample_vs_others_graphic|safe }}
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div id="lab_sample_states_chart"></div>
                                                                {{ researcher_lab_statistics.lab_sample_states_graphic|safe }}
                                                            </div>
                                                        </div>
                                                        <div class="row ">
                                                            <h4 class="text-center">Comparison of sample types used</h4>
                                                            <div class="col-md-6">
                                                                <div id="lab_sample_type_chart"></div>
                                                                {{ researcher_lab_statistics.lab_sample_type_graphic|safe }}
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div id="lab_sample_type_vs_all_chart"></div>
                                                                {{ researcher_lab_statistics.lab_sample_type_vs_all_graphic|safe }}
                                                            </div>
                                                        </div>
                                                        <div class="row ">
                                                            <h4 class="text-center">Comparison of species used</h4>
                                                            <div class="col-md-6">
                                                                <div id="lab_samples_species_chart"></div>
                                                                {{ researcher_lab_statistics.lab_samples_species_graphic|safe }}
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div id="lab_samples_species_vs_all_chart"></div>
                                                                {{ researcher_lab_statistics.lab_samples_species_vs_all_graphic|safe }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div id="lab_sample_states_chart"></div>
                                                        {{ researcher_lab_statistics.lab_sample_states_graphic|safe }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end sequenced graphics tab-->
                        <div class="tab-pane fade"
                             id="lab-table"
                             role="tabpanel"
                             aria-labelledby="lab-table-tab">
                            <div class="container">
                                <div class="row mt-4">
                                    <div class="col-md">
                                        <div class="card">
                                            <div class="card-header text-center">
                                                <h3>Recorded samples from laboratory</h3>
                                            </div>
                                            <div class="card-body">
                                                <table class="table table-hover" id="lab_sample_table">
                                                    <thead>
                                                        <tr>
                                                            {% for column in researcher_lab_statistics.lab_table_heading %}<th>{{ column }}</th>{% endfor %}
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for sample_data in researcher_lab_statistics.lab_samples %}
                                                            <tr>
                                                                {% for value in sample_data %}<td>{{ value }}</td>{% endfor %}
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end table tab-->
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row my-2">
                <div class="col-sm-7 offset-3">
                    <div class="card ">
                        {% if request.user|has_group:"WetlabManager" %}
                            <div class="card-header">
                                <h3 class="text-center">Statistics per Investigator or Laboratory</h3>
                            </div>
                        {% else %}
                            <div class="card-header">
                                <h3 class="text-center">Statistics per Investigator</h3>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <form method="post"
                                  enctype="multipart/form-data"
                                  name="statsresearcher"
                                  id="statsresearcher"
                                  class="form-horizontal well">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="researcher" />
                                {% if request.user|has_group:"WetlabManager" %}
                                    <div class="form-floating mb-3">
                                        <input type="text"
                                               class="form-control"
                                               name="researchername"
                                               id="researchername"
                                               placeholder="Researcher name" />
                                        <label class="form-control" for="researchername">Researcher name</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <select class="form-select"  name="labname" id="labname" aria-label="labname">
                                            <option value="">Choose a value</option>
                                            {% for id , value  in lab_list %}<option value="{{ id }}">{{ value }}</option>{% endfor %}
                                        </select>
                                        <label for="labname">Select Laboratory name</label>
                                    </div>
                                {% else %}
                                    <div class="form-floating mb-3">
                                        <input type="text"
                                               class="form-control"
                                               name="researchername"
                                               id="researchername"
                                               placeholder="Researcher name"
                                               value="{{ user.get_username }}"
                                               readonly />
                                        <label for="researchername">Researcher name</label>
                                    </div>
                                {% endif %}
                                <div class="row g-2">
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input type="date"
                                                   class="form-control"
                                                   id="start_date"
                                                   name="startdate"
                                                   placeholder="Filter run from start date" />
                                            <label for="start_date">From Start Date (DD/MM/YYYY)</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input type="date"
                                                   class="form-control"
                                                   id="end_date"
                                                   name="enddate"
                                                   placeholder="Filter run from end date" />
                                            <label for="end_date">End Date (DD/MM/YYYY)</label>
                                        </div>
                                    </div>
                                </div>
                                <input class="btn btn-outline-secondary mt-2"
                                       type="reset"
                                       value="Reset Fields" />
                                <input class="btn float-end btn-outline-primary mt-2"
                                       type="submit"
                                       value="Submit" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
</section>
<script type="text/javascript">
    $(document).ready(function() {
        $('#researcher_table').DataTable({
            dom: "Bfltirp",
            responsive: true,
            buttons: ['excel', 'csv']
        });
    });
    $(document).ready(function() {
        $('#rec_sample_table').DataTable({
            dom: "Bfltirp",
            responsive: true,
            buttons: ['excel', 'csv']
        });
    });
    $(document).ready(function() {
        $('#lab_sample_table').DataTable({
            dom: "Bfltirp",
            responsive: true,
            buttons: ['excel', 'csv']
        });
    });
</script>
{% endblock %}
