{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
{% include "core/graphic_chart_functionality.html" %}

<style>
    .scroll-wrapper-sm-6 {
        max-height: 250px;
        overflow: auto;
        display:inline-block;
        width: 530px;
    }
    .scroll-wrapper-sm-6-short {
        max-height: 200px;
        overflow: auto;
        display:inline-block;
        width: 530px;
    }
</style>

{% if error_message %}
    <div class="row mt-2 mb-4">
        <div class="col-sm-7 offset-3">
            <div class="card border-danger mb-3">
                <div class="card-header"><h3 style="text-align:center">Not matches</h3> </div>
                <div class="card-body">
                    {% for values in error_message %}
                        <h4>{{values}}</h4>
                    {% endfor %}
                </div>
            </div>
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->
{% endif %}

{% if sequencer_data  %}

    <div class="row mt-2 mb-4">
        <div class="col-sm-12" >
            <div class="col-sm-6" >
                <div class="card ">
                    <div class="card-header"><h3>Statistics results for Machine {{sequencer_data.sequencer_name}} </h3></div>
                    <div class="card-body">
                        {%if sequencer_data.run_completed %}
                            <h5> Runs Completed: </h5>
                            <button onclick="exportTableToExcel('runcompleted')" class="btn pull-right">Export Table To Excel <span class="glyphicon glyphicon-download-alt"></span></button>
                            <div class="scroll-wrapper-sm-6">
                                <table id="runcompleted" class="table  table-hover">
                                    <thead>
                                        <tr>
                                            {% for values  in sequencer_data.run_name_heading %}
                                                <th>{{ values }} </th>
                                            {%endfor%}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for name, date, id in sequencer_data.run_completed %}
                                            <tr>
                                                <td><a href="/wetlab/displayRun={{id}}">{{ name }}</a></td>
                                                <td>{{ date }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>  <!-- end of wrapper -->
                        {% else %}
                            <h5> There is no Runs Completed for this sequencer </h5>

                        {% endif %}
                    </div>  <!--  end of panel body  -->
                </div> <!--// end panel -->
                {%if sequencer_data.not_run_completed %}
                    <div class="card ">
                        <div class="card-header"><h3>Not completed runs on {{sequencer_data.sequencer_name}} </h3></div>
                        <div class="card-body">
                            <button onclick="exportTableToExcel('runnotcompleted')" class="btn pull-right">Export Table To Excel <span class="glyphicon glyphicon-download-alt"></span></button>
                            <div class="scroll-wrapper-sm-6-short">
                                <table id="runnotcompleted" class="table  table-hover">
                                    <thead>
                                        <tr>
                                            {% for values  in sequencer_data.run_name_heading %}
                                                <th>{{ values }} </th>
                                            {%endfor%}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for name, date, id in sequencer_data.not_run_completed %}
                                            <tr>
                                                <td><a href="/wetlab/displayRun={{id}}">{{ name }}</a></td>
                                                <td>{{ date }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>  <!-- end of wrapper -->
                        </div>  <!--  end of panel body  -->
                    </div> <!--// end panel -->
                {% endif %}
            </div> <!--// end col-sm-6  -->

            <div class="col-sm-6" >
                <div class="col-sm-12" >
                    <br><br><br>
                    <div class="card ">
                        <div class="card-header"><h3 style="text-align:center">Comparation Runs in each sequencer</h3></div>
                        <div class="card-body">
                            <!-- Sequencer pie Chart starts here-->
                                <div id="run_pie_chart"> </div>
                                {{ sequencer_data.run_pie_graph |safe }}
                        </div>
                    </div> <!--// end panel -->
                </div> <!--// end col-sm-12  -->
                <div class="col-sm-12" >
                    <div class="card ">
                        <div class="card-header"><h3 style="text-align:center">Time spent in sequencing</h3></div>
                        <div class="card-body">
                            <h5> Mean value for the time that run starts until {{sequencer_data.sequencer}} ends the sequencing is :</h5>
                            <h5 style="text-align:center"> {{sequencer_data.mean_time_duration}} days</h5>
                        </div>
                    </div> <!--// end panel -->
                </div> <!--// end col-sm-12  -->
            </div> <!--// end col-sm-6  -->
        </div> <!--// end col-sm-12  -->
    </div> <!--// end row -->
    {% if sequencer_data.sequencer_runs_per_month_graph %}
        <div class="row mt-2 mb-4">
            <div class="col-sm-12" >
                <div class="card ">
                    <div class="card-header"><h3 style="text-align:center">Runs Completed per per months</h3></div>
                    <div class="card-body">
                        <div class="col-sm-6" >
                            <!-- Sequencer pie Chart starts here-->
                            <div id="chart_seq_month"> </div>
                            {{ sequencer_data.sequencer_runs_per_month_graph |safe }}
                        </div> <!--// end col-sm-6  -->
                        <div class="col-sm-6" >
                            <!-- Sequencer pie Chart starts here-->
                            <div id="chart_other_seq_month"> </div>
                            {{ sequencer_data.other_sequencers_runs_per_month_graph |safe }}
                        </div> <!--// end col-sm-6  -->

                    </div>
                </div> <!--// end panel -->
            </div> <!--// end col-sm-8  -->
        </div> <!--// end row -->
    {% endif %}
    <div class="row mt-2 mb-4">
        <div class="col-sm-12" >
            <div class="card ">
              <div class="card-body">
                {% for sequencer in sequencer_statistics.projects_data  %}
                    {% for sequencer_name, values_in_dict in sequencer.items %}
                        <h3> Projects using the sequencer {{sequencer_name }} : </h3>
                        <button onclick="exportTableToExcel('sequencer{{sequencer_name}}')" class="btn pull-right">Export Table To Excel <span class="glyphicon glyphicon-download-alt"></span></button>
                        <BR>
                        <div class="table-wrapper-scroll-y ">
                            <table id="sequencer{{sequencer_name}}" class="table  table-hover">
                                <thead>
                                    <tr>
                                        {% for values  in sequencer_statistics.projects_heading %}
                                            <th>{{ values }} </th>
                                        {%endfor%}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for values in values_in_dict %}
                                        <tr>
                                            {% for value in values %}
                                                <td>{{ value }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <BR>
                        </div> <!--  end of col-table-responsive -->
                    {% endfor%}
                {% endfor %}
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-12  -->
    </div> <!--// end row -->

{% else %}
    {% load user_groups %}
    <!-- FORM for searching project research  Information -->
    <div class="row mt-2 mb-4">
      <div class="col-sm-7" >
        <div class="card ">
          <div class="card-header"><h2>Statistics per Sequencer</h2></div>
          <div class="card-body">
            <form method="post" enctype="multipart/form-data" name="statsmachine" id="statsmachine" class="form-horizontal well">
            {% csrf_token %}
            <input type="hidden" name="action" value="machine"/>
             <div class="form-group required">
                  <label class="col-sm-5  control-label" for="sequencer" >Sequencer name </label>
                  <div class="col-sm-4"><select class="form-control" name="sequencer" id="sequencer">
                                  				<option value="">Choose a value</option>
                                               {% for value in sequencer_names %}
                                                   <option value="{{value}}">{{value}}</option>
                                               {% endfor %}
                                         </select>
                  </div>  <!-- end select input -->

             </div>  <!-- end from-group   -->

                <br>

                <div class="form-group required">
                  <label class="col-sm-5 control-label" for="startdate" >From Start Date (DD-MM-YYYY)</label>
                  <div class="col-sm-5"><input class="form-control" type="date" required = "required" name="startdate" value="" id="startdate"></div>
                <br>
            </div>  <!-- end from-group   -->
                <div class="form-group required">
                  <label class="col-sm-5 control-label" for="enddate" >End Date Search (DD-MM-YYYY)</label>
                  <div class="col-sm-5"><input class="form-control" type="date" required = "required" name="enddate" value="" id="enddate"></div>
                <br>

            </div>  <!-- end from-group   -->
                <input class="btn pull-left btn-primary" type="reset" value="Reset Fields">
                <input class="btn pull-right btn-primary" type="submit" value="Submit">
            </form>
            <p> Fields marked with <FONT COLOR= "Red">*</FONT> are mandatory</p>
         </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->

        <!-- Insert the help panel -->
        <BR><BR>
        <div class="col-sm-3 offset-1">
          <div class="card ">
             <div class="card-header">Searching information project per Machine</div>
             <div class="card-body">
             <p>Searching information for the projects created by a Machine<BR>
             <p>For extended help click on the button below.</p>
            <center><button id="myBtn"> Help </button></center>
            </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        <!-- Insert the Help window when clicking on the button -->
        {% include 'wetlab/statistics-researcher-help.html' %}

    </div> <!--// end row -->
    <!-- End of FORM for searching RUN information -->
{% endif %}


{% endblock %}
