{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
{% include "core/graphic_chart_functionality.html" %}
<style>
    .scroll-wrapper-sm-12 {
        max-height: 350px;
        overflow: auto;
        display:inline-block;
        width: 1070px;
    }
</style>
{% if researcher_statistics %}
    {% if 'ERROR' in researcher_statistics %}
        <div class="row mt-2 mb-4">
            <div class="col-sm-12">
                <div class="card ">
                    <div class="card-header"><h2>Statistics results for Investigator {{researcher_statistics.ERROR.1}} </h2></div>
                    <div class="card-body">
                        <h3>{{researcher_statistics.ERROR.0}}</h3>
                    </div> <!--  end of panel body -->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-12  -->
        </div> <!--// end row -->

    {% else %}
        <div class="row mt-2 mb-4">
            <div class="col-sm-12">
                <div class="card ">
                    <div class="card-header"><h2>Statistics results for Investigator {{researcher_statistics.researcher_name}} </h2></div>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <div class="tab">
                                {% for sequencer, samples_data in researcher_statistics.researcher_sample_data.items  %}
                                    {% if forloop.first %}
                                        <button class="tablinks" onclick="summaryBin(event, '{{sequencer}}')" id="tablinksdefaultOpen" >{{sequencer}} </button>
                                    {% else %}
                                        <button class="tablinks" onclick="summaryBin(event, '{{sequencer}}')" >{{sequencer}} </button>
                                    {% endif %}
                                {% endfor %}
                                {% for sequencer, samples_data in researcher_statistics.researcher_sample_data.items  %}
                                    <div id="{{sequencer}}" class="tabcontent">
                                        <div class="col-sm-12" >
                                            <div class="card ">
                                                <div class="card-header"><h3>Investigator samples run in sequencer {{sequencer}}</h3></div>
                                                {% if samples_data %}
                                                    <button onclick="exportTableToExcel('sequencer{{sequencer}}')" class="btn pull-right">Export Table To Excel <span class="glyphicon glyphicon-download-alt"></span></button>
                                                    <BR>
                                                    <div class="card-body scroll-wrapper-sm-12">

                                                        <div class="table-responsive">
                                                            <table id="sequencer{{sequencer}}" class="table  table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        {% for values  in researcher_statistics.sample_researcher_heading %}
                                                                            <th>{{ values }} </th>
                                                                        {% endfor %}
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for values in samples_data %}
                                                                        <tr>
                                                                            {% for value in values %}
                                                                                <td>{{ value }}</td>
                                                                            {% endfor %}
                                                                        </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                            <BR>
                                                        </div> <!--  end of table-responsiver -->
                                                    </div> <!--  end of col-scroll-wrapper -->

                                                {% else %}
                                                    <div class="card-body">
                                                        <h5> There are no Samples runs on this sequencer </h5>
                                                    </div> <!--// end panel -->
                                                {% endif %}
                                            </div> <!--// end panel -->
                                        </div> <!--// end col-sm-12  -->
                                    </div> <!--// end  tab {{sequencer}} -->
                                {% endfor %}
                            </div> <!--// end tabs -->
                        </div> <!--// end col-sm-12  -->
                    </div> <!--// end panel body-->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-12  -->
        </div> <!--// end row -->

        <div class="row mt-2 mb-4">
            <div class="col-sm-12" >
                <div class="card ">
                    <div class="card-header"><h3><center>Graphic Statistics for Investigator {{researcher_statistics.researcher_name}} </center></h3></div>
                    <div class="card-body">
                        <div class="col-sm-6" >
                            <!-- Showing graph-->
                            <div id="run_chart"> </div>
                                {{ researcher_statistics.run_graphic|safe }}
                        </div> <!--// end col-sm-6  -->
                        <div class="col-sm-6" >
                            <!-- Showing graph-->
                            <div id="project_chart"> </div>
                                {{ researcher_statistics.project_graphic|safe }}
                        </div> <!--// end col-sm-6  -->
                    </div> <!--  end of panel body -->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-8  -->
        </div> <!--// end row -->




        <div class="row mt-2 mb-4">
            <div class="col-sm-12" >
                <div class="card ">
                    <div class="card-header"><h3><center>Quality Statistics for Samples handled by  {{researcher_statistics.researcher_name}} </center></h3></div>
                    <div class="card-body">
                        <div class="col-sm-6" >
                            <!-- Showing graph-->
                            <div id="q30_chart"> </div>
                                {{ researcher_statistics.q30_graphic|safe }}
                        </div> <!--// end col-sm-6  -->
                        <div class="col-sm-6" >
                            <!-- Showing graph-->
                            <div id="mean_chart"> </div>
                                {{ researcher_statistics.mean_graphic|safe }}
                        </div> <!--// end col-sm-6  -->
                    </div> <!--  end of panel body -->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-8  -->
        </div> <!--// end row -->

        {% if researcher_statistics.comp_graphs %}
            <div class="row mt-2 mb-4">
                <div class="col-sm-12" >
                    <div class="card ">
                        <div class="card-header"><h3><center> {{researcher_statistics.researcher_name}} projects comparison </center></h3></div>
                        <div class="card-body">
                        <!-- comparations chart starts here-->

                        </div> <!--  end of panel body -->
                    </div> <!--// end panel -->
                </div> <!--// end col-sm-8  -->
            </div> <!--// end row -->
        {% endif %}
    <script>
        // Get the element with id="tablinksdefaultOpen" and click on it
        document.getElementById("tablinksdefaultOpen").click();
    </script>
    {% endif %}

{% else %}
    {% load user_groups %}
    <!-- FORM for searching project research  Information -->
    <div class="row mt-2 mb-4">
      <div class="col-sm-7" >
        <div class="card ">
          <div class="card-header"><h2>Statistics per Investigator</h2></div>
          <div class="card-body">
            <form method="post" enctype="multipart/form-data" name="statsresearcher" id="statsresearcher" class="form-horizontal well">
            {% csrf_token %}
            <input type="hidden" name="action" value="researcher"/>
             <div class="form-group required">
                  <label class="col-sm-5  control-label" for="researchername" >Investigator UserID </label>
                  {% if request.user|has_group:"WetlabManager" %}
                  <div class="col-sm-5"><input class="form-control" type="text" required = "required" name="researchername" id="reserchername" size="100" maxlength="100"></div>
                  {% else %}
                  <div class="col-sm-5"><input class="form-control" type="text" name="researchername" id="reserchername" value="{{user.get_username}}"  size="100" maxlength="100" placeholder="{{user.get_username}}" readonly></div>
                  {% endif %}
             </div>  <!-- end from-group   -->

                <br>

                <div class="form-group">
                  <label class="col-sm-5 control-label" for="startdate" >From Start Date (DD-MM-YYYY)</label>
                  <div class="col-sm-5"><input class="form-control" type="date" name="startdate" value="" id="startdate"></div>
                <br>
            </div>  <!-- end from-group   -->
                <div class="form-group">
                  <label class="col-sm-5 control-label" for="enddate" >End Date Search (DD-MM-YYYY)</label>
                  <div class="col-sm-5"><input class="form-control" type="date" name="enddate" value="" id="enddate"></div>
                <br>

            </div>  <!-- end from-group   -->
                <input class="btn pull-left btn-primary" type="reset" value="Reset Fields">
                <input class="btn pull-right btn-primary" type="submit" value="Submit">
            </form>
            <p> Fields marked with <FONT COLOR= "Red">*</FONT> are mandatory</p>
         </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->

        <!-- Insert the help panel -->
        <BR><BR>
        <div class="col-sm-3 offset-1">
          <div class="card ">
             <div class="card-header"><h5>Statistics information per Investigator</h5></div>
             <div class="card-body">
             <p>Statistics information for the projects created by a Investigator<BR>
             <p>For extended help click on the button below.</p>
            <center><button id="myBtn"> Help </button></center>
            </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        <!-- Insert the Help window when clicking on the button -->
        {% include 'wetlab/statistics-researcher-help.html' %}

    </div> <!--// end row -->
    <!-- End of FORM for searching RUN information -->

{% endif %}
{% endblock %}
