{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}
<style>
    .table-wrapper-sm-7 {
        max-height: 450px;
        overflow: auto;
        display:inline-block;
        width: 600px;
    }
    .table-wrapper-sm-10 {
        max-height: 450px;
        overflow: auto;
        display:inline-block;
        width: 950px;
    }
    .scrolling-wrapper {
            overflow-x: scroll;
            white-space: nowrap;
        }
</style>
{% if run_out_kits %}
    <div class="row my-2">
        <div class="col-sm-6 offset-2">
            <div class="card ">
                <div class="card-header"><h3>User Lot Commercial Kits Set to Run Out</h3></div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Lot number</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for lot in run_out_kits %}
                                <tr>
                                    <td>{{lot}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-11  -->
    </div> <!-- // end of row -->

{% else %}
    <div class="row my-2">
        <div class="col-sm-12">
            <div class="tab">
                <button class="tablinks" onclick="summaryBin(event, 'available_kits')" id="tablinksdefaultOpen">Available User Lot Commercial Kits </button>
                <button class="tablinks" onclick="summaryBin(event, 'expired_kits')">Expired User Lot Commercial Kits </button>


                <div id="available_kits" class="tabcontent">
                    <div class="col-sm-11" >
                        <div class="card ">
                            <div class="card-header"><h3>User Lot Commercial Kits for {{user_name}}</h3></div>
                            <div class="card-body">
                                {% if valid_kit %}
                                    <form method="post" enctype="multipart/form-data" name="runOutUserLotKit"  id="runOutUserLotKit" class="form-horizontal well">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="runOutUserLotKit"/>
                                        <div class="table-wrapper-sm-10">
                                            {% for key , values in valid_kit.data.items %}
                                                <h4>User kit for : {{key}} </h4>

                                                    <table class="table ">
                                                        <thead>
                                                            <tr>
                                                                {% for value in valid_kit.headings %}
                                                                    <th>{{value}}</th>
                                                                {% endfor %}
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {%for name, exp_date, n_uses, id in values %}
                                                                <tr>
                                                                    <td>{{name}}</td>
                                                                    <td>{{exp_date}}</td>
                                                                    <td>{{n_uses}}</td>
                                                                    <td><input type="checkbox" name="userKit" value="{{id}}"></td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <br><br>
                                            {% endfor %}
                                        </div> <!--  end of table wrapper  -->
                                        <br><br>
                                        <input class="btn float-end btn-outline-primary" type="submit" id = "btnSubmit" value="Submit">
                                    </form>
                                {% else %}
                                    <h5>There is not available User Lot Commercial Kits</h5>
                                {% endif %}
                            </div>  <!--  end of panel body  -->
                        </div> <!--// end panel -->
                    </div> <!--// end col-sm-11  -->
                </div> <!-- // end of tab available_kits -->

                <div id="expired_kits" class="tabcontent">
                    <div class="col-sm-11" >
                        <div class="card border-danger mb-3">
                            <div class="card-header"><h3>Expired User Lot Commercial Kits for {{user_name}}</h3></div>
                            <div class="card-body">
                                {% if expired_kit %}
                                    <div class="table-wrapper-sm-10">
                                        {% for key , values in expired_kit.data.items %}
                                            <h4>User kit for : {{key}} </h4>
                                            <table class="table ">
                                                <thead>
                                                    <tr>
                                                        {% for value in expired_kit.headings %}
                                                            <th>{{value}}</th>
                                                        {% endfor %}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {%for name, exp_date, percent in values %}
                                                        <tr>
                                                            <td>{{name}}</td>
                                                            <td>{{exp_date}}</td>
                                                            <td>{{percent}}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            <br><br>
                                        {% endfor %}
                                    </div> <!--  end of table wrapper  -->
                                {% endif %}
                            </div>  <!--  end of panel body  -->
                        </div> <!--// end panel -->
                    </div> <!--// end col-sm-11  -->
                </div> <!-- // end of tab available_kits -->
            </div> <!-- // end of tab  -->
            <script>
                // Get the element with id="tablinksdefaultOpen" and click on it
                document.getElementById("tablinksdefaultOpen").click();
            </script>
        </div> <!--// end col-sm-12  -->
    </div> <!--// end row -->
{% endif %}
{% endblock %}
