{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}
    {% csrf_token %}
{% if display_one_project %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7">
            <div class="panel panel-default">
            {% for key, values in display_one_project.p_data %} 
               {%if key == "Project Name" %}
                <div class="panel-heading">Information for the project : <strong>{{ values }}</strong>  </div>
               {%endif%}
            {% endfor %}
           <div class="panel-body">
             <div class="col-sm-6"> User Name </div>
             <div class="col-sm-6"> {{ display_one_project.user_name }}  </div>
               
             {% for key, values in display_one_project.p_data %}
               {% if "File to upload to BaseSpace" in key %}
                <div class="col-sm-6">{{ key }}</div>
                <div class="col-sm-6"><a href="{{ values }}" download>Library Kit File  <span class="glyphicon glyphicon-download-alt"></span></a></div>
               {% elif key == 'Project Name'%}
               {% elif key == 'Run name'%}
                     <div class="col-sm-6">{{ key }}</div>
                        <div class="con-sm-6"><a href="/wetlab/search_run={{ display_one_project.run_id }}">{{ values }}</a></div>
               {% else %}
                <div class="col-sm-6">{{ key }}</div>
                <div class="col-sm-6">   {{ values }}</div><BR> <BR>
               {% endif %}
            {% endfor %} 
           </div> <!--  end of panel body -->
          </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
              <!-- new panel on the right to show progress state -->
              <div class="col-sm-3 col-sm-offset-1">
                <BR>
                <div class="panel panel-default">
                <div class="panel-heading">Project State : <b>{{ display_one_project.state}} </b></div> 
                <div class="panel-body"> 
                    <div class="circle-progress {{ display_one_project.graphic_color }}">
                    {% if display_one_project.graphic_value > 50 %}
                        <span class="circle-progress-left">
                            <span class="circle-progress-bar"></span>
                        </span>
                    {% endif%}
                        <span class="circle-progress-right">
                            <span class="circle-progress-bar"></span>
                        </span>
                        <div class="circle-progress-value">{{ display_one_project.graphic_value }}%</div>
                    </div>
                </div> <!--  end of panel body -->
              </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-4 --> 
    </div> <!--  end of row -->
          {% if display_one_project.fl_summary %}
      <div class="row row-space-8 margin-b-1">
         <div class="col-sm-8 ">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Flowcell Summary for this project.</h3></div>
                <div class="panel-body"> 
                  <table class="table">
                      <thead>
                        <tr>
                        {% for values in display_one_project.fl_summary.0 %}
                          <th>{{ values }} </th> 
                        {%endfor%}
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                        {% for values in display_one_project.fl_summary.1 %}
                          <td>{{ values }} </td> 
                        {%endfor%}
                        </tr>
                      </tbody>
                  </table>
          
                </div> <!--  end of panel body -->
             </div> <!--  end of panel  -->
           </div> <!--  end of col-sm-4 -->              
      </div> <!--  end of row -->
        {% endif%}
        {% if display_one_project.lane_summary %}
      <div class="row row-space-10 margin-b-1">
         <div class="col-sm-10 ">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Lane Summary for this project.</h3></div>
                <div class="panel-body"> 
                  <table class="table">
                      <thead>
                        <tr>
                        {% for values in display_one_project.lane_summary.0 %}
                          <th>{{ values }} </th> 
                        {%endfor%}
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                        {% for values in display_one_project.lane_summary.1 %}
                          <td>{{ values }} </td> 
                        {%endfor%}
                        </tr>
                        <tr>
                        {% for values in display_one_project.lane_summary.2 %}
                          <td>{{ values }} </td> 
                        {%endfor%}
                        </tr>
                        <tr>
                        {% for values in display_one_project.lane_summary.3 %}
                          <td>{{ values }} </td> 
                        {%endfor%}
                        </tr>
                        <tr>
                        {% for values in display_one_project.lane_summary.4 %}
                          <td>{{ values }} </td> 
                        {%endfor%}
                        </tr>
                      </tbody>
                  </table>
          
                </div> <!--  end of panel body -->
             </div> <!--  end of panel  -->
           </div> <!--  end of col-sm-4 -->              
      </div> <!--  end of row -->
      
      {% if display_one_project.sample_table %}
      <div class="row row-space-10 margin-b-1">
         <div class="col-sm-10 ">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Samples used for this project.</h3></div>
                <div class="panel-body"> 
                  <table class="table table-hover">
                      <thead>
                        <tr>
                        {% for values in display_one_project.sample_heading %}
                          <th>{{ values }} </th> 
                        {%endfor%}
                        </tr>
                      </thead>
                      <tbody>
                          {% for values in display_one_project.sample_table %}
                            <tr>
                                {% for value in values %}
                                <td>{{ value }} </td> 
                                {%endfor%}
                            </tr>
                          {%endfor%}
                      </tbody>
                  </table>
          
                </div> <!--  end of panel body -->
             </div> <!--  end of panel  -->
           </div> <!--  end of col-sm-4 -->              
      </div> <!--  end of row -->
    {% endif%}
      
      
{% endif%}      
{% elif display_project_list %}
        <div class="row row-space-2 margin-b-4">
        <BR>
        <div class="col-sm-5 col-sm-offset-1">
            <div class="panel panel-default">
                <table class="table table-hover">
                   <thead>
                      <tr>
                        <th>The following projects are found for your search:</th>
                      </tr>
                   </thead>
                   <tbody>
                    {% for key, values in display_project_list.projects %}  
                     <tr>
                       <td><a href="/wetlab/search_project={{ values }}">{{ key }}</a> </td>
                     </tr>
                    {%endfor%}
                   </tbody>
                 </table>
           </div> <!--  end of panel body -->
          </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
   
{% else %}
<!-- FORM for searching  Project Information -->
    
    <div class="row row-space-4 margin-b-4">
      <div class="col-sm-7 col-sm-offset-1" >
        <div class="panel panel-default">
          <div class="panel-heading"><strong>Searching Project</strong></div>
          <div class="panel-body">
            <form method="post" enctype="multipart/form-data" name="searchproject" id="searchproject" class="form-horizontal well">
            {% csrf_token %}
            <input type="hidden" name="action" value="searchproject"/>
            <div class="form-group"> 
                  <label class="col-sm-5  control-label" for="projectname" >Fill the Project name </label>
                  <div class="col-sm-5"><input class="form-control" type="text" name="projectname" id="projectname" size="100" maxlength="100"></div>
             </div>  <!-- end from-group   -->
            <BR>
             <div class="form-group">
               <label class="col-sm-5 control-label" for="projectstate" >Project state</label>
               <div class="col-sm-4"><select class="form-control" name="projectstate" id="projectstate">
                               				<option value="">Choose a value  </option>
                                            <option value="Recorded">Recorded</option>
                                            <option value="Sample Sent">Sample Sent</option>
                                            <option value="B2FqExecuted">B2FqExecuted</option>
                                            <option value="Completed">Completed</option>
                                      </select>
               </div>  <!-- end select input -->
                <br>
             </div>  <!-- end from-group   -->
             <div class="form-group">
                <label class="col-sm-5 control-label" for="startdate" >From Date (YYYY-MM-DD)</label>
                <div class="col-sm-5"><input class="form-control" type="date" name="startdate" id="startdate" size="100" maxlength="100"></div>
                <br>
             </div>  <!-- end from-group   -->
             <br>
             <div class="form-group">
                <label class="col-sm-5 control-label" for="enddate" >End Date (YYYY-MM-DD)</label>
                <div class="col-sm-5"><input class="form-control" type="date" name="enddate" id="enddate" size="100" maxlength="100"></div>
                <br>
             </div>  <!-- end from-group   -->
             <br>
             <br>
            <div class="form-group"> 
                  <label class="col-sm-5  control-label" for="username" >Search from user name</label>
                  <div class="col-sm-5"><input class="form-control" type="text" name="username" id="username" size="100" maxlength="100"></div>
             </div>  <!-- end from-group   -->
            <br>
            <br>
                <input class="btn pull-left btn-primary" type="reset" value="Reset Fields">
                <input class="btn pull-right btn-primary" type="submit" value="Submit">
            </form>
         </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->

    <!-- End of FORM for searching Project information -->
    
{% endif %} 
    
{% endblock %}
