{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}
    {% csrf_token %}
{% if display_quarter_report %}
<script type="text/javascript" src="{% static "js/fusioncharts/js/fusioncharts.widgets.js" %}"></script>
<script type="text/javascript" src="{% static "js/fusioncharts/js/fusioncharts.js" %}"></script>
<script type="text/javascript" src="{% static "js/fusioncharts/js/themes/fusioncharts.theme.fint.js" %}"></script>
<script type="text/javascript" src="{% static "js/fusioncharts/js/themes/fusioncharts.theme.ocean.js" %}"></script>
<script type="text/javascript" src="{% static "js/fusioncharts/js/themes/fusioncharts.theme.zune.js" %}"></script>
<script type="text/javascript" src="{% static "js/fusioncharts/js/themes/fusioncharts.theme.carbon.js" %}"></script>
<!--  Start Run created during the Quarter   -->
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Runs performed on the Quarter {{ display_quarter_report.quarter_year }}.</h3></div>
                <div class="panel-body">
                {% if display_quarter_report.completed_run %}
                    <div class="col-sm-5">
                        <table class="table table-hover" >
                            <thead>
                                <tr><th>Runs on Completed state </th></tr>
                            </thead>
                            <tbody>
                            {% for runs in display_quarter_report.completed_run %}
                                <tr>
                                    <td>{{ runs }} </td>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </div> <!--  end of col-sm-5 -->
                {% endif %}
                {% if display_quarter_report.uncompleted_run %}
                    <div class="col-sm-5 col-sm-offset-1">
                        <table class="table table-hover">
                            <thead>
                                <tr><th>Not Completed Runs </th></tr>
                            </thead>
                            <tbody>
                            {% for runs in display_quarter_report.uncompleted_run %}
                                <tr>
                                    <td>{{ runs }} </td>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </div> <!--  end of col-sm-5 -->
                {% endif %}
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-6 -->
        {% if display_quarter_report.graphic_completed_run %}
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Relation of Completed and Unfinished Runs.</h3></div>
                <div class="panel-body">
                <!-- Pie chart for number of Runs comparations chart will start here-->
                    <div id="chart-1"> </div>
                    <!-- dumping JavaScript code here -->
                    {{ display_quarter_report.graphic_completed_run |safe }}

                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        {% endif %}
        </div> <!--  end of col-sm-5 -->
    </div> <!--  end of row -->
<!--  End Run created during the year   -->
<!--  Start Projects created by investigator during the Quarter   -->
    <div class="row row-space-2 margin-b-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Projects performed by investigator during Quarter {{ display_quarter_report.quarter_year }}.</h3></div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                    {% if display_quarter_report.user_5_projects %}
                        <table class="table table-hover" >
                            <thead>
                                <tr><th colspan="2">Investigators with projects < 5</th></tr>
                            </thead>
                            <tbody>
                            {% for investigator, projects in display_quarter_report.user_5_projects.items %}
                                <tr>
                                    <td>{{ investigator }} </td>
                                    <td>{{ projects|cut:"[" |cut:"]"}} </td>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    {% endif %}
                    </div> <!--  end of col-sm-4 -->
                    <div class="col-sm-4">
                    {% if display_quarter_report.user_10_projects %}
                        <table class="table table-hover" >
                            <thead>
                                <tr><th colspan="2">Investigators with projects < 10</th></tr>
                            </thead>
                            <tbody>
                            {% for investigator, projects in display_quarter_report.user_10_projects.items %}
                                <tr>
                                    <td>{{ investigator }} </td>
                                    <td>{{ projects|cut:"[" |cut:"]"}} </td>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    {% endif %}
                    </div> <!--  end of col-sm-4 -->
                    <div class="col-sm-4">
                    {% if display_quarter_report.user_more_10_projects %}
                        <table class="table table-hover" >
                            <thead>
                                <tr><th colspan="2">investigators with more than 10 projects</th></tr>
                            </thead>
                            <tbody>
                            {% for investigator, projects in display_quarter_report.user_more_10_projects.items %}
                                <tr>
                                    <td>{{ investigator }} </td>
                                    <td>{{ projects|cut:"[" |cut:"]"}} </td>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    {% endif %}
                    </div> <!--  end of col-sm-4 -->
                </div>   <!--  end of col-sm-12 -->
                <div class="col-sm-12">
                    <div class="col-sm-5">
                    <!-- Start graphics for projects created by investigator during the year   -->
                        <div id="p_user_chart-1"> </div>
                    <!-- dumping JavaScript code here -->
                    {{ display_quarter_report.p_user_quarter_graphic |safe }}
                    </div>   <!--  end of col-sm-5 -->
                    <div class="col-sm-5 col-sm-offset-1">
                    <!-- Start graphics for projects created by investigator during the year   -->
                        <div id="p_user_chart-2"> </div>
                    <!-- dumping JavaScript code here -->
                    {{ display_quarter_report.pie_p_user_quarter_graphic |safe }}


                    <!-- End graphics for projects created by investigator during the year   -->
                    </div>   <!--  end of col-sm-5 -->
                </div>   <!--  end of col-sm-12 -->
            </div> <!--  end of panel body -->
        </div> <!--  end of panel  -->

    </div> <!--  end of row -->

<!--  End Projects created by investigator during the year   -->
    <!--  Q30 year report -->
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Percentage of quality >30 for the Quarter {{ display_quarter_report.quarter_year }}.</h3></div>
                <div class="panel-body">
                {% if display_quarter_report.q30_data %}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th> Run name </th>
                                    <th> >Q30 (%)</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key, values in display_quarter_report.q30_data.items %}
                                <tr>
                                    <td>{{ key }} </td>
                                    <td>{{ values }} </td>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                {% endif %}
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-6 -->
        {% if display_quarter_report.q30_graphic %}
        <div class="col-sm-7 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Relation of Q 30 for the Quarter {{ display_quarter_report.quarter_year }}.</h3></div>
                <div class="panel-body">
                <!-- Pie chart for number of Runs comparations chart will start here-->
                    <div id="q30_chart-2"> </div>
                    <!-- dumping JavaScript code here -->
                    {{ display_quarter_report.q30_graphic |safe }}

                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        {% endif %}
        </div> <!--  end of col-sm-5 -->
    </div> <!--  end of row -->

    <!--  Aligned year report -->
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Percentage of aligned for the Quarter {{ display_quarter_report.quarter_year }}.</h3></div>
                <div class="panel-body">
                {% if display_quarter_report.aligned_data %}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th> Run name </th>
                                    <th> Aligned (%)</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key, values in display_quarter_report.aligned_data.items %}
                                <tr>
                                    <td>{{ key }} </td>
                                    <td>{{ values }} </td>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                {% endif %}
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-6 -->
        {% if display_quarter_report.aligned_graphic %}
        <div class="col-sm-7 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Aligned for the Quarter {{ display_quarter_report.quarter_year }}.</h3></div>
                <div class="panel-body">
                <!-- Pie chart for number of Runs comparations chart will start here-->
                    <div id="aligned_chart-3"> </div>
                    <!-- dumping JavaScript code here -->
                    {{ display_quarter_report.aligned_graphic |safe }}

                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        {% endif %}
        </div> <!--  end of col-sm-5 -->
    </div> <!--  end of row -->

    <!--  Error Rate year report -->
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Error rate for the Quarter {{ display_quarter_report.quarter_year }}.</h3></div>
                <div class="panel-body">
                {% if display_quarter_report.error_rate_data %}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th> Run name </th>
                                    <th> Error rate</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key, values in display_quarter_report.error_rate_data.items %}
                                <tr>
                                    <td>{{ key }} </td>
                                    <td>{{ values }} </td>
                                </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                {% endif %}
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-6 -->
        {% if display_quarter_report.error_rate_graphic %}
        <div class="col-sm-7 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Error Rate for the Quarter {{ display_quarter_report.quarter_year }}.</h3></div>
                <div class="panel-body">
                <!-- Pie chart for number of Runs comparations chart will start here-->
                    <div id="error_rate_chart-4"> </div>
                    <!-- dumping JavaScript code here -->
                    {{ display_quarter_report.error_rate_graphic |safe }}

                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        {% endif %}
        </div> <!--  end of col-sm-5 -->
    </div> <!--  end of row -->


{% else %}
    <!-- FORM for selecting Quarter Report Information -->

    <div class="row row-space-2 margin-b-4">
      <div class="col-sm-7" >
        <div class="panel panel-default">
          <div class="panel-heading"><strong>Form for Quarter Report</strong></div>
          <div class="panel-body">
            <form method="post" enctype="multipart/form-data" name="searchquarterreport" id="searchquarterreport" class="form-horizontal well">
            {% csrf_token %}
            <input type="hidden" name="action" value="searchQuarterReport"/>
             <br>
                <div class="form-group required">
                    <label class="col-sm-6 control-label" for="yearselected" >Select the year for the annual Report (YYYY)</label>
                    <div class="col-sm-4"><input class="form-control" type="number" min="2016" max="2199" step="1" required = "required" value="" name="yearselected"  id="yearselected"></div>
                </div>  <!-- end from-group   -->
                <div class="form-group required">
                    <label class="col-sm-6 control-label" for="quarter" >Select the Quarter </label>
                    <div class="col-sm-4"><select class="form-control" name="quarter" id="quarter" required = "required">
                               				<option value="">Choose a value</option>
                                            <option value="1">First Quarter (January -- March)</option>
                                            <option value="2">Second Quarter (Appril -- June)</option>
                                            <option value="3">Third Quarter (July -- September)</option>
                                            <option value="4">Fourth Quarter (October -- December)</option>
                                      </select>
               </div>  <!-- end select input -->

                </div>  <!-- end from-group   -->
            <br>
                <input class="btn pull-left btn-primary" type="reset" value="Reset Fields">
                <input class="btn pull-right btn-primary" type="submit" value="Submit">
            </form>
         </div>  <!--  end of panel body  -->
        <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>
        </div> <!--// end panel -->

        </div> <!--// end col-sm-7  -->

        <!-- Insert the help panel -->
        <BR><BR>
        <div class="col-sm-3 col-sm-offset-1">
          <div class="panel panel-default">
             <div class="panel-heading">Quarter Report information</div>
             <div class="panel-body">
             <p>Quarter reports generate graphics and data for all runs that have been started on the selected quarter of the year. <BR>
             <p>For extended help click on the button below.</p>
            <center><button id="myBtn"> Help </button></center>
            </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        <!-- Insert the Help window when clicking on the button -->
        {% include 'wetlab/annual-Report-help.html' %}

    </div> <!--// end row -->

    <!-- End of FORM for Anual Report information -->


{% endif %}
{% endblock %}
