{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}
    {% csrf_token %}
    {% if display_one_run %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7">
            <div class="panel panel-default">
            {% for key, values in display_one_run.data %} 
               {%if key == "Run name" %}
                <div class="panel-heading">Information for the run : <strong>{{ values }}</strong>  </div>
               {%endif%}
            {% endfor %}
           <div class="panel-body"> 
             {% for key, values in display_one_run.data %}
               {% if "Sample" in key %}
                <div class="col-sm-6">{{ key }}</div>
                <div class="col-sm-6"><a href="/wetlab/documents/{{ values }}" download>{{ values|cut:"documents/" }}<span class="glyphicon glyphicon-download-alt"></span></a></div><BR> <BR>
               {% elif key == 'Run name'%}
               {% else %}
                <div class="col-sm-6">{{ key }}</div>
                <div class="col-sm-6">   {{ values }}</div><BR> <BR>
               {% endif %}
            {% endfor %} 
                 </div> <!--  end of panel body -->
              </div> <!--  end of panel  -->
             </div> <!--  end of col-sm-7 -->
              <!-- new panel on the right to show progress state -->
              <div class="col-sm-4 col-sm-offset-1">
                <BR>
                <div class="panel panel-default">
                <div class="panel-heading">State run :  </div> 
                <div class="panel-body"> 
                    <img class="promo-block-img img-responsive" src="/static/wetlab/img/percentage/{{ display_one_run.graphic }}"  align="Avatar">
                </div> <!--  end of panel body -->
              </div> <!--  end of panel  -->
             </div> <!--  end of col-sm-4 --> 
             <BR>
             <BR>
             <div class="col-sm-4 col-sm-offset-1">
                <BR>
                <div class="panel panel-default">
                <div class="panel-heading">Associate projects: </div> 
                <div class="panel-body"> The following projects are associate to the run:
                    <ul>
                      <li>Project 1 </li>
                      <li>Project 2</li>
                    </ul>
                </div> <!--  end of panel body -->
              </div> <!--  end of panel  -->
             </div> <!--  end of col-sm-4 -->
             
         </div> <!--  end of row -->
    
    {% elif display_run_list %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading">The following list matches with yor search: </div>
                <div class="panel-body">
                {% for key, values in display_run_list %} 
                    <div class="col-sm-6"><a href="/wetlab/search_run={{ values }}">{{ key }}</a></div><BR>
                 {% endfor %}     
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->      
                
    {% elif display_project_info %}
    
    
    
    {% elif display_project_list %}
    
    
    {% else %}
    <!-- FORM for searching RUN  Information -->
  
    <div class="row row-space-2 margin-b-4">
      <div class="col-sm-7" >
        <div class="panel panel-default">
          <div class="panel-heading"><strong>Searching RUN</strong></div>
          <div class="panel-body">
            <form method="post" enctype="multipart/form-data" name="searchrun" id="searchrun" class="form-horizontal well">
            {% csrf_token %}
            <input type="hidden" name="action" value="runsearch"/>
             <div class="form-group"> 
                  <label class="col-sm-5  control-label" for="runname" >Fill the RUN name </label>
                  <div class="col-sm-5"><input class="form-control" type="text" name="runname" id="runname" size="100" maxlength="100"></div>
             </div>  <!-- end from-group   -->
             <div class="form-group">
                <label class="col-sm-5 control-label" for="runfuzzysearch" >Fuzzy Search for Run</label>
                <div class="col-sm-1"><input class="form-control align-left" type="checkbox" name="runfuzzysearch" value="runfuzzy" id="runfuzzysearch"></div>
                <br>
             </div>  <!-- end from-group   -->
             <div class="form-group">
               <label class="col-sm-5 control-label" for="runstate" >Run state</label>
               <div class="col-sm-4"><select class="form-control" name="runstate" id="runstate">
                               				<option value="">Choose a value</option>
                                            <option value="Recorded">Recorded</option>
                                            <option value="SampleSent">SampleSent</option>
                                            <option value="B2FqExecuted">B2FqExecuted</option>
                                            <option value="Completed">Completed</option>
                                      </select>
               </div>  <!-- end select input -->
                <br>
             </div>  <!-- end from-group   -->
                <div class="form-group">
                  <label class="col-sm-5 control-label" for="startdate" >From Start Date (YYYY-MM-DD)</label>
                  <div class="col-sm-5"><input class="form-control" type="date" name="startdate" value="" id="startdate"></div>
                <br>
            </div>  <!-- end from-group   -->
                <div class="form-group">
                  <label class="col-sm-5 control-label" for="enddate" >End Date Search (YYYY-MM-DD)</label>
                  <div class="col-sm-5"><input class="form-control" type="date" name="enddate" value="" id="enddate"></div>
                <br>
             <div class="form-group">
                <label class="col-sm-5 control-label" for="searchall" >All Fields must be considered </label>
                <div class="col-sm-1"><input class="form-control align-left" type="checkbox" name="searchall" value="searchall" id="searchall"></div>
                <br>
            </div>  <!-- end from-group   -->
            </div>  <!-- end from-group   -->
                <input class="btn pull-left btn-primary" type="reset" value="Reset Fields">
                <input class="btn pull-right btn-primary" type="submit" value="Submit">
            </form>
         </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
 
        <!-- Insert the help panel -->
        <BR><BR>
        <div class="col-sm-3 col-sm-offset-1">
          <div class="panel panel-default">
             <div class="panel-heading">Searching information of the RUN</div>
             <div class="panel-body">
             <p>Searching information can be done on Runs or on Projects: <BR>
             <p>For extended help click on the button below.</p>
            <center><button id="myBtn"> Help </button></center>
            </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        <!-- Insert the Help window when clicking on the button -->
        {% include 'wetlab/search-help.html' %}
 
    </div> <!--// end row -->

    <!-- End of FORM for searching RUN information -->

<!-- FORM for searching  Project Information -->
    
    <div class="row row-space-4 margin-b-4">
      <div class="col-sm-7 col-sm-offset-1" >
        <div class="panel panel-default">
          <div class="panel-heading"><strong>Searching Project</strong></div>
          <div class="panel-body">
            <form method="post" enctype="multipart/form-data" name="searchproject" id="searchproject" class="form-horizontal well">
            {% csrf_token %}
            <input type="hidden" name="action" value="projectinfo"/>
            <div class="form-group"> 
                  <label class="col-sm-5  control-label" for="projectname" >Fill the Project name </label>
                  <div class="col-sm-5"><input class="form-control" type="text" name="projectname" id="projectname" size="100" maxlength="100"></div>
             </div>  <!-- end from-group   -->
             <div class="form-group">
                <label class="col-sm-5 control-label" for="projectfuzzysearch" >Fuzzy Search </label>
                <div class="col-sm-1"><input class="form-control align-left" type="checkbox" name="projectfuzzysearch" value="runfuzzy" id="projectfuzzysearch"></div>
                <br>
             </div>  <!-- end from-group   -->
             <div class="form-group">
               <label class="col-sm-5 control-label" for="projectstate" >Project state</label>
               <div class="col-sm-4"><select class="form-control" name="projectstate" id="projectstate">
                               				<option value="">Choose a value  </option>
                                            <option value="Recorded">Recorded</option>
                                            <option value="B2FqExecuted">B2FqExecuted</option>
                                            <option value="Completed">Completed</option>
                                      </select>
               </div>  <!-- end select input -->
                <br>
             </div>  <!-- end from-group   -->
             <div class="form-group">
                <label class="col-sm-5 control-label" for="projectdate" >From Date Search (YYYY-MM-DD)</label>
                <div class="col-sm-5"><input class="form-control" type="date" name="projectdate" id="projectdate" size="100" maxlength="100"></div>
                <br>
             </div>  <!-- end from-group   -->
             <br>
             <br>
            <div class="form-group"> 
                  <label class="col-sm-5  control-label" for="username" >Search from user name</label>
                  <div class="col-sm-5"><input class="form-control" type="text" name="username" id="username" size="100" maxlength="100"></div>
             </div>  <!-- end from-group   -->
            <br>
            <br>
                <input class="btn pull-left btn-primary" type="reset" value="Reset Fields">
                <input class="btn pull-right btn-primary" type="submit" value="Submit">
            </form>
         </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->

    <!-- End of FORM for searching Project information -->
    {% endif %}
{% endblock %}
