{% extends 'wetlab/base.html' %}
{% load static %}_
{% block content %}
{% csrf_token %}
<!-- editable select STYLES -->
<link rel="stylesheet" href="http://apps.bdimg.com/libs/fontawesome/4.4.0/css/font-awesome.min.css">
    <link href="{% static "/css/editable-select.css" %}" rel="stylesheet" type="text/css"/>



    <!-- Prepare the FORM for step 2 -->
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-8" >
        <div class="panel panel-default">
          <div class="panel-heading">Form to upload the Sample Sheet file. Run Parameters definition</div>
          <div class="panel-body">
            <form method="post" required name="getSample2" id="getSample2" class="form-horizontal">
            {% csrf_token %}
                <input type="hidden"name="action" value="displayResult"/>
                    <div class="form-group required">
                        <label class="col-sm-4 control-label"  for="experimentname">Experiment Name : </label>
                        <div class="col-sm-6"><input class="form-control" required = "required" type="text" name="experimentname" size="60" maxlength="50" value=""></div>
                        <br><br>
                        <label class="col-sm-4 control-label" for="indexlibraryname">Index Library Name : </label>
                        <div class="col-sm-6"><input class="form-control" type="text" name="indexlibraryname" size="60" maxlength="50" value=""></div>
                        <br><br>
                    </div>
                              
                         <div class="form-group required">
                             <label class="col-sm-10" for="project">Project name : </label><br>
                               <input type="hidden" name="project" value=""/>
                             <label class="col-sm-4 control-label" for="username" >User name : </label>
                            <div class="col-sm-6"><input class="form-control" required = "required" type="text" name="username" size="60" maxlength="50" value=""></div>
                            <br><br>
                            <label class="col-sm-4 control-label" for="indexlibraryname">Index Library Name : </label>
                            <div class="col-sm-6"><input class="form-control" type="text" name="indexlibraryname" size="60" maxlength="50" value=""></div>

                            <br><br>
                            <label class="col-sm-4 control-label for="libkit" >UsedLibrary Kit : </label>
                             <div class="col-sm-6">
                                 <select  class="form-control" id="dropdown" name="libraryKit">
                                     <option value="NEW">New value</option>
                                    <option value="jQuery">jQuery estilizado con sabor frutas</option>
                                    <option value="HTML">HTML</option>
                                    <option value="CSS">CSS</option>
                                    <option value="Bootstrap">Bootstrap</option>

                                 </select>
                            </div>
                            <label class="col-sm-4" for="newlibraryname"></label>
                            <div class="col-sm-6"><input class="form-control" type="text" name="newlibrarykit" size="60" maxlength="50" value="" id="textInput" ></div>
                        </div>
                        <div class="form-group required">
                        <label class="col-sm-10" for="project">Project name : </label><br>
                               <input type="hidden" name="project" value=""/>
                             <label class="col-sm-4 control-label" for="username" >User name : </label>
                            <div class="col-sm-6"><input class="form-control" required = "required" type="text" name="username" size="60" maxlength="50" value=""></div>
                            <br><br>
                            <label class="col-sm-4 control-label" for="indexlibraryname">Index Library Name : </label>
                        <div class="col-sm-6"><input class="form-control" type="text" name="indexlibraryname" size="60" maxlength="50" value=""></div>
                            <br><br>
                      
                            <label class="col-sm-4 control-label for="libkit" >UsedLibrary Kit : </label>
                             <div class="col-sm-6">
                                 <select  class="form-control" id="dropdown1"name="libraryKit">
                                     <option value="NEW">New value</option>
                                  <option value="hora">hora </option>
                                    <option value="minutos">minutos </option>
                                    <option value="segundos">segundos</option>
                                    <option value="prueba">prueba</option>

                                 </select>
                            </div>
                            
                            <label class="col-sm-4" for="newlibraryname"></label>
                            <div class="col-sm-6"><input class="form-control" required = "required" type="text" name="newlibrarykit" size="60" maxlength="50" value="" id="textInput1" ></div>
                        </div>
                            
                            <br><br>
                     <input type="hidden" name="runname" value="{{get_user_names.runname}}"/>
                    
                    <br>
                    <br>
                    <input class="btn pull-right btn-primary" type="submit" value="Submit">
                </div>
            </form>
        <p> Fields marked with <FONT COLOR= "Red">*</FONT> are mandatory</p>
           
<!-- script for adding new value in the library kit select  -->
        
          <script> 
                
            $('#dropdown').change(function() {
                if( $(this).val() == "NEW") {
                    $('#textInput').prop( "disabled", false );
                } else {
                    var a = document.getElementById("textInput");
                    a.value = "";       
                    $('#textInput').prop( "disabled", true );
                    
                }
            });
            
             $('#dropdown1').change(function() {
                if( $(this).val() == "NEW") {
                    $('#textInput1').prop( "disabled", false );
                } else {
                    var a = document.getElementById("textInput1");
                    a.value = "";       
                    $('#textInput1').prop( "disabled", true );
                    
                }
            });    
            $(document).ready(function() { 
                 $(window).keydown(function(event){ 
                        if(event.keyCode == 13) { 
                            event.preventDefault(); 
                            return false; 
                        } 
                    }); 
            }); 
        </script>
        <!--script ends here--> 
          
          
{% endblock %}
