{% extends 'iSkyLIMS_drylab/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
{% include "iSkyLIMS_core/graphic_chart_functionality.html" %}
<style>
    .scrolling-wrapper {
        overflow-x: auto;
        overflow-y: auto;
        white-space: nowrap;
        height: 400px;
 </style>
 <style>
     .scrolling-wrapper-short {
         overflow-x: auto;
         overflow-y: auto;
         white-space: nowrap;
         height: 200px;
</style>
<style>
  /* Style the tab content inside a tab content */
    .tabcontent2 {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>
    <h1><div class="color-heading">Pending Services</div></h1>
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12">
            <div class="tab">
                <button class="tablinks" onclick="summaryBin(event, 'pending_services')"  id="defaultOpen">List of Pending Services</button>
                <button class="tablinks" onclick="summaryBin(event, 'my_pendings')">My Pending Taks</button>
            </div> <!--  end tabs -->
            <div class="row row-space-2 margin-b-4">
             <!-- Resolution and Delivery Information from service -->
                <div id="pending_services" class="tabcontent">
                    <div class="col-sm-12">
                        <div class="tab">
                            <button class="tablinks2" onclick="opentabinsidetab(event, 'recorded')">Recorded Services</button>
                            <button class="tablinks2" onclick="opentabinsidetab(event, 'queued')">Services in Queued</button>
                            <button class="tablinks2" onclick="opentabinsidetab(event, 'inprogress')">Services in Progress</button>
                            <button class="tablinks2" onclick="opentabinsidetab(event, 'graphicServices')" id="defaultOpen2">Services Pending Graphic</button>
                            <button class="tablinks2" onclick="opentabinsidetab(event, 'graphicUnitServices')">Pending Services per Unit</button>
                        </div> <!--  end tabs -->

                        <div id="recorded" class="tabcontent2">
                            <div class="row row-space-2 margin-b-4">
                                <div class="col-sm-8">  <!-- first column with list of pending services in state Recorded and Approved -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading"><h3 style="text-align:center">List of Services in Recorded State</h3></div>
                                        <div class="panel-body">
                                            {% if pending_services.recorded %}
                                                <div class="scrolling-wrapper">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Services Request ID</th>
                                                                <th>Requested Center</th>
                                                                <th>Created by</th>
                                                                <th>Creation Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for key, values in pending_services.recorded.items %}
                                                                <tr>
                                                                    {% for requestID, center, user, date in values %}
                                                                        <td><a href="/drylab/display_service={{ key }}">{{ requestID }}</a> </td>
                                                                        <td> {{ center }} </td>
                                                                        <td>{{user}}</td>
                                                                        <td>{{date}}</td>
                                                                    {% endfor %}
                                                                </tr>
                                                            {%endfor%}
                                                        </tbody>
                                                    </table>
                                                </div> <!--  end of scrolling wrapper -->
                                            {% else %}
                                                There is not pending services in <b>RECORDED</b> state.
                                            {% endif%}
                                        </div> <!--// end panel body -->
                                    </div> <!--// end panel -->
                                </div> <!--// end col-sm-7  list of pending services in state Recorded and Approved -->
                            </div> <!--// end row -->
                        </div><!-- // end of tab Recorded Services -->

                        <div id="graphicServices" class="tabcontent2">
                            <div class="row row-space-2 margin-b-4">
                                <div class="col-sm-8 col-sm-offset-2"> <!-- Graphic -->
                                    {% if pending_services.graphic_pending_services %}
                                        <div class="panel panel-default">
                                            <div class="panel-heading"><h3>Percentage of pending Services.</h3></div>
                                            <div class="panel-body">
                                            <!-- Pie chart for number of pending Services chart will start here-->
                                                <div id="chart-1"> </div>
                                                <!-- dumping JavaScript code here -->
                                                {{ pending_services.graphic_pending_services |safe }}
                                            </div> <!--  end of panel body -->
                                        </div> <!--  end of panel  -->
                                    {% endif %}
                                </div> <!--  end of col-sm-8  -->
                            </div> <!--// end row -->
                        </div><!-- // end of tab Graphic Services -->

                        <div id="graphicUnitServices" class="tabcontent2">
                            <div class="row row-space-2 margin-b-4">
                                <div class="col-sm-8 col-sm-offset-2"> <!-- Graphic -->
                                    {% if pending_services.graphic_pending_services %}
                                        <div class="panel panel-default">
                                            <div class="panel-heading"><h3>Pending Services per Unit.</h3></div>
                                            <div class="panel-body">
                                            <!-- Pie chart for number of pending Services chart will start here-->
                                                <div id="chart-2"> </div>
                                                <!-- dumping JavaScript code here -->
                                                {{ pending_services.graphic_pending_unit_services |safe }}
                                            </div> <!--  end of panel body -->
                                        </div> <!--  end of panel  -->
                                    {% endif %}
                                </div> <!--  end of col-sm-8  -->
                            </div> <!--// end row -->
                        </div><!-- // end of tab Graphic Services -->

                        <div id="queued" class="tabcontent2">
                            <div class="row row-space-2 margin-b-4">
                                <div class="col-sm-12">  <!-- Queued  pending services -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading"><h3 style="text-align:center">List of Services in Queued State</h3></div>
                                        <div class="panel-body">
                                            {% if pending_services.heading_queued %}
                                                <div class="scrolling-wrapper">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                {% for column in pending_services.heading_queued %}
                                                                    <th>{{column}}</th>
                                                                {% endfor %}
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for s_id, s_name, res_name , s_acronym, assigned, queued_date, estimated_date in pending_services.queued %}
                                                                <tr>
                                                                    <td><a href="/drylab/display_service={{ s_id }}">{{ s_name }}</a> </td>
                                                                    <td> {{ res_name }}</td>
                                                                    <td> {{ s_acronym }}</td>
                                                                    <td> {{ assigned }}</td>
                                                                    <td> {{ queued_date }}</td>
                                                                    <td> {{ estimated_date }} </td>
                                                                </tr>
                                                            {%endfor%}
                                                        </tbody>
                                                    </table>
                                                </div> <!--  end of scrolling wrapper -->
                                            {% else %}
                                                There is not pending services in <b>QUEUED</b> state.
                                          {% endif%}
                                        </div> <!--// end panel body -->
                                    </div> <!--// end panel -->
                                </div> <!--// end col-sm-12  Queued  pending services  -->
                            </div> <!--// end row -->
                        </div><!-- // end of tab Queued Services -->

                        <div id="inprogress" class="tabcontent2">
                            <div class="row row-space-2 margin-b-4">
                                <div class="col-sm-12">  <!-- In Progress  pending services -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading"><h3 style="text-align:center">List of Services in In Progress State</h3></div>
                                        <div class="panel-body">
                                            {% if pending_services.in_progress %}
                                                <div class="scrolling-wrapper">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                 {% for column in pending_services.heading_in_progress %}
                                                                     <th>{{column}}</th>
                                                                 {% endfor %}
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for s_id, s_name, res_name , s_acronym, assigned, queued_date, estimated_date in pending_services.in_progress %}
                                                                <tr>
                                                                    <td><a href="/drylab/display_service={{ s_id }}">{{ s_name }}</a> </td>
                                                                    <td> {{ res_name }}</td>
                                                                    <td> {{ s_acronym }}</td>
                                                                    <td> {{ assigned }}</td>
                                                                    <td> {{ queued_date }}</td>
                                                                    <td> {{ estimated_date }} </td>
                                                                </tr>
                                                            {%endfor%}
                                                        </tbody>
                                                    </table>
                                                </div> <!--  end of scrolling wrapper -->
                                            {% else %}
                                                There is not pending services in <b>IN PROGRESS</b> state.
                                            {% endif%}
                                        </div> <!--// end panel body -->
                                    </div> <!--// end panel -->
                            </div> <!--// end col-sm-12  In Progress  pending services  -->
                            </div> <!--// end row -->
                        </div><!-- // end of tab inprogress Services -->
                    </div> <!--// end col-sm-12  -->
                </div><!-- // end of tab pending_services -->

                <div id="my_pendings" class="tabcontent">

                    {% if not user_pending_services.heading_in_queued  and not user_pending_services.heading_in_progress %}
                        <div class="row row-space-2 margin-b-4">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 style="text-align:center">Pending tasks</h3></div>
                                    <div class="panel-body">
                                        <h5 style="text-align:center">No tasks are assigned to you.</h5>
                                    </div> <!--// end panel body -->
                                </div> <!--// end panel -->
                            </div> <!--// end row -->
                        </div> <!--// end row -->
                    {% else %}
                        <div class="row row-space-2 margin-b-4">
                            <div class="col-sm-12">  <!-- Queued  pending services -->
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 style="text-align:center">List of Resolutions in Queued State</h3></div>
                                    <div class="panel-body">
                                        {% if user_pending_services.heading_in_queued %}
                                            <div class="scrolling-wrapper-short">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            {% for column in user_pending_services.heading_in_queued %}
                                                                <th>{{column}}</th>
                                                            {% endfor %}
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for s_id, s_name, res_name , s_acronym,  queued_date, estimated_date in user_pending_services.queued %}
                                                            <tr>
                                                                <td><a href="/drylab/display_service={{ s_id }}">{{ s_name }}</a> </td>
                                                                <td> {{ res_name }}</td>
                                                                <td> {{ s_acronym }}</td>
                                                                <td> {{ queued_date }}</td>
                                                                <td> {{ estimated_date }} </td>
                                                            </tr>
                                                        {%endfor%}
                                                    </tbody>
                                                </table>
                                            </div> <!--  end of scrolling wrapper -->
                                        {% else %}
                                            <h5 style="text-align:center">You do not have resolutions in QUEUED state</h5>
                                        {% endif%}
                                    </div> <!--// end panel body -->
                                </div> <!--// end panel -->
                            </div> <!--// end col-sm-12  In Queued  pending services  -->
                        </div> <!--// end row -->

                        <div class="row row-space-2 margin-b-4">
                            <div class="col-sm-12">  <!-- in progress  pending services -->
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 style="text-align:center">List of Resolutions in Progress State</h3></div>
                                    <div class="panel-body">
                                        {% if user_pending_services.heading_in_progress %}
                                            <div class="scrolling-wrapper-short">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            {% for column in user_pending_services.heading_in_queued %}
                                                                <th>{{column}}</th>
                                                            {% endfor %}
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for s_id, s_name, res_name , s_acronym,  queued_date, estimated_date in user_pending_services.in_progress %}
                                                            <tr>
                                                                <td><a href="/drylab/display_service={{ s_id }}">{{ s_name }}</a> </td>
                                                                <td> {{ res_name }}</td>
                                                                <td> {{ s_acronym }}</td>
                                                                <td> {{ queued_date }}</td>
                                                                <td> {{ estimated_date }} </td>
                                                            </tr>
                                                        {%endfor%}
                                                    </tbody>
                                                </table>
                                            </div> <!--  end of scrolling wrapper -->
                                        {% else %}
                                            <h5 style="text-align:center">You do not have resolutions in progress state</h5>
                                        {% endif%}
                                    </div> <!--// end panel body -->
                                </div> <!--// end panel -->
                            </div> <!--// end col-sm-12  In Progress  pending services  -->
                        </div> <!--// end row -->
                    {% endif %}
                </div><!-- // end of tab my_pendings -->
            </div> <!--//end col-sm-12 -->
        </div> <!--//end col-sm-12 -->
    </div>   <!--// end row -->

<script>
    function opentabinsidetab(evt, tabName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent2");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks2");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
<script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    document.getElementById("defaultOpen2").click();
</script>
{% endblock %}
