{% extends 'iSkyLIMS_drylab/base.html' %}
{% load static %}
{% block content %}
{% if ERROR %}
    <div class="row row-space-2 margin-b-4">
        <BR>
        <div class="col-sm-6  col-sm-offset-3"">
            <div class="panel panel-warning">
                <div class="panel-heading"><h3> Result of your request</h3></div>
                <div class="panel-body">
                    {% for message in ERROR %}
                        <p>{{message}}</p>
                    {% endfor %}
                </div> <!--  end of panel body -->
           </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-6 -->
    </div> <!--// end row -->
{% endif %}
{% if display_multiple_services %}
    <script type="text/javascript" src="{% static 'iSkyLIMS_common_static/js/customized.js' %}"></script>
    <div class="row row-space-2 margin-b-4">
        <BR>
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3> These Services have matched your query :</h3></div>
                <div class="panel-body">
                    <button onclick="exportTableToExcel('servicesFound')" class="btn pull-right">Export Table To Excel <span class="glyphicon glyphicon-download-alt"></span></button>
                    <table class="table table-hover" id="servicesFound">
                       <thead>
                          <tr>
                            <th>Service Request ID </th>
                            <th>Status</th>
                            <th>Recorded Date</th>
                            <th>Approved Date</th>
                            <th>Rejected Date</th>
                            <th>Delivery Date</th>
                            <th>Center</th>
                            <th>Project names</th>
                            <th>Run name</th>
                          </tr>
                       </thead>
                       <tbody>
                        {% for key, values in display_multiple_services.s_list.items %}
                         <tr>
                            {% for serviceID, status, dates ,center, projects, runs   in values %}
                                <td><a href="/drylab/display_service={{ key }}">{{ serviceID }}</a> </td>
                                <td> {{ status }} </td>
                                {% for date in dates %}
                                    <td>{{date}}</td>
                                {% endfor %}
                                <td>{{ center }}</td>
                                <td> {% for project in projects %}{{ project }}<br>{% endfor %} </td>
                                <td> {% for run in runs %}{{ run }}<br>{% endfor %} </td>

                            {%endfor%}
                         </tr>
                        {%endfor%}
                       </tbody>
                     </table>
           </div> <!--  end of panel body -->
          </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-9 -->
    </div> <!--// end row -->

{% else %}

<!-- FORM for searching  Service  -->

    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-7 col-sm-offset-1" >
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Searching Services</strong></div>
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data" name="searchservice" id="searchservice" class="form-horizontal well">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="searchservice"/>
                        <div class="form-group">
                            <label class="col-sm-5  control-label" for="servicenumber" >Search by service number </label>
                            <div class="col-sm-5"><input class="form-control" type="text" name="servicenumber" id="servicenumber" size="100" maxlength="100"></div>
                        </div>  <!-- end from-group   -->
                        <BR>
                        <div class="form-group">
                            <label class="col-sm-5 control-label" for="servicestate" >Service state</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="servicestate" id="servicestate">
                                    <option value="">Choose a value  </option>
                                    {% for key, value in services_search_list.states %}
                                        <option value="{{ key }}">{{value}}</option>
                                    {% endfor %}
                                </select>
                            </div>  <!-- end select input -->
                            <br>
                        </div>  <!-- end from-group   -->
                        <div class="form-group">
                            <label class="col-sm-5 control-label" for="startdate" >From Date (DD-MM-YYYY)</label>
                            <div class="col-sm-5"><input class="form-control" type="date" name="startdate" id="startdate" size="100" maxlength="100"></div>
                            <br>
                        </div>  <!-- end from-group   -->
                        <br>
                        <div class="form-group">
                            <label class="col-sm-5 control-label" for="enddate" >End Date (DD-MM-YYYY)</label>
                            <div class="col-sm-5"><input class="form-control" type="date" name="enddate" id="enddate" size="100" maxlength="100"></div>
                            <br>
                        </div>  <!-- end from-group   -->
                        <br>
                        <br>
                        <div class="form-group">
                            <label class="col-sm-5 control-label" for="center" >Center</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="center" id="center">
                                    <option value="">Choose a value  </option>
                                    {% for value in services_search_list.centers %}
                                        <option value="{{ value }}">{{value}}</option>
                                    {% endfor %}
                                </select>
                            </div>  <!-- end select input -->
                            <br>
                        </div>  <!-- end from-group   -->
                        <br><br>
                        <div class="form-group">
                            <label class="col-sm-5  control-label" for="username" >User name who request the service</label>
                            {% if services_search_list.username %}
                                <div class="col-sm-5"><input class="form-control" type="text" name="username" id="username" size="100" maxlength="100" readonly value={{services_search_list.username}} ></div>
                            {% else %}
                                <div class="col-sm-5"><input class="form-control" type="text" name="username" id="username" size="100" maxlength="100" ></div>
                            {% endif %}
                        </div>  <!-- end from-group   -->
                        <br><br>
                        <div class="form-group">
                            <label class="col-sm-5  control-label" for="username" >Service handled by</label>
                            {% if services_search_list.username %}
                                <div class="col-sm-5"><input class="form-control" type="text" name="userhandled" id="userhandled" size="100" maxlength="100" readonly value={{services_search_list.username}} ></div>
                            {% else %}
                                <div class="col-sm-5"><input class="form-control" type="text" name="userhandled" id="userhandled" size="100" maxlength="100" ></div>
                            {% endif %}
                        </div>  <!-- end from-group   -->
                        <br><br>
                        {% if services_search_list.wetlab_app %}
                            <div class="panel panel-default">
                                <div class="panel-heading"><strong>Search from wetlab information</strong></div>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label class="col-sm-5  control-label" for="runName" >Search by Run name </label>
                                        <div class="col-sm-5"><input class="form-control" type="text" name="runName" id="runName" size="100" maxlength="100"></div>
                                    </div>  <!-- end from-group   -->
                                    <br><br>
                                    <div class="form-group">
                                        <label class="col-sm-5  control-label" for="projectName" >Search by Project name </label>
                                        <div class="col-sm-5"><input class="form-control" type="text" name="projectName" id="projectName" size="100" maxlength="100"></div>
                                    </div>  <!-- end from-group   -->
                                    <br><br>
                                    <div class="form-group">
                                        <label class="col-sm-5  control-label" for="sampleName" >Search by sample name </label>
                                        <div class="col-sm-5"><input class="form-control" type="text" name="sampleName" id="sampleName" size="100" maxlength="100"></div>
                                    </div>  <!-- end from-group   -->
                                </div>  <!--  end of panel body  -->
                            </div> <!--// end panel -->
                        {% endif %}

                        <br>
                        <br>
                        <input class="btn pull-left btn-primary" type="reset" value="Reset Fields">
                        <input class="btn pull-right btn-primary" type="submit" value="Submit">
                    </form>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->
    <!-- End of FORM for searching Service  -->

{% endif %}

{% endblock %}
