{% extends 'iSkyLIMS_home/base.html' %}
{% load static %}
{% block content %}
	<div class="row margin-b-4">
 		<div class="col-sm-6 col-sm-offset-6">
 			{% include 'registration/login_inline.html' %}
 		</div>
 	</div>
	<h1><div class="color-heading">iSkyLIMS</div></h1>
    <h2>Contact us</h2>
	<div class="row row-space-2 margin-b-4">
        <div class="col-1">
        	<div class="panel panel-default">
        		<div class="panel-heading">Under Construction</div>
          		<div class="panel-body">
			  		<img class="center-block img-responsive" src="{% static 'iSkyLIMS_common_static/img/under_construction.png' %}" align="center"/>
		  		</div> <!--// end panel body -->
        	</div> <!--// end panel -->
     	</div> <!--// end col-sm-6 -->
    </div> <!--// end row -->
{% endblock %}
