{% extends 'iSkyLIMS_home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<h1>Contact Us</h1>
    {% csrf_token %}
<div class="row row-space-2 margin-b-4">
    <div class="col-sm-8">  <!--col-sm-8  User statatistics Form  -->
	<div class="container-fluid margin-t-40">
		<div class="panel panel-default">
			<div class="panel-heading">Contact information</div>
			<div class="panel-body">
				<h4>Drylab contact information</h4>
				<table class="table">
					<thead>
						<tr>
						<th>Person</th>
						<th>Telephone</th>
						<th>Email</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Isabel Cuesta de la Plaza</td>
						<td>23738</td>
						<td>bioinformatica@isciii.es</td>
						</tr>
						<tr>
						<td>Sara Monzón Fernández</td>
						<td>23253</td>
						<td>bioinformatica@isciii.es</td>
						</tr>
					</tbody>
				</table>
				<h4>Wetlab contact information</h4>
				<table class="table">
					<thead>
						<tr>
						<th>Person</th>
						<th>Telephone</th>
						<th>Email</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Ángel Zaballos</td>
						<td></td>
						<td>azaballos@isciii.es</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	    {% crispy form %}
	</div>
    </div> <!--// end col-sm-8  User statatistics Form  -->
</div> <!-- //  end row -->
{% endblock %}
