{% load static %}
<!--========== FOOTER ==========-->
<footer class="footer">
	<div class="content container">
		<div class="row">
			<div class="col-md-3">
			<h4>Logos</h4>
				<img class="footer-logo" src="{% static "iSkyLIMS_home/img/logo_bu_isciii.png" %}" alt="ISCiii_Bio_Informatic_Logo">
				<a href="http://www.isciii.es" target="_blank"><img class="footer-logo" src="{% static "iSkyLIMS_home/img/isciii_logo.jpg" %}" alt="ISCiii_Logo"></a>
			</div>
			<div class="col-md-3">
			<h4>Connect</h4>
			<!--<a href="mailto:#">bioinformatica@isciii.es</a>-->
			<div>
				<ul class="social-icons icon-round list-unstyled list-inline">
					<li> <a href="mailto:bioinformatica@isciii.es" ><i class="fas fa-envelope fa-3x"></i></a></li>
					<li> <a href="https://twitter.com/BUISCIII" target="_blank"><i class="fab fa-twitter fa-3x"></i></a></li>
					<li> <a href="https://github.com/BU-ISCIII" target="_blank"><i class="fab fa-github fa-3x"></i></a></li>
				</ul>
			</div>
			</div>
			<div class="col-md-3">
			<h4>Links</h4>
			<ul>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/tutorials">Getting started</a></li>
				<li><a href="/faqs">FAQs</a></li>
			</ul>
			</div>
			<div class="col-md-3">
			<h4>Sitemap</h4>
			<ul>
				<li><a href="/">iSkyLIMS home</a></li>
				<li><a href="/drylab">Drylab page</a></li>
				<li><a href="/wetlab">Wetlab page</a></li>
			</ul>
			</div>
		</div>
		<!--// end row -->
	</div>
</footer>
<!--========== END FOOTER ==========-->
