## 30/05/2018
## encoding (1.0.0) --deprecated

wheel
asn1crypto
bcrypt
biopython
cryptography
Django==3.2
django-crispy-forms
django-crontab
django-js-asset
django-mptt
django-mptt-admin
django-cleanup
interop
mod_wsgi
mysqlclient==2.0.3
paramiko
jsonschema
pysmb
django_extensions
djangorestframework
drf-yasg
xlrd
pandas
openpyxl
