wheel==0.37.1
asn1crypto==1.5.0
bcrypt==4.0.1
biopython==1.79
cryptography==41.0.6
Django==4.2
django-crispy-forms==2.0
crispy-bootstrap5==0.7
django-crontab==0.7.1
django-js-asset==2.0.0
django-mptt==0.14.0
django-mptt-admin==2.4.1
django-cleanup==7.0.0
interop>1.1.22
mod_wsgi==4.9.4
mysqlclient==2.0.3
paramiko==3.1.0
jsonschema==4.17.3
pysmb==1.2.9.1
django_extensions==3.2.1
djangorestframework==3.14.0
drf-yasg==1.21.5
xlrd==2.0.1
pandas==1.5.3
openpyxl==3.1.1
