wheel==0.44.0
asn1crypto==1.5.1
bcrypt==4.2.0
biopython==1.84
cryptography==43.0.0
Django==4.2.15
django-crispy-forms==2.3
crispy-bootstrap5==0.7
django-crontab==0.7.1
django-js-asset==2.2.0
django-mptt==0.16.0
django-mptt-admin==2.6.2
django-cleanup==8.1.0
interop>1.1.22
mod_wsgi==5.0.0
mysqlclient==2.2.6
paramiko==3.4.1
jsonschema==4.23.0
pysmb==1.2.9.1
django_extensions==3.2.3
djangorestframework==3.15.2
drf-yasg==1.21.7
xlrd==2.0.1
pandas==2.2.2
openpyxl==3.1.5
setuptools==75.2.0
