{% extends 'iSkyLIMS_clinic/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
{% if recorded_project_fields %}
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Sucessful store of Project Fields for {{recorded_project_fields.project_name}} Protocol</h3></div>
                <div class="panel-body">

                    <div class="col-sm-5" >
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th> Field Name</th>
                                <th> Description</th>
                              </tr>
                            </thead>
                            <tbody>
                            {% for  field, description in recorded_project_fields.fields %}
                                <tr>
                               <td>{{ field }}</td>
                               <td>{{ description }}</td>
                            {% endfor %}
                            </tbody>
                        </table>
                    <input type="button" value="Return Home" onclick="location.href ='/clinic' ;"/>
                    </div> <!--// end col-sm-5  -->
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-12  -->
    </div> <!--// end row -->


{% else %}
    {%include 'iSkyLIMS_core/jexcel_functionality.html' %}

    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-12" >

            <div class="panel panel-default">
                <div class="panel-heading"><h3>Define Project Fields {{project_fields.project_name}}</h3></div>
                <div class="panel-body">
                     <form method="post" enctype="multipart/form-data" name="defineProjectFields"  id="defineProjectFields" class="form-horizontal well">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="defineProjectFields"/>
                        <input type="hidden" name="project_id" value="{{project_fields.project_id}}"/>

                        <div id="spreadsheet1"></div>
                        <br>
                        <br>

                        <input type="button" value="Download_Project_Fields" onclick="table1.download()"/>

                     <br>

                     <script>

                     var data1 = [[],
                     ];

                     var table1 = jexcel(document.getElementById('spreadsheet1'), {
                         data:data1,
                         columns: [
                             { type: 'text', title:'{{project_fields.heading.0}}', width:180 },
                             { type: 'numeric', title:'{{project_fields.heading.1}}', width:50, mask:' #.##,00' },
                             { type: 'checkbox', title:'{{project_fields.heading.2}}', width:50 },
                             { type: 'text', title:'{{project_fields.heading.3}}', width:600 , wordWrap:true },
                         ],
                         allowInsertColumn:false,
                         allowDeleteColumn:false,
                         allowRenameColumn:false,
                         csvFileName:'project_fields',
                         minDimensions:[4,3],
                     });


                     </script>
                    <input class="btn pull-right btn-primary" type="submit" value="Submit">
                    </form>
                    <script>
                        $(document).ready(function () {
                            $("#defineProjectFields").submit(function (e) {
                                //stop submitting the form to see the disabled button effect
                                //e.preventDefault();
                                //disable the submit button
                                var table_data1 = table1.getData()
                                var data1_json = JSON.stringify(table_data1)
                                $("<input />").attr("type", "hidden")
                                  .attr("name", "table_data1")
                                  .attr("value", data1_json)
                                  .appendTo("#defineProjectFields");
                                $("#btnSubmit").attr("disabled", true);
                                return true;
                            });
                        });
                    </script>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->

        </div> <!--// end col-sm-7  -->

    </div> <!--// end row -->
{% endif %}




<!-- End of FORM for defining protocol parameters -->

{% endblock %}
