{% extends 'iSkyLIMS_clinic/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
{% if Error %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12" >
                <div class="col-sm-6" >
                    <div class="panel panel-danger">
                        <div class="panel-heading"><h3>Result Protocol already defined</h3> </div>
                        <div class="panel-body">
                            <p>The result protocol <strong>{{ Error }}</strong> is already defined</p>
                            <p> </p>
                        </div>  <!--  end of panel body  -->
                    </div> <!--// end panel -->
                </div> <!--// end col-sm-6 -->
    </div> <!--// end row -->
{% endif %}
<div class="row row-space-2 margin-b-4">
    <div class="col-sm-12" >
        {% if new_defined_result_protocol %}
            <div class="col-sm-6" >
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>New Result protocol has been added</h3> </div>
                    <div class="panel-body">
                        <p>New result protocol <strong>{{ new_defined_protocol }}</strong> has been added</p>
                        <p>Click on the "add Result Protocol Parameters" button  to define the custom parameters used in the protocol</p>
                        <p></p>
                        <button type="button" class="btn btn-primary" onclick="window.location.href = '/clinic/defineResultProtocolParameters={{new_protocol_id}}';">Define Protocol Parameters</button>
                    </div>  <!--  end of panel body  -->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-6 -->
        {% endif %}
        <div class="col-sm-6" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Form to add a new Result Protocol</h3> </div>
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data" name="addNewResultProtocol" id="addNewResultProtocol" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group required">
                            <input type="hidden" name="action" value="addNewResultProtocol"/>
                            <label class="col-sm-5 control-label">Select Protocol Type</label>

                            <div class="col-sm-6"><select class="form-control"  required = "required" name="protocolType" id="protocolType">
                                           				<option value="">Choose a value</option>
                                                        {% for value in defined_protocol_types %}
                                                            <option value="{{value}}">{{value}}</option>
                                                        {% endfor %}

                                                  </select>
                            </div>  <!-- end select input -->
                            <br><br><p></p>
                            <label class="col-sm-5 control-label">Define new Result Protocol name</label>
                            <div class="col-sm-6"><input class="form-control" required = "required" type="text"  name="newResultProtocolName" size="80"></div>
                            <br><br><br>
                            <label class="col-sm-5 control-label">Description</label>
                            <div class="col-sm-6">
                                <textarea rows="2" cols="25" name="description" form="addNewResultProtocol">Enter Result Protocol description here...</textarea>
                            </div>
                            <BR> <BR> <BR>
                        </div>
                        <input class="btn pull-right btn-primary" type="submit" value="Submit" id="btnSubmit">
                    </form> <!-- End of FORM for defining result protocol parameters -->

                </div>  <!--  end of panel body  -->
                <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>
            </div> <!--// end panel -->
        </div> <!--// end of sm-6 -->
    </div> <!--// end of sm-12 -->
</div> <!--// end row -->

{% if other_protocol_list %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-8" >
            <BR> <BR> <BR>
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Result Protocols already defined </h3></div>
                <div class="panel-body">
                    <table class="table table-hover">
                       <thead>
                          <tr>
                            <th>Protocol Type</th>
                            <th>Result Protocol Name</th>
                            <th>Result Protocol Parameter</th>
                          </tr>
                       </thead>
                       <tbody>
                        {% for   prot_type, name, id, add_par in other_protocol_list %}
                            <tr>
                                <td>{{ prot_type }}</td>

                                {% if add_par %}
                                    <td><a href="/clinic/displayResultProtocol={{id}}">{{ name }}</a></td>
                                    <td>Parameters already defined</td>
                                {% else %}
                                    <td>{{ name }}</td>
                                    <td><button onclick="window.location.href = '/clinic/defineResultProtocolParameters={{id}}';">Define Result Preparation Parameters</button></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-8  -->
    </div> <!--// end row -->

{% endif %}
{% endblock %}
