{% extends 'iSkyLIMS_clinic/base.html' %}
{% load static %}
{% block content %}
{% if display_sample_info %}
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-7 col-sm-offset-1" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Information for Sample {{display_sample_info.s_name}}</h3></div>
                <div class="panel-body">

                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->

    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-5 " >
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Patient Information for Sample {{display_sample_info.s_name}}</h3></div>
                <div class="panel-body">
                    <br>
                    <table class="table table-hover">
                        <tbody>
                          {% for values in display_sample_info.patient_info %}
                             <tr>
                                {% for value in values %}
                                   <td>{{ value }} </td>
                                {%endfor%}
                              </tr>
                          {%endfor%}
                        </tbody>
                    </table>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->

        <div class="col-sm-6 col-sm-offset-1" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Requested Information for Sample {{display_sample_info.s_name}}</h3></div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tbody>
                          {% for values in display_sample_info.requested_by %}
                             <tr>
                                {% for value in values %}
                                   <td>{{ value }} </td>
                                {%endfor%}
                              </tr>
                          {%endfor%}
                        </tbody>
                    </table>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->

    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-10 col-sm-offset-1" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Additional Information for Sample {{display_sample_info.s_name}}</h3></div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                           <tr>
                               {% for value in display_sample_info.sample_core_heading %}
                                    <th>{{value}} </th>
                               {% endfor %}
                           </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for value in display_sample_info.sample_core_info %}
                                   <td>{{ value }} </td>
                                {%endfor%}
                              </tr>
                        </tbody>
                    </table>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->

    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-5 " >
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Suspicious Information for Sample {{display_sample_info.s_name}}</h3></div>
                <div class="panel-body">
                    <p>{{display_sample_info.suspicious}}</p>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->

        <div class="col-sm-6 col-sm-offset-1" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Comments Information for Sample {{display_sample_info.s_name}}</h3></div>
                <div class="panel-body">
                    <p>{{display_sample_info.comments}}</p>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->

{% else%}
    <br><br>
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-10 col-sm-offset-1" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Clinic Samples</h3></div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                {% for value in display_sample_list_info.heading %}
                                    <th>{{value}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <h4>The following clinic samples match with your input request</h4>
                            {% for s_id, s_name, history, doc, priority, date, state in display_sample_list_info.sample_c_data %}
                                <tr>
                                    <td><a href="/clinic/displaySampleInfo={{s_id}}">{{ s_name }}</a> </td>
                                    <td>{{ history }} </td>
                                    <td>{{ doc }} </td>
                                    <td>{{ priority }} </td>
                                    <td>{{ date }} </td>
                                    <td>{{ state }} </td>



                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->


{% endif %}

{% endblock %}
