{% extends 'iSkyLIMS_clinic/base.html' %}
{% load static %}
{% block content %}
{% if samples_project_data %}
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-6" >
            <h3>Main information for Sample Project {{samples_project_data.sample_project_name}} </h3>
            <div class="panel panel-default">
                <div class="panel-heading"><h4>{{samples_project_data.protocol_name}}</h4></div>
                <div class="panel-body">
                    <div class="col-sm-11" >
                        <table class="table table-hover">
                            <tbody>
                            {% for  field, value in samples_project_data.main_data %}
                                <tr>
                                    <td>{{ field }}</td>
                                    <td>{{ value }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div> <!--// end col-sm-11  -->
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->

        </div> <!--// end col-sm-12  -->

    </div> <!--// end row -->
        <div class="row row-space-4 margin-b-4">
            <div class="col-sm-12" >
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Fields definition</h4></div>
                    <div class="panel-body">
                        <div class="col-sm-11" >
                            <table class="table table-hover">
                               <thead>
                                  <tr>
                                        {% for value in samples_project_data.heading %}
                                            <th>{{value}}</th>
                                        {% endfor %}
                                  </tr>
                               </thead>
                               <tbody>
                                {% for  values in samples_project_data.fields %}
                                    <tr>
                                        {% for value  in values %}
                                            <td>{{ value }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div> <!--// end col-sm-11  -->
                    </div>  <!--  end of panel body  -->
                </div> <!--// end panel -->

            </div> <!--// end col-sm-12  -->

        </div> <!--// end row -->

{% endif %}


{% endblock %}
