{% extends 'iSkyLIMS_clinic/base.html' %}
{% load static %}
{% block content %}
    {% csrf_token %}

    <h1><div class="color-heading">BU-ISCIII</div></h1>
    <h2>iSkyLIMS: Clinic</h2>

    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Welcome to iSkyLIMS Clinic module</h3></div>
            <div class="panel-body">
                <p>This module focus on tracking the samples in a Clinic environment, like a hospital.</p>
                <p>The workflow of a sample starts by defining it, with the information provided at the time the sample is extracted from the patient. </p>
                <p>Then adding result information from the sample analysis.</p>
                <br><br>
                <p></p>
                <p>Search menu helps to find the sample or patient information</p>
                <p>Statistics will help you to create reports</p>
               
          </div> <!--// end panel body -->
        </div> <!--// end panel -->
      </div> <!--// end col-sm-8 -->
      <div class="col-sm-2 col-sm-offset-1">
            <img class="promo-block-img img-responsive" src="{% static "iSkyLIMS_common_static/img/clinic_ambulance_reduce.jpg" %}" align="Avatar">
        </div> <!--// end img -->
      </div> <!--// end col-sm-4 -->
    </div> <!--// end row -->
{% endblock %}
