{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript" src="{% static "wetlab/js/fusioncharts/js/fusioncharts.js" %}"></script>
<script type="text/javascript" src="{% static "wetlab/js/fusioncharts/js/themes/fusioncharts.theme.fint.js" %}"></script>
<style >
    .text-large {
        font-size: 150%;
    }
</style>
<style>
.table-wrapper {
    max-height: 450px;
    overflow: auto;
    display:inline-block;
    width: 610px;
}

.table-wrapper-sm-12{
    max-height: 450px;
    overflow: auto;
    display:inline-block;
    width: 1170px;
}
</style>
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-12" >
            <div class="col-sm-7" >
                <div class="panel panel-default">
                    {% if pending.defined.sample_heading %}
                    <div class="panel-heading"><h3>The following Samples can be updated with the Molecule information</h3></div>
                        <div class="panel-body">
                            <div class="table-wrapper">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            {% for value in pending.defined.sample_heading %}
                                                <th> {{ value }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for date, code,  sampletype,  s_id , user in pending.defined.sample_information  %}
                                            <tr>
                                                    <td>{{date}}</td>
                                                    <td><a href="displaySample={{s_id}}">{{sampletype}}</a></td>
                                                    <td>{{code}}</td>
                                                    <td>{{user}}</td>
                                            </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div> <!--  end of table wrapper  -->
                            <br><br>
                            {% else %}
                            <div class="panel-heading"><h3>Samples to be updated with the Molecule information</h3></div>
                                <div class="panel-body">
                                <p>There is not new samples that requieres to add Molecule Information data </p>
                            {% endif %}
                        </div>  <!--  end of panel body  -->

                </div> <!--// end panel -->
            </div> <!--// end col-sm-7  -->
        <div class="col-sm-5" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Sample state graphic</h3></div>
                <div class="panel-body">
                    {% if pending.graphic_pending_samples %}

                        <!-- Pie chart for number of pending Services chart will start here-->
                        <div id="chart-1"> </div>
                        <!-- dumping JavaScript code here -->
                        {{ pending.graphic_pending_samples |safe }}

                    {% endif %}
                </div>  <!--  end of panel body  -->

            </div> <!--// end panel -->
        </div> <!--// end col-sm-5  -->
    </div> <!--// end row -->
{% if pending.extract_molecule.molecule_heading %}
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3>The following Samples can be updated with the Molecule quality parameter</h3></div>
                    <div class="panel-body">
                        {% if pending.extract_molecule.molecule_heading %}
                            <div class="table-wrapper-sm-12">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            {% for value in pending.extract_molecule.molecule_heading %}
                                                <th> {{ value }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for date, sample_id, s_type, s_id, user, molecule_id, extr_date, protocol, m_id  in pending.extract_molecule.molecule_information  %}
                                            <tr>
                                                    <td>{{date}}</td>
                                                    <td><a href="displaySample={{s_id}}">{{s_type}}</a></td>
                                                    <td>{{molecule_id}}</td>
                                                    <td>{{extr_date}}</td>
                                                    <td>{{protocol}}</td>
                                                    <td>{{user}}</td>

                                            </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div> <!--  end of table wrapper  -->
                            <br><br>

                        {% else %}
                            <p>There is not new samples </p>
                        {% endif %}
                    </div>  <!--  end of panel body  -->

            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->
{% endif %}
{% if pending.create_library_preparation %}
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3>The following Samples are ready for defining the library preparation data</h3></div>
                    <div class="panel-body">
                        <div class="table-wrapper-sm-12">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        {% for value in pending.create_library_preparation.lib_prep_heading %}
                                            <th> {{ value }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for date, sample_id, s_type, s_id, user, molecule_id, extr_date, protocol, m_id  in pending.create_library_preparation.library_information  %}
                                        <tr>
                                                <td>{{date}}</td>
                                                <td><a href="displaySample={{s_id}}">{{s_type}}</a></td>
                                                <td>{{molecule_id}}</td>
                                                <td>{{extr_date}}</td>
                                                <td>{{protocol}}</td>
                                                <td>{{user}}</td>

                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div> <!--  end of table wrapper  -->
                        <br><br>

                    </div>  <!--  end of panel body  -->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-12  -->
        </div> <!--// end row -->
{% endif %}

{% if pending.add_lib_prep_parameters.lib_prep_heading %}
<div class="row row-space-4 margin-b-4">
    <div class="col-sm-12" >
        <div class="panel panel-default">
            <div class="panel-heading"><h3>The following Library Prepartion Samples are ready for adding Quality Parameters</h3></div>
                        <br>
                        <div class="panel-body">
                            <p>Select the samples to add the Library Preparation Information </p>
                        <form method="post" action="/wetlab/handlingLibraryPreparations" enctype="multipart/form-data" name="addLibPrepParam"  id="addLibPrepParam" class="form-horizontal well">
                        {% csrf_token %}
                            <input type="hidden" name="action" value="addLibPrepParam"/>
                            <input type="hidden" name="lib_prep_in_list" value="True"/>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        {% for value in pending.add_lib_prep_parameters.lib_prep_heading %}
                                            <th> {{ value }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for lib_prepID, s_name ,lib_protocol,  lib_prep_id in pending.add_lib_prep_parameters.lib_prep_info  %}
                                        <tr>
                                            <td>{{lib_prepID}}</td>
                                            <td>{{s_name}}</td>
                                            <td>{{lib_protocol}}</td>

                                            <td><input type="checkbox" name="lib_prep_id" value="{{lib_prep_id}}"></td>

                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                            <br><br>
                            <input type="button" value="Return Home" onclick="location.href ='/wetlab' ;"/>
                            <input class="btn pull-right btn-primary" type="submit" value="Submit">
                         </form>

{% endif %}
{% if ll %}

                         <br>
                         {% if value in pending.add_lib_prep_parameters.heading %}
                         <div class="panel-body">
                             <p>Select the samples to add Library Preparation Quality parameters </p>
                         <form method="post" action="/wetlab/handlingLibraryPreparations" enctype="multipart/form-data" name="addProtocolParamters"  id="addProtocolParamters" class="form-horizontal well">
                         {% csrf_token %}
                             <input type="hidden" name="action" value="addProtocolParamters"/>
                             <input type="hidden" name="lib_prep_in_list" value="True"/>
                             <table class="table table-hover">
                                 <thead>
                                     <tr>
                                         {% for value in pending.add_lib_prep_parameters.heading %}
                                             <th> {{ value }}</th>
                                         {% endfor %}
                                     </tr>
                                 </thead>
                                 <tbody>
                                     {% for molecule_id, protocol, s_id in pending.add_lib_prep_parameters.sample_info  %}
                                         <tr>
                                             <td>{{molecule_id}}</td>
                                             <td>{{protocol}}</td>
                                             <td><input type="checkbox" name="lib_prep_id" value="{{s_id}}"></td>

                                         </tr>
                                     {% endfor %}

                                 </tbody>
                             </table>
                             <br><br>
                             <input type="button" value="Return Home" onclick="location.href ='/wetlab' ;"/>
                             <input class="btn pull-right btn-primary" type="submit" value="Submit">
                          </form>



                        {% else %}
                            <p>There is not new samples </p>
                        {% endif %}
                    </div>  <!--  end of panel body  -->

            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->

{% endif %}
{% endblock %}
