{% extends 'drylab/base.html' %}
{% load static %}
{% block content %}
    {% csrf_token %}                                                        
    <h1><div class="color-heading">BioInformatics</div></h1>
    <h2>iSkyLIMS: DryLab</h2>
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-8">
        <div class="panel panel-default">
          <div class="panel-heading">Welcome</div>
          <div class="panel-body">
			  This section will allow you to check BU-ISCIII service activity. Available processes are request new services,<br>
			  colaborations, counseling and infrastructure. You will be able to check the status of your ongoing services.
		  </div> <!--// end panel body -->
        </div> <!--// end panel -->
      </div> <!--// end col-sm-8 -->
      <div class="col-sm-2 col-sm-offset-1">
            <img class="promo-block-img img-responsive" src="{% static "img/illumina/nextseqReduced.png" %}" align="Avatar">
        </div> <!--// end img --> 
      </div> <!--// end col-sm-4 -->
    </div> <!--// end row -->
        
        <!--  Second paragraph -->
        
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Services ongoing and queued</h3></div>
          <div class="panel-body">
                {% if service_list %}
                     <table class="table table-hover" >
                            <thead>
                                <tr>
                                    <th>Service Number</th>
                                    <th>Status</th>
                                    <th>Expected delivery date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for values in service_list %}
                                    <tr>
                                        {% for value in values %}
                                        <td>{{ value }} </td> 
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                {% else %}
                    There are no Services pending to delivery 
                {% endif %}
		  </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
      </div> <!--// end col-sm-6 -->
      <div class="col-sm-4 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">Timeline of services</div>
          <div class="panel-body">
          	Under construction. Kind of diagram with services dates.
		  </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
      </div> <!--// end col-sm-4 -->
    </div> <!--// end row -->

{% endblock %}
