{% extends 'drylab/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1><div class="color-heading">User statatistics Form</div></h1>
{% if stats_info %}
    esto es una prueba {{ prueba }}
{% else %}

<div class="row row-space-2 margin-b-4">
    <div class="col-sm-8">  <!--col-sm-8  User statatistics Form  -->
	<div class="container-fluid margin-t-40">	
	    {% crispy form %}
	</div>
    </div> <!--// end col-sm-8  User statatistics Form  -->
</div> <!-- //  end row -->
{% endif %}
{% endblock %}
