{% extends 'iSkyLIMS_wetlab/base.html' %}
{% load static %}
{% block content %}
    {% csrf_token %}

<script type="text/javascript" src="{% static "iSkyLIMS_wetlab/js/wetlab.js" %}"></script>


<link rel="stylesheet"  href="{% static "iSkyLIMS_wetlab/css/styles/default.css" %}">

<style>
.table-wrapper {
    max-height: 450px;
    overflow: auto;
    display:inline-block;
    width: 550px;
}
.panel-wrapper-sm-6 {
    max-height: 450px;
    overflow: auto;
    display:inline-block;
    width: 670px;
}
.panel-wrapper-sm-10 {
    max-height: 250px;
    overflow: auto;
    display:inline-block;
    width: 950px;
}
.panel-wrapper-sm-12 {
    max-height: 450px;
    overflow: auto;
    display:inline-block;
    width: 1150px;
}

p {
   font-size: 18px;
}

</style>
{% if test_results %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3" >
            <div class="panel panel-default">
                <div class="panel-heading"><H3>Wetlab configuration testing results</H3></div>
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row  -->

    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12">
            <div class="tab">
                <button class="tablinks" onclick="summaryBin(event, 'configFiles')" id="defaultOpen">Configuration Files</button>
                <button class="tablinks" onclick="summaryBin(event, 'folderPermission')">Folder Permissions</button>
                <button class="tablinks" onclick="summaryBin(event, 'database')">Database Access</button>
                <button class="tablinks" onclick="summaryBin(event, 'samba')">Samba Connection</button>

            </div>
            <div class="row row-space-2 margin-b-4">
                <div id="configFiles" class="tabcontent">
                    <div class="row row-space-2 margin-b-4">
                        <div class="col-sm-7">
                            <div class="panel panel-default">
                                <div class="panel-heading"><H3>iSkyLIMS configuration settings</H3></div>
                                <div class="panel-body">
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#settings">Display iSkyLIMS.settings.py</button>
                                    <button class="btn pull-right btn-primary" onclick="downloadInnerHtml('settings.py','settings')">Download settings.py </button>
                                    <br><br>
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#wetlab">Display wetlab_settings.py</button>
                                    <button class="btn pull-right btn-primary" onclick="downloadInnerHtml('wetlab_settings.py','wetlab')">Download wetlab_config.py</button>
                                    <div id="settings" class="collapse">
                                        {% for line in test_results.iSkyLIMS_settings %}
                                            {{line}}<br>
                                        {% endfor %}
                                    </div>
                                    <div id="wetlab" class="collapse">
                                        {% for line in test_results.config_file %}
                                            {{line}}<br>
                                        {% endfor %}
                                    </div>
                                </div> <!--  end of panel body -->
                            </div> <!--  end of panel  -->
                        </div> <!--  end of col-sm-5 -->
                    </div> <!--  end of row -->
                </div><!-- // end of tab configFiles -->

                <script type="text/javascript">
                    function downloadInnerHtml(filename, elId, mimeType) {
                    var elHtml = document.getElementById(elId).innerHTML;
                    var link = document.createElement('a');
                    mimeType = mimeType || 'text/plain';

                    link.setAttribute('download', filename);
                    link.setAttribute('href', 'data:' + mimeType  +  ';charset=utf-8,' + encodeURIComponent(elHtml));
                    link.click();
                }

                var fileName =  'tags.html';
                </script>
                <div id="folderPermission" class="tabcontent">
                    <div class="row row-space-2 margin-b-4">
                        <div class="col-sm-10">
                            <div class="panel panel-default">
                                <div class="panel-heading"><H3>Files used for Massive sequencing application</H3></div>
                                <div class="panel-body">
                                    <button onclick="exportTableToExcel('permissions')" class="btn pull-right">Export Table To Excel <span class="glyphicon glyphicon-download-alt"></span></button>
                                    <div class="panel-wrapper-sm-10">
                                        <table id="permissions" class="table  table-hover">
                                            <tbody>
                                                {% for line in test_results.attr_files %}
                                                    <tr>
                                                        {% for value in line %}
                                                            <td>{{value}}</td>
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>  <!-- end of wrapper -->
                                </div> <!--  end of panel body -->
                            </div> <!--  end of panel  -->
                        </div> <!--  end of col-sm-10 -->
                    </div> <!--  end of row -->
                </div><!-- // end of tab folderPermission -->

                <div id="database" class="tabcontent">
                    <div class="row row-space-2 margin-b-4">
                        <div class="col-sm-10">
                            <div class="panel panel-default">
                                <div class="panel-heading"><H3>Database access</H3> </div>
                                 <div class="panel-body">
                                    {% if test_results.database_access  == 'OK' %}
                                        <h4>Success to connect to database</h4>
                                        <i class="pull-right glyphicon glyphicon-ok" style="font-size:40px;color:green"></i>
                                    {% else %}
                                        <h4>Unable to connect to database</h4>
                                        <i class="pull-right glyphicon glyphicon-remove" style="font-size:40px;color:red"></i>
                                    {% endif %}
                                </div> <!--  end of panel body -->
                            </div> <!--  end of panel  -->
                        </div> <!--  end of col-sm-5 -->
                    </div> <!--  end of row -->
                </div><!-- // end of tab database -->

                <div id="samba" class="tabcontent">
                    <div class="row row-space-2 margin-b-4">
                        <div class="col-sm-10">
                            <div class="panel panel-default">
                                <div class="panel-heading"><H3>SAMBA Connection</H3> </div>
                                 <div class="panel-body">


                                    {% if test_results.samba_connection  == 'OK' %}
                                        <h4>Success to connect to database</h4>
                                        <i class="pull-right glyphicon glyphicon-ok" style="font-size:40px;color:green"></i>
                                    {% else %}
                                        <h4>Unable to connect to remote server</h4>
                                        <i class="pull-right glyphicon glyphicon-remove" style="font-size:40px;color:red"></i>
                                    {% endif %}
                                </div> <!--  end of panel body -->
                            </div> <!--  end of panel  -->
                        </div> <!--  end of col-sm-5 -->
                    </div> <!--  end of row -->
                </div><!-- // end of tab samba -->
            </div> <!--  end of col-sm-12 -->
        </div> <!--  end of row -->
    </div> <!--// end row  -->


    {% if test_results.basic_checks_ok == 'OK' %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><H3>Execute the test Run</H3> </div>
                 <div class="col-sm-6">
                    <div class="panel-body">
                            <p><strong>Once the basic check test has been pass, you can execute the testing for NexSeq run</strong></p>
                            <form method="post" enctype="multipart/form-data" name="configurationtest" id="configurationtest" class="form-horizontal well">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="runNextSeq"/>
                                <br>
                                <input class="btn pull-right btn-primary" type="submit" value="Run NextSeq Test">
                            </form>
                        </div> <!--// end panel body -->
                </div>  <!--// end col-sm-6  -->
                <div class="col-sm-6">
                    <div class="panel-body">
                            <p><strong>Once the basic check test has been pass, you can execute the testing for MiSeq run</strong></p>
                            <form method="post" enctype="multipart/form-data" name="configurationtest" id="configurationtest" class="form-horizontal well">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="runMiSeq"/>
                                <br>
                                <input class="btn pull-right btn-primary" type="submit" value="Run MiSeq Test">
                            </form>
                        </div> <!--// end panel body -->
                </div>  <!--// end col-sm-6  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-12  -->
    </div> <!--// end row  -->

    {% else %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><H3>Basic test not passed</H3> </div>
                <div class="panel-body">
                    <p><strong>Some of the test cases were not passed. Check the configuration files to find out the error and re-run the test again.</strong></p>
                    <p></p><p><strong>You can not go further in the testing while the Basic test are not passed OK.</strong></p>
                    <form method="post" enctype="multipart/form-data" name="configurationtest" id="configurationtest" class="form-horizontal well">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="basicTest"/>
                        <br>
                        <input class="btn pull-right btn-primary" type="submit" value="Re-Run Basic Test">
                    </form>
                </div> <!--// end panel body -->

    {% endif %}

{% elif runNextSeq_results %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3" >
            <div class="panel panel-default">
                <div class="panel-heading"><H3>Results execution for NextSeq test Run
                 {% if runNextSeq_results.completed_ok %}
                    <i class="pull-right glyphicon glyphicon-ok" style="font-size:40px;color:green"></i>
                {% else %}
                    <i class="pull-right glyphicon glyphicon-remove" style="font-size:40px;color:red"></i>
                {% endif %}
                </H3> </div>
                <div class="panel-body">
                    <p><strong>Check below for the test performed for every state of the Run </strong></p>
                </div> <!--// end panel body -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row  -->

    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><H3>Specific Test Cases for NextSeq Run</H3></div>
                <div class="panel-body">
                    <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><H3>1. - Test Executed to create NextSeq Run
                         {% if runNextSeq_results.create_run_ok %}
                            <i class="pull-right glyphicon glyphicon-ok" style="font-size:30px;color:green"></i>
                        {% else %}
                            <i class="pull-right glyphicon glyphicon-remove" style="font-size:30px;color:red"></i>
                        {% endif %}
                        </H3> </div>
                        <div class="panel-body">
                            {% for test_case, result in runNextSeq_results.CreateRun %}
                                <p><strong> {{ test_case }}
                                {% if result == 'OK' %}
                                    <i class="pull-right glyphicon glyphicon-ok" style="font-size:20px;color:green"></i>
                                {% else %}
                                    <i class="pull-right glyphicon glyphicon-remove" style="font-size:20px;color:red"></i>
                                {% endif %}
                                </strong></p>
                            {% endfor %}
                        </div> <!--// end panel body -->
                    </div> <!--// end panel -->

                    {%if runNextSeq_results.Recorded %}
                    <div class="panel panel-default">
                        <div class="panel-heading"><H3>2. - Test Executed on Recorded state
                         {% if runNextSeq_results.recorded_ok %}
                            <i class="pull-right glyphicon glyphicon-ok" style="font-size:30px;color:green"></i>
                        {% else %}
                            <i class="pull-right glyphicon glyphicon-remove" style="font-size:30px;color:red"></i>
                        {% endif %}
                        </H3> </div>
                        <div class="panel-body">
                            {% for test_case, result in runNextSeq_results.Recorded %}
                                <p><strong> {{ test_case }}
                                {% if result == 'OK' %}
                                    <i class="pull-right glyphicon glyphicon-ok" style="font-size:20px;color:green"></i>
                                {% else %}
                                    <i class="pull-right glyphicon glyphicon-remove" style="font-size:20px;color:red"></i>
                                {% endif %}
                                </strong></p>
                            {% endfor %}
                        </div> <!--// end panel body -->
                    </div> <!--// end panel -->
                    {% endif %}
                    </div>  <!--// end col-sm-6  -->

                    <div class="col-sm-6">
                    {%if runNextSeq_results.Sample_Sent %}
                    <div class="panel panel-default">
                        <div class="panel-heading"><H3>3. - Test Executed on Sample Sent state
                         {% if runNextSeq_results.sample_sent_ok %}
                            <i class="pull-right glyphicon glyphicon-ok" style="font-size:30px;color:green"></i>
                        {% else %}
                            <i class="pull-right glyphicon glyphicon-remove" style="font-size:30px;color:red"></i>
                        {% endif %}
                        </H3> </div>
                        <div class="panel-body">
                            {% for test_case, result in runNextSeq_results.Sample_Sent %}
                                <p><strong> {{ test_case }}
                                {% if result == 'OK' %}
                                    <i class="pull-right glyphicon glyphicon-ok" style="font-size:20px;color:green"></i>
                                {% else %}
                                    <i class="pull-right glyphicon glyphicon-remove" style="font-size:20px;color:red"></i>
                                {% endif %}
                                </strong></p>
                            {% endfor %}
                        </div> <!--// end panel body -->
                    </div> <!--// end panel -->
                    {%endif %}
                    {% if runNextSeq_results.Processing_Run %}
                    <div class="panel panel-default">
                        <div class="panel-heading"><H3>4. - Test Executed on Processing Run
                         {% if runNextSeq_results.processing_run_ok %}
                            <i class="pull-right glyphicon glyphicon-ok" style="font-size:30px;color:green"></i>
                        {% else %}
                            <i class="pull-right glyphicon glyphicon-remove" style="font-size:30px;color:red"></i>
                        {% endif %}
                        </H3> </div>
                        <div class="panel-body">
                            {% for test_case, result in runNextSeq_results.Processing_Run %}
                                <p><strong> {{ test_case }}
                                {% if result == 'OK' %}
                                    <i class="pull-right glyphicon glyphicon-ok" style="font-size:20px;color:green"></i>
                                {% else %}
                                    <i class="pull-right glyphicon glyphicon-remove" style="font-size:20px;color:red"></i>
                                {% endif %}
                                </strong></p>
                            {% endfor %}
                        </div> <!--// end panel body -->
                    </div> <!--// end panel -->
                    {% endif %}
                    </div>  <!--// end col-sm-6  -->
                </div> <!--// end panel body -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-12  -->
    </div> <!--// end row  -->


    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12" >
            <div class="panel panel-default">
            <div class="panel-heading"><H3>Common Test Cases for Runs</H3></div>
                <div class="panel-body">
                    <div class="col-sm-6">
                    {% if runNextSeq_results.Processed_Run %}
                    <div class="panel panel-default">
                        <div class="panel-heading"><H3>5. - Test Executed on Processed Run state
                         {% if runNextSeq_results.processed_run_ok %}
                            <i class="pull-right glyphicon glyphicon-ok" style="font-size:30px;color:green"></i>
                        {% else %}
                            <i class="pull-right glyphicon glyphicon-remove" style="font-size:30px;color:red"></i>
                        {% endif %}
                        </H3> </div>
                        <div class="panel-body">
                            {% for test_case, result in runNextSeq_results.Processed_Run %}
                                <p><strong> {{ test_case }}
                                {% if result == 'OK' %}
                                    <i class="pull-right glyphicon glyphicon-ok" style="font-size:20px;color:green"></i>
                                {% else %}
                                    <i class="pull-right glyphicon glyphicon-remove" style="font-size:20px;color:red"></i>
                                {% endif %}
                                </strong></p>
                            {% endfor %}
                        </div> <!--// end panel body -->
                    </div> <!--// end panel -->
                    {% endif %}
                    {% if runNextSeq_results.Processing_Bcl2fastq %}
                    <div class="panel panel-default">
                        <div class="panel-heading"><H3>6. - Test Executed on Processing Bcl2fastq state
                         {% if runNextSeq_results.processing_bcl2fastq_ok %}
                            <i class="pull-right glyphicon glyphicon-ok" style="font-size:30px;color:green"></i>
                        {% else %}
                            <i class="pull-right glyphicon glyphicon-remove" style="font-size:30px;color:red"></i>
                        {% endif %}
                        </H3> </div>
                        <div class="panel-body">
                            {% for test_case, result in runNextSeq_results.Processing_Bcl2fastq %}
                                <p><strong> {{ test_case }}
                                {% if result == 'OK' %}
                                    <i class="pull-right glyphicon glyphicon-ok" style="font-size:20px;color:green"></i>
                                {% else %}
                                    <i class="pull-right glyphicon glyphicon-remove" style="font-size:20px;color:red"></i>
                                {% endif %}
                                </strong></p>
                            {% endfor %}
                        </div> <!--// end panel body -->
                    </div> <!--// end panel -->
                    {% endif %}
                    </div>  <!--// end col-sm-6  -->

                    <div class="col-sm-6">
                    {% if runNextSeq_results.Processed_Bcl2fastq %}
                    <div class="panel panel-default">
                        <div class="panel-heading"><H3>7. - Test Executed on Processed Bcl2fastq
                         {% if runNextSeq_results.processed_bcl2fast2_ok %}
                            <i class="pull-right glyphicon glyphicon-ok" style="font-size:30px;color:green"></i>
                        {% else %}
                            <i class="pull-right glyphicon glyphicon-remove" style="font-size:30px;color:red"></i>
                        {% endif %}
                        </H3> </div>
                        <div class="panel-body">
                            {% for test_case, result in runNextSeq_results.Processed_Bcl2fastq %}
                                <p><strong> {{ test_case }}
                                {% if result == 'OK' %}
                                    <i class="pull-right glyphicon glyphicon-ok" style="font-size:20px;color:green"></i>
                                {% else %}
                                    <i class="pull-right glyphicon glyphicon-remove" style="font-size:20px;color:red"></i>
                                {% endif %}
                                </strong></p>
                            {% endfor %}
                        </div> <!--// end panel body -->
                    </div> <!--// end panel -->
                    {% endif %}
                    </div>  <!--// end col-sm-6  -->
                </div> <!--// end panel body -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-12  -->
    </div> <!--// end row  -->



    {% if  log_trace %}
    <div class="row row-space-2 margin-b-4">
            <div class="col-sm-12" >
                <div class="panel panel-default">
                    <div class="panel-heading"><H3>Log file for MiSeq test</H3> </div>
                     <div class="panel-body">

                        <div class="panel-wrapper-sm-12"> <!-- // wrapper  -->
                                {% if log_trace %}
                                    {% for line in log_trace %}
                                        <p> {{ line }}</p>
                                    {% endfor %}
                                {% else %}
                                    <h4>Unable to fetch the log file</h4>
                                {% endif %}
                        </div> <!-- //wrapper  -->
                    </div> <!--// end panel body -->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-7  -->
        </div> <!--// end row  -->

    {% endif %}

    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-8 col-sm-offset-3">
                <div class="panel panel-default">
                <div class="panel-heading"><H3>Test Options</H3></div>
                <div class="panel-body">
                        <p><strong>Click on the "Re-Run NextSeq test" button . if you want to repeat the test </strong></p>
                        <form method="post" enctype="multipart/form-data" name="configurationtest" id="configurationtest" class="form-horizontal well">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="runNextSeq"/>
                            <br>
                            <input class="btn pull-left btn-primary" onclick="window.location.href=''" value="Back to Test Page">
                            <input class="btn pull-center btn-primary" type="submit" value="Delete test run" name="Delete">
                            <input class="btn pull-right btn-primary" type="submit" value="Re-Run NextSeq Test" name "RunTest">
                        </form>
                    </div> <!--// end panel body -->
            </div> <!--// end panel -->
        </div>  <!--// end col-sm-6  -->
    </div> <!--// end row  -->













{% elif runMiSeq_results %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3" >
            <div class="panel panel-default">
                <div class="panel-heading"><H3>Results execution for MiSeq test Run
                 {% if runMiSeq_results.completed_ok %}
                    <i class="pull-right glyphicon glyphicon-ok" style="font-size:40px;color:green"></i>
                {% else %}
                    <i class="pull-right glyphicon glyphicon-remove" style="font-size:40px;color:red"></i>
                {% endif %}
                </H3> </div>
                <div class="panel-body">
                    <p><strong>Check below for the test performed for every state of the Run </strong></p>
                </div> <!--// end panel body -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row  -->

    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><H3>Specific Test Cases for MiSeq Runs</H3></div>
                <div class="panel-body">
                    <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><H3>1. - Test Executed on Recorded state
                         {% if runMiSeq_results.recorded_ok %}
                            <i class="pull-right glyphicon glyphicon-ok" style="font-size:30px;color:green"></i>
                        {% else %}
                            <i class="pull-right glyphicon glyphicon-remove" style="font-size:30px;color:red"></i>
                        {% endif %}
                        </H3> </div>
                        <div class="panel-body">
                            {% for test_case, result in runMiSeq_results.Recorded %}
                                <p><strong> {{ test_case }}
                                {% if result == 'OK' %}
                                    <i class="pull-right glyphicon glyphicon-ok" style="font-size:20px;color:green"></i>
                                {% else %}
                                    <i class="pull-right glyphicon glyphicon-remove" style="font-size:20px;color:red"></i>
                                {% endif %}
                                </strong></p>
                            {% endfor %}
                        </div> <!--// end panel body -->
                    </div> <!--// end panel -->
                    </div>  <!--// end col-sm-6  -->

                    <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><H3>2. - Test Executed on Sample Sent state
                         {% if runMiSeq_results.sample_sent_ok %}
                            <i class="pull-right glyphicon glyphicon-ok" style="font-size:30px;color:green"></i>
                        {% else %}
                            <i class="pull-right glyphicon glyphicon-remove" style="font-size:30px;color:red"></i>
                        {% endif %}
                        </H3> </div>
                        <div class="panel-body">
                            {% for test_case, result in runMiSeq_results.Sample_Sent %}
                                <p><strong> {{ test_case }}
                                {% if result == 'OK' %}
                                    <i class="pull-right glyphicon glyphicon-ok" style="font-size:20px;color:green"></i>
                                {% else %}
                                    <i class="pull-right glyphicon glyphicon-remove" style="font-size:20px;color:red"></i>
                                {% endif %}
                                </strong></p>
                            {% endfor %}
                        </div> <!--// end panel body -->
                    </div> <!--// end panel -->

                    <div class="panel panel-default">
                        <div class="panel-heading"><H3>3. - Test Executed on Processing Run
                         {% if runMiSeq_results.processing_run_ok %}
                            <i class="pull-right glyphicon glyphicon-ok" style="font-size:30px;color:green"></i>
                        {% else %}
                            <i class="pull-right glyphicon glyphicon-remove" style="font-size:30px;color:red"></i>
                        {% endif %}
                        </H3> </div>
                        <div class="panel-body">
                            {% for test_case, result in runMiSeq_results.Processing_Run %}
                                <p><strong> {{ test_case }}
                                {% if result == 'OK' %}
                                    <i class="pull-right glyphicon glyphicon-ok" style="font-size:20px;color:green"></i>
                                {% else %}
                                    <i class="pull-right glyphicon glyphicon-remove" style="font-size:20px;color:red"></i>
                                {% endif %}
                                </strong></p>
                            {% endfor %}
                        </div> <!--// end panel body -->
                    </div> <!--// end panel -->
                    </div>  <!--// end col-sm-6  -->
                </div> <!--// end panel body -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-12  -->
    </div> <!--// end row  -->


    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12" >
            <div class="panel-heading"><H3>Common Test Cases for Runs</H3></div>
                <div class="panel-body">
                    <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><H3>4. - Test Executed on Processed Run state
                         {% if runMiSeq_results.processed_run_ok %}
                            <i class="pull-right glyphicon glyphicon-ok" style="font-size:30px;color:green"></i>
                        {% else %}
                            <i class="pull-right glyphicon glyphicon-remove" style="font-size:30px;color:red"></i>
                        {% endif %}
                        </H3> </div>
                        <div class="panel-body">
                            {% for test_case, result in runMiSeq_results.Processed_Run %}
                                <p><strong> {{ test_case }}
                                {% if result == 'OK' %}
                                    <i class="pull-right glyphicon glyphicon-ok" style="font-size:20px;color:green"></i>
                                {% else %}
                                    <i class="pull-right glyphicon glyphicon-remove" style="font-size:20px;color:red"></i>
                                {% endif %}
                                </strong></p>
                            {% endfor %}
                        </div> <!--// end panel body -->
                    </div> <!--// end panel -->

                    <div class="panel panel-default">
                        <div class="panel-heading"><H3>5. - Test Executed on Processing Bcl2fastq state
                         {% if runMiSeq_results.processing_bcl2fastq_ok %}
                            <i class="pull-right glyphicon glyphicon-ok" style="font-size:30px;color:green"></i>
                        {% else %}
                            <i class="pull-right glyphicon glyphicon-remove" style="font-size:30px;color:red"></i>
                        {% endif %}
                        </H3> </div>
                        <div class="panel-body">
                            {% for test_case, result in runMiSeq_results.Processing_Bcl2fastq %}
                                <p><strong> {{ test_case }}
                                {% if result == 'OK' %}
                                    <i class="pull-right glyphicon glyphicon-ok" style="font-size:20px;color:green"></i>
                                {% else %}
                                    <i class="pull-right glyphicon glyphicon-remove" style="font-size:20px;color:red"></i>
                                {% endif %}
                                </strong></p>
                            {% endfor %}
                        </div> <!--// end panel body -->
                    </div> <!--// end panel -->
                    </div>  <!--// end col-sm-6  -->

                    <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><H3>6. - Test Executed on Processed Bcl2fastq
                         {% if runMiSeq_results.processed_bcl2fast2_ok %}
                            <i class="pull-right glyphicon glyphicon-ok" style="font-size:30px;color:green"></i>
                        {% else %}
                            <i class="pull-right glyphicon glyphicon-remove" style="font-size:30px;color:red"></i>
                        {% endif %}
                        </H3> </div>
                        <div class="panel-body">
                            {% for test_case, result in runMiSeq_results.Processed_Bcl2fastq %}
                                <p><strong> {{ test_case }}
                                {% if result == 'OK' %}
                                    <i class="pull-right glyphicon glyphicon-ok" style="font-size:20px;color:green"></i>
                                {% else %}
                                    <i class="pull-right glyphicon glyphicon-remove" style="font-size:20px;color:red"></i>
                                {% endif %}
                                </strong></p>
                            {% endfor %}
                        </div> <!--// end panel body -->
                    </div> <!--// end panel -->
                    </div>  <!--// end col-sm-6  -->
                </div> <!--// end panel body -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-12  -->
    </div> <!--// end row  -->



    {% if  log_trace %}
    <div class="row row-space-2 margin-b-4">
            <div class="col-sm-12" >
                <div class="panel panel-default">
                    <div class="panel-heading"><H3>Log file for MiSeq test</H3> </div>
                     <div class="panel-body">

                        <div class="panel-wrapper-sm-12"> <!-- // wrapper  -->
                                {% if log_trace %}
                                    {% for line in log_trace %}
                                        <p> {{ line }}</p>
                                    {% endfor %}
                                {% else %}
                                    <h4>Unable to fetch the log file</h4>
                                {% endif %}
                        </div> <!-- //wrapper  -->
                    </div> <!--// end panel body -->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-7  -->
        </div> <!--// end row  -->

    {% endif %}

    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-8 col-sm-offset-3">
                <div class="panel panel-default">
                <div class="panel-heading"><H3>Test Options</H3></div>
                <div class="panel-body">
                        <p><strong>Click on the "Re-Run MiSeq test" button . if you want to repeat the test </strong></p>
                        <form method="post" enctype="multipart/form-data" name="configurationtest" id="configurationtest" class="form-horizontal well">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="runMiSeq"/>
                            <br>
                            <input class="btn pull-left btn-primary" onclick="window.location.href=''" value="Back to Test Page">
                            <input class="btn pull-center btn-primary" type="submit" value="Delete test run" name="Delete">
                            <input class="btn pull-right btn-primary" type="submit" value="Re-Run MiSeq Test" name "RunTest">
                        </form>
                    </div> <!--// end panel body -->
            </div> <!--// end panel -->
        </div>  <!--// end col-sm-6  -->
    </div> <!--// end row  -->



{% else %}
    <!-- FORM for selecting annual Report Information -->

    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3" >
            <div class="panel panel-default">
                <div class="panel-heading"><H3>Page for starting wetlab configuration testing</H3></div>
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data" name="configurationtest" id="configurationtest" class="form-horizontal well">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="basicTest"/>
                        <br>
                        <p>This is the test page to check the configuration settings defined in your installation.</p>
                        <p>The tests are divided into several parts to cover the run life, from recorded until the run is completed.</p>
                        <ul>
                            <li>Basic test cases. Where testing:</li>
                            <ul>
                                <li>Configuration files accesibility.</li>
                                <li>Samba connection to remote server</li>
                                <li>Database access</li>
                                <BR>
                            </ul>
                            <li>NextSeq run. Using a predefined NestSeq test run:</li>
                            <ul>
                                <li>Creation of the run in recorded state</li>
                                <li>Updating the run from recorded until completed</li>
                                <BR>

                            </ul>
                            <li>NMiSeq run. Using a predefined MiSeq test run:</li>
                            <ul>
                                <li>Fetch the sample sheet to create the run in recorded state</li>
                                <li>Updating the run from recorded until completed</li>
                            </ul>
                        </ul>
                        <p><strong>Click on the "SUBMIT" button to start the testing</strong></p>
                        <br>

                        <input class="btn pull-right btn-primary" type="submit" value="Submit">
                    </form>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row  -->

{% endif %}
{% endblock %}
