{% extends 'iSkyLIMS_wetlab/base.html' %}
{% load static %}
{% block content %}
{% include "iSkyLIMS_core/graphic_chart_functionality.html" %}

    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-6 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>The Sample {{ display_one_sample.sample_name }}  has matched the criteria from your query.</h3></div>
                <div class="panel-body">
                    This Sample is inside the project  {{ display_one_sample.project_name }}</a>"
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th> Related Information from the Sample</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Run Name </td>
                                <td> <a href="/wetlab/displayRun={{ display_one_sample.run_id }}">{{ display_one_sample.run_name }}</a></td>
                            </tr>
                            <tr>
                                <td>Project Name </td>
                                <td> <a href="/wetlab/displayProject={{ display_one_sample.project_id }}">{{ display_one_sample.project_name }}</a></td>
                            </tr>
                            <tr>
                                <td>Investigator Name </td>
                                <td>{{ display_one_sample.investigator_name }}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-6 -->
        <div class="col-sm-4 col-sm-offset-1" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3> Overall Quality of the Sample</h3></div>
                <div class="panel-body">
                <!-- Quality Sample graphic -->
                    <div id="chart-1"> </div>
                <!-- dumping JavaScript code here -->
                {{ display_one_sample.quality_chart1 |safe }}
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-4  -->
    </div> <!--  end of row -->
    <!-- #################################################  -->
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-10 col-sm-offset-1" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3> Sample Quality Information</h3></div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                {% for values in display_one_sample.heading_samples_info %}
                                    <th>{{ values }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for values in display_one_sample.data_samples_info %}
                                    <td>{{ values }}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-6  -->
   </div> <!--  end of row -->

    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-10 col-sm-offset-1" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3> Percentage of the Sample inside the project</h3></div>
                <div class="panel-body">
                    <!-- Quality Sample graphic -->
                    <div id="samples-chart-2"> </div>
                <!-- dumping JavaScript code here -->
                {{ display_one_sample.percentage_chart |safe }}
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-6  -->
   </div> <!--  end of row -->

{% endblock %}
