<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Mothly Report</h2>
    </div>
    <div class="modal-body">
        <p></p>
     
        <h3>iSkyLIMS Wetlab <small>allows you to get the summary report for a single month.</small> </h3>
        <p>The report will contain information from the runs started at the month and the year that is selected on the FORM.</p>
        <ul><li>Run Names</li>
            <li>Resercher Names</li>
            <li>quality measurements</li>
        </ul>
        <p>and many other information that will help you to generate your own report</p>
    </div>
    <div class="modal-footer">
      <p><BR></p>
    </div>
  </div>

</div>
