{% extends 'iSkyLIMS_wetlab/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<style>

.scroll-wrapper-sm-6 {
    max-height: 450px;
    overflow: auto;
    display:inline-block;
    width: 780px;
}
</style>

{% if ERROR %}
    <div class="row row-space-2 margin-b-4">
        <BR>
        <div class="col-sm-6  col-sm-offset-3"">
            <div class="panel panel-warning">
                <div class="panel-heading"><h3> Result of your request</h3></div>
                <div class="panel-body">
                    {% for line in ERROR %}
                        <p>{{line}}</p>
                    {% endfor %}
                </div> <!--  end of panel body -->
           </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-6 -->
    </div> <!--// end row -->
{% endif %}

{% if display_user_kit_list %}
    <div class="row row-space-2 margin-b-4">
        <BR>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading"><h3> These User Lot Kits have matched your query :</h3></div>
                <div class="panel-body scroll-wrapper-sm-9">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    {%for value in display_user_kit_list.heading %}
                                        <th>{{value}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for comm_name ,kit_name , exp_date, protocols, platform, id in display_user_kit_list.kit_data %}
                                    <tr>
                                        <td><a href="/wetlab/displayUserLotKit={{id}}">{{ kit_name }}</a> </td>
                                        <td> {{ comm_name }} </td>
                                        <td> {{ exp_date }} </td>
                                        <td>{% for protocol in protocols %}  {{protocol}} <br>{% endfor %}</td>
                                        <td>{{platform}}</td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                </div> <!--  end of panel body -->
           </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-6 -->
{% else %}
    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-7 col-sm-offset-1" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Form for Searching User Lot Kits </h3></div>
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data" name="searchuserkit" id="searchuserkit" class="form-horizontal well">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="searchuserkit"/>
                        <div class="form-group">
                            <label class="col-sm-5  control-label" for="lotNumber" >Lot number</label>
                            <div class="col-sm-5"><input class="form-control" type="text" name="lotNumber" id="lotNumber" size="100" maxlength="100"></div>
                        </div>  <!-- end from-group   -->
                        <BR>
                        <div class="form-group">
                            <label class="col-sm-5  control-label" for="commercial" >Commercial kit</label>
                            <div class="col-sm-5"><input class="form-control" type="text" name="commercial" id="commercial" size="100" maxlength="100"></div>
                        </div>  <!-- end from-group   -->
                        <BR>
                        <div class="form-group">
                            <label class="col-sm-5 control-label" for="protocol" >Protocol handled by User Kit</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="protocol" id="protocol">
                       				<option value="">Choose a value</option>
                                    {% for id, value in protocol_list %}
                                        <option value="{{id}}">{{value}}</option>
                                    {% endfor %}
                                </select>
                            </div>  <!-- end select input -->
                        </div>  <!-- end from-group   -->
                        <br>
                        <div class="form-group">
                            <label class="col-sm-5 control-label" for="platform" >Platform used by User Kit</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="platform" id="platform">
                       				<option value="">Choose a value</option>
                                    {% for id, value in platform_list %}
                                        <option value="{{id}}">{{value}}</option>
                                    {% endfor %}
                                </select>
                            </div>  <!-- end select input -->
                        </div>  <!-- end from-group   -->
                        <br>
                         <div class="form-group">
                            <label class="col-sm-5 control-label" for="expired" >End date to be expired (DD-MM-YYYY)</label>
                            <div class="col-sm-5"><input class="form-control" type="date" name="expired" id="expired" size="100" maxlength="100"></div>
                            <br>
                         </div>  <!-- end from-group   -->
                         <br>
                        <div class="form-group">
                            <label class="col-sm-5 control-label" for="exclude_runout" >Exclude Run Out Kit</label>
                            <div class="col-sm-5"><input class="form-control" type="checkbox" name="exclude_runout" id="exclude_runout"></div>
                            <br>
                         </div>  <!-- end from-group   -->
                         <br><br><br>
                         <input class="btn pull-left btn-primary" type="reset" value="Reset Fields">
                         <input class="btn pull-right btn-primary" type="submit" value="Submit">
                    </form>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->
    <!-- End of FORM for searching User Lot kits -->

{% endif %}

{% endblock %}
