{% extends 'iSkyLIMS_wetlab/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<style>

.scroll-wrapper-sm-6 {
    max-height: 450px;
    overflow: auto;
    display:inline-block;
    width: 580px;
}
</style>

{% if sample_list  or run_sample_list %}
    <div class="row row-space-2 margin-b-4">
        <BR>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3> These samples have matched your query :</h3></div>
                <div class="panel-body scroll-wrapper-sm-6">
                    {% if sample_list %}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Sample name</th>
                                    <th>Sample State</th>
                                    <th>Extraction Date</th>
                                    <th>Sample Code ID</th>
                                    <th>Sample Type</th>
                                    <th>Species</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for id, s_name, s_state, s_date, s_codeID, s_type, species in sample_list %}
                                    <tr>
                                        <td><a href="/wetlab/displaySample={{id}}">{{ s_name }}</a> </td>
                                        <td> {{ s_state }} </td>
                                        <td> {{ s_date }} </td>
                                        <td>{{s_codeID}}</td>
                                        <td>{{s_type}}</td>
                                        <td>{{species}}</td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No samples have matched your request </p>
                    {% endif %}
                </div> <!--  end of panel body -->
           </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-6 -->

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4> Run samples that have matched your query :</h4></div>
                <div class="panel-body scroll-wrapper-sm-6">
                    {% if run_sample_list %}
                        <table class="table table-hover" >
                            <thead>
                                <tr>
                                    <th>Sample name</th>
                                    <th>Project name</th>
                                    <th>Run name</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for id, s_name, p_name, r_name, date in run_sample_list %}
                                    <tr>
                                        <td><a href="/wetlab/displaySampleInRun={{id}}">{{ s_name }}</a> </td>
                                        <td> {{ p_name }} </td>
                                        <td> {{ r_name }} </td>
                                        <td>{{date}}</td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Not matches found</p>
                    {% endif %}
                </div> <!--  end of panel body -->
           </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-6 -->
    </div> <!--// end row -->


{% else %}
{% load user_groups %}
    {% if no_samples %}
        <div class="row row-space-2 margin-b-4">
            <BR>
            <div class="col-sm-6  col-sm-offset-3"">
                <div class="panel panel-warning">
                    <div class="panel-heading"><h3> Result of your request</h3></div>
                    <div class="panel-body">
                        {% for value in no_samples %}
                            <p>{{value}}</p>
                        {% endfor %}
                    </div> <!--  end of panel body -->
               </div> <!--  end of panel  -->
            </div> <!--  end of col-sm-6 -->
        </div> <!--// end row -->
    {% endif %}

<!-- FORM for searching  Library Sample Information -->
    <div class="row row-space-4 margin-b-4">

      <div class="col-sm-7 col-sm-offset-1" >

        <div class="panel panel-default">
          <div class="panel-heading"><h3>Form for Searching Samples </h3></div>
          <div class="panel-body">
            <form method="post" enctype="multipart/form-data" name="searchsample" id="searchsample" class="form-horizontal well">
            {% csrf_token %}
            <input type="hidden" name="action" value="searchsample"/>
            <div class="form-group">
                  <label class="col-sm-5  control-label" for="samplename" >Fill the sample name </label>
                  <div class="col-sm-5"><input class="form-control" type="text" name="samplename" id="samplename" size="100" maxlength="100"></div>
             </div>  <!-- end from-group   -->
            <BR>
                <div class="form-group">
                    <label class="col-sm-5 control-label" for="sampleState" >Sample State</label>
                    <div class="col-sm-4"><select class="form-control" name="sampleState" id="sampleState">
                                   				<option value="">Choose a value</option>
                                                {% for value in search_data.s_state %}
                                                    <option value="{{value}}">{{value}}</option>
                                                {% endfor %}

                                          </select>
                   </div>  <!-- end select input -->
                </div>  <!-- end from-group   -->
            <br>
             <div class="form-group">
                <label class="col-sm-5 control-label" for="startdate" >From Date (DD-MM-YYYY)</label>
                <div class="col-sm-5"><input class="form-control" type="date" name="startdate" id="startdate" size="100" maxlength="100"></div>
                <br>
             </div>  <!-- end from-group   -->
             <br>
             <div class="form-group">
                <label class="col-sm-5 control-label" for="enddate" >End Date (DD-MM-YYYY)</label>
                <div class="col-sm-5"><input class="form-control" type="date" name="enddate" id="enddate" size="100" maxlength="100"></div>
                <br>
             </div>  <!-- end from-group   -->
             <br>
             <br>
            <div class="form-group">
                  <label class="col-sm-5  control-label" for="username" >Search from user name</label>
                  {% if request.user|has_group:"WetlabManager" %}
                    <div class="col-sm-5"><input class="form-control" type="text" name="username" id="username" size="100" maxlength="100"></div>
                  {% else %}
                    <div class="col-sm-5"><input class="form-control" type="text" name="username" id="username" value="{{user.get_username}}"  size="100" maxlength="100" placeholder="{{user.get_username}}" readonly></div>
                  {% endif %}
             </div>  <!-- end from-group   -->
            <br>
            <br>
                <input class="btn pull-left btn-primary" type="reset" value="Reset Fields">
                <input class="btn pull-right btn-primary" type="submit" value="Submit">
            </form>
         </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->

        </div> <!--// end col-sm-7  -->

    </div> <!--// end row -->

    <!-- End of FORM for searching Project information -->

{% endif %}

{% endblock %}
