<section class="iskylims">
    {% if ERROR %}
        <div class="row my-2">
            <div class="col-sm-7 offset-3">
                <div class="card border-danger mb-3">
                    <div class="card-header"><h3 style="text-align:center">Invalid settings</h3> </div>
                    <div class="card-body">
                            <h4>{{ERROR}}</h4>
                    </div>
                </div>
            </div> 
        </div> 
    {% endif %}
    {% if succesful_settings %}
        <div class="row my-2">
            <div class="col-sm-7 offset-3">
                <div class="card ">
                    <div class="card-header"><h3 style="text-align:center">Sucessful Configuration settings</h3> </div>
                    <div class="card-body">
                        <h5 style="text-align:center">Check your email box to check the email</h5>
                        <br>
                        <br>
                        <h5 style="text-align:center"> If you changes any of the email settings, they will be returned to the old values when reset iSkyLIMS</h5>
                        <br>
                        <h5 style="text-align:center">To make permanent the changes, write the right values in settings.py file</h5>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container px-4">
            <div class="card">
                <div class="card-header"><h3 style="text-align:center">Configuration settings for email</h3></div>
                <form method="post" enctype="multipart/form-data" name="emailconfiguration" id="emailconfiguration">
                    <input type="hidden" name="action" value="emailconfiguration"/>
                    {% csrf_token %}
                    <div class="row my-2">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-title" style="text-align:center">Email setting fields</div>
                                <div class="card-body">
                                    <div class="form-floating mb-3">
                                        <input class="form-control" type="text" required = "required" name="EMAIL_HOST" id="EMAIL_HOST" value = "{{email_conf_data.EMAIL_HOST}}" placeholder="Email host">
                                        <label class="text-danger" for="EMAIL_HOST" >Email Host</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" type="text" required = "required" name="EMAIL_PORT" id="EMAIL_PORT" value = "{{email_conf_data.EMAIL_PORT}}" placeholder="Email port">
                                        <label  class="text-danger" for="EMAIL_PORT" >Email Host Port</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" type="text" required = "required" name="USER_EMAIL" id="USER_EMAIL" value = "{{email_conf_data.USER_EMAIL}}" placeholder="User">
                                        <label  class="text-danger" for="USER_EMAIL" >Host Email User </label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" type="password" name="USER_PASSWORD" id="USER_PASSWORD" value = "{{email_conf_data.USER_PASSWORD}}"placeholder="user password">
                                        <label class="text-danger" for="USER_PASSWORD" >Host Email User Password </label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" type="text" required = "required" name="EMAIL_ISKYLIMS" id="EMAIL_ISKYLIMS" value = "{{email_conf_data.EMAIL_ISKYLIMS}}" placeholder="user email for notifications">
                                        <label  class="text-danger" for="EMAIL_ISKYLIMS" >Email used for notifications</label>
                                    </div>
                                    <div class="form-check form-switch col mb-2">
                                        <label class="form-check-label form-label text-danger" for="USE_TLS" >Use TLS</label>
                                        {% if email_conf_data.USE_TLS == True %}
                                            <input class="form-check-input" type="checkbox" name="USE_TLS" id="USE_TLS" checked>
                                        {% else %}
                                            <input class="form-check-input" type="checkbox" name="USE_TLS" id="USE_TLS">
                                        {% endif %}
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" type="email" required = "required" name="test_email" id="test_email" value = "{{email_conf_data.EMAIL_FOR_NOTIFICATIONS}}" placeholder="email sent for testing">
                                        <label class="text-danger" for="test_email" >email for testing </label>
                                    </div>
                                </div>  
                            </div> 
                        </div>
                        <div class="col-sm-6" >
                            <div class="card ">
                                <div class="card-header"><h3  style="text-align:center">Configuration Email help</h3></div>
                                <div class="card-body">
                                    <h5 style="text-align:center">This form will be used to test the email settings</h5>
                                    <p class="py-3">The data information displayed in the form is collected from the iSkyLIMS/settings.py file. </p>
                                    <p class="py-3">By Updating these settings no changes are done in the settings.py file. The present form is only to know the right values for sending notification emails to users</p>
                                    <p>Once you get a succesful settings you need to set in the settings.py file</p>
                                    <p class="py-3">The only value that it is updated in database is "Email used for notifications"</p>
                                </div> 
                                <p class="ms-3 mb-3"> Fields marked in <FONT COLOR="Red">Red</FONT> are mandatory</p>
                            </div> 
                        </div>
                    </div>
                    
                    <input class="btn btn-outline-secondary ms-3 mb-1" type="reset" value="Reset Fields">
                    <input class="btn btn-outline-primary float-end me-3 mb-1" type="submit" value="Send email test">
                </form>
                       
            </div>  
        </div> 
    {% endif %}
</section>