{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Contact Us</h1>
{% csrf_token %}

<div class="row mt-2 mb-4">
    <div class="col-sm-8">  <!--col-sm-8  User statatistics Form  -->
    <div class="container-fluid margin-t-40">
        <div class="card ">
            <div class="card-header">Contact information</div>
            <div class="card-body">
                <h4>Contact information</h4>
                <table class="table table-hover" >
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for name, email in contact_info.items %}
                            <tr>
                                <td>{{ name }} </td>
                                <td>{{ email }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% crispy form %}
    </div>
    </div> <!--// end col-sm-8  User statatistics Form  -->
</div> <!-- //  end row -->
{% endblock %}
