{% load static %}
<!--========== FOOTER ==========-->
<footer id="footer" class="footer">
    <div class="footer-content">
        <div class="container text-center text-md-start mt-5">
            <section class="justify-content-center">
                <!-- Grid row -->
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="footer-logo">
                            <a href="http://www.isciii.es" target="_blank"><img class="footer-logo" src="{% static "core/custom/img/isciii_logo.jpg" %}" alt="ISCiii_Logo"></a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <h6>Contact us</h6>
                        <ul class="list-unstyled list-inline">
                            <li> <a href="/contact" ><i class="bi bi-envelope" style="font-size: 30px;"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h6>Social networks</h6>
                        
                            <a href="https://github.com/BU-ISCIII"><i class="bi bi-github" style="font-size: 30px;"></i></a>
                            <a href="https://twitter.com/BUISCIII" style="padding-left: 10px;"><i class="bi bi-twitter" style="font-size: 30px;"></i></a>
                    </div>
                    <div class="col-md-4">
                        <h6>Powered by</h6>
                        <img class="footer-power-by-logo" src="{% static "core/custom/img/logo_bu_isciii.png" %}" alt="ISCiii_Bio_Informatic_Logo">
                    </div>
                </div>
            </section>
            <section class="p-4 border-bottom">
			    <p class="text-center">Version 2.3.1</p>
            </section> <!--// end section -->
	    </div> <!--// end container -->
    </div> <!--// end footer content -->
</footer> <!--// end footer -->
