
{% load static %}
<script type="text/javascript" src="{% static "core/vendor/fusioncharts/js/fusioncharts.widgets.js" %}"></script>
<script type="text/javascript" src="{% static "core/vendor/fusioncharts/js/fusioncharts.js" %}"></script>
<script type="text/javascript" src="{% static "core/vendor/fusioncharts/js/fusioncharts.powercharts.js" %}"></script>
<script type="text/javascript" src="{% static "core/vendor/fusioncharts/js/fusioncharts.charts.js" %}"></script>
<script type="text/javascript" src="{% static "core/vendor/fusioncharts/js/themes/fusioncharts.theme.fint.js" %}"></script>
<script type="text/javascript" src="{% static "core/vendor/fusioncharts/js/themes/fusioncharts.theme.ocean.js" %}"></script>
<script type="text/javascript" src="{% static "core/vendor/fusioncharts/js/themes/fusioncharts.theme.zune.js" %}"></script>
<script type="text/javascript" src="{% static "core/vendor/fusioncharts/js/themes/fusioncharts.theme.carbon.js" %}"></script>