<meta charset="utf-8">
<title>iSkyLIMS</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<!-- GLOBAL MANDATORY STYLES -->
<link rel="icon" href="{% static 'core/main_style/img/iskylims.ico' %}">
<link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<link href="{% static "core/vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "core/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" type="text/css"/>

<!-- GLOBAL MANDATORY JAVA SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> <!-- drop menus -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>


<script type="text/javascript" src="{% static 'core/custom/js/core_custom.js' %}"></script>



<!-- PAGE LEVEL PLUGIN STYLES -->
<link href="{% static "core/custom/css/core_custom.css" %}" rel="stylesheet">
{% comment %} 
    <link href="{% static "core/vendor/swiper/css/swiper.min.css" %}" rel="stylesheet" type="text/css"/> 
{% endcomment %}
<link href="{% static "core/custom/css/form.css" %}" rel="stylesheet" type="text/css"/>

<!-- THEME STYLES -->
<link href="{% static "core/main_style/css/layout.css" %}" rel="stylesheet" type="text/css"/>
