{% extends 'core/base.html' %}
{% load static %}
{% block content %}

{% include "core/menu.html" %}

<section class="iskylims d-flex flex-column fill-height">
    <div class="container-md">
        {% include 'registration/login_inline.html' %}
        <div class="row mt-3 pb-5">
            {% for app , text in apps_in_iskylims %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>{{text}}</h3>
                    </div>
                    <div class="card-body">
                        <a href="/{{ app }}/">
                            <img class="card-img-top" src="/static/{{app}}/custom/img/{{ app }}.png"
                                alt="{{ app }}"></img>
                        </a>
                    </div> <!--// end card body -->
                </div> <!--// end card -->
            </div> <!--// end col-sm-4-->
            {% endfor %}
        </div> <!--// end row -->
    </div>
</section>
{% endblock %}