{% load static %}
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{% static 'core/vendor/multiple_files/css/jquery.fileupload-ui.css' %}">
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{% static 'core/vendor/multiple_files/js/vendor/jquery.ui.widget.js' %}"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="{% static 'core/vendor/multiple_files/js/tmpl.min.js' %}"></script>
<!-- The basic File Upload plugin -->
<script src="{% static 'core/vendor/multiple_files/js/jquery.fileupload.js' %}"></script>
<!-- The File Upload processing plugin -->
<script src="{% static 'core/vendor/multiple_files/js/jquery.fileupload-process.js' %}"></script>
<!-- The File Upload user interface plugin -->
<script src="{% static 'core/vendor/multiple_files/js/jquery.fileupload-ui.js' %}"></script>
<!-- The main application script -->
<script src="{% static 'core/vendor/multiple_files/js/main.js' %}"></script>
<script src="{% static 'core/vendor/multiple_files/js/locale.js' %}"></script>
<script src="{% static 'core/vendor/multiple_files/js/csrf.js' %}"></script>