{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    {% include 'core/jexcel_functionality.html' %}
    {% include "drylab/menu.html" %}
    <section class="iskylims d-flex flex-column fill-height">
        <div class="container-md">
            {% include 'registration/login_inline.html' %}
            {% if ERROR %}
                <div class="row justify-content-center pb-2 pt-2">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h3>Result of your request</h3>
                            </div>
                            <div class="card-body">
                                {% for message in ERROR %}<p>{{ message }}</p>{% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row justify-content-center pb-2 pt-2">
                <div class="col-md-8">
                    {% if created_resolution %}
                        <div class="card ">
                            <div class="card-header">Resolution has been successfully created</div>
                            <div class="card-body">
                                <h5>
                                    Your resolution proposal has been successfully recorded:
                                    {{ created_resolution.resolution_number }}
                                </h5>
                                <input class="btn pull-left btn-outline-secondary"
                                       type="button"
                                       value="Go Home"
                                       onclick="location.href ='/drylab' ;" />
                                <input class="btn float-end btn-outline-primary"
                                       type="button"
                                       value="Return to pending services"
                                       onclick="location.href ='/drylab/pending-services' ;" />
                            </div>
                        </div>
                    {% else %}
                        <div class="row pt-2 pb-2 justify-content-center">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        Add resolution
                                        {{ resolution_form_data.service_number }}
                                    </div>
                                    <div class="card-body">
                                        <form method="post"
                                              enctype="multipart/form-data"
                                              action="/drylab/add-resolution"
                                              name="add_resolution"
                                              id="add_resolution">
                                            {% csrf_token %}
                                            {% if resolution_form_data.selected_avail_services %}
                                                <p>
                                                    Resolution for services :
                                                    {% for id, name in resolution_form_data.selected_avail_services %}{{ name }},{% endfor %}
                                                </p>
                                                <input type="hidden"
                                                       name="select_available_services"
                                                       value="{% for id, name in resolution_form_data.selected_avail_services %}{{ id }},{% endfor %}" />
                                            {% endif %}
                                            <input type="hidden" name="action" value="add_resolution" />
                                            <input type="hidden"
                                                   name="service_id"
                                                   value="{{ resolution_form_data.service_id }}" />
                                            <div class="row justify-content-center pb-2 pt-2">
                                                <div class="col-md-12">
                                                    <div class="form-floating mb-3">
                                                        <input type="date"
                                                               class="form-control"
                                                               id="resolution_estimated_date"
                                                               name="resolution_estimated_date"
                                                               placeholder="Estimated resolution date"
                                                               required="required" />
                                                        <label for="resolution_estimated_date" class="text-danger">
                                                            Estimated
                                                            resolution date
                                                        </label>
                                                    </div>
                                                    <div class="form-floating mb-3">
                                                        <input type="text"
                                                               class="form-control"
                                                               id="acronym"
                                                               name="acronym"
                                                               placeholder="Service acronym"
                                                               required="required" />
                                                        <label for="acronym" class="text-danger">Service acronym</label>
                                                    </div>
                                                    <div class="form-floating mb-3">
                                                        <select class="form-select"
                                                                name="resolution_assigned_user"
                                                                id="resolution_assigned_user"
                                                                aria-label="Select user">
                                                            <option value="">Choose a value</option>
                                                            {% for id , name in resolution_form_data.assigned_user %}<option value="{{ id }}">{{ name }}</option>{% endfor %}
                                                        </select>
                                                        <label for="resolution_assigned_user" class="text-danger">Assigned user</label>
                                                    </div>
                                                    <div class="form-check form-switch col mb-2">
                                                        <label class="form-check-label form-label text-danger"
                                                               for="service_accepted">Accept service</label>
                                                        <input class="form-check-input"
                                                               type="checkbox"
                                                               name="service_accepted"
                                                               id="service_accepted"
                                                               checked />
                                                    </div>
                                                    <div class="form-floating mb-3">
                                                        <textarea class="form-control"
                                                                  id="resolution_notes"
                                                                  name="resolution_notes"
                                                                  style="height: 100px"
                                                                  placeholder="Leave a description here"></textarea>
                                                        <label for="resolution_notes">Resolution description</label>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if resolution_form_data.pipelines_data %}
                                                <div class="row pb-2 pt-2">
                                                    <div class="col-md-12">
                                                        <div id="spreadsheet"></div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <input class="btn pull-left btn-outline-secondary"
                                                   type="reset"
                                                   value="Reset Fields" />
                                            <input class="btn float-end btn-outline-primary"
                                                   type="submit"
                                                   value="Submit" />
                                        </form>
                                        <p>
                                            Fields marked with <font COLOR="Red">*</font> are mandatory
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <script>
	$(document).ready(function () {
		$("form").submit(function (e) {
			//disable the submit button
			$("input:submit").attr("disabled", true);
			return true;
		});

		var data = [{% for name, version, id in resolution_form_data.pipelines_data %}
					['{{name}}', '{{version}}', '{{id}}'],
					{% endfor %}
										];
		mySpreadsheet = $('#spreadsheet').jspreadsheet({
			data: data,

			columns: [
				{% for item in resolution_form_data.pipelines_heading %}
				{% if forloop.last %}
				{ type: 'hidden' },
				{% else %}
				{ type: 'text', title: '{{item}}', width: 300 },
				{% endif %}
				{% endfor %}
				{ type: 'checkbox', title: 'Select Pipeline', width: 150 },
				],
			allowInsertColumn: false,
			allowDeleteColumn: false,
			allowRenameColumn: false,
			allowInsertRow: false,
			allowDeleteRow: false,
			tableOverflow: false,
			tableHeight: '200px',
			search: true,
			pagination: 20,
			csvFileName: 'pipelines.csv',
		});
		$("#add_resolution").submit(function (e) {
		//disable the submit button
		var table_data = $('#spreadsheet').jspreadsheet('getData')
		var data_json = JSON.stringify(table_data)
		$("<input />").attr("type", "hidden")
			.attr("name", "pipeline_data")
			.attr("value", data_json)
			.appendTo("#add_resolution");
		$("#btnSubmit").attr("disabled", true);
		return true;
		});
	});
    </script>
{% endblock %}
