{% extends 'core/base.html' %}
{% load static %}

{% block content %}

{% include "drylab/menu.html" %}

<section class="iskylims d-flex flex-column fill-height">
	<div class="container-md">
		{% include 'registration/login_inline.html' %}
		{% if ERROR %}
        <div class="row justify-content-center pb-2 pt-2">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3> Result of your request</h3>
                    </div>
                    <div class="card-body">
                        {% for message in ERROR %}
                        <p>{{message}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
		<div class="row justify-content-center pb-2 pt-2">
			<div class="col-md-8">
				{% if in_progress_resolution %}
				<div class="card ">
					<div class="card-header"><h3 style="text-align:center">Resolution has been Updated</h3></div>
					<div class="card-body">
						<p>Resolution {{in_progress_resolution.resolution_number}} is now in progress </p>
						<input class="btn pull-left btn-outline-secondary" type="button" value="Go home" onclick="location.href ='/drylab' ;"/>
						<input class="btn float-end btn-outline-primary" type="button" value="Return to pending services" onclick="location.href ='/drylab/pending-services' ;"/>
					</div>
				</div>
				{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
