{% extends 'core/base.html' %}
{% block content %}
{% load upload_tags %}

{% include 'core/jexcel_functionality.html' %}

{% include "drylab/menu.html" %}

<section class="iskylims d-flex flex-column fill-height">
    <div class="container-md">
        {% include 'registration/login_inline.html' %}
        {% if ERROR %}
        <div class="row justify-content-center pb-2 pt-2">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3> Result of your request</h3>
                    </div>
                    <div class="card-body">
                        {% for message in ERROR %}
                        <p>{{message}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if samples_added %}
        <div class="row justify-content-center pb-2 pt-2">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header">Added samples to {{ samples_added.service_name }}</div>
                    <div class="card-body">
                        {% if samples_added.samples %}
                        <h5> Samples included in the services are:</h5>
                        <p>
                            {% for sample in samples_added.samples %}
                            {% if forloop.last %}
                            and {{ sample }}.
                            {% else %}
                            {{ sample }},
                            {% endif %}
                            {% endfor %}
                        </p>
                        {% endif %}
                        <input type="button" value="Return to service"
                            onclick="location.href ='/drylab/display_service={{samples_added.service_id}}' ;" />
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row justify-content-center pb-2 pt-2">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header">Add samples to service</div>
                    <div class="card-body">
                        <div class="row justify-content-center pb-2 pt-2">
                            <div class="col-md-12">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <button class="nav-link active" id="nav-sequenced-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-sequenced" type="button" role="tab"
                                            aria-controls="nav-sequenced" aria-selected="true">Select samples sequenced
                                            in-house</button>
                                        <button class="nav-link" id="nav-recorded-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-recorded" type="button" role="tab"
                                            aria-controls="nav-recorded" aria-selected="false">Select samples recorded
                                            but sequenced elsewhere</button>
                                    </div>
                                </nav>
                                <div class="tab-content border-tab p-2" id="nav-tabContent">
                                    <!-- div tab 1 -->
                                    <div class="tab-pane fade show active" id="nav-sequenced" role="tabpanel"
                                        aria-labelledby="nav-sequenced-tab">
                                        {% if service_data_info.samples_heading %}
                                        <div class="container-md">
                                            <div class="row justify-content-center">
                                                <div class="col-md-auto">
                                                    <div id="sequenced-samples"></div>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                        <h3>There are no samples to select</h3>
                                        {% endif %}
                                    </div>
                                    <!-- div tab 2 -->
                                    <div class="tab-pane fade show" id="nav-recorded" role="tabpanel"
                                        aria-labelledby="nav-recorded-tab">
                                        {% if service_data_info.sample_only_recorded_heading %}
                                        <p class="text-primary">Contact with
                                            Bioinformatic unit to provide the sample files</p>
                                        <div class="container-md">
                                            <div class="row justify-content-center">
                                                <div class="col-md-auto">
                                                    <div id="recorded-samples"></div>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="pb-2 pt-2">
                                            <h3>There are no samples recorded sequenced elsewhere</h3>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input class="btn float-end btn-outline-primary" type="submit" id="btnSubmit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endif %}
</section>
<script>
    $(document).ready(function () {
        // Create search foot
        $('#sequenced-samples tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });
        $('#recorded-samples tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });

        // DataTable
        {% if service_data_info.samples_heading %}
        var data_seq_samples = [{% for values in service_data_info.samples_data %}[{% for value in values %}'{{value}}', {% endfor %}], {% endfor %}];
        var table1 = jspreadsheet(document.getElementById('sequenced-samples'), {
            data: data_seq_samples,
            columns: [
                        {% for value in service_data_info.samples_heading %}
                        {% if forloop.counter|divisibleby:2 %}
                        { type: 'hidden' },
                        {% elif forloop.counter == 3 %}
                        { type: 'text', title: '{{value}}', width: 300, readOnly: true },
                        {% else %}
                        { type: 'text', title: '{{value}}', width: 200, readOnly: true },
                        {% endif %}
                        {% endfor %}
                        { type: 'checkbox', title: 'Select Sample', width: 100 },
                    ],
            allowInsertColumn: false,
            allowDeleteColumn: false,
            allowRenameColumn: false,
            allowInsertRow: false,
            allowDeleteRow: false,
            tableOverflow: false,
            search: true,
            pagination: 20,
            lazyloading: true,
            csvFileName: 'SamplesDefined.csv',
        });
        {% endif %}

        {% if service_data_info.sample_only_recorded_heading %}
        var data_record_samples = [{% for values in service_data_info.sample_only_recorded %}[{% for value in values %}'{{value}}', {% endfor %}], {% endfor %}];
        var table2 = jspreadsheet(document.getElementById('recorded-samples'), {
            data: data_record_samples,
            columns: [
                        {% for value in service_data_info.sample_only_recorded_heading %}
                        {% if forloop.counter|divisibleby:2 %}
                        { type: 'hidden' },
                        {% elif forloop.counter == 3 %}
                        { type: 'text', title: '{{value}}', width: 300, readOnly: true },
                        {% else %}
                        { type: 'text', title: '{{value}}', width: 200, readOnly: true },
                        {% endif %}
                        {% endfor %}
                        { type: 'checkbox', title: 'Select Sample', width: 100 },
                    ],
            allowInsertColumn: false,
            allowDeleteColumn: false,
            allowRenameColumn: false,
            allowInsertRow: false,
            allowDeleteRow: false,
            tableOverflow: false,
            search: true,
            pagination: 20,
            csvFileName: 'SamplesDefined.csv',
        });
        {% endif %}

        $("#add_samples_service").submit(function (e) {
            {% if service_data_info.samples_heading %}
            var table_data1 = table1.getData()
            var data_json = JSON.stringify(table_data1)
            $("<input />").attr("type", "hidden")
                .attr("name", "samples_requested")
                .attr("value", data_json)
                .appendTo("#add_samples_service");
            {% endif %}
            var table_data2 = table2.getData()
            var data_json = JSON.stringify(table_data2)
            $("<input />").attr("type", "hidden")
                .attr("name", "only_recorded_samples")
                .attr("value", data_json)
                .appendTo("#add_samples_service");
            $("#btnSubmit").attr("disabled", true);
            return true;
        });
    });
</script>
{% endblock %}