{% extends 'drylab/base.html' %}

{% block content %}


{% if delivery_recorded %}
	{% if delivery_recorded_pending_resolution %}
		<div class="row row-space-4 margin-b-4">
			<div class="col-sm-10 offset-1" >
				<div class="panel panel-warning">
					<div class="card-header"><h3 style="text-align:center">Pending Resolution on this request service</h3></div>
					<div class="card-body">
						<h5>The requested service has another resolution {{delivery_recorded.pending_resolution}} that requires your attention.</h5>
						<br><br>
					</div>
				</div>
			</div> <!--  end of col-sm-10 -->
		</div> <!--  end of row -->
	{% endif %}
	<div class="row row-space-4 margin-b-4">
		<div class="col-sm-10 offset-1" >
			<div class="card ">
				<div class="card-header"><h3 style="text-align:center">Resolution has been delivered</h3></div>
                <div class="card-body">
					<h5>The resolution  has been successfully recorded with Resolution Number {{delivery_recorded.resolution_number}}</h5>
					<br><br>
					<input type="button" value="Return Home" onclick="location.href ='/drylab' ;"/>
					<input class="btn pull-right btn-primary" type="button" value="Return Pending Services" onclick="location.href ='/drylab/pendingServices' ;"/>
				</div>
            </div>
        </div> <!--  end of col-sm-10 -->
    </div> <!--  end of row -->

{% else %}
	<div class="row row-space-4 margin-b-1">
		<div class="col-sm-12 ">
			<div class="card ">
				<div class="card-header"><h3 style="text-align:center">Add Delivery for Resolution {{delivery_data.resolution_number}}</h3></div>
				<div class="card-body">
					<h5 style="text-align:center">Resolution services </h5>
					<form method="post" enctype="multipart/form-data" name="addDeliveryResolution" id="addDeliveryResolution" class="form-horizontal well">
						{% csrf_token %}
						<input type="hidden" name="action" value="addDeliveryResolution"/>
						<input type="hidden" name="resolution_id" value="{{delivery_data.resolution_id}}"/>
						<div class="form-group">
							<label class="col-sm-5 control-label" for="startdate" >Date that job was sent for execution (DD-MM-YYYY)</label>
							<div class="col-sm-5"><input class="form-control" type="date" name="startdate" id="startdate" size="100" maxlength="100"></div>
							<br><br>
							<label class="col-sm-5 control-label" for="enddate" >Execution ending date (DD-MM-YYYY)</label>
							<div class="col-sm-5"><input class="form-control" type="date" name="enddate" id="enddate" size="100" maxlength="100"></div>
							<br><br>
							<div class="form-group">
				                  <label class="col-sm-5  control-label" for="time" >CPU hours used for execution</label>
				                    <div class="col-sm-5"><input class="form-control" type="text" name="time" id="time" size="100" maxlength="100"></div>
				             </div>  <!-- end from-group   -->
							 <div class="form-group">
 				                  <label class="col-sm-5  control-label" for="pspace" >Space disk used in the execution in (GB)</label>
 				                    <div class="col-sm-5"><input class="form-control" type="text" name="pspace" id="pspace" size="100" maxlength="100"></div>
 				             </div>  <!-- end from-group   -->
							 <div class="form-group">
 				                  <label class="col-sm-5  control-label" for="tspace" >Temporal space disk used during execution in (GB)</label>
 				                    <div class="col-sm-5"><input class="form-control" type="text" name="tspace" id="tspace" size="100" maxlength="100"></div>
 				             </div>  <!-- end from-group   -->
							{% if delivery_data.pipelines_data %}
								<div class="col-sm-12">
								 	<table class="table table-hover">
										<thead>
											{% for value in delivery_data.pipelines_data.heading_pipelines %}
												<th>{{value}}</th>
											{% endfor %}
										</thead>
										<tbody>
											{% for values in delivery_data.pipelines_data.pipelines %}
												<tr>
													{% for value in values %}
														{% if not forloop.last %}
															{% if value == True %}
																<td><span class="glyphicon glyphicon glyphicon-ok" style="color:green"></span></td>
															{% elif value == False %}
																<td><span class="glyphicon glyphicon-remove-sign" style="color:red"></span><</td>
															{% else %}
																<td>{{value}}</td>
															{% endif %}
														{% endif %}
													{% endfor %}
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>  <!-- end of col-sm-12   -->

							{% endif %}
						</div>  <!-- end from-group   -->

						<div class="form-group required ">
							<label class="col-sm-5 control-label" for="delivery_notes" >Notes</label>
							<div class="col-sm-7">
								<textarea class="form-control" required name="delivery_notes" value="" id="delivery_notes" rows="8" cols="60" maxlength="800"></textarea>
							</div>
							<br><br>
						</div>  <!-- end from-group   -->
						<br>

	                    <input class="btn btn-primary" type="reset" value="Reset Fields">
	                    <input class="btn pull-right btn-primary" type="submit" value="Submit">
					</form>
	                <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>
				</div>  <!--  end of panel body  -->
			</div> <!--// end panel -->
		</div><!-- // end of col-sm-8 -->
	</div><!-- // end of row -->
{% endif %}

<script>
    $(document).ready(function () {
        $("form").submit(function (e) {
            //stop submitting the form to see the disabled button effect
            // e.preventDefault();
            //disable the submit button
            $("input:submit").attr("disabled", true);
            return true;
        });
    });
</script>
{% endblock %}
