{% extends 'drylab/base.html' %}
{% load static %}

{% block content %}

{% if created_resolution %}
	<div class="row row-space-4 margin-b-4">
		<div class="col-sm-10 offset-1" >
			<div class="card ">
				<div class="card-header"><h3 style="text-align:center">Resolution has been created</h3></div>
                <div class="card-body">
					<h5>Your resolution proposal has been successfully recorded with Resolution Number {{created_resolution.resolution_number}}</h5>
					<br><br>
					<input type="button" value="Return Home" onclick="location.href ='/drylab' ;"/>
					<input class="btn float-end btn-outline-primary" type="button" value="Return Pending Services" onclick="location.href ='/drylab/pendingServices' ;"/>
				</div>
            </div>
        </div> <!--  end of col-sm-10 -->
    </div> <!--  end of row -->
{% else %}
	{%include 'core/jexcel_functionality.html' %}
		<div class="row row-space-4 margin-b-1">
	        <div class="col-sm-12 ">
				<div class="card ">
					<div class="card-header"><h3 style="text-align:center">Add Resolution Form for Service {{resolution_form_data.service_number}}</h3></div>
		            <div class="card-body">
						<form method="post" enctype="multipart/form-data" name="addResolutionService" id="addResolutionService" class="form-horizontal well">
		                    {% csrf_token %}
							{% if resolution_form_data.selected_avail_services_data %}
								<h5 style="text-align:center"> The Resolution information in the form are only for the services : {% for id, name in resolution_form_data.selected_avail_services_data %} {{name}},  {% endfor %}</h5>
								<input type="hidden" name="selectedServices" value="{% for id, name in resolution_form_data.selected_children_services %}{{id}},{% endfor %}">
							{% endif %}
							<input type="hidden" name="action" value="addResolutionService"/>
							<input type="hidden" name="service_id" value="{{resolution_form_data.service_id}}"/>
							{% if resolution_form_data.selected_avail_services_data %}
								<input type="hidden" name="select_available_services" value="{% for id, name in resolution_form_data.selected_avail_services_data %}{{id}},{% endfor %}"/>
							{% endif %}
							<br>

				             	<div class="form-control required ">
				                	<label class="col-sm-5 control-label" for="resolutionEstimatedDate" >Estimated resolution date</label>
				                	<div class="col-sm-5"><input class="form-control" required = "required" type="date" name="resolutionEstimatedDate" id="resolutionEstimatedDate"></div>
				                	<br><br>
									<label class="col-sm-5 control-label" for="acronymName" >Acronym Service Name</label>
				                	<div class="col-sm-5"><input class="form-control" required = "required" type="text" name="acronymName" id="acronymName" value="{{resolution_form_data.resolution_full_number}}"></div>
				                	<br><br>
									<label class="col-sm-5 control-label" for="resolution_asigned_user" >Assign to user</label>
									<div class="col-sm-5">
										<select class="form-control"  required = "required" name="resolution_asigned_user" id="resolution_asigned_user">
			                                {% for id , name in resolution_form_data.assigned_user %}
			                                    <option value="{{id}}">{{name}}</option>
			                                {% endfor %}
			                            </select>
			                        </div>  <!-- end select input -->
									<br><br>
									<label class="col-sm-5 control-label" for="serviceAccepted" >Service Request</label>
	                                <div class="col-sm-4">
	                                    <label class="radio-inline"><input type="radio" name="serviceAccepted" required = "required" value="Accepted" checked>Accepted</label>
	                                    <label class="radio-inline"><input type="radio" name="serviceAccepted" required = "required" value="Rejected" >Rejected</label>
	                                </div>  <!-- end  radio -->
			                        <br><br>
								</div>  <!-- end from-group   -->
								<div class="form-control ">
									<label class="col-sm-5 control-label" for="resolutionNotes" >User Notes</label>
			                        <div class="col-sm-5">
			                            <textarea class="form-control" name="resolutionNotes" value="" id="resolutionNotes" rows="4" cols="60" maxlength="440"></textarea>
			                        </div>  <!-- end textarea input -->
			                        <br>
				             	</div>  <!-- end from-group   -->

								<br>
			                    <br>
								{% if resolution_form_data.pipelines_data %}
									<div class="col-sm-9 offset-2">


									<div id="spreadsheet"></div>
									<br>
									<script>
										var data = [{% for name , version, id in resolution_form_data.pipelines_data %}
										   				['{{name}}', '{{version}}', '{{id}}'],
										   			{% endfor %}
												];
									   mySpreadsheet = $('#spreadsheet').jexcel({
										   data:data,

										   columns: [
											   {% for item in  resolution_form_data.pipelines_heading %}
												   {% if forloop.last %}
													   { type: 'hidden' },
												   {% else %}
												   { type: 'text', title:'{{item}}', width:300 },
												   {% endif %}
											   {% endfor %}
											   { type: 'checkbox',  title:'Select Pipeline', width:150 },
										   ],
										   allowInsertColumn:false,
										   allowDeleteColumn:false,
										   allowRenameColumn:false,
										   allowInsertRow:false,
										   allowDeleteRow:false,
										   tableOverflow:false,
										   tableHeight:'200px',
										   search:true,
										   pagination:20,
										   csvFileName:'pipelines.csv',
									   });
									</script>
									</div>
								{% endif %}

							<br>
		                    <br>

			                    <input class="btn btn-outline-primary" type="reset" value="Reset Fields">
			                    <input class="btn float-end btn-outline-primary" type="submit" value="Submit">

						</form>
		                <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>
						<script>
	                        $(document).ready(function () {
	                            $("#addResolutionService").submit(function (e) {
	                                //stop submitting the form to see the disabled button effect
	                                //e.preventDefault();
	                                //disable the submit button
	                                var table_data = $('#spreadsheet').jexcel('getData')
	                                var data_json = JSON.stringify(table_data)
	                                $("<input />").attr("type", "hidden")
	                                  .attr("name", "pipeline_data")
	                                  .attr("value", data_json)
	                                  .appendTo("#addResolutionService");
	                                $("#btnSubmit").attr("disabled", true);
	                                return true;
	                            });
	                        });
	                    </script>
					</div>  
	        	</div>
			</div><!-- // end of col-sm-8 -->
	    </div><!-- // end of row -->
	<script>
	    $(document).ready(function () {
	        $("form").submit(function (e) {
	            //stop submitting the form to see the disabled button effect
	            // e.preventDefault();
	            //disable the submit button
	            $("input:submit").attr("disabled", true);
	            return true;
	        });
	    });
	</script>
{% endif %}
{% endblock %}
