{% extends 'wetlab/base.html' %}
{% load static %}
{% block content %}
    {% csrf_token %}


<script type="text/javascript" src="{% static "wetlab/js/wetlab.js" %}"></script>

<link rel="stylesheet"  href="{% static "wetlab/css/styles/default.css"%}">
<script src="{% static "wetlab/js/highlight.pack.js" %}"></script>
<script>hljs.initHighlightingOnLoad();</script>


<style>
.table-wrapper {
    max-height: 450px;
    overflow: auto;
    display:inline-block;
    width: 550px;
}
.panel-wrapper-sm-6 {
    max-height: 450px;
    overflow: auto;
    display:inline-block;
    width: 670px;
}
.panel-wrapper-sm-12 {
    max-height: 450px;
    overflow: auto;
    display:inline-block;
    width: 1150px;
}

p {
   font-size: 18px;
}

</style>
{% if test_results %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3" >
            <div class="panel panel-default">
                <div class="panel-heading"><H3>Drylab configuration testing results</H3></div>
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row  -->
    
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3" >
            <div class="panel panel-default">
                <div class="panel-heading"><H3>iSkyLIMS configuration settings
                {% if test_results.iSkyLIMS_settings %}
                    <i class="pull-right glyphicon glyphicon-ok" style="font-size:40px;color:green"></i>
                {% else %}
                    <i class="pull-right glyphicon glyphicon-remove" style="font-size:40px;color:red"></i>
                {% endif %}
                </H3> </div>
                <div class="panel-body">
                    <div class="panel-wrapper-sm-6"> <!-- // wrapper  -->
                        <div class="col-sm-12">
                            {% if test_results.iSkyLIMS_settings %}
                            
                            <pre><code >
{% for line in test_results.iSkyLIMS_settings %}
    {{ line }}
{% endfor %}
                            </code></pre>
                            {% else %}
                            <h4>Unable to fetch iSkyLIMS configuration file</h4>
                            {% endif %}
                        </div> <!--// end col-sm-12  -->
                    </div> <!-- //wrapper  -->
                </div> <!--// end panel body -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row  -->
    
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3" >
            <div class="panel panel-default">
                <div class="panel-heading"><H3>Drylab configuration settings
                {% if test_results.config_file %}
                    <i class="pull-right glyphicon glyphicon-ok" style="font-size:40px;color:green"></i>
                {% else %}
                    <i class="pull-right glyphicon glyphicon-remove" style="font-size:40px;color:red"></i>
                {% endif %}
                </H3> </div>
                <div class="panel-body">
                    <div class="panel-wrapper-sm-6"> <!-- // wrapper  -->
                        <div class="col-sm-12">
                            {% if test_results.config_file %}
                            
                            <pre><code >
{% for line in test_results.config_file %}
    {{ line }}
{% endfor %}
                            </code></pre>
                            {% else %}
                            <h4>Unable to fetch the iSkyLIMS drylab configuration file</h4>
                            {% endif %}
                        </div> <!--// end col-sm-12  -->
                    </div> <!-- //wrapper  -->
                </div> <!--// end panel body -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row  -->
    
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3" >
            <div class="panel panel-default">
                <div class="panel-heading"><H3>Database access
                {% if test_results.database_access == 'OK' %}
                    <i class="pull-right glyphicon glyphicon-ok" style="font-size:40px;color:green"></i>
                {% else %}
                    <i class="pull-right glyphicon glyphicon-remove" style="font-size:40px;color:red"></i>
                {% endif %}
                </H3> </div>
                 <div class="panel-body">
                    <div class="panel-wrapper-sm-6"> <!-- // wrapper  -->
                        <div class="col-sm-12">
                            {% if test_results.database_access %}
                                <h4>Success to connect to database</h4>
                            {% else %}
                                <h4>Unable to connect to database</h4>
                            {% endif %}
                        </div> <!--// end col-sm-12  -->
                    </div> <!-- //wrapper  -->
                </div> <!--// end panel body -->

            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row  -->
    
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3" >
            <div class="panel panel-default">
                <div class="panel-heading"><H3>Drylab services definition
                {% if test_results.services %}
                    <i class="pull-right glyphicon glyphicon-ok" style="font-size:40px;color:green"></i>
                {% else %}
                    <i class="pull-right glyphicon glyphicon-remove" style="font-size:40px;color:red"></i>
                {% endif %}
                </H3> </div>
                 <div class="panel-body">
                    <div class="panel-wrapper-sm-6"> <!-- // wrapper  -->
                        <div class="col-sm-12">
                            {% if test_results.services %}
                                {% for line in test_results.services %}
                                    <p> {{ line }}</p>
                                {% endfor %}
                            {% else %}
                                <h4>Unable to fetch the services defined in database</h4>
                            {% endif %}
                        </div> <!--// end col-sm-12  -->
                    </div> <!-- //wrapper  -->
                </div> <!--// end panel body -->

            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row  -->
    
    
    {% if test_results.basic_checks_ok == 'OK' %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><H3>Execute the resolution test</H3> </div>
                    <div class="panel-body">
                            <p><strong>Once the basic check test has been pass, you can execute the testing for creating a resolution</strong></p>
                            <form method="post" enctype="multipart/form-data" name="configurationtest" id="configurationtest" class="form-horizontal well">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="resolutionTest"/>
                                <br>
                                <input class="btn pull-right btn-primary" type="submit" value="Run Resolution Test">
                            </form>
                        </div> <!--// end panel body -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-12  -->
    </div> <!--// end row  -->
    
    {% else %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><H3>Basic test not passed</H3> </div>
                <div class="panel-body">
                    <p><strong>Some of the test cases were not passed. Check the configuration files to find out the error and re-run the test again.</strong></p>
                    <p></p><p><strong>You can not go further in the testing while the Basic test are not passed OK.</strong></p>
                    <form method="post" enctype="multipart/form-data" name="configurationtest" id="configurationtest" class="form-horizontal well">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="basicTest"/>
                        <br>
                        <input class="btn pull-right btn-primary" type="submit" value="Re-Run Basic Test">
                    </form>
                </div> <!--// end panel body -->
                
    {% endif %}
    
{% elif resolution_results %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-6 col-sm-offset-3" >
            <div class="panel panel-default">
                <div class="panel-heading"><H3>Additional test for drylab
                 {% if resolution_results.completed_ok %}
                    <i class="pull-right glyphicon glyphicon-ok" style="font-size:40px;color:green"></i>
                {% else %}
                    <i class="pull-right glyphicon glyphicon-remove" style="font-size:40px;color:red"></i>
                {% endif %}
                </H3> </div>
                <div class="panel-body">
                    <p><strong>Check below for the test performed for every test in the service handling for drylab </strong></p>
                </div> <!--// end panel body -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-6  -->
    </div> <!--// end row  -->
    
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><H3>Specific Test Cases for Drylab</H3></div>
                <div class="panel-body">
                    <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><H3>1. - Test Executed to create service Test
                         {% if resolution_results.create_service_ok == "OK" %}
                            <i class="pull-right glyphicon glyphicon-ok" style="font-size:30px;color:green"></i>
                        {% else %}
                            <i class="pull-right glyphicon glyphicon-remove" style="font-size:30px;color:red"></i>
                        {% endif %}
                        </H3> </div>
                        <div class="panel-body">
                            {% for test_case, result in resolution_results.CreateService %}
                                <p><strong> {{ test_case }} 
                                {% if result == 'OK' %}
                                    <i class="pull-right glyphicon glyphicon-ok" style="font-size:20px;color:green"></i>
                                {% else %}
                                    <i class="pull-right glyphicon glyphicon-remove" style="font-size:20px;color:red"></i>
                                {% endif %}
                                </strong></p>
                            {% endfor %}
                        </div> <!--// end panel body -->
                    </div> <!--// end panel -->
                   </div>  <!--// end col-sm-6  -->
                        
                    {%if resolution_results.resolution_test %}
                    <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><H3>2. - Test Executed to create Resolution
                         {% if resolution_results.create_resolution_ok == "OK" %}
                            <i class="pull-right glyphicon glyphicon-ok" style="font-size:30px;color:green"></i>
                        {% else %}
                            <i class="pull-right glyphicon glyphicon-remove" style="font-size:30px;color:red"></i>
                        {% endif %}
                        </H3> </div>
                        <div class="panel-body">
                            {% for test_case, result in resolution_results.resolution_test %}
                                <p><strong> {{ test_case }} 
                                {% if result == 'OK' %}
                                    <i class="pull-right glyphicon glyphicon-ok" style="font-size:20px;color:green"></i>
                                {% else %}
                                    <i class="pull-right glyphicon glyphicon-remove" style="font-size:20px;color:red"></i>
                                {% endif %}
                                </strong></p>
                            {% endfor %}
                        </div> <!--// end panel body -->
                    </div> <!--// end panel -->
                    {% endif %}
                    </div>  <!--// end col-sm-6  -->
                    
                    
                </div> <!--// end panel body -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-12  -->
    </div> <!--// end row  -->
    
    
    
    <div class="row row-space-2 margin-b-4">   
        <div class="col-sm-8 col-sm-offset-3">
                <div class="panel panel-default">
                <div class="panel-heading"><H3>Test Options</H3></div>
                <div class="panel-body">
                        <p><strong>Click on the "Re-Run Resolution test" button . if you want to repeat the test </strong></p>
                        <form method="post" enctype="multipart/form-data" name="configurationtest" id="configurationtest" class="form-horizontal well">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="resolutionTest"/>
                            <br>
                            <input class="btn pull-left btn-primary" onclick="window.location.href=''" value="Back to Test Page">
                            <input class="btn pull-center btn-primary" type="submit" value="Delete test run" name="Delete">
                            <input class="btn pull-right btn-primary" type="submit" value="Re-Run Resolution Test" name "resolutionTest">
                        </form>
                    </div> <!--// end panel body -->
            </div> <!--// end panel -->
        </div>  <!--// end col-sm-6  -->
    </div> <!--// end row  -->

{% else %}
    <!-- FORM for selecting annual Report Information -->
  
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3" >
            <div class="panel panel-default">
                <div class="panel-heading"><H3>Page for starting drylab configuration testing</H3></div>
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data" name="configurationtest" id="configurationtest" class="form-horizontal well">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="basicTest"/>
                        <br>
                        <p>This is the test page to check the configuration settings defined in your installation.</p>
                        <p>The tests are divided into several parts to cover the service creation life, from requested until the service is delivered.</p>
                        <ul>
                            <li>Basic test cases. Where testing:</li>
                            <ul> 
                                <li>Configuration files accesibility.</li>
                                <li>Samba connection to remote server</li>
                                <li>Database access</li>
                                <li>Services definitions</li>
                                <BR>
                            </ul>
                            <li>Service request creation.</li>
                            <ul> 
                                <li>Request a Service.</li>
                                <li>Handling service until it is delivered.</li>
                                <BR>
                                
                            </ul>
                        </ul>
                        <p><strong>Click on the "SUBMIT" button to start the testing</strong></p>
                        <br>

                        <input class="btn pull-right btn-primary" type="submit" value="Submit">
                    </form>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row  -->
{% endif %}
{% endblock %}
