{% extends 'core/base.html' %}
{% load static %}
{% block content %}

{% include "drylab/menu.html" %}

<section class="iskylims d-flex flex-column fill-height">
    <div class="container-md">
        {% include 'registration/login_inline.html' %}
        {% if ERROR %}
        <div class="row justify-content-center pb-2 pt-2"></div>
        <div class="col-md-8">
            <div class="card border-danger">
                <div class="card-header">Invalid settings</div>
                <div class="card-body">
                    {{ERROR}}
                </div>
            </div>
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->
    {% endif %}
    {% if succesful_settings %}
    <div class="row justify-content-center pb-2 pt-2">
        <div class="col-md-8">
            <div class="card ">
                <div class="card-header">
                    Sucessful Configuration settings
                </div>
                <div class="card-body">
                    Check your email box to check the email
                    If you changes any of the email settings, they will be returned to
                    the old values when reset iSkyLIMS
                    To make permanent the changes, write the right values in settings.py
                    file
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row pb-2 pt-2 justify-content-center">
        <div class="col-sm-8">
            <div class="card ">
                <div class="card-header">Configuration Email help</div>
                <div class="card-body">
                    This form will be used to test the email settings.
                    The data information displayed in the form is collected from the iSkyLIMS/settings.py file.
                    By changing these settings will not update any value in the settings.py file. The present form is
                    only to know the right values for sending notificatin emails to users
                    Once you get a succesful settings you need to set in the settings.py file
                    The only value that it is updated in database is "Email used for notifications"
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pb-2 pt-2">
        <div class="col-md-8">
            <div class="card ">
                <div class="card-header">Configuration settings for email</div>
                <div class="card-body">
                    <div class="container-md">
                        <form method="post" enctype="multipart/form-data" name="emailconfiguration"
                            id="emailconfiguration">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="emailconfiguration" />
                            <div class="row pb-2">
                                <label class="col-md-5 col-form-label" for="EMAIL_HOST">Email Host</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" required="required" name="EMAIL_HOST"
                                        id="EMAIL_HOST" value="{{email_conf_data.EMAIL_HOST}}" size="100"
                                        maxlength="100">
                                </div>
                            </div>
                            <div class="row pb-2">
                                <label class="col-md-5 col-form-label" for="EMAIL_PORT">Email Host Port</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" required="required" name="EMAIL_PORT"
                                        id="EMAIL_PORT" value="{{email_conf_data.EMAIL_PORT}}" size="100"
                                        maxlength="100">
                                </div>
                            </div>
                            <div class="row pb-2">
                                <label class="col-md-5 col-form-label" for="USER_EMAIL">Host Email User </label>
                                <div class="col-md-5"><input class="form-control" type="text" required="required"
                                        name="USER_EMAIL" id="USER_EMAIL" value="{{email_conf_data.USER_EMAIL}}"
                                        size="100" maxlength="100">
                                </div>
                            </div>
                            <div class="row pb-2">
                                <label class="col-md-5 col-form-label" for="USER_PASSWORD">Host Email User
                                    Password</label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" name="USER_PASSWORD" id="USER_PASSWORD"
                                        value="{{email_conf_data.USER_PASSWORD}}" size="100" maxlength="100">
                                </div>
                            </div>
                            <div class="row pb-2">
                                <label class="col-md-5 col-form-label" for="EMAIL_ISKYLIMS">Email Address for
                                    iSkyLIMS
                                </label>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" required="required" name="EMAIL_ISKYLIMS"
                                        id="EMAIL_ISKYLIMS" value="{{email_conf_data.EMAIL_ISKYLIMS}}" size="100"
                                        maxlength="100">
                                </div>
                            </div>
                            <div clas="row pb-2">
                                <div class="col-md-auto">
                                    <label class="col-md-auto col-form-label" for="USE_TLS">Use TLS</label>
                                </div>
                                {% if email_conf_data.USE_TLS %}
                                <div class="col-md-auto">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="USE_TLS" required="required"
                                            value="False" checked>
                                        <label class="form-check-label">YES</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="USE_TLS" required="required"
                                            value="False">
                                        <label class="form-check-label">NO</label>
                                    </div>
                                </div>
                                {% else %}
                                <div class="col-md-auto">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="USE_TLS" required="required"
                                            value="False">
                                        <label class="form-check-label">YES</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="USE_TLS" required="required"
                                            value="False" checked>
                                        <label class="form-check-label">NO</label>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row pb-2">
                                <label class="col-md-5 col-form-label" for="test_email">email for testing </label>
                                <div class="col-md-5"><input class="form-control" type="email" required="required"
                                        name="test_email" id="test_email"
                                        value="{{email_conf_data.EMAIL_FOR_NOTIFICATIONS}}" size="100" maxlength="100">
                                </div>
                            </div>
                            <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>
                            <div class="row justify-content-between">
                                <div class="col-md-auto">
                                    <input class="btn btn-secondary" type="reset" value="Reset Fields">
                                </div>
                                <div class="col-md-auto">
                                    <input class="btn btn-primary" type="submit" value="Send email test">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endif %}
</section>
{% endblock %}