{% extends 'drylab/base.html' %}
{% load static %}
{% block content %}
{% if ERROR %}
    <div class="row mt-2 mb-4">
        <BR>
        <div class="col-sm-6  offset-3"">
            <div class="panel panel-warning">
                <div class="card-header"><h3> Unable to delete the samples requested in services</h3></div>
                <div class="card-body">
                    {% for message in ERROR %}
                        <p>{{message}}</p>
                    {% endfor %}
                </div> <!--  end of panel body -->
           </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-6 -->
    </div> <!--// end row -->
{% endif %}
{% if deleted_samples %}

    <div class="row mt-2 mb-4">
        <BR>
        <div class="col-sm-12">
            <div class="card ">
                <div class="card-header"><h3> Deleted Samples for service {{service_name}}</h3></div>
                <div class="card-body">
                    <h4 tyle="text-align:center"> The following samples were deleted from service {{service_data.service_name}}</h4>
                    {% for sample in deleted_samples %}
                        <h5>{{sample}}</h5>
                    {% endfor %}
                    <br><br>
                    <input type="button" value="Return to service" onclick="location.href ='/drylab/display_service={{service_data.service_id}}' ;"/>
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-12 -->
    </div> <!--// end row -->
{% endif %}

{% endblock %}
