{% extends 'core/base.html' %}
{% load static %}
{% load mptt_tags %}
{% load l10n %}

{% block content %}

{% include "core/cdn_table_functionality.html"%}

{% include "drylab/menu.html" %}

<section class="iskylims d-flex flex-column fill-height">
    <div class="container-md">
        {% include 'registration/login_inline.html' %}
        {% if display_service %}
        <div class="row justify-content-center pb-2 pt-2">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header">
                        Service information
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center pb-2 pt-2">
                            <div class="col-md-6">
                                <table id="service_info" class="table table-hover">
                                    <tbody>
                                        {% if display_service.service_state.value != "recorded" %}
                                        <tr>
                                            <td>{{ display_service.resolutions.value.0.resolution_full_number.label }}
                                            </td>
                                            <td>{{ display_service.resolutions.value.0.resolution_full_number.value }}
                                            </td>
                                        </tr>
                                        {% endif %}
                                        <tr>
                                            <td>{{ display_service.service_user_id.value.username.label }}</td>
                                            <td> {{ display_service.service_user_id.value.username.value }} </td>
                                        </tr>
                                        <tr>
                                            <td> {{ display_service.service_state.label }} </td>
                                            <td> {{ display_service.service_state.value }} </td>
                                        </tr>
                                        <tr>
                                            <td> {{ display_service.service_created_date.label }} </td>
                                            <td> {{ display_service.service_created_date.value }} </td>
                                        </tr>
                                        <tr>
                                            <td> {{ display_service.service_approved_date.label }} </td>
                                            <td> {{ display_service.service_approved_date.value }} </td>
                                        </tr>
                                        <tr>
                                            <td> {{ display_service.service_rejected_date.label }} </td>
                                            <td> {{ display_service.service_rejected_date.value }} </td>
                                        </tr>
                                        <tr>
                                            <td> {{ display_service.service_delivered_date.label }} </td>
                                            <td> {{ display_service.service_delivered_date.value }} </td>
                                        </tr>
                                        <tr>
                                            <td>Files: </td>
                                            <td>
                                                {% if service_files %}
                                                {% for f_path, f_name in service_files %}
                                                <a href="{{ f_path }}" download> {{f_name}} <span
                                                        class="bi bi-download"></span></a>
                                                {% endfor %}
                                                {% else %}
                                                No uploaded files
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            {% if service_manager %}
                            <div class="col-md-6 ">
                                <div class="card ">
                                    <div class="card-header">
                                        New resolution: {{ display_service.service_request_number.value}}</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="container-md">
                                            <div class="row pt-2 pb-2">
                                                <div class="col-md-12">
                                                    <form class="" action="/drylab/add-resolution" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="action" value="add_resolution">
                                                        <input type="hidden" name="service_id"
                                                            value="{{ display_service.service_request_number.value }}">
                                                        <div class="row pt-2 pb-2">
                                                            <div class="col-md-12">
                                                                <select class="form-select" name="children_services"
                                                                    multiple size="5"
                                                                    aria-label="multiple select analysis">
                                                                    {% for analysis,structure in available_services|tree_info %}
                                                                    {% if analysis.is_leaf_node %}
                                                                    <option value="{{ analysis.id }}">{{ analysis.avail_service_description }}</option>
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row pb-2 pt-2">
                                                            <div class="col-md-auto ">
                                                                <input class="btn btn-outline-primary" type="submit"
                                                                    id="btn_add_resolution" value="Add Resolution">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-2 justify-content-center pt-2">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        On going resolutions
                    </div>
                    <div class="card-body">
                        {% if service_manager %}
                        <div class="container-md">
                            <div class="row justify-content-center pb-2 pt-2">
                                {% for resolution in display_service.resolutions.value %}
                                <div class="col-md-12 pb-2 pt-2">
                                    <h5>{{ resolution.resolution_number.label}}: {{ resolution.resolution_number.value}}
                                    </h5>
                                    <hr>
                                    <div class="row pt-2 pb-2">
                                        <div class="col-md-12">
                                            <table id="table_queued" class="table table-hover">
                                                <tbody>
                                                    <tr>
                                                        <td>{{ resolution.resolution_state.label }}</td>
                                                        <td>{{ resolution.resolution_state.value }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ resolution.resolution_assigned_user.label }}</td>
                                                        <td>{{ resolution.resolution_assigned_user.value }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ resolution.resolution_date.label }}</td>
                                                        <td>{{ resolution.resolution_date.value }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ resolution.resolution_estimated_date.label }}</td>
                                                        <td>{{ resolution.resolution_estimated_date.value }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ resolution.resolution_queued_date.label }}</td>
                                                        <td>{{ resolution.resolution_queued_date.value }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ resolution.resolution_in_progress_date.label }}</td>
                                                        <td>{{ resolution.resolution_in_progress_date.value }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ resolution.resolution_notes.label }}</td>
                                                        <td>{{ resolution.resolution_notes.value }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ resolution.available_services.label }}</td>
                                                        <td>
                                                            {% for analysis in resolution.available_services.value %}
                                                            {{ analysis.avail_service_description }}<br>
                                                            {% endfor%}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        {% if resolution.resolution_state.value == "queued" or resolution.resolution_state.value == "in_progress" %}
                                        <div class="col-md-3">
                                            <form class="" action="/drylab/service-on-hold" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="action" value="service_on_hold">
                                                <input type="hidden" name="resolution_id"
                                                    value="{{ resolution.resolution_number.value}}">
                                                <input class="btn btn-outline-primary" type="submit"
                                                    id="btn_submit_onhold" value="On hold">
                                            </form>
                                        </div>
                                        {% endif %}
                                        {% if resolution.resolution_state.value == "queued" or resolution.resolution_state.value == "on_hold" %}
                                        <div class="col-md-3">
                                            <form class="" action="/drylab/add-in-progress" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="action" value="add_in_progress">
                                                <input type="hidden" name="resolution_id"
                                                    value="{{ resolution.resolution_number.value}}">
                                                <input class="btn btn-outline-primary" type="submit"
                                                    id="btn_in_progress" value="In progress">
                                            </form>
                                        </div>
                                        {% endif %}
                                        {% if resolution.resolution_state.value == "in_progress" %}
                                        <div class="col-md-3">
                                            <form class="" action="/drylab/add-delivery" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="action" value="add_delivery">
                                                <input type="hidden" name="resolution_id"
                                                    value="{{ resolution.resolution_number.value }}">
                                                <input class="btn btn-outline-primary" type="submit" id="btn_delivery"
                                                    value="Add delivery">
                                            </form>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>


{% endblock %}