{% extends 'drylab/base.html' %}

{% block content %}
{% load static %}
<script>
function goBack() {
    window.history.back();
}
</script>
<div class="alert alert-danger">
  <strong>ERROR!</strong> Your last action request was unsuccessful.
</div>
<div class="row row-space-2 margin-b-4">
        <div class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-danger">
          <div class="panel-heading">ERROR</div>
          <div class="panel-body">
              <img class="promo-block-img  img-responsive img-center" src="{% static "drylab/main_style/error-icon.jpg" %}">
              <p></p>
              <p>You are geting this error page because:</p><BR>

              <p>
                 {% for c in content %}
                    {{c}}<BR>
                 {% endfor%}
              </p>
            </div> <!--// end panel body -->
        </div> <!--// end panel -->
      </div> <!--// end col-sm-4 -->
</div> <!-- end row  -->
{% if detail_description %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                {% for value in detail_description.heading%}
                                <th>{{value}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for values  in detail_description.information %}
                                <tr>
                                    {% for value in values %}
                                    <td>{{value}}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!--// end panel body -->
            </div> <!--// end panel -->
          </div> <!--// end col-sm-4 -->
    </div> <!-- end row  -->
{% endif %}


<div class="row row-space-2 margin-b-4">
  <div class="col-sm-4 col-sm-offset-4">
  <div class="panel panel-default">
     <div class="panel-body">
        <p>Click on the Go Back button to return to the previous page</p>
            </div> <!--// end panel body -->
        </div> <!--// end panel -->
      </div> <!--// end col-sm-4 -->
</div> <!-- end row  -->
<div class="row row-space-2 margin-b-4">
  <div class="col-sm-4 col-sm-offset-4">
    <button type="button" class="btn btn-default" onclick="goBack()">Go Back</button>
  </div> <!--// end col-sm-4 -->
</div> <!-- end row  -->
{% endblock %}
