{% extends 'drylab/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<style>
    .scrolling-wrapper {
        overflow-x: auto;
        overflow-y: auto;
        white-space: nowrap;
        height: 300px;
 </style>
    <h1><div class="color-heading">{{organization_name}}</div></h1>
    <h2>iSkyLIMS: DryLab</h2>
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Welcome</h3></div>
            <div class="panel-body">
			    <p>This section will allow you to check {{organization_name}} service activity. </p>
                <p>Available processes are: </p>
                <ul>
                  <li>Sequencing Request Service</li>
                  <li>Counseling Request Service</li>
                  <li>Infra structure Request Service</li>
                </ul>
                <p>Email us for requesting detailed information about available services and conditions </p>
		  </div> <!--// end panel body -->
        </div> <!--// end panel -->
      </div> <!--// end col-sm-8 -->
      <div class="col-sm-2 col-sm-offset-1">
            <img class="promo-block-img img-responsive" src="{% static "drylab/img/support.png" %}" align="Avatar">
        </div> <!--// end img -->
      </div> <!--// end col-sm-4 -->
    </div> <!--// end row -->

        <!--  Second paragraph -->

    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12">
            <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Recorded Services</h3></div>
                <div class="panel-body">
                    {% if service_list.recorded %}
                        <div class="scrolling-wrapper">
                             <table class="table table-hover" >
                                    <thead>
                                        <tr>
                                            <th>Service Number</th>
                                            <th>Request Center</th>
                                            <th>Requested by</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for values in service_list.recorded %}
                                            <tr>
                                                {% for value in values %}
                                                    <td>{{ value }} </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div> <!--  end of scrolling wrapper -->
                    {% else %}
                        <h5>There is no new Requested Service </h5>
                    {% endif %}
    		        </div>  <!--  end of panel body  -->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-6 -->
            <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>In progress Services</h3></div>
                <div class="panel-body">
                    {% if service_list.ongoing %}
                        <div class="scrolling-wrapper">
                             <table class="table table-hover" >
                                    <thead>
                                        <tr>
                                            <th>Service Number</th>
                                            <th>Request Center</th>
                                            <th>Expected delivery date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for values in service_list.ongoing %}
                                            <tr>
                                                {% for value in values %}
                                                    <td>{{ value }} </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div> <!--  end of scrolling wrapper -->
                    {% else %}
                        <h5>At present all requested services which we were working on, they are delivered.</h5>
                    {% endif %}
    		        </div>  <!--  end of panel body  -->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-6 -->
        </div> <!--// end col-sm-12 -->
    </div> <!--// end row -->

{% endblock %}
