{% extends 'drylab/base.html' %}
{% block content %}
{% load static %}
<script>
function goBack() {
    window.history.back();
}
</script>
<div class="alert alert-success">
  <strong>SUCCESS!</strong> Your last action request was successful.
</div>
<div class="row my-2">
        <div class="col-sm-4 offset-4">
        <div class="panel panel-success">
          <div class="card-header">INFO</div>
          <div class="card-body text-center">
                          <div class="glyphicon glyphicon-saved gi-3x" aria-hidden="true"></div>
              <p>
                 {% for c in content %}
                    {{c | safe}}<BR>
                 {% endfor%}
              </p>
            </div> <!--// end panel body -->
        </div> <!--// end panel -->
      </div> <!--// end col-sm-4 -->
</div> <!-- end row  -->
{% endblock %}
