{% extends 'drylab/base.html' %}
{% load mptt_tags %}
{% block content %}

{% if error_message %}
    <div class="row mt-2 mb-4">
        <div class="col-sm-7 offset-3">
            <div class="card border-danger mb-3">
                <div class="card-header"><h3 style="text-align:center"></h3> </div>
                <div class="card-body">
                    {% for values in error_message %}
                        <h4>{{values}}</h4>
                    {% endfor %}
                </div>
            </div>
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->
{% endif %}
{% if confirmation_result %}
    <div class="row mt-2 mb-4">
        <div class="col-sm-7 offset-3">
            <div class="card ">
                <div class="card-header"><h3 style="text-align:center">Your Service Request is recorded</h3> </div>
                <div class="card-body">
                    <p>The services that you have recorded are:</p>
                    {% for values in confirmation_result.text %}
                        <h5>{{values}}</h5>
                    {% endfor %}
                    {% if confirmation_result.samples %}
                        <h5> The samples included in the services are:</h5>
                        <br>
                        <p>
                            {% for sample in confirmation_result.samples %}
                                {% if forloop.last %}
                                    amd {{sample}}.
                                {% else %}
                                    {{sample }},
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                    {% if confirmation_result.download_file %}
                        <p><a href="{{confirmation_result.download_file}}" download>Download Confirmation file  <span class="glyphicon glyphicon-download-alt"></span></a></p>

                    {% endif%}
                </div>
            </div>
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->

{% else %}
    <div class="row mt-2 mb-4">
        <div class="col-sm-12">
            <div class="card ">
                <div class="card-header"><h3 style="text-align:center">Infrastructure Request Service form.</h3></div>
                <div class="card-body">
                    <form  name="infrastructureService" method="post" enctype="multipart/form-data" class="form-horizontal well">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="createService"/>
                        {% if service_data_information.nodes %}
                            <div class="scrolling-wrapper">
                                <div class="controls {{field_class}}" {% if flat_attrs %} {{flat_attrs|safe}} {% endif %} >
                                    {% include "bootstrap3/layout/field_errors_block.html" %}
                                    {% for category,structure in service_data_information.nodes|tree_info %}
                                        {% if structure.new_level %}<ul class="level-{{category.level}}" id="ul_{{forloop.counter}}"><li>{% else %}</li><li>{% endif %}
                                            <label class="checkbox{% if inline_class %}-{{ inline_class }}{% endif %}" >
                                                <input type="checkbox" {% if category.pk in value or category.pk|stringformat:"s" == value|stringformat:"s" %} checked="checked"{% endif %} class="level-{{category.level}}" name="RequestedServices" id="id_RequestedServices_{{forloop.counter}}" value="{{ category.pk }}" >
                                                    {{ category }}
                                             </label>
                                        {% for level in structure.closed_levels %}</li></ul>{% endfor %}
                                    {% endfor %}
                                    {% include "bootstrap3/layout/help_text.html" %}
                                </div> <!--  end of scrolling wrapper -->
                            </div> <!--  end of scrolling wrapper -->
                            <br>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="description" >Service Notes</label>
                                <div class="col-sm-10"><textarea class="form-control" name="description" value="" id="description" rows="8" cols="60" maxlength="2000"></textarea></div>
                            </div>  <!-- end from-group   -->
                            <br><br>
                            <input class="btn pull-right btn-primary" type="submit" id ="btnSubmit" value="Submit your Request">
                            <script>
                                $(document).ready(function() {
                                    $("input:checkbox").change(function() {
                                        var ischecked= $(this).is(':checked');
                                        if (ischecked) {
                                            $(this).parents().prevAll("label.checkbox").children("input:checkbox").prop("checked",true)
                                        }else{
                                            $(this).parents().prevAll("label.checkbox").children("input:checkbox").prop("checked",false)
                                        }
                                    });
                                });
                            </script>
                        {% else %}
                            <h3 style="text-align:center">No Services have been defined so far</h3>
                            <h5 style="text-align:center">Check the User Guide to define new Services</h5>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div> <!--  end of col-sm-12 -->
    </div> <!--  end of row -->
{% endif %}
{% endblock %}
