{% extends 'core/base.html' %}

{% block content %}
{% include "core/jexcel_functionality.html"%}
{% include "core/multifile_upload_functionality.html" %}
{% include "bootstrap3/layout/field_errors_block.html" %}
{% include "bootstrap3/layout/help_text.html" %}

{% load mptt_tags %}
{% load upload_tags %}

{% include "drylab/menu.html" %}

<section class="iskylims d-flex flex-column fill-height">
    <div class="container-md">
        {% include 'registration/login_inline.html' %}
        {% if error_message %}
        <div class="row justify-content-center pb-2 pt-2">
            <div class="col-md-8">
                <div class="card border-danger mb-3">
                    <div class="card-header">ERROR</div>
                    <div class="card-body">
                        {% for values in error_message %}
                        <h4>{{values}}</h4>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if confirmation_result %}
        <div class="row justify-content-center pb-2 pt-2">
            <div class="col-md-8">
                <div class="card ">
                    <div class="card-header">
                        Your Service Request is recorded
                    </div>
                    <div class="card-body">
                        {% for values in confirmation_result.text %}
                            <p>{{values}}</p>
                        {% endfor %}
                        {% if confirmation_result.samples %}
                        <p> The samples included in the services are:</p>
                        <p>
                            {% for sample in confirmation_result.samples %}
                                {% if forloop.last %}
                                    and {{sample}}.
                                {% else %}
                                    {{sample}} ,
                                {% endif %}
                            {% endfor %}
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <!-- div row big -->
        <div class="row justify-content-center pb-2 pt-2">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header">Service request for massive sequencing experiments</div>
                    <div class="card-body">
                        <form id="fileupload" method="post" action="/drylab/sequencing-request"
                            name="fileupload" enctype="multipart/form-data" class="form-horizontal well">
                            {% csrf_token %}
                            <input type="hidden" name="sub_action" value="create_service" />
                            <div class="container-md">
                                {% if service_data_info.users %}
                                <!-- row card 1: select user id -->
                                <div class="row justify-content-center pb-2 pt-2">
                                    <div class="col-md-12">
                                        <div class="form-control">
                                            <div class="col-md-6">
                                                <label class="col-md-6 control-label" for="user_id_label">Select the
                                                    user requesting the service</label>
                                                <div class="col-sm-6">
                                                    <select class="form-control" name="user_id_request"
                                                        id="user_id_request">
                                                        <option value="">Choose a value</option>
                                                        {% for value , id in service_data_info.users %}
                                                        <option value="{{id}}">{{value}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!-- row card 2: select samples tabs and tables -->
                                <div class="row justify-content-center pb-2 pt-2">
                                    <div class="col-md-12">
                                        <nav>
                                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                <button class="nav-link active" id="nav-sequenced-tab" data-bs-toggle="tab"
                                                    data-bs-target="#nav-sequenced" type="button" role="tab"
                                                    aria-controls="nav-sequenced" aria-selected="true">Select samples sequenced
                                                    in-house</button>
                                                <button class="nav-link" id="nav-recorded-tab" data-bs-toggle="tab"
                                                    data-bs-target="#nav-recorded" type="button" role="tab"
                                                    aria-controls="nav-recorded" aria-selected="false">Select samples recorded
                                                    but sequenced elsewhere</button>
                                            </div>
                                        </nav>
                                        <div class="tab-content border-tab p-2" id="nav-tabContent">
                                            <!-- div tab 1 -->
                                            <div class="tab-pane fade show active" id="nav-sequenced" role="tabpanel" aria-labelledby="nav-sequenced-tab">
                                            {% if service_data_info.samples_heading %}
                                                <div class="container-md">
                                                    <div class="row justify-content-center">
                                                        <div class="col-md-auto">
                                                            <div id="sequenced-samples"></div>
                                                        </div>     
                                                    </div>
                                                </div>
                                            {% else %}
                                                <h3>There are no samples to select</h3>
                                            {% endif %}
                                            </div>
                                            <!-- div tab 2 -->
                                            <div class="tab-pane fade show" id="nav-recorded" role="tabpanel" aria-labelledby="nav-recorded-tab" >
                                                {% if service_data_info.sample_only_recorded_heading %}
                                                <p class="text-primary">Contact with
                                                    Bioinformatic unit to provide the sample files</p>
                                                <div class="container-md">
                                                    <div class="row justify-content-center">
                                                        <div class="col-md-auto">
                                                            <div id="recorded-samples"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% else %}
                                                <div class="pb-2 pt-2">
                                                    <h3>There are no samples recorded sequenced elsewhere</h3>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- row card 3: select services -->
                                <div class="row justify-content-center pb-2 pt-2">
                                    <div class="col-md-12">
                                        <div class="card ">
                                            <div class="card-header">
                                                Service selection
                                            </div>
                                            <div class="card-body">
                                                {% if service_data_info.nodes %}
                                                    <div class="services{{field_class}}" {% if flat_attrs %} {{flat_attrs|safe}} {% endif %}>
                                                        {% for category,structure in service_data_info.nodes|tree_info %}
                                                            {% if structure.new_level %}
                                                            <ul class="level-{{category.level}}" id="ul_{{forloop.counter}}">
                                                                <li>
                                                            {% else %}
                                                                </li>
                                                                <li>
                                                            {% endif %}
                                                                <label class="checkbox{% if inline_class %}-{{ inline_class }}{% endif %}">
                                                                    <input type="checkbox" class="level-{{category.level}}"
                                                                    name="requested_services"
                                                                    id="id_RequestedServices_{{forloop.counter}}"
                                                                    value="{{ category.pk }}">
                                                                    {{ category }}
                                                                </label>
                                                            {% for level in structure.closed_levels %}
                                                                </li>
                                                            </ul>
                                                            {% endfor %}
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                <h3>No services have been defined so far</h3>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- row card 4: additional info -->
                                <div class="row pt-2 pb-2">
                                    <div class="col-md-12">
                                        <div class="card ">
                                            <div class="card-header">
                                                Additional Information
                                            </div>
                                            <div class="card-body">
                                                <div class="container-md">
                                                    <div class="row fileupload-buttonbar">
                                                        <div class="col-md-6">
                                                            <!-- The fileinput-button span is used to style the file input field as button -->
                                                            <span class="btn btn-outline-dark fileinput-button">
                                                                <i class="bi bi-plus-circle"></i>
                                                                <span class="text-color-black">Add files...</span>
                                                                <input type="file" name="file" multiple>
                                                            </span>
                                                            <button type="submit" class="btn btn-info start">
                                                                <i class="bi bi-upload"></i>
                                                                <span class="text-color-black">Start upload</span>
                                                            </button>
                                                            <button type="reset" class=" btn btn-warning cancel">
                                                                <i class="bi bi-x-circle"></i>
                                                                <span class="text-color-black">Cancel upload</span>
                                                            </button>
                                                            <button type="button" class="btn btn-danger delete">
                                                                <i class="bi bi-trash"></i>
                                                                <span class="text-color-grey">Delete</span>
                                                            </button>
                                                            <input type="checkbox" class="toggle">
                                                            <!-- The loading indicator is shown during file processing -->
                                                            <span class="fileupload-loading"></span>
                                                        </div>
                                                        <!-- The global progress information -->
                                                        <div class="col-md-5 fileupload-progress">
                                                            <!-- The global progress bar -->
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                            <!-- The extended global progress information -->
                                                            <div class="progress-extended">&nbsp;</div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header">Upload Files</div>
                                                        <div class="card-body">
                                                            <p>You can <strong>drag &amp; drop</strong> files from your desktop on this webpage (if Browser support).</p>
                                                            <p>The Maximun file size to upload is <strong>5MB</strong>. For including files bigger than 5MB contact Bioinformatic Unit Responsible</p>
                                                            <!-- The table listing the files available for upload/download -->
                                                            <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label" for="description" >Service Notes</label>
                                                        <div class="col-md-12"><textarea class="form-control" name="description" value="" id="description" rows="8" cols="60" maxlength="2000"></textarea></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-2 pb-2 justify-content-end">
                                    <div class="col-md-auto">
                                        <input class="btn btn-primary" type="submit" id="btnSubmit" value="Submit your Request">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>

{% upload_js %}
<!-- <script>
$(document).ready(function () {
    
});
</script> -->
<script> 
    $(document).ready(function () {
        // Create search foot
        $('#sequenced-samples tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });
        $('#recorded-samples tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });
        
        // DataTable
        {% if service_data_info.samples_heading %}
        var data_seq_samples = [{% for values in service_data_info.samples_data %} [{% for value in values %}'{{value}}',{% endfor %}],{% endfor %}];
        var table1 = jspreadsheet(document.getElementById('sequenced-samples'), {
            data: data_seq_samples,
            columns: [
            {% for value in service_data_info.samples_heading %}
            {% if forloop.counter|divisibleby:2 %}
            { type: 'hidden' },
            {% elif forloop.counter == 3 %}
            { type: 'text', title:'{{value}}', width:300 , readOnly:true },
            {% else %}
            { type: 'text', title:'{{value}}', width:200 , readOnly:true },
            {% endif %}
            {% endfor %}
            { type: 'checkbox',  title:'Select Sample', width:100 },
            ],
            allowInsertColumn:false,
            allowDeleteColumn:false,
            allowRenameColumn:false,
            allowInsertRow:false,
            allowDeleteRow:false,
            tableOverflow:false,
            search:true,
            pagination:20,
            lazyloading:true,
            csvFileName:'SamplesDefined.csv',
        }); 
        {% endif %}

        {% if service_data_info.sample_only_recorded_heading %}
        var data_record_samples = [{% for values in service_data_info.sample_only_recorded %} [{% for value in values %}'{{value}}',{% endfor %}],{% endfor %}];
        var table2 = jspreadsheet(document.getElementById('recorded-samples'), {
            data: data_record_samples,
            columns: [
            {% for value in service_data_info.sample_only_recorded_heading %}
            {% if forloop.counter|divisibleby:2 %}
            { type: 'hidden' },
            {% elif forloop.counter == 3 %}
            { type: 'text', title:'{{value}}', width:300 , readOnly:true },
            {% else %}
            { type: 'text', title:'{{value}}', width:200 , readOnly:true },
            {% endif %}
            {% endfor %}
            { type: 'checkbox',  title:'Select Sample', width:100 },
            ],
            allowInsertColumn:false,
            allowDeleteColumn:false,
            allowRenameColumn:false,
            allowInsertRow:false,
            allowDeleteRow:false,
            tableOverflow:false,
            search:true,
            pagination:20,
            csvFileName:'SamplesDefined.csv',
        }); 
        {% endif %}
        
        // disable submit button if there are no samples to select
        {% if not service_data_info.sample_only_recorded_heading and not service_data_info.samples_heading %}
        $("#create_service").submit(function (e) {
            //disable the submit button
            $("input:submit").attr("disabled", true);
            return true;
        });
        {% endif %}

        // Function to update parent checkboxes based on the state of their children
        function updateParentCheckboxes() {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach(function(checkbox) {
                checkbox.addEventListener('change', function() {
                    var listItem = this.closest('li');
                    updateParentCheckboxesRecursive(listItem);
                });
            });
        }

        // Function to update parent checkboxes recursively
        function updateParentCheckboxesRecursive(listItem) {
            var parentCheckbox = listItem.parentNode.previousElementSibling.querySelector('input[type="checkbox"]');
            var childCheckboxes = listItem.querySelectorAll('input[type="checkbox"]');
            var checkedChildCount = Array.from(childCheckboxes).filter(function(childCheckbox) {
                return childCheckbox.checked;
            }).length;
            
            // Update the parent checkbox
            if (checkedChildCount > 0) {
                parentCheckbox.checked = true;
            } else {
                parentCheckbox.checked = false;
            }
            
            // Update the parent's parent checkbox recursively
            var parentListItem = parentCheckbox.closest('li');
            if (parentListItem) {
                var siblingCheckboxes = parentListItem.querySelectorAll('input[type="checkbox"]');
                var checkedSiblingCount = Array.from(siblingCheckboxes).filter(function(siblingCheckbox) {
                    return siblingCheckbox.checked;
                }).length;
                
                if (checkedSiblingCount === 0) {
                    parentCheckbox.checked = false;
                } else {
                    parentCheckbox.checked = true;
                }
                
                updateParentCheckboxesRecursive(parentListItem);
            }
        }

        // Call the function to initialize the behavior
        updateParentCheckboxes();
    });

    // Add samples to post request
    $("#fileupload").submit(function (e) {
        {% if service_data_info.samples_heading %}
        var table_data1 = table1.getData()
        var data_json = JSON.stringify(table_data1)
        $("<input />").attr("type", "hidden")
            .attr("name", "samples_requested")
            .attr("value", data_json)
            .appendTo("#fileupload");
        {% endif %}
        {% if service_data_info.samples_only_recorded_heading %}
        var table_data2 = table2.getData()
        var data_json = JSON.stringify(table_data2)
        $("<input />").attr("type", "hidden")
            .attr("name", "only_recorded_samples")
            .attr("value", data_json)
            .appendTo("#fileupload");
        {% endif %}
        $("#btnSubmit").attr("disabled", true);
    });
    
    // Get the form element and the submit button
    const form = document.querySelector('form');
    const submitButton = form.querySelector('button[type="submit"]');

    // Function to disable the submit button
    function disableSubmitButton() {
    submitButton.disabled = true;
    submitButton.innerText = 'Submitting...'; // Optional: Change the button text
    }

    // Event listener for form submission
    form.addEventListener('submit', disableSubmitButton);
</script>

{% endblock %}