{% extends 'drylab/base.html' %}
{% load static %}
{% block content %}

{% if ERROR %}
    <div class="alert alert-danger">
        <strong>ERROR!</strong> Service Id is not defined.
    </div>

{% else %}
    <h1><div class="color-heading">Successful service {{service_name}} updated</div></h1>
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-10">  <!-- general information from service -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Service {{service_name}} was set for waiting information from user</h4>
                </div> <!--// end panel body -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-6 -->
    </div> <!--// end row -->
{% endif %}
{% endblock %}