{% extends 'drylab/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% include "core/graphic_chart_functionality.html" %}
<style>
.table-wrapper {
    height: 350px;
    overflow: auto;
    display:inline-block;
    width: 1150px;
</style>
{% if ERROR %}
    <div class="row mt-2 mb-4">
        <BR>
        <div class="col-sm-6  offset-3"">
            <div class="panel panel-warning">
                <div class="card-header"><h3> Result of your request</h3></div>
                <div class="card-body">
                    {% for message in ERROR %}
                        <p>{{message}}</p>
                    {% endfor %}
                </div>
           </div>
        </div> <!--  end of col-sm-6 -->
    </div> <!--// end row -->
{% endif %}
{% if stats_info %}
    <div class="row mt-2 mb-4">
    	<div class="col-sm-12">  <!--col-sm-8  User statatistics Information  -->
    	    <div class="card ">
        		<div class="card-header"><h3>Service requested statistics for the user {{stats_info.user_name}}</h3></div>
    		    <div class="card-body">
                    <button onclick="exportTableToExcel('servicesFound')" class="btn pull-right">Export Table To Excel <span class="glyphicon glyphicon-download-alt"></span></button>
                    <BR>
                    <div class="table-wrapper">
            		    <table class="table table-hover" id="servicesFound">
            		        <thead>
                			    <tr>
                    				<th>Resolution number</th>
                    				<th>Status</th>
                    				<th>Creation date</th>
                    				<th>Resolution date</th>
                    				<th>Delivery date</th>
                			    </tr>
            		        </thead>
            		        <tbody>
            			        {% for key, service_number, status, create_date, resolution_date, delivery_date in stats_info.service_by_user %}
            			            <tr>
                    			        <td><a href ="display_service={{key}}">{{service_number}}</a></td>
                    			        <td> {{ status }} </td>
                    			        <td> {{ create_date }}</td>
                    			        <td> {{ resolution_date }}</td>
                    			        <td> {{ delivery_date }}</td>
                    			    </tr>
            			        {% endfor %}
                            </tbody>
            			</table>
                    </div> <!--  end of table wrapper  -->
        		</div> <!--// end panel body -->
            </div> <!--// end panel -->
    	</div> <!--// end col-sm-12  -->
    </div> <!-- //  end row  -->

    <div class="row mt-2 mb-4">
    	<div class="col-sm-5 ">
    	    <div class="card ">
    		<div class="card-header"><h3>Calculation media for delivering time for user {{ stats_info.user_name }} .</h3></div>
    		    <div class="card-body">
        			{% if stats_info.time_mean_for_user %}
        			    The mean for delivering the services to this user is : <BR>
        			    <b>{{ stats_info.time_mean_for_user }} </b> days
        			{% else %}
        				<h5>There are not delivery services for the user {{ stats_info.user_name }}  to perform the mean for delivering the services</h5>
        			{% endif %}

    		    </div>
    		</div>
    	</div> <!--// end col-sm-5  Media stats for delivering services  -->
    	<div class="col-sm-7 ">  <!--col-sm-7  graphics for user stats services  -->
    	    <div class="card ">
        		<div class="card-header"><h3>Percentage of Requested Services.</h3></div>
        		<div class="card-body">
        		    {% if stats_info.graphic_by_user_date_services %}
        		        <!-- Pie chart for number of pending Services chart will start here-->
        		        <div id="chart-1"> </div>
        		        {{ stats_info.graphic_by_user_date_services |safe }}
        		    {% else %}
        			    There are not services for the user {{ stats_info.user_name }}
        		    {% endif %}
        		</div>
    	    </div>
    	</div> <!--// end col-sm-7  graphics for pending services  -->
    </div> <!--// end row -->

    <div class="row mt-2 mb-4">
    	<div class="col-sm-6 ">  <!--col-sm-7  graphics for user stats services  -->
    	    <div class="card ">
        		<div class="card-header"><h3>Number of Requested Services.</h3></div>
        		<div class="card-body">
        		    {% if stats_info.graphic_requested_services %}
        		        <!-- Pie chart for number of pending Services chart will start here-->
        		        <div id="chart-2"> </div>
        		       {{ stats_info.graphic_requested_services |safe }}
        		    {% else %}
        			    There are not services for the user {{ stats_info.user_name }}
        		    {% endif %}
        		</div>
    	    </div>
    	</div> <!--// end col-sm-6  graphics for pending services  -->
    	<div class="col-sm-6 ">  <!--col-sm-7  graphics for user stats services  -->
    	    <div class="card ">
        		<div class="card-header"><h3>Requested Services per month.</h3></div>
        		<div class="card-body">
        		    {% if stats_info.graphic_date_requested_services %}
        		        <!-- Pie chart for number of pending Services chart will start here-->
        		        <div id="chart-3"> </div>
        		        {{ stats_info.graphic_date_requested_services |safe }}
        		    {% else %}
        			    There are not services for the user {{ stats_info.user_name }}
        		    {% endif %}
        		</div>
    	    </div>
    	</div> <!--// end col-sm-6  graphics for pending services  -->
    </div> <!--// end row -->
{% else %}

    <div class="row mt-2 mb-4">
        <div class="col-sm-8" >
            <div class="card ">
                <div class="card-header"><h1>Services Request Statistics</h1></div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" name="userStatistics" id="userStatistics" class="form-horizontal well">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="userStatistics"/>
                        <br>
                        <div class="form-group required">
                            <label class="col-sm-5 control-label" for="userId" >User ID</label>
                            <div class="col-sm-4"><select class="form-control" required = "required" name="userID" id="userID">
                               				<option value="">Choose a value</option>
                                            {% for id, userid in user_list %}
                                                <option value="{{id}}">{{userid}}</option>
                                            {% endfor %}

                                      </select>
                            </div>  <!-- end select input -->
                        </div>  <!-- end from-group   -->
                        <div class="form-group ">
                            <label class="col-sm-5 control-label" for="start_date" >Start Date (DD-MM-YYYY)</label>
                            <div class="col-sm-5"><input class="form-control"  type="date" name="start_date" value="" id="start_date"></div>
                        </div>  <!-- end from-group   -->
                        <br>

                        <div class="form-group">
                            <label class="col-sm-5 control-label" for="end_date" >End Date (DD-MM-YYYY)</label>
                            <div class="col-sm-5"><input class="form-control" type="date" name="end_date" value="" id="end_date"></div>
                        </div>  <!-- end from-group   -->
                        <br>
                        <input class="btn pull-left btn-primary" type="reset" value="Reset Fields">
                        <input class="btn pull-right btn-primary" type="submit" value="Submit">
                    </form>
                </div>  <!--  end of panel body  -->
                <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>
            </div> <!--// end panel -->
        </div> <!--// end col-sm-8  -->
    </div> <!-- //  end row -->
{% endif %}

{% endblock %}
