
{% load static %}
<script type="text/javascript" src="{% static "iSkyLIMS_common_static/js/fusioncharts/js/fusioncharts.widgets.js" %}"></script>
<script type="text/javascript" src="{% static "iSkyLIMS_common_static/js/fusioncharts/js/fusioncharts.js" %}"></script>
<script type="text/javascript" src="{% static "iSkyLIMS_common_static/js/fusioncharts/js/fusioncharts.powercharts.js" %}"></script>
<script type="text/javascript" src="{% static "iSkyLIMS_common_static/js/fusioncharts/js/fusioncharts.charts.js" %}"></script>
<script type="text/javascript" src="{% static "iSkyLIMS_common_static/js/fusioncharts/js/themes/fusioncharts.theme.fint.js" %}"></script>
<script type="text/javascript" src="{% static "iSkyLIMS_common_static/js/fusioncharts/js/themes/fusioncharts.theme.ocean.js" %}"></script>
