{% extends 'iSkyLIMS_core/base.html' %}
{% load static %}
{% block content %}
        <div class="row margin-b-4">
                <div class="col-sm-6 col-sm-offset-6">
                        {% include 'registration/login_inline.html' %}
                </div>
        </div>
        <!--<h1><div class="color-heading">BU-ISCIII</div></h1>-->
    <!--<h2>iSkyLIMS</h2>-->
        <div class="row row-space-2 margin-t-60">
        <div class="col-sm-4">
                <div class="panel panel-default">
                        <div class="panel-heading"><h3>Wetlab</h3></div>
                        <div class="panel-body">
                                <a href="/wetlab/">
                                    <img class="img-responsive" src="{% static "iSkyLIMS_common_static/img/iSkyLIMS_wetlab.png" %}" alt="iSkyLIMS wetlab">
                                </a>
                        </div>   <!--// end panel body -->
                </div> <!--// end panel -->
        </div> <!--// end col-sm-6 -->
        <div class="col-sm-4">
                <div class="panel panel-default">
                <div class="panel-heading"><h3>Drylab</h3></div>
                <div class="panel-body">
                        <a href="/drylab/">
                                <img class="img-responsive" src="{% static "iSkyLIMS_common_static/img/iSkyLIMS_drylab.png" %}" alt="iSkyLIMS drylab">
                        </a>
                </div> <!--// end panel body -->
                </div> <!--// end panel -->
                </div> <!--// end col-sm-6 -->
    </div> <!--// end row -->
    <div class="row row-space-2 margin-t-60">
        {% for app in apps_in_iskylims %}
             <div class="col-sm-4 col-sm-offset-2">
                 <div class="panel panel-default">
                        <div class="panel-heading"><h3>{{ app|cut:"iSkyLIMS_"  }} </h3></div>
                        <div class="panel-body">
                                <a href="/{{ app|cut:"iSkyLIMS_" }}/">
                                    {% static "" as baseUrl %}
                                    <img class="img-responsive" src="{{ baseUrl }}iSkyLIMS_common_static/img/{{ app }}.png"></img>
                                    
                                    
                                </a>
                        </div>   <!--// end panel body -->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-4-->
        {% endfor %}
    </div> <!--// end row -->
{% endblock %}
