{% extends 'iSkyLIMS_wetlab/base.html' %}
{% load static %}
{% block content %}
{% if NoSamples %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-6 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>The are not samples.</h3></div>
                <div class="panel-body">



                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->

{% else %}
<div class="row row-space-2 margin-b-4">
    <div class="col-sm-6 col-sm-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Commercial Kit.</h3></div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data" name="addCommercialKit" id="addCommercialKit" class="form-horizontal well">
                {% csrf_token %}
                <input type="hidden" name="action" value="addCommercialKit"/>
                <div class="form-group">
                    <label class="col-sm-5 control-label" for="protocol" >Select the Protocol used for the Kit </label>
                    <div class="col-sm-4"><select class="form-control" name="protocol" id="protocol">
                                      				<option value="">Choose a value</option>
                                                   {% for value in protocols %}
                                                       <option value="{{value}}">{{value}}</option>
                                                   {% endfor %}
                                             </select>
                    </div>  <!-- end select input -->
                </div>  <!-- end from-group   -->
                <BR>
                    <div class="form-group">
                         <label class="col-sm-5  control-label" for="provider" >Select the Kit Provider company </label>
                           <div class="col-sm-5"><input class="form-control" type="text" name="provider" id="provider" size="100" maxlength="100"></div>
                    </div>  <!-- end from-group   -->

                    <br>
                    <div class="form-group">
                        <label class="col-sm-5  control-label" for="provider" >Enter the barcode  </label>
                        <input type="text" id="txtCode" class="barcodeinput"/>
                        <input type="button" value="OK" class="nextcontrol"/>
                        <h3 id="msg"/>
                    </div>  <!-- end from-group   -->
                    <br>
                 <div class="form-group">
                      <label class="col-sm-5  control-label" for="protocol" >Select the Protocol used for the Kit </label>
                        <div class="col-sm-5"><input class="form-control" type="text" name="protocol" id="protocol" size="100" maxlength="100"></div>
                 </div>  <!-- end from-group   -->
                 <br>
                    <div class="form-group">
                      <label class="col-sm-5 control-label" for="expirationDate" >Kit Expiration Date (DD-MM-YYYY)</label>
                      <div class="col-sm-5"><input class="form-control" type="date" name="expirationDate" value="" id="expirationDate"></div>
                </div>  <!-- end from-group   -->


            </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
    </div> <!--// end col-sm-7  -->
</div> <!--// end row -->

<script>
$(document).ready(function () {

    var keyupFiredCount = 0;

    function DelayExecution(f, delay) {
        var timer = null;
        return function () {
            var context = this, args = arguments;

            clearTimeout(timer);
            timer = window.setTimeout(function () {
                f.apply(context, args);
            },
            delay || 300);
        };
    }
    $.fn.ConvertToBarcodeTextbox = function () {

        $(this).focus(function () { $(this).select();$("#msg").html(""); });

         $(this).keydown(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);

            if ($(this).val() == '') {
                keyupFiredCount = 0;
            }
            if (keycode == 13) {//enter key
                    $(".nextcontrol").focus();
                    return false;
                    event.stopPropagation();
            }
        });

        $(this).keyup(DelayExecution(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
                keyupFiredCount = keyupFiredCount + 1;
        }));

         $(this).blur(function (event) {
             if ($(this).val() == '')
                 return false;

             if(keyupFiredCount <= 1)
             {
                 $("#msg").html("<span style='<span id="IL_AD2" class="IL_AD">color</span>:green'>Its Scanner!</span>");
                 //alert('Its Scanner');
             }
             else
             {
                 $("#msg").html("<span style='color:red'>Its Manually Typed!</span>");
                 //alert('Its Manual Entry');
             }

             keyupFiredCount = 0;
         });
    };
    try {
        $(".barcodeinput").ConvertToBarcodeTextbox();
        if ($(".barcodeinput").val() == '')
            $(".barcodeinput").focus();
        else
            $(".nextcontrol").focus();
    } catch (e) { }

});
</script>
{% endif %}

{% endblock %}
