<!DOCTYPE html>
<html>
  <head>

    {% include "iSkyLIMS_core/header.html" %}
    {% load static %}

    <link href= "https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>


    <!-- PAGE LEVEL PLUGIN STYLES -->

	<link href="{% static "iSkyLIMS_wetlab/css/wetlab.css" %}" rel="stylesheet" type="text/css"/>


    <!-- Place favicon.ico in the root directory -->

    {% load user_groups %}

  </head>
  <!-- END HEAD -->

  <!-- BODY -->
  <body id="body" data-spy="scroll" data-target=".header">
              <!--========== HEADER ==========-->
        <header class="header navbar-fixed-top">
            <!-- Navbar -->
            <nav class="navbar" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="menu-container js_nav-item">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="toggle-icon"></span>
                        </button>

                        <!-- Logo -->
                        <div class="logo">
                            <a class="logo-wrap" href="/">
                                <img src="{% static "iSkyLIMS_common_static/img/logo_iSkyLIMS2.png" %}" alt="iSkyLIMS_Logo">
                            </a>
                        </div>
                        <!-- End Logo -->

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse nav-collapse">
                            <div class="menu-container">
                                <ul class="nav navbar-nav navbar-nav-right">
                                    <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="/wetlab/">Home</a></li>
                                    {% if user.username == "admin" %}
                                        <li class=" js_nav-item nav-item dropdown"><a class=" nav-item-child nav-item-hover dropdown-toggle" data-toggle="dropdown" href="#">Configuration<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="/wetlab/configurationSamba">Configuration Samba</a></li>
                                                <li><a href="/wetlab/configurationEmail">Configuration Email</a></li>
                                            </ul>
                                        </li>
                                    {% endif %}
                                    {% if user.is_authenticated %}
                                        {% if request.user|has_group:"WetlabManager" %}
                        				    <li class=" js_nav-item nav-item dropdown"><a class=" nav-item-child nav-item-hover dropdown-toggle" data-toggle="dropdown" href="#">Preliminary Preparation<span class="caret"></span></a>
                        				        <ul class="dropdown-menu">
                                                    <li><a href="/wetlab/addCollectionIndexKit">Add Collection Index Kit</a></li>
                                                    <li><a href="/wetlab/addCommercialKit">Add Commercial Kit</a></li>
                                                    <li><a href="/wetlab/addUserLotCommercialKit">Add User Lot Commercial Kit</a></li>
                                                    <li><a href="/wetlab/createProtocol">Create New Protocol</a></li>
                                                    <li><a href="/wetlab/createSampleProjects">Create New Sample Projects</a></li>
                                                    <li><a href="/wetlab/defineTypeOfSamples">Define Type of Samples</a></li>
                                                    <li><a href="/wetlab/defineMoleculeUses">Define Molecule Uses</a></li>

                                        {% else %}
                                            <li class=" js_nav-item nav-item dropdown"><a class=" nav-item-child nav-item-hover dropdown-toggle" data-toggle="dropdown" href="#">Sample Preparation<span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="/wetlab/recordSamples">Record Samples</a></li>
                                                    <li><a href="/wetlab/handlingMolecules">Handling Molecules</a></li>
                                                    <li><a href="/wetlab/pendingToUpdate">Update Pending Samples</a></li>
                                                {% endif %}
                                            </ul>
                          				</li>
      				                {% else %}
      				                    <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="register_wetlab">Sample Preparation</a></li>
      				                {% endif%}
                    				{% if user.is_authenticated %}
                                        {% if request.user|has_group:"WetlabManager" %}
                            				<li class=" js_nav-item nav-item dropdown"><a class=" nav-item-child nav-item-hover dropdown-toggle" data-toggle="dropdown" href="#">Run Preparation<span class="caret"></span></a>
                            				    <ul class="dropdown-menu">
                                                    <!-- <li><a href="/wetlab/AddBasespaceLibrary">Add BasseSpace Library</a></li> -->
                                                    <li><a href="/wetlab/recordSamples">Record Samples</a></li>
                                                    <li><a href="/wetlab/handlingMolecules">Handling Molecules</a></li>
                                                    <li><a href="/wetlab/handlingLibraryPreparations">Handling Library Preparation</a></li>
                                                    <li><a href="/wetlab/createPool">Create Pool</a></li>
                                                    <li><a href="/wetlab/createNewRun">Create New Run</a></li>
                            					    <li><a href="/wetlab/createNextSeqRun">(Legacy) Create New NextSeq Run</a></li>
                                                    <li><a href="/wetlab/pendingSamplePreparations">Pending Sample Preparations</a></li>
                    				            </ul>
                        				    </li>
                                        {% else %}
                                        <li class=" js_nav-item nav-item dropdown"><a class=" nav-item-child nav-item-hover dropdown-toggle" data-toggle="dropdown" href="#">User Kit Definition<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="/wetlab/addUserLotCommercialKit">Add User Lot Commercial Kit</a></li>
                                                <li><a href="/wetlab/userCommercialKitInventory">User's Kit Inventory</a></li>
                                            </ul>
                                        </li>
                                        {% endif %}
                    				{% else %}
                    				    <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="register_wetlab">Run Preparation</a></li>
                    				{% endif%}
                    				{% if user.is_authenticated %}
                                        <li class="js_nav-item nav-item dropdown"><a class="nav-item-child nav-item-hover dropdown-toggle" data-toggle="dropdown" href="#">Search<span class="caret"></span></a>
                        				    <ul class="dropdown-menu">
                            				    {% if request.user|has_group:"WetlabManager" %}
                                					<li><a href="/wetlab/latest_run">Get Latest Run</a></li>
                                					<li><a href="/wetlab/incompletedRuns">Get incomplete Runs</a></li>
                            				    {% endif %}
                            					<li><a href="/wetlab/searchRun">Search by RUN</a></li>
                            					<li><a href="/wetlab/searchProject">Search by Project</a></li>
                            					<li><a href="/wetlab/searchSample">Search by Sample</a></li>
                            					<li><a href="/wetlab/searchCollectionIndexLibrary">Search by Index Library</a></li>
                        				    </ul>
                    				</li>
                    				{% else %}
                    				    <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="register_wetlab">Search</a></li>
                    				{% endif%}
                    				{% if user.is_authenticated %}
                                        {% if request.user|has_group:"WetlabManager" %}
                                            <li class="js_nav-item nav-item dropdown"><a class="nav-item-child nav-item-hover dropdown-toggle" data-toggle="dropdown" href="#"> Statistics<span class="caret"></span></a>
                        				        <ul class="dropdown-menu">
                                				    <li><a href="/wetlab/StatsPerResearcher/">Projects per Investigator </a></li>
                                    				<li><a href="/wetlab/StatsPerTime/">Period of time</a></li>
                                                    <li><a href="/wetlab/StatsPerSequencer/">Per Sequencer</a></li>
                                				    <li><a href="/wetlab/StatsExperiment">Experiment Type</a></li>
                                				    <li><a href="/wetlab/StatsLibrary">Library Kit Quality</a></li>
                            				    </ul>
                        				    </li>
                                        {% endif %}
                    				{% endif%}
                                </ul>

                            </div> <!-- menu- container -->
                        </div> <!--  class Collapse navbar -->
                    <!-- End Navbar Collapse -->
                    </div> <!-- class menu-container -->
                </div> <!-- class container -->
            </nav>
            <!-- Navbar -->
        </header>
        <!--========== END HEADER ==========-->


        <!--========== PAGE LAYOUT ==========-->

        <div class="bg-color-sky-light">
              <div class="container content-lg fill-height">
                <div class="row margin-b-40">
                    <div class="row row-space-2 margin-b-4">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="text-center"> <!-- Logo -->
                                    <a class="logo-wrap" href="/wetlab">
                                        <img src="{% static "iSkyLIMS_wetlab/img/logo_iSkyLIMS_wetlab.png" %}" alt="iSkyLIMS_Wetlab_Logo">
                                    </a>
                                </div>  <!-- End Logo -->
                            </div>
                            <div class="col-sm-6 ">  <!-- Logging pannel -->
                                {% include 'registration/login_inline.html' %}
                            </div>
                        </div>  <!-- End Loggin pannel -->
                    </div>
                    <div class="row row-space-2 margin-b-4">
                        <div class="col-sm-12">
                            <h1 class="text-center"> Massive Sequencing Application</h1>
                        </div>  <!-- End Loggin pannel -->
                    </div>
            {% block content %}
	<!--========== HERE WILL BE THE INFORMATION FROM DJANGO CODE  ==========-->
            {% endblock %}
            </div> <!--// end row -->
        </div> <!--// end container -->
        </div> <!--// end bg-color -->

{% include "iSkyLIMS_core/footer.html" %}

        <!-- Back To Top -->
        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

	<!-- PAGE LEVEL PLUGINS -->
	<script src="{% static "iSkyLIMS_common_static/vendor/jquery.back-to-top.js" %}" type="text/javascript"></script>


	<script src="{% static "iSkyLIMS_wetlab/js/customized.js" %}" type="text/javascript"></script>
	<script src="{% static "iSkyLIMS_wetlab/js/wetlab.js" %}" type="text/javascript"></script>

  </body>
  <!-- END BODY -->
</html>
