{% extends 'iSkyLIMS_wetlab/base.html' %}
{% load static %}_
{% block content %}
{% csrf_token %}
{% if error_message %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-6 col-sm-offset-2"" >
            <div class="panel panel-warning">
                <div class="panel-heading"><h3>Unable to record your Sample Project</h3> </div>
                <div class="panel-body">
                    <p>
                        {% for value in error_message %}
                            {{ value }} <br>
                        {% endfor %}
                    </p>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end of sm-6 -->
    </div> <!--// end row -->
{% endif %}
<BR>

<div class="row row-space-2 margin-b-4">
    <div class="col-sm-12" >
        {% if new_defined_sample_project %}
            <div class="col-sm-6" >
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>New sample project has been added</h3> </div>
                    <div class="panel-body">
                        <p>New <strong>{{ new_defined_sample_project }}</strong> has been added</p>
                        <p>Click on the "add Sample Project Fields" button  to define the custom fields used when recorded new sample</p>
                        <p></p>
                        <button type="button" class="btn btn-primary" onclick="window.location.href = '/wetlab/defineSampleProject={{new_sample_project_id}}';">Define Sample Project Fields</button>
                    </div>  <!--  end of panel body  -->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-6 -->
        {% endif %}
        <div class="col-sm-6" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Form to add a new Sample Project</h3> </div>
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data" name="addNewSampleProject" id="addNewSampleProject" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group required">
                            <input type="hidden" name="action" value="addNewSampleProject"/>
                            <label class="col-sm-5 control-label">Sample Project name</label>
                            <div class="col-sm-6"><input class="form-control" required = "required" type="text"  name="sampleProyectName" size="80"></div>
                            <br><br><br>
                            <label class="col-sm-5 control-label">Sample Project Manager</label>
                            <div class="col-sm-6"><input class="form-control" required = "required" type="text"  name="sampleProyectManager" size="80"></div>
                            <br><br>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Project Manager details contact</label>
                            <div class="col-sm-6"><input class="form-control"  type="text"  name="sampleProyectManagerContact" size="80"></div>
                            <br><br><br>
                            <label class="col-sm-5 control-label">Description</label>
                            <div class="col-sm-6">
                                <textarea rows="2" cols="25" name="description" form="addNewSampleProject"> ...</textarea>
                            </div>
                            <BR> <BR> <BR>
                        </div>
                        <input class="btn pull-right btn-primary" type="submit" value="Submit" id="btnSubmit">
                    </form>
                </div>  <!--  end of panel body  -->
                <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>
            </div> <!--// end panel -->
        </div> <!--// end of sm-6 -->
    </div> <!--// end of sm-12 -->
</div> <!--// end row -->
{% if defined_samples_projects %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-8" >
            <BR> <BR> <BR>
            <div class="panel panel-default">
              <div class="panel-heading"><h3>Sample Projects already defined</h3></div>
              <div class="panel-body">
                    <table class="table table-hover">
                       <thead>
                          <tr>
                            <th>Sample Project Name</th>
                            <th>Sample Project Manager</th>
                            <th>Defined custom fields</th>
                          </tr>
                       </thead>
                       <tbody>
                        {% for  id, s_p_name, manager, add_field in defined_samples_projects %}
                            <tr>
                                {% if add_par %}
                                    <td><a href="/wetlab/displaySampleProject={{id}}">{{s_p_name}}</a></td>
                                    <td>{{manager}}</td>
                                    <td>Fields already defined</td>
                                {% else %}
                                    <td>{{ s_p_name }}</td>
                                    <td>{{manager}}</td>
                                    <td><button onclick="window.location.href = '/wetlab/defineSampleProjectFields={{id}}';">Define Sample Project Fields</button></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-8  -->
    </div> <!--// end row -->

{% endif %}
{% endblock %}
