{% extends 'iSkyLIMS_wetlab/base.html' %}
{% load static %}_
{% block content %}
{% csrf_token %}
<BR>
<div class="row row-space-2 margin-b-4">
    <div class="col-sm-12" >
        {% if new_defined_protocol %}
            <div class="col-sm-6" >
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>New protocol has been added</h3> </div>
                    <div class="panel-body">
                        <p>New protocol <strong>{{ new_defined_protocol }}</strong> has been added</p>
                        <p>Click on the "add Protocol Parameters" button  to define the custom parameters used in the protocol</p>
                        <p></p>
                        <button type="button" class="btn btn-primary" onclick="window.location.href = '/wetlab/defineProtocolParameters={{new_protocol_id}}';">Define Protocol Parameters</button>
                    </div>  <!--  end of panel body  -->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-6 -->
        {% endif %}
        <div class="col-sm-6" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Form to add a new Protocol</h3> </div>
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data" name="addNewProtocol" id="addNewProtocol" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group required">
                            <input type="hidden" name="action" value="addNewProtocol"/>
                            <label class="col-sm-5 control-label">Select Protocol Type</label>

                            <div class="col-sm-6"><select class="form-control"  required = "required" name="protocolType" id="protocolType">
                                           				<option value="">Choose a value</option>
                                                        {% for value in defined_protocol_types %}
                                                            <option value="{{value}}">{{value}}</option>
                                                        {% endfor %}

                                                  </select>
                            </div>  <!-- end select input -->
                            <br><br><p></p>
                            <label class="col-sm-5 control-label">Define new Protocol name</label>
                            <div class="col-sm-6"><input class="form-control" required = "required" type="text"  name="newProtocolName" size="80"></div>
                            <br><br><br>
                            <label class="col-sm-5 control-label">Description</label>
                            <div class="col-sm-6">
                                <textarea rows="2" cols="25" name="description" form="addNewProtocol">Enter Protocol description here...</textarea>
                            </div>
                            <BR> <BR> <BR>
                        </div>
                        <input class="btn pull-right btn-primary" type="submit" value="Submit" id="btnSubmit">
                    </form>

                </div>  <!--  end of panel body  -->
                <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>
            </div> <!--// end panel -->
        </div> <!--// end of sm-6 -->
    </div> <!--// end of sm-12 -->
</div> <!--// end row -->
<div class="row row-space-2 margin-b-4">
    <div class="col-sm-8" >
        <BR> <BR> <BR>
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Protocols already defined for Molecules</h3></div>
          <div class="panel-body">
                {% if defined_protocols %}
                    <table class="table table-hover">
                       <thead>
                          <tr>
                            <th>Molecule Name</th>
                            <th>Protocol Type</th>
                            <th>Protocol Name</th>
                            <th>Protocol Parameter</th>
                          </tr>
                       </thead>
                       <tbody>
                        {% for  molecule, prot_type, name, id, add_par in defined_protocols %}
                            <tr>
                                <td>{{ molecule }}</td>
                                <td>{{ prot_type }}</td>

                                {% if add_par %}
                                    <td><a href="/wetlab/displayProtocol={{id}}">{{ name }}</a></td>
                                    <td>Parameters already defined</td>
                                {% else %}
                                    <td>{{ name }}</td>
                                    <td><button onclick="window.location.href = '/wetlab/defineProtocolParameters={{id}}';">Define Library Preparation Parameters</button></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No Protocols  have been defined so far</p>
                {% endif %}
            </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
    </div> <!--// end col-sm-8  -->
</div> <!--// end row -->





<div class="row row-space-2 margin-b-4">
    <div class="col-sm-8" >
        <BR> <BR> <BR>
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Protocols already defined for Library Preparations</h3></div>
          <div class="panel-body">
                {% if other_protocol_list %}
                    <table class="table table-hover">
                       <thead>
                          <tr>
                            <th>Protocol Type</th>
                            <th>Protocol Name</th>
                            <th>Protocol Parameter</th>
                          </tr>
                       </thead>
                       <tbody>
                        {% for   prot_type, name, id, add_par in other_protocol_list %}
                            <tr>
                                <td>{{ prot_type }}</td>

                                {% if add_par %}
                                    <td><a href="/wetlab/displayProtocol={{id}}">{{ name }}</a></td>
                                    <td>Parameters already defined</td>
                                {% else %}
                                    <td>{{ name }}</td>
                                    <td><button onclick="window.location.href = '/wetlab/defineProtocolParameters={{id}}';">Define Library Preparation Parameters</button></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No Protocols  have been defined so far</p>
                {% endif %}
            </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
    </div> <!--// end col-sm-8  -->
</div> <!--// end row -->
{% endblock %}
