{% extends 'iSkyLIMS_wetlab/base.html' %}
{% load static %}_
{% block content %}
{% csrf_token %}
{% if molecule_use_data.error_message %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-6 col-sm-offset-2"" >
            <div class="panel panel-warning">
                <div class="panel-heading"><h3>Unable to record your Sample Type</h3> </div>
                <div class="panel-body">
                    <p>
                        {% for value in molecule_use_data.error_message %}
                            {{ value }} <br>
                        {% endfor %}
                    </p>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end of sm-6 -->
    </div> <!--// end row -->
{% endif %}
<BR>
<div class="row row-space-2 margin-b-4">
    <div class="col-sm-12" >
        {% if molecule_use_data.new_defined_molecule_use %}
            <div class="col-sm-6" >
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>New molecule use added</h3> </div>
                    <div class="panel-body">
                        <p>New Molecule use :<br> {{ molecule_use_data.new_defined_molecule_use }} is recorded</p>
                        <br><br><br>

                    </div>  <!--  end of panel body  -->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-6 -->
        {% endif %}
        <div class="col-sm-6" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Form to add a new Molecule use</h3> </div>
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data" name="record_molecule_use" id="record_molecule_use" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group required">
                            <input type="hidden" name="action" value="record_molecule_use"/>
                            <label class="col-sm-5 control-label">Name for Molecule use</label>
                            <div class="col-sm-6"><input class="form-control" required = "required" type="text"  name="moleculeUseName" size="80"></div>
                            <br><br>
                        </div>
                        <div class="form-group">
                            <br>
                            <label class="col-sm-6 control-label">Requires Massive Sequencing ?</label>
                            <div class="col-sm-5"><input class="form-control" type="checkbox"  name="requiresMassive" size="80"></div>
                        </div>
                        <BR> <BR> <BR>

                        <input class="btn pull-right btn-primary" type="submit" value="Submit" id="btnSubmit">
                    </form>
                </div>  <!--  end of panel body  -->
                <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>
            </div> <!--// end panel -->
        </div> <!--// end of sm-6 -->
    </div> <!--// end of sm-12 -->
</div> <!--// end row -->
{% if molecule_use_data.defined_molecule_use %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-8" >
            <BR> <BR> <BR>
            <div class="panel panel-default">
              <div class="panel-heading"><h3>Molecule uses already defined</h3></div>
              <div class="panel-body">
                    <table class="table table-hover">
                       <thead>
                          <tr>
                            <th>Molecule use Name</th>
                            <th>Require massive</th>
                          </tr>
                       </thead>
                       <tbody>
                            {% for  name , massive in molecule_use_data.defined_molecule_use %}
                                <tr>
                                    <td>{{name}}</td>
                                    <td>{{massive}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-8  -->
    </div> <!--// end row -->

{% endif %}
{% endblock %}
