{% extends 'iSkyLIMS_wetlab/base.html' %}
{% load static %}
{% block content %}

<div class="row row-space-2 margin-b-4">
    <div class="col-sm-11">
        <div class="panel panel-default">
            <h3>Information for Sample {{ sample_information.sample_definition.0 }} </h3>
            <div class="panel-heading"><h4>Basic Information</h4></div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                        {% for values in sample_information.sample_definition_heading %}
                          <th>{{ values }} </th>
                        {%endfor%}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for values in sample_information.sample_definition %}
                                <td>{{ values }} </td>
                            {%endfor%}
                        </tr>
                    </tbody>
                </table>
            </div> <!--  end of panel body -->
            {% if sample_information.sample_project_name %}
                <div class="panel-heading"><h4>Sample Information {{sample_information.sample_project_name }}</h4></div>
                <div class="panel-body">

                        <table class="table">
                            <thead>
                                <tr>
                                {% for values in sample_information.sample_project_field_heading %}
                                  <th>{{ values }} </th>
                                {%endfor%}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for values in sample_information.sample_project_field_value %}
                                        <td>{{ values }} </td>
                                    {%endfor%}
                                </tr>
                            </tbody>
                        </table>

                </div> <!--  end of panel body -->
            {% endif %}

        </div> <!--  end of panel  -->
    </div> <!--  end of col-sm-11 -->
</div> <!--  end of row -->

<div class="row row-space-4 margin-b-1">
        <div class="col-sm-12 ">
            <div class="tab">
                <button class="tablinks" onclick="summaryBin(event, 'molecule')">Molecule Extraction </button>
                {% if sample_information.library_definition_heading %}
                    <button class="tablinks" onclick="summaryBin(event, 'library')">Library Preparation</button>
                {% endif %}
                {% if sample_information.pool_heading %}
                    <button class="tablinks" onclick="summaryBin(event, 'runData')">Run Data</button>
                {% endif %}
                <button class="tablinks" onclick="summaryBin(event, 'sequencing')">Sequencing Quality</button>


                <div id="molecule" class="tabcontent">
                    {% if sample_information.molecule_definition_heading %}

                        {% for molecule_values, molecule_param_heading , molecule_param_values in sample_information.molecule_definition_data %}
                            <div class="row row-space-2 margin-b-4">
                                <div class="col-sm-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-sm-11">
                                                <div class="panel panel-default">
                                                    <h3>Information for Molecule using the sample {{ sample_information.sample_definition.0 }} </h3>
                                                    <div class="panel-heading"><h4>Molecule Information</h4></div>
                                                    <div class="panel-body">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    {% for values in sample_information.molecule_definition_heading %}
                                                                        <th>{{ values }} </th>
                                                                    {%endfor%}
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    {% for mol_values in molecule_values %}
                                                                        <td>{{ mol_values }} </td>
                                                                    {%endfor%}
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </div> <!--  end of panel body -->
                                                </div> <!--  end of panel  -->
                                            </div> <!--  end of col-sm-11 -->


                                            {% if molecule_param_heading != None %}

                                                <div class="col-sm-12">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading"><h4>Quality Parameter Molecule Information</h4></div>
                                                        <div class="panel-body">
                                                            <table class="table table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        {% for mol_par_head in molecule_param_heading %}
                                                                            <th>{{ mol_par_head }} </th>
                                                                        {%endfor%}
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        {% for value in molecule_param_values %}
                                                                            <td>{{ value }} </td>
                                                                        {%endfor%}
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div> <!--  end of panel body -->
                                                    </div> <!--  end of panel  -->
                                                </div> <!--  end of col-sm-12 -->
                                            {% endif %}
                                        </div> <!--  end of panel body -->
                                    </div> <!--  end of panel  -->
                                </div> <!--  end of col-sm-12 -->
                            </div> <!--  end of row -->

                        {% endfor %}
                        <br>
                        <form class="" action="/wetlab/repeatMoleculeExtraction" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="repeat_extraction">
                            <input type="hidden" name="sample_id" value="{{sample_information.sample_id}}">
                            <input class="btn pull-right btn-default" type="submit" value="Repeat Molecule Extraction">
                        </form>
                        <br>

                    {% else %}
                        <div class="row row-space-2 margin-b-4">
                            <div class="col-sm-11">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h4>Molecule Information</h4></div>
                                    <div class="panel-body">
                                        <p class="text-center">There is no Molecule Extraction information </p>
                                    </div> <!--  end of panel body -->
                                </div> <!--  end of panel  -->
                            </div> <!--  end of col-sm-11 -->
                        </div> <!--  end of row -->
                    {% endif %}

                </div> <!-- // end of tab molecule -->

                {% if sample_information.library_definition_heading %}
                    <div id="library" class="tabcontent">
                        {% for lib_values, lib_param_heading , lib_param_values, lib_prep_id , lib_prep_code in sample_information.lib_prep_data %}
                            <div class="row row-space-2 margin-b-4">
                                <div class="col-sm-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="col-sm-11">
                                                <div class="panel panel-default">

                                                    <div class="panel-heading"><h4>Index used for sample {{ lib_prep_code }}</h4></div>
                                                    <div class="panel-body">
                                                        <table class="table table-hover">
                                                            <thead>
                                                              <tr>
                                                              {% for values in sample_information.library_definition_heading %}
                                                                <th>{{ values }} </th>
                                                              {%endfor%}
                                                              </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    {% for lib_value in lib_values %}
                                                                        <td>{{ lib_value }} </td>
                                                                    {%endfor%}
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div> <!--  end of panel body -->
                                                </div> <!--  end of panel  -->
                                            </div> <!--  end of col-sm-11 -->

                                            {% if lib_param_heading != None %}

                                              <div class="row row-space-2 margin-b-4">
                                                  <div class="col-sm-12">
                                                      <div class="panel panel-default">
                                                          <div class="panel-heading"><h4>Quality Parameter Library Preparation Information</h4></div>
                                                          <div class="panel-body">
                                                            <table class="table table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        {% for lib_par_head in lib_param_heading %}
                                                                            <th>{{ lib_par_head }} </th>
                                                                        {%endfor%}
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        {% for value in lib_param_values %}
                                                                            <td>{{ value }} </td>
                                                                        {%endfor%}
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                          </div> <!--  end of panel body -->
                                                       </div> <!--  end of panel  -->
                                                     </div> <!--  end of col-sm-12 -->
                                                </div> <!--  end of row -->
                                            {% endif %}

                                            <form class="" action="/wetlab/repeatLibraryPreparation" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="action" value="repeat_library_preparation">
                                                <input type="hidden" name="lib_prep_id" value="{{lib_prep_id}}">
                                                <input class="btn pull-right btn-default" type="submit" value="Repeat {{lib_prep_code}}">
                                            </form>
                                        </div> <!--  end of panel body -->
                                    </div> <!--  end of panel  -->
                                </div> <!--  end of col-sm-12 -->
                            </div> <!--  end of row -->

                        {% endfor %}
                    </div> <!-- // end of tab libary -->
                {% endif %}
                {% if sample_information.pool_heading %}

                    <div id="runData" class="tabcontent">



                        <div class="row row-space-2 margin-b-4">
                            <div class="col-sm-11">
                                <div class="panel panel-default">
                                    <h3>Information for Pool definition for sample {{ sample_information.sample_definition.0 }} </h3>
                                    <div class="panel-heading"><h4>Pool Information</h4></div>
                                    <div class="panel-body">
                                        <table class="table table-hover">
                                            <thead>
                                              <tr>
                                              {% for values in sample_information.pool_heading %}
                                                <th>{{ values }} </th>
                                              {%endfor%}
                                              </tr>
                                            </thead>
                                            <tbody>
                                                {% for values in sample_information.pool_information %}
                                                    <tr>
                                                        {% for value in values %}
                                                            <td>{{ value }} </td>
                                                        {%endfor%}
                                                    </tr>
                                                {%endfor%}

                                            </tbody>
                                        </table>
                                        <form class="" action="/wetlab/repeatPool" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="action" value="repeat_pool">
                                            <input type="hidden" name="poold_id" value="{{pool_id}}">
                                            <input class="btn pull-right btn-default" type="submit" value="Repeat Pool {{pool_code}}">
                                        </form>
                                    </div> <!--  end of panel body -->
                                </div> <!--  end of panel  -->
                            </div> <!--  end of col-sm-11 -->
                        </div> <!--  end of row -->
                    </div> <!-- // end of tab libary -->
                {% endif %}
{% endblock %}
