{% extends 'iSkyLIMS_wetlab/base.html' %}
{% load static %}_
{% block content %}
{% csrf_token %}
{% if sample_types.error_message %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-6 col-sm-offset-2"" >
            <div class="panel panel-warning">
                <div class="panel-heading"><h3>Unable to display your Sample Type</h3> </div>
                <div class="panel-body">
                    <p>
                        {% for value in sample_types.ERROR %}
                            {{ value }} <br>
                        {% endfor %}
                    </p>
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end of sm-6 -->
    </div> <!--// end row -->
{% endif %}
<BR>
<div class="row row-space-2 margin-b-4">
    <div class="col-sm-12" >
		<div class="col-sm-7" >
			<div class="panel panel-default">
				<div class="panel-heading"><h3>Type of Sample : {{type_of_sample_data.sample_type_name}}</h3> </div>
				<div class="panel-body">
                    <table class="table table-hover">
                       <thead>
                          <tr>
                            <th>Sample Field name</th>
                            <th>Mandatory/Not Required</th>
                          </tr>
                       </thead>
                       <tbody>
                            {% for  field, requested in type_of_sample_data.optional_data %}
                                <tr>
                                    <td>{{field}}</td>
                                    <td>{{requested}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

				</div>  <!--  end of panel body  -->
			</div> <!--// end panel -->
		</div> <!--// end col-sm-7 -->
    </div> <!--// end of sm-12 -->
</div> <!--// end row -->
{% endblock %}
