{% extends 'iSkyLIMS_wetlab/base.html' %}
{% load static %}
{% block content %}
{%include 'iSkyLIMS_core/jexcel_functionality.html' %}

{% if lib_prep_protocol_parameters %}
    <style>
        .scrolling-wrapper {
             overflow-x: scroll;
             white-space: nowrap;
        }
    </style>
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Update the following samples with library protocol parameters.</h3></div>
                <div class="panel-body">

                   <form method="post" enctype="multipart/form-data" name="recordProtocolParamters"  id="recordProtocolParamters" class="form-horizontal well">
                       {% csrf_token %}
                        <div class="scrolling-wrapper">
                            <input type="hidden" name="action" value="recordProtocolParamters"/>
                            <input type="hidden" name= "lib_prep_ids" value="{{lib_prep_protocol_parameters.lib_prep_ids}}"/>
                            <input type="hidden" name= "lib_prep_code_ids" value="{{lib_prep_protocol_parameters.lib_prep_code_ids}}"/>
                            <input type="hidden" name= "protocol_id" value="{{lib_prep_protocol_parameters.protocol_id}}"/>
                            <input type="hidden" name= "heading_in_excel" value="{{lib_prep_protocol_parameters.heading_in_excel}}"/>

                           <p></p>

                           <div id="spreadsheet"></div>
                           <br><br><br><br>

                           <script>
                               var data = [{% for values in lib_prep_protocol_parameters.data %}
                                   [{% for value in values %}'{{value}}',{% endfor %}],{% endfor %}
                               ];
                               mySpreadsheet = $('#spreadsheet').jexcel({
                                   data:data,
                                   columns: [
                                        {% for value in lib_prep_protocol_parameters.fix_heading %}
                                            { type: 'text', title:'{{value}}', width:180 , readOnly:true },
                                        {% endfor %}
                                        {% for name, type, options in lib_prep_protocol_parameters.protocol_parameters_heading_type %}
                                            {% if type == 'Date' %}
                                                { type: 'calendar', title:'{{name}}', width:150 },
                                            {% elif type == 'Option List'%}
                                                { type: 'dropdown', title:'{{name}}', width:150 , source: [{% for value in options %}"{{value}}",{% endfor %}] },
                                            {% else %}
                                                { type: 'text', title:'{{name}}', width:150 },
                                            {% endif %}
                                        {% endfor %}
                                   ],
                                   allowInsertColumn:false,
                                   allowDeleteColumn:false,
                                   allowRenameColumn:false,
                                   allowInsertRow:false,
                                   allowDeleteRow:false,
                                   tableOverflow:true,
                                   tableHeight:'200px',
                                   csvFileName:'library_preparation_parameters',

                               });
                           </script>
                           <input type="button" value="Return Home" onclick="location.href ='/wetlab' ;"/>
                           <input class="btn pull-right btn-primary" type="submit" id = "btnSubmit" value="Submit">
                        </div> <!--  end of scrolling  -->
                        </form>
                        <script>
                            $(document).ready(function () {
                                $("#recordProtocolParamters").submit(function (e) {
                                    //stop submitting the form to see the disabled button effect
                                    // e.preventDefault();
                                    //disable the submit button
                                    var table_data = $('#spreadsheet').jexcel('getData')
                                    var data_json = JSON.stringify(table_data)
                                    $("<input />").attr("type", "hidden")
                                      .attr("name", "protocol_data")
                                      .attr("value", data_json)
                                      .appendTo("#recordProtocolParamters");
                                    $("#btnSubmit").attr("disabled", true);
                                    return true;
                                });
                            });
                        </script>
                    </div> <!--  end of panel body -->
                </div> <!--  end of panel  -->

            </div> <!--  end of col-sm-12 -->
        </div> <!--  end of row -->


{% elif display_lib_prep %}
    <style>
        .scrolling-wrapper {
             overflow-x: scroll;
             white-space: nowrap;
        }
    </style>
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Update the following molecules ID with used protocol to prepare the library.</h3></div>
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data" name="addLibraryProtocol"  id="addLibraryProtocol" class="form-horizontal well">
                        {% csrf_token %}
                        <div class="scrolling-wrapper">
                        <input type="hidden" name="action" value="addLibraryProtocol"/>
                        <input type="hidden" name= "molecules" value="{{show_molecule_parameters.molecules}}"/>
                        <input type="hidden" name= "heading_in_excel" value="{{display_lib_prep.heading_in_excel}}"/>

                       <p></p>

                       <div id="spreadsheet"></div>
                       <br><br><br><br>

                       <script>
                           var data = [{% for values in display_lib_prep.data %}
                               [{% for value in values %}'{{value}}',{% endfor %}],{% endfor %}
                           ];

                           mySpreadsheet = $('#spreadsheet').jexcel({
                               data:data,
                               columns: [
                                    { type: 'text', title:'{{display_lib_prep.heading.0}}', width:180 , readOnly:true },
                                    { type: 'dropdown', title:'{{display_lib_prep.heading.1}}', width:200 , source :[ {% for value in display_lib_prep.protocol_lib %} '{{value}}', {% endfor %}]},
                                    { type: 'dropdown', title:'{{display_lib_prep.heading.2}}', width:150 , source :['Single', 'Paired']},
                                    { type: 'numeric', title:'{{display_lib_prep.heading.3}}', width:100, mask:' #.##' },
                               ],
                               allowInsertColumn:false,
                               allowDeleteColumn:false,
                               allowRenameColumn:false,
                               allowInsertRow:false,
                               allowDeleteRow:false,
                               tableOverflow:true,
                               tableHeight:'200px',
                               csvFileName:'library_preparation_protocol',

                           });
                       </script>

                       <input type="button" value="Return Home" onclick="location.href ='/wetlab' ;"/>
                       <input class="btn pull-right btn-primary" type="submit" id = "btnSubmit" value="Submit">
                    </div> <!--  end of scrolling  -->
                    </form>
                    <script>
                        $(document).ready(function () {
                            $("#addLibraryProtocol").submit(function (e) {
                                //stop submitting the form to see the disabled button effect
                                // e.preventDefault();
                                //disable the submit button
                                var table_data = $('#spreadsheet').jexcel('getData')
                                var data_json = JSON.stringify(table_data)
                                $("<input />").attr("type", "hidden")
                                  .attr("name", "protocol_data")
                                  .attr("value", data_json)
                                  .appendTo("#addLibraryProtocol");
                                $("#btnSubmit").attr("disabled", true);
                                return true;
                            });
                        });
                    </script>
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->

        </div> <!--  end of col-sm-12 -->
    </div> <!--  end of row -->

{% elif stored_lib_prep %}
     <style>
         .scrolling-wrapper {
      overflow-x: scroll;
      white-space: nowrap;
    }
     </style>
    {% if not stored_lib_prep.reagents_kits%}
        <div class="row row-space-2 margin-b-4">
            <div class="col-sm-10">
                <div class="panel panel-danger">
                    <div class="panel-heading"><h3>Not available Reagents Kit for the user in the sample sheet.</h3></div>
                    <div class="panel-body">
                        <h5 style="text-align:center"> Click on the bottom below to define new User Reagent Kit</h5>
                        <br><br>
                        <button type="button" class="btn btn-default" onclick="location.href = '/wetlab/addUserLotCommercialKit';">Define new User Reagent Kit</button>

                    </div> <!--  end of panel body -->
                </div> <!--  end of panel  -->

            </div> <!--  end of col-sm-10 -->
        </div> <!--  end of row -->

    {% endif %}
    {% if stored_lib_prep.ERROR %}
        <div class="row row-space-2 margin-b-4">
            <div class="col-sm-10">
                <div class="panel panel-danger">
                    <div class="panel-heading"><h3>Unable to record your request.</h3></div>
                    <div class="panel-body">
                        {% for value in stored_lib_prep.ERROR %}
                            <p>{{value}}</p>
                        {% endfor %}
                    </div> <!--  end of panel body -->
                </div> <!--  end of panel  -->

            </div> <!--  end of col-sm-10 -->
        </div> <!--  end of row -->

    {% endif %}



{% elif stored_params %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-10">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>The following samples have been updated with Library Preparation Parameters.</h3></div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Sample Name  </th>
                                <th>Library preparation Code ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for s_name, lib_code in stored_params  %}
                                <tr>
                                    <td>{{s_name}}</td>
                                    <td>{{lib_code}}</td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->

        </div> <!--  end of col-sm-10 -->
    </div> <!--  end of row -->

{% else %}
    {% if samples_in_lib_prep.no_samples %}
        <div class="row row-space-2 margin-b-4">
            <div class="col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>No Samples available.</h3></div>
                    <div class="panel-body">
                        <h4>There are samples defined to add the Library Preparation information.</h4>
                    </div> <!--  end of panel body -->
                </div> <!--  end of panel  -->

            </div> <!--  end of col-sm-6 -->
        </div> <!--  end of row -->
    {% else %}
        <div class="row row-space-2 margin-b-4">
            <div class="col-sm-12">
                <h3>Library Preparation</h3>
                <div class="tab">
                    <button class="tablinks" onclick="summaryBin(event, 'assigningProtocol')" id="defaultOpen">Available Samples </button>
                    {% if samples_in_lib_prep.lib_prep_defined %}
                        <button class="tablinks" onclick="summaryBin(event, 'defined')">Pending Protocol Parameters</button>

                        <div id="defined" class="tabcontent">
                            <div class="col-sm-11" >
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3>Select the Library Preparation to add Protocol Parameter Information</h3></div>
                                    <div class="panel-body">
                                        {% for key, values in samples_in_lib_prep.lib_prep_defined.items %}
                                        <h3>Library Preparation defined for using protocol {{key}}</h3>
                                            <form method="post" enctype="multipart/form-data" name="libpreparationdefined"  id="libpreparationdefined" class="form-horizontal well">
                                                {% csrf_token %}
                                                <input type="hidden" name="action" value="addProtocolParameter"/>
                                                <div class="form-group">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Sample Name</th>
                                                                <th>Library PreparationID</th>
                                                                <th>Select Library preparation</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for sample, code,  lib_id  in values  %}
                                                                <tr>
                                                                    <td>{{sample}}</td>
                                                                    <td>{{code}}</td>
                                                                    <td><input type="checkbox" name="libpreparation" value="{{lib_id}}"></td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div> <!--  end of from group -->
                                                <br><br>
                                                <input type="button" value="Return Home" onclick="location.href ='/wetlab' ;"/>
                                                <input class="btn pull-right btn-primary" id = "btnSubmit2" type="submit" value="Submit">
                                            </form>
                                            <br><br>
                                        {% endfor %}
                                    </div> <!--  end of panel body -->
                                </div> <!--  end of panel  -->

                            </div> <!--  end of col-sm-11  -->

                        </div> <!--  end of tab pending -->
                    {% endif %}

                    <div id="assigningProtocol" class="tabcontent">
                        <div class="col-sm-11" >
                            <div class="panel panel-default">
                                <div class="panel-heading"><h3>Assign Library protocol to the samples.</h3></div>
                                <div class="panel-body">

                                    <form method="post" enctype="multipart/form-data" name="assignProtocol"  id="assignProtocol" class="form-horizontal well">
                                        {% csrf_token %}
                                        <div class="form-group required">
                                            <input type="hidden" name="action" value="assignProtocol"/>
                                            <input type="hidden" name="samplesID" value="{{samples_in_lib_prep.avail_samples.samplesID}}">
                                            <input type="hidden" name="samplesNames" value="{{samples_in_lib_prep.avail_samples.samplesNames}}">
                                            <input type="hidden" name="moleculesID" value="{{samples_in_lib_prep.avail_samples.moleculesID}}">
                                            <div id="spreadsheet"></div>
                                            <br><br><br><br>

                                            <script>
                                                var data = [{% for values in samples_in_lib_prep.avail_samples.data %}
                                                    [{% for value in values %}'{{value}}',{% endfor %}],{% endfor %}
                                                ];
                                                mySpreadsheet = $('#spreadsheet').jexcel({
                                                    data:data,
                                                    columns: [
                                                        { type: 'text', title:'{{samples_in_lib_prep.avail_samples.heading.0}}', width:280 , readOnly:true },
                                                        { type: 'text', title:'{{samples_in_lib_prep.avail_samples.heading.1}}', width:280 , readOnly:true },
                                                        { type: 'dropdown', title:'{{samples_in_lib_prep.avail_samples.heading.2}}', width:200 , source :[ {% for value in samples_in_lib_prep.avail_samples.lib_prep_protocols %} '{{value}}', {% endfor %}]},
                                                    ],
                                                    allowInsertColumn:false,
                                                    allowDeleteColumn:false,
                                                    allowRenameColumn:false,
                                                    allowInsertRow:false,
                                                    allowDeleteRow:false,
                                                    tableOverflow:true,
                                                    tableHeight:'200px',
                                                    csvFileName:'library_preparation_samples',

                                                });
                                            </script>
                                            <input type="button" value="Return Home" onclick="location.href ='/wetlab' ;"/>
                                            <input class="btn pull-right btn-primary" type="submit" id = "btnSubmit" value="Submit">
                                         </div> <!--  end of scrolling  -->
                                         </form>
                                         <script>
                                             $(document).ready(function () {
                                                 $("#assignProtocol").submit(function (e) {
                                                     //stop submitting the form to see the disabled button effect
                                                     // e.preventDefault();
                                                     //disable the submit button
                                                     var table_data = $('#spreadsheet').jexcel('getData')
                                                     var data_json = JSON.stringify(table_data)
                                                     $("<input />").attr("type", "hidden")
                                                       .attr("name", "protocol_data")
                                                       .attr("value", data_json)
                                                       .appendTo("#assignProtocol");
                                                     $("#btnSubmit").attr("disabled", true);
                                                     return true;
                                                 });
                                             });
                                         </script>



                                    {% if samples_in_lib_prep.avail_samples.heading %}
                                        <script>
                                            // Get the element with id="defaultOpen" and click on it
                                            document.getElementById("defaultOpen").click();
                                        </script>
                                    {% endif %}
                                </div> <!--  end of panel body -->
                            </div> <!--  end of panel  -->
                        </div> <!--  end of col-sm-11 -->
                    </div> <!--  end of tab uploadfile -->
                </div> <!--  end of tab -->
            </div> <!--  end of col-sm-10 -->
        </div> <!--  end of row -->
    {% endif %}
{% endif %}

{% endblock %}
