{% extends 'iSkyLIMS_wetlab/base.html' %}
{% load static %}
{% block content %}
{%include 'iSkyLIMS_core/jexcel_functionality.html' %}
<link href="{% static "iSkyLIMS_common_static/css/collapse.css" %}" rel="stylesheet" type="text/css"/>
<style>
    .table-wrapper-sm-7 {
        max-height: 450px;
        overflow: auto;
        display:inline-block;
        width: 600px;
    }
    .table-wrapper-sm-10 {
        max-height: 450px;
        overflow: auto;
        display:inline-block;
        width: 950px;
    }
    .scrolling-wrapper-min-height {
            overflow-x: scroll;
            white-space: nowrap;
            min-height:500px;
            height: auto;
        }

</style>


{% if molecule_protocol %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Assign the Molecule Protocol to following samples.</h3></div>
                <div class="panel-body">
                    <br>
                    <form method="post" action= "/wetlab/handlingMolecules" enctype="multipart/form-data" name="updateMoleculeProtocol"  id="updateMoleculeProtocol" class="form-horizontal well">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="updateMoleculeProtocol"/>
                        <input type="hidden" name= "samples" value="{{molecule_protocol.samples}}"/>
                        <input type="hidden" name= "samples_code_ids" value="{{molecule_protocol.sample_code_ids}}"/>

                        <div id="spreadsheet"></div>
                        <br><br><br><br>

                        <script>
                            var data = [{% for values in molecule_protocol.data %}
                                [{% for value in values %}'{{value}}',{% endfor %}],{% endfor %}
                            ];

                            dropdownFilter = function(instance, cell, c, r, source) {
                                var value = instance.jexcel.getValueFromCoords(c - 3, r);
                                {% for item, values in molecule_protocol.protocol_filter_selection %}
                                    if (value == '{{item}}') {
                                    return [{% for val in values %}'{{val}}',{% endfor %}];
                                }
                                {% endfor %}

                                else {
                                    return source;
                                }
                            }

                            mySpreadsheet = $('#spreadsheet').jexcel({
                                data:data,
                                columns: [
                                    { type: 'text', title:'{{molecule_protocol.headings.0}}', width:180 , readOnly:true },
                                    { type: 'text', title:'{{molecule_protocol.headings.1}}', width:180 , readOnly:true },
                                    { type: 'dropdown', title:'{{molecule_protocol.headings.2}}', width:150 , source :[ {% for value in molecule_protocol.type_of_molecules %} '{{value}}', {% endfor %}]},
                                    { type: 'dropdown', title:'{{molecule_protocol.headings.3}}', width:150 , source :['Manual', 'Automated']},
                                    { type: 'calendar' , title: '{{molecule_protocol.headings.4}}', width:150 },
                                    { type: 'dropdown', title: '{{molecule_protocol.headings.5}}', width:180 , source:[{% for value in molecule_protocol.protocol_list %}'{{value}}',{% endfor %} ],
                                            filter:dropdownFilter },

                                ],
                                allowInsertColumn:false,
                                allowDeleteColumn:false,
                                allowRenameColumn:false,
                                allowInsertRow:false,
                                allowDeleteRow:false,
                                tableOverflow:true,
                                tableHeight:'200px',
                                csvFileName:'Molecule_data',
                                minDimensions:[{{molecule_protocol.table_length}},{{molecule_protocol.number_of_samples}}],
                                onchange:function(instance, cell, c, r, value) {
                                    if (c == 2) {
                                        var columnName = jexcel.getColumnNameFromId([5, r]);
                                        instance.jexcel.setValue(columnName, '');
                                    }
                                }
                            });
                        </script>

                        <br>
                        <input type="button" value="Download Spreadsheet" onclick="$('#spreadsheet').jexcel('download')"/>
                        <input class="btn pull-right btn-primary" id = "btnSubmit" type="submit" value="Submit">
                    </form>
                    <script>
                        $(document).ready(function () {
                            $("#updateMoleculeProtocol").submit(function (e) {
                                //stop submitting the form to see the disabled button effect
                                // e.preventDefault();
                                //disable the submit button
                                var table_data = $('#spreadsheet').jexcel('getData')
                                var data_json = JSON.stringify(table_data)
                                $("<input />").attr("type", "hidden")
                                  .attr("name", "molecule_data")
                                  .attr("value", data_json)
                                  .appendTo("#updateMoleculeProtocol");
                                $("#btnSubmit").attr("disabled", true);
                                return true;
                            });
                        });
                    </script>

                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-6 -->
    </div> <!--  end of row -->

{% elif molecule_recorded %}
    {% if molecule_recorded.incomplete_sample_ids %}
        {% if molecule_recorded.heading %}
            <div class="row row-space-2 margin-b-4">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>The following molecules are now assigned to Protocol.</h3></div>
                        <div class="panel-body">
                            <table class="table table-hover">
                                <thead>
                                   <tr>
                                       {% for value in molecule_recorded.heading %}
                                        <th>{{value}}</th>
                                        {% endfor %}
                                   </tr>
                                </thead>
                                <tbody>
                                  {% for molecule, protocol in molecule_recorded.molecule_list %}
                                      <tr>
                                        <td>{{ molecule }} </td>
                                        <td>{{ protocol }}</td>
                                      </tr>
                                  {%endfor%}
                                </tbody>
                            </table>
                        </div> <!--  end of panel body -->
                    </div> <!--  end of panel  -->
                </div> <!--  end of col-sm-12 -->
            </div> <!--  end of row -->
        {% endif %}
        <div class="row row-space-2 margin-b-4">
            <div class="col-sm-12">
                <div class="panel panel-warning">
                    <div class="panel-heading"><h3>Information missing.</h3></div>
                    <div class="panel-body">
                        <br>
                        <p>Please add the missing information and click on the submit bottom</p>
                        <form method="post" enctype="multipart/form-data" name="updateMoleculeProtocol"  id="updateMoleculeProtocol" class="form-horizontal well">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="updateMoleculeProtocol"/>
                            <input type="hidden" name= "samples" value="{{molecule_recorded.incomplete_sample_ids}}"/>
                            <input type="hidden" name= "samples_code_ids" value="{{molecule_recorded.incomplete_sample_code_ids}}"/>
                            <input type="hidden" name= "molecule_code_ids" value="{{molecule_recorded.molecule_code_ids}}"/>
                            <input type="hidden" name= "molecule_ids" value="{{molecule_recorded.molecule_ids}}"/>

                            <div id="spreadsheet"></div>
                            <br><br><br><br>

                            <script>
                                var data = [{% for values in molecule_recorded.incomplete_sample_data %}
                                    [{% for value in values %}'{{value}}',{% endfor %}],{% endfor %}
                                ];

                                dropdownFilter = function(instance, cell, c, r, source) {
                                    var value = instance.jexcel.getValueFromCoords(c - 3, r);
                                    {% for item, values in molecule_recorded.protocol_filter_selection %}
                                        if (value == '{{item}}') {
                                        return [{% for val in values %}'{{val}}',{% endfor %}];
                                    }
                                    {% endfor %}

                                    else {
                                        return source;
                                    }
                                }

                                mySpreadsheet = $('#spreadsheet').jexcel({
                                    data:data,
                                    columns: [
                                        { type: 'text', title:'{{molecule_recorded.headings.0}}', width:180 , readOnly:true },
                                        { type: 'dropdown', title:'{{molecule_recorded.headings.1}}', width:150 , source :[ {% for value in molecule_recorded.type_of_molecules %} '{{value}}', {% endfor %}]},
                                        { type: 'dropdown', title:'{{molecule_recorded.headings.2}}', width:150 , source :['Manual', 'Automated']},
                                        { type: 'calendar' , title: '{{molecule_recorded.headings.3}}', width:150 },
                                        { type: 'dropdown', title: '{{molecule_recorded.headings.4}}', width:180 , source:[{% for value in molecule_recorded.protocol_list %}'{{value}}',{% endfor %} ],
                                                filter:dropdownFilter },

                                    ],
                                    allowInsertColumn:false,
                                    allowDeleteColumn:false,
                                    allowRenameColumn:false,
                                    allowInsertRow:false,
                                    allowDeleteRow:false,
                                    tableOverflow:true,
                                    tableHeight:'200px',
                                    csvFileName:'Molecule_data',
                                    minDimensions:[{{molecule_recorded.table_length}},{{molecule_recorded.number_of_samples}}],
                                    onchange:function(instance, cell, c, r, value) {
                                        if (c == 4) {
                                            var columnName = jexcel.getColumnNameFromId([5, r]);
                                            instance.jexcel.setValue(columnName, '');
                                        }
                                    }
                                });
                            </script>

                            <br>
                            <input type="button" value="Download Spreadsheet" onclick="$('#spreadsheet').jexcel('download')"/>
                            <input class="btn pull-right btn-primary" id = "btnSubmit" type="submit" value="Submit">
                        </form>
                        <script>
                            $(document).ready(function () {
                                $("#updateMoleculeProtocol").submit(function (e) {
                                    //stop submitting the form to see the disabled button effect
                                    // e.preventDefault();
                                    //disable the submit button
                                    var table_data = $('#spreadsheet').jexcel('getData')
                                    var data_json = JSON.stringify(table_data)
                                    $("<input />").attr("type", "hidden")
                                      .attr("name", "molecule_data")
                                      .attr("value", data_json)
                                      .appendTo("#updateMoleculeProtocol");
                                    $("#btnSubmit").attr("disabled", true);
                                    return true;
                                });
                            });
                        </script>

                    </div> <!--  end of panel body -->
                </div> <!--  end of panel  -->
            </div> <!--  end of col-sm-6 -->
        </div> <!--  end of row -->

    {% else %}

        {% if show_molecule_parameters %}
            {% if not show_molecule_parameters.lot_kit %}
                <div class="row row-space-2 margin-b-4">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="panel panel-danger">
                            <div class="panel-heading"><h3>Not Available User Lot Kits.</h3></div>
                            <div class="panel-body">
                               <p>There is not User Lot Kit defined on your name.</p>
                               <p>Click on the bottom below to define your Lot Kit first. Then return again to assign the molecule parameter</p>

                               <br><br>
                               <button type="button" class="btn btn-default" onclick="location.href = '/wetlab/addUserLotCommercialKit';">Define new User Lot Commercial Kit</button>
                            </div> <!--  end of panel body -->
                        </div> <!--  end of panel  -->
                    </div> <!--  end of col-sm-6 -->
               </div> <!--  end of row -->
            {% endif %}
            <div class="row row-space-2 margin-b-4">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>Update the following molecules with quality parameters.</h3></div>
                        <div class="panel-body">
                            {% if show_molecule_parameters.pending_id %}
                                <p>The selected molecules contain different protocol</p>
                                <p>After Clicking the Submit buttom the next molecules will be displayed</p>
                            {% endif %}
                            <form method="post" enctype="multipart/form-data" name="addMoleculeParameters"  id="addMoleculeParameters" class="form-horizontal well">
                                {% csrf_token %}
                                <div class="scrolling-wrapper-min-height">
                                    <input type="hidden" name="action" value="addMoleculeParameters"/>
                                    <input type="hidden" name= "molecules" value="{{show_molecule_parameters.molecule_id}}"/>
                                    <input type="hidden" name= "heading_in_excel" value="{{show_molecule_parameters.heading_in_excel}}"/>
                                    <input type="hidden" name= "molecule_code_ids" value="{{show_molecule_parameters.molecule_code_ids}}"/>
                                   {% if show_molecule_parameters.pending_id %}
                                        <input type="hidden" name= "pending" value="{{show_molecule_parameters.pending_id}}"/>
                                   {% endif %}
                                   <br><br>

                                   <div id="spreadsheet"></div>
                                   <br><br><br>
                                </div> <!--  end of scrolling  -->
                                <script>
                                    var data = [{% for values in show_molecule_parameters.data %}
                                        [{% for value in values %}'{{value}}',{% endfor %}],{% endfor %}
                                    ];

                                    mySpreadsheet = $('#spreadsheet').jexcel({
                                        data:data,
                                        columns: [
                                                { type: 'text', title:'{{show_molecule_parameters.fix_heading.0}}', width:180 , readOnly:true },
                                                { type: 'dropdown', title:'{{show_molecule_parameters.fix_heading.1}}', width:180 , source:[{% for value in show_molecule_parameters.lot_kit %}'{{value}}',{% endfor %} ]},

                                                {% for name, type, options in show_molecule_parameters.protocol_parameters_heading_type %}
                                                    {% if type == 'Date' %}
                                                        { type: 'calendar', title:'{{name}}', width:150 },
                                                    {% elif type == 'Option List'%}
                                                        { type: 'dropdown', title:'{{name}}', width:150 , source: [{% for value in options %}"{{value}}",{% endfor %}] },
                                                    {% else %}
                                                        { type: 'text', title:'{{name}}', width:150 },
                                                    {% endif %}
                                                {% endfor %}
                                        ],
                                        allowInsertColumn:false,
                                        allowDeleteColumn:false,
                                        allowRenameColumn:false,
                                        allowInsertRow:false,
                                        allowDeleteRow:false,
                                        tableOverflow:false,
                                        tableHeight:'600px',
                                        csvFileName:'quality_data',
                                    });
                                </script>
                                <br><br>
                                <input type="button" value="Return Home" onclick="location.href ='/wetlab' ;"/>
                                <input class="btn pull-right btn-primary" id = "btnSubmit" type="submit" value="Submit">
                            </form>
                            <script>
                                $(document).ready(function () {
                                    $("#addMoleculeParameters").submit(function (e) {
                                       //stop submitting the form to see the disabled button effect
                                       // e.preventDefault();
                                       //disable the submit button
                                        var empty_value = 0
                                        var table_data = $('#spreadsheet').jexcel('getData')
                                        table_data.forEach((row, index)=>{
                                            if (row[1] == ''){
                                               empty_value +=1
                                            }
                                        });
                                       if (empty_value > 0){
                                           window.alert("Please fill the empty Lot Kit ");
                                           return false;
                                        }
                                        else{
                                           var data_json = JSON.stringify(table_data)

                                           $("<input />").attr("type", "hidden")
                                             .attr("name", "parameters_data")
                                             .attr("value", data_json)
                                             .appendTo("#addMoleculeParameters");
                                           $("#btnSubmit").attr("disabled", true);
                                           return true;
                                       }
                                   });
                               });
                           </script>
                       </div> <!--  end of panel body -->
                   </div> <!--  end of panel  -->

               </div> <!--  end of col-sm-12 -->
            </div> <!--  end of row -->
        {% endif %}
    {% endif %}

{% elif molecule_parameters_updated  %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>The following molecules have been updated with quality Parameters.</h3></div>
                <div class="panel-body">
                   <table class="table table-hover">
                       <thead>
                          <tr>
                            <th>Molecule Code ID</th>
                          </tr>
                       </thead>
                       <tbody>
                         {% for values in molecule_parameters_updated %}
                         <tr>
                           <td>{{ values }} </td>
                         </tr>
                    {%endfor%}
                        </tbody>
                   </table>
               </div> <!--  end of panel body -->
           </div> <!--  end of panel  -->

       </div> <!--  end of col-sm-12 -->
   </div> <!--  end of row -->
   {% if show_molecule_parameters %}
        <div class="row row-space-2 margin-b-4">
           <div class="col-sm-12">
               <div class="panel panel-default">
                   <div class="panel-heading"><h3>Update the following molecules with Nucleic quality Parameters.</h3></div>
                   <div class="panel-body">
                       {% if show_molecule_parameters.pending_id %}
                             <p>The selected molecules contain different protocol</p>
                             <p>After Clicking ----- the Submit buttom the next molecules will be displayed</p>
                       {% endif %}
                       <form method="post" enctype="multipart/form-data" name="addMoleculeParameters"  id="addMoleculeParameters" class="form-horizontal well">
                           {% csrf_token %}
                           <div class="scrolling-wrapper">
                           <input type="hidden" name="action" value="addMoleculeParameters"/>
                           <input type="hidden" name= "molecules" value="{{show_molecule_parameters.molecule_id}}"/>
                           <input type="hidden" name= "heading_in_excel" value="{{show_molecule_parameters.heading_in_excel}}"/>
                           <input type="hidden" name= "molecule_code_ids" value="{{show_molecule_parameters.molecule_code_ids}}"/>
                           {% if show_molecule_parameters.pending_id %}
                                <input type="hidden" name= "pending" value="{{show_molecule_parameters.pending_id}}"/>
                           {% endif %}
                           <br><br>

                               <div id="spreadsheet"></div>
                               <br><br><br>
                           </div> <!--  end of scrolling  -->
                           <script>
                              var data = [{% for values in show_molecule_parameters.data %}
                                  [{% for value in values %}'{{value}}',{% endfor %}],{% endfor %}
                              ];

                              mySpreadsheet = $('#spreadsheet').jexcel({
                                  data:data,
                                  columns: [
                                            { type: 'text', title:'{{show_molecule_parameters.fix_heading.0}}', width:180 , readOnly:true },
                                            { type: 'dropdown', title:'{{show_molecule_parameters.fix_heading.1}}', width:180 , source:[{% for value in show_molecule_parameters.lot_kit %}'{{value}}',{% endfor %} ]},

                                            {% for name, type, options in show_molecule_parameters.protocol_parameters_heading_type %}
                                                {% if type == 'Date' %}
                                                    { type: 'calendar', title:'{{name}}', width:150 },
                                                {% elif type == 'Option List'%}
                                                    { type: 'dropdown', title:'{{name}}', width:150 , source: [{% for value in options %}"{{value}}",{% endfor %}] },
                                                {% else %}
                                                    { type: 'text', title:'{{name}}', width:150 },
                                                {% endif %}
                                            {% endfor %}



                                  ],
                                  allowInsertColumn:false,
                                  allowDeleteColumn:false,
                                  allowRenameColumn:false,
                                  allowInsertRow:false,
                                  allowDeleteRow:false,
                                  tableOverflow:false,
                                  tableHeight:'200px',
                                  csvFileName:'quality_data',

                              });
                          </script>
                          <br><br>
                          <input type="button" value="Return Home" onclick="location.href ='/wetlab' ;"/>
                          <input class="btn pull-right btn-primary" id = "btnSubmit" type="submit" value="Submit">

                       </form>
                       <script>
                           $(document).ready(function () {
                               $("#addMoleculeParameters").submit(function (e) {
                                   //stop submitting the form to see the disabled button effect
                                   // e.preventDefault();
                                   //disable the submit button
                                   var table_data = $('#spreadsheet').jexcel('getData')
                                   var data_json = JSON.stringify(table_data)
                                   $("<input />").attr("type", "hidden")
                                     .attr("name", "parameters_data")
                                     .attr("value", data_json)
                                     .appendTo("#addMoleculeParameters");
                                   $("#btnSubmit").attr("disabled", true);
                                   return true;
                               });
                           });
                       </script>
                   </div> <!--  end of panel body -->
               </div> <!--  end of panel  -->

           </div> <!--  end of col-sm-12 -->
        </div> <!--  end of row -->
   {%endif %}

{% elif molecule_use %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Molecule uses updated.</h3></div>
                <div class="panel-body">
                   <table class="table table-hover">
                       <thead>
                          <tr>
                            {% for value in molecule_use.heading %}
                                <th>value</th>
                            {% endfor %}
                          </tr>
                       </thead>
                       <tbody>
                            {% for values in molecule_use.data %}
                                <tr>
                                    {% for value in values %}
                                        <td>{{ value }} </td>
                                    {% endfor %}
                                </tr>
                            {%endfor%}
                        </tbody>
                   </table>
               </div> <!--  end of panel body -->
           </div> <!--  end of panel  -->
       </div> <!--  end of col-sm-12 -->
    </div> <!--  end of row -->

{% else %}
    <div class="row row-space-4 margin-b-1">
        <div class="col-sm-12 ">
            <div class="tab">
                <button class="tablinks" onclick="summaryBin(event, 'new_samples')" id="tablinksdefaultOpen">New Samples </button>
                <button class="tablinks" onclick="summaryBin(event, 'molecules')">My pending molecules</button>
                <button class="tablinks" onclick="summaryBin(event, 'molecule_used_for')">Molecules use specification</button>


                <div id="molecules" class="tabcontent">
                    <div class="col-sm-11" >
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3>Select the molecules to add Extraction information</h3></div>
                            <div class="panel-body">
                                {% if user_molecules %}
                                    <form method="post" action="/wetlab/handlingMolecules" enctype="multipart/form-data" name="selectedOwnerMolecules"  id="selectedOwnerMolecules" class="form-horizontal well">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="selectedOwnerMolecules"/>
                                        <input type="hidden" name="samples_in_list" value="True"/>
                                        <div class="table-wrapper-sm-10">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        {% for value in user_molecules.molecule_heading %}
                                                            <th> {{ value }}</th>
                                                        {% endfor %}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for s_name , code, date, protocol,  m_id  in user_molecules.data  %}
                                                        <tr>
                                                            <td>{{s_name}}</td>
                                                            <td>{{code}}</td>
                                                            <td>{{date}}</td>
                                                            <td>{{protocol}}</td>
                                                            <td><input type="checkbox" name="molecules" value="{{m_id}}"></td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div> <!--  end of table wrapper  -->
                                        <br><br>
                                        <input type="button" value="Return Home" onclick="location.href ='/wetlab' ;"/>
                                        <input class="btn pull-right btn-primary" type="submit" value="Submit">
                                     </form>
                                {% else %}
                                    <h4> Your pending  molecule list is empty </h4>
                                {% endif %}
                            </div>  <!--  end of panel body  -->

                        </div> <!--// end panel -->
                    </div> <!--// end col-sm-7  -->
                </div> <!-- // end of tab molecules -->

                <div id="new_samples" class="tabcontent">
                    <div class="col-sm-11" >
                        <div class="panel panel-default">
                            {% if sample_availables.sample_heading %}
                                <div class="panel-heading"><h3>Select the Samples to add Molecule information</h3></div>
                                <div class="panel-body">
                                    <form method="post" action="/wetlab/handlingMolecules" enctype="multipart/form-data" name="selectedMolecules"  id="selectedMolecules" class="form-horizontal well">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="selectedMolecules"/>
                                        <input type="hidden" name="samples_in_list" value="True"/>
                                        <div class="table-wrapper-sm-10">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        {% for value in sample_availables.sample_heading %}
                                                            <th> {{ value }}</th>
                                                        {% endfor %}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for date, code,  sampletype,  s_id  in sample_availables.sample_information  %}
                                                        <tr>
                                                                <td>{{date}}</td>
                                                                <td>{{code}}</td>
                                                                <td>{{sampletype}}</td>
                                                                <td><input type="checkbox" name="samples" value="{{s_id}}"></td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div> <!--  end of table wrapper  -->
                                        <br><br>
                                        <input type="button" value="Return Home" onclick="location.href ='/wetlab' ;"/>
                                        <input class="btn pull-right btn-primary" type="submit" value="Submit">
                                     </form>
                                 </div>  <!--  end of panel body  -->
                            {% else %}
                                <div class="panel-heading"><h3>Molecule information</h3></div>
                                <div class="panel-body">
                                    <h4>There is no samples to add Molecule Extraction information</h4>
                                </div>  <!--  end of panel body  -->
                            {% endif %}
                     </div> <!--// end panel -->
                 </div> <!--// end col-sm-7  -->
            </div> <!-- // end of tab new_samples -->

            <div id="molecule_used_for" class="tabcontent">
                <div class="col-sm-12" >
                    {% if molecule_use_defined %}
                        <div class="panel panel-default">

                            {% if request_molecule_use.heading %}
                                <div class="panel-heading"><h3>Select in these samples the use that will be given of them</h3></div>
                                <div class="panel-body">
                                    <form method="post" action="/wetlab/handlingMolecules" enctype="multipart/form-data" name="requestMoleculeUse"  id="requestMoleculeUse" class="form-horizontal well">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="requestMoleculeUse"/>
                                        <input type="hidden" name="molecule_in_list" value="False"/>
                                        <input type="hidden" name="molecule_ids" value="{{request_molecule_use.molecule_ids}}"/>
                                        <input type="hidden" name="molecule_code_ids" value="{{request_molecule_use.molecule_code_ids}}"/>
                                        <div class="table-wrapper-sm-10">

                                            <div id="spreadsheet"></div>
                                            <br><br><br>
                                           <script>
                                              var data = [{% for values in request_molecule_use.data %}
                                                  [{% for value in values %}'{{value}}',{% endfor %}],{% endfor %}
                                              ];

                                              mySpreadsheet = $('#spreadsheet').jexcel({
                                                  data:data,
                                                  columns: [
                                                            { type: 'text', title:'{{request_molecule_use.heading.0}}', width:220 , readOnly:true },
                                                            { type: 'text', title:'{{request_molecule_use.heading.1}}', width:280 , readOnly:true },
                                                            { type: 'dropdown', title:'{{request_molecule_use.heading.2}}', width:220 , source:[{% for value in request_molecule_use.types %}'{{value}}',{% endfor %} ]},
                                                  ],
                                                  allowInsertColumn:false,
                                                  allowDeleteColumn:false,
                                                  allowRenameColumn:false,
                                                  allowInsertRow:false,
                                                  allowDeleteRow:false,
                                                  tableOverflow:true,
                                                  tableHeight:'200px',
                                                  csvFileName:'molecule_use',

                                              });
                                          </script>
                                          <br><br>
                                          <input type="button" value="Return Home" onclick="location.href ='/wetlab' ;"/>
                                          <input class="btn pull-right btn-primary" id = "btnSubmit" type="submit" value="Submit">

                                       </form>
                                       <script>
                                           $(document).ready(function () {
                                               $("#requestMoleculeUse").submit(function (e) {
                                                   //stop submitting the form to see the disabled button effect
                                                   // e.preventDefault();
                                                   //disable the submit button
                                                   var table_data = $('#spreadsheet').jexcel('getData')
                                                   var data_json = JSON.stringify(table_data)
                                                   $("<input />").attr("type", "hidden")
                                                     .attr("name", "molecule_used_for")
                                                     .attr("value", data_json)
                                                     .appendTo("#requestMoleculeUse");
                                                   $("#btnSubmit").attr("disabled", true);
                                                   return true;
                                               });
                                           });
                                       </script>

                                        </div> <!--  end of table wrapper  -->
                                        <br><br>

                                </div>  <!--  end of panel body  -->

                            {% else %}
                                <div class="panel-heading"><h3>Molecule information</h3></div>
                                <div class="panel-body">
                                    <h4>All Molecule extraction have already assigned to an use</h4>
                                </div>  <!--  end of panel body  -->
                            {% endif %}
                        </div> <!--// end panel -->
                    {% else %}
                        <div class="panel panel-danger">
                            <div class="panel-heading"><h3>Molecule uses defined</h3></div>
                            <div class="panel-body">
                                <p>Not molecule uses have been defined yet</p>
                            </div>  <!--  end of panel body  -->
                         </div> <!--// end panel -->
                    {% endif %}

                </div> <!--// end col-sm-7  -->
            </div> <!-- // end of tab molecule_used_for -->
            <script>
                // Get the element with id="tablinksdefaultOpen" and click on it
                document.getElementById("tablinksdefaultOpen").click();
            </script>
         </div> <!--// end col-sm-12  -->
    </div> <!--// end row -->
{% endif %}
{% endblock %}
