{% extends 'iSkyLIMS_wetlab/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<script type="text/javascript" src="{% static "iSkyLIMS_wetlab/js/fusioncharts/js/fusioncharts.widgets.js" %}"></script>           
<script type="text/javascript" src="{% static "iSkyLIMS_wetlab/js/fusioncharts/js/fusioncharts.js" %}"></script>                   
<script type="text/javascript" src="{% static "iSkyLIMS_wetlab/js/fusioncharts/js/themes/fusioncharts.theme.fint.js" %}"></script> 
<script type="text/javascript" src="{% static "iSkyLIMS_wetlab/js/fusioncharts/js/themes/fusioncharts.theme.ocean.js" %}"></script>  
<script type="text/javascript" src="{% static "iSkyLIMS_wetlab/js/fusioncharts/js/themes/fusioncharts.theme.carbon.js" %}"></script>   
<script type="text/javascript" src="{% static "iSkyLIMS_wetlab/js/fusioncharts/js/themes/fusioncharts.theme.zune.js" %}"></script>     

{% if researcher_one_project %}
    <div class="row row-space-2 margin-b-4">
      <div class="col-sm-8 col-sm-offset-1" >
        <div class="panel panel-default">
          <div class="panel-heading"><h2>Statistics result for Investigator {{researcher_one_project.user_name}} </h2></div>
           <div class="panel-body">
                <h3> Project Name : {{researcher_one_project.project_name}}</h3>
          
          
            </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        </div> <!--// end col-sm-8  -->
    </div> <!--// end row -->
    <BR>
    <div class="row row-space-2 margin-b-4">
      <div class="col-sm-7" >
        <div class="panel panel-default">
          <div class="panel-heading"><h2>Statistics result for Investigator </h2>
          <div class="panel-body">
                <!-- Column 2 Chart will start here-->
            <div id="chart-1"> </div>
                <!-- dumping JavaScript code here -->
                {{ researcher_one_project.q_30_chart |safe }}
         </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->

    <div class="row row-space-2 margin-b-3">
      <div class="col-sm-8 col-sm-offset-1" >
        <div class="panel panel-default">
          <div class="panel-heading"><h2>Statistics result for Investigator</h2></div>
          <div class="panel-body">
                <!-- Column 2 Chart will start here-->
            <div id="chart-2"> </div>
                <!-- dumping JavaScript code here -->
                {{ researcher_one_project.mean_q_chart |safe }}
         </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        </div> <!--// end col-sm-8  -->
    </div> <!--// end row -->

{% elif researcher_several_projects %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-8 col-sm-offset-1" >
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Statistics result for Investigator {{researcher_several_projects.researcher_name}} </h2></div>
                <div class="panel-body">
                <h3> The following Projects  Name have been performed : </h3>
                {% for values  in researcher_several_projects.projects %} 
                {{ values }} <BR>
                {% endfor%}
          
          
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-8  -->
    </div> <!--// end row -->
    
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3><center>Statistics for Q>30 for the Investigator {{researcher_several_projects.researcher_name}} </center></h3></div>
                <div class="panel-body"> 
                <!-- Pie chart for number of Runs comparations chart will start here-->
                    <div class="col-sm-6" >
                    <!-- Column 2 Chart will start here-->
                        <div id="q30_chart1"> </div>
                        <!-- dumping JavaScript code for graphics -->
                        {{ researcher_several_projects.q30_researcher_graph.1 |safe }}
                    </div> <!--// end col-sm-6  -->
                    <div class="col-sm-6" >
                    <!-- Column 2 Chart will start here-->
                        <div id="q30_chart2"> </div>
                        <!-- dumping JavaScript code for graphics -->
                        {{ researcher_several_projects.q30_researcher_graph.2 |safe }}
                    </div> <!--// end col-sm-6  -->
                    <div class="col-sm-6" >
                    <!-- Column 2 Chart will start here-->
                        <div id="q30_chart3"> </div>
                        <!-- dumping JavaScript code for graphics -->
                        {{ researcher_several_projects.q30_researcher_graph.3 |safe }}
                    </div> <!--// end col-sm-6  -->
                    <div class="col-sm-6" >
                    <!-- Column 2 Chart will start here-->
                        <div id="q30_chart4"> </div>
                        <!-- dumping JavaScript code for graphics -->
                        {{ researcher_several_projects.q30_researcher_graph.4 |safe }}
                    </div> <!--// end col-sm-6  -->                    
                </div> <!--  end of panel body -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-8  -->
    </div> <!--// end row -->

    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3><center>Statistics for Mean Quality for Investigator {{researcher_several_projects.researcher_name}} </center></h3></div>
                <div class="panel-body"> 
                <!-- Pie chart for number of Runs comparations chart will start here-->
                    <div class="col-sm-6" >
                    <!-- Column 2 Chart will start here-->
                        <div id="mean-chart1"> </div>
                        <!-- dumping JavaScript code for graphics -->
                        {{ researcher_several_projects.mean_q_researcher_graph.1 |safe }}
                    </div> <!--// end col-sm-6  -->
                    <div class="col-sm-6" >
                    <!-- Column 2 Chart will start here-->
                        <div id="mean-chart2"> </div>
                        <!-- dumping JavaScript code for graphics -->
                        {{ researcher_several_projects.mean_q_researcher_graph.2 |safe }}
                    </div> <!--// end col-sm-6  -->
                    <div class="col-sm-6" >
                    <!-- Column 2 Chart will start here-->
                        <div id="mean-chart3"> </div>
                        <!-- dumping JavaScript code for graphics -->
                        {{ researcher_several_projects.mean_q_researcher_graph.3 |safe }}
                    </div> <!--// end col-sm-6  -->
                    <div class="col-sm-6" >
                    <!-- Column 2 Chart will start here-->
                        <div id="mean-chart4"> </div>
                        <!-- dumping JavaScript code for graphics -->
                        {{ researcher_several_projects.mean_q_researcher_graph.4 |safe }}
                    </div> <!--// end col-sm-6  -->                    
                </div> <!--  end of panel body -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-8  -->
    </div> <!--// end row -->

    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-8" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3><center>Statistics comparation for Q >30 for Investigator {{researcher_several_projects.researcher_name}} </center></h3></div>
                <div class="panel-body"> 
                <!-- Pie chart for number of Runs comparations chart will start here-->
                    <!-- Column 2 Chart will start here-->
                        <div id="comparation_q30_chart"> </div>
                        <!-- dumping JavaScript code for graphics -->
                        {{ researcher_several_projects.comparation_q_30_chart |safe }}
                </div> <!--  end of panel body -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-8  -->
    </div> <!--// end row -->
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-8" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3><center>Statistics comparation for Mean Quality Investigator {{researcher_several_projects.researcher_name}} </center></h3></div>
                <div class="panel-body">     
                    <div class="col-sm-6" >
                    <!-- Column 2 Chart will start here-->
                        <div id="comparation_mean_chart"> </div>
                        <!-- dumping JavaScript code for graphics -->
                        {{ researcher_several_projects.comparations_mean_q_chart |safe }}
                    </div> <!--// end col-sm-6  -->
                </div> <!--  end of panel body -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-8  -->
    </div> <!--// end row -->


{% else %}
    {% load user_groups %}
    <!-- FORM for searching project research  Information -->
 <div style="background-image: url(/static/iSkyLIMS_wetlab/img/samples-1.jpg);">  
    <div class="row row-space-2 margin-b-4">
      <div class="col-sm-7" >
        <div class="panel panel-default">
          <div class="panel-heading"><h2>Statistics per Investigator</h2></div>
          <div class="panel-body">
            <form method="post" enctype="multipart/form-data" name="statsresearcher" id="statsresearcher" class="form-horizontal well">
            {% csrf_token %}
            <input type="hidden" name="action" value="researcher"/>
             <div class="form-group required"> 
                  <label class="col-sm-5  control-label" for="researchername" >Fill the Investigator name </label>
                  {% if request.user|has_group:"WetlabManager" %}
                  <div class="col-sm-5"><input class="form-control" type="text" required = "required" name="researchername" id="reserchername" size="100" maxlength="100"></div>
                  {% else %}
                  <div class="col-sm-5"><input class="form-control" type="text" name="researchername" id="reserchername" value="{{user.get_username}}"  size="100" maxlength="100" placeholder="{{user.get_username}}" readonly></div>
                  {% endif %}
             </div>  <!-- end from-group   -->
 
                <br>

                <div class="form-group">
                  <label class="col-sm-5 control-label" for="startdate" >From Start Date (DD-MM-YYYY)</label>
                  <div class="col-sm-5"><input class="form-control" type="date" name="startdate" value="" id="startdate"></div>
                <br>
            </div>  <!-- end from-group   -->
                <div class="form-group">
                  <label class="col-sm-5 control-label" for="enddate" >End Date Search (DD-MM-YYYY)</label>
                  <div class="col-sm-5"><input class="form-control" type="date" name="enddate" value="" id="enddate"></div>
                <br>
             
            </div>  <!-- end from-group   -->
                <input class="btn pull-left btn-primary" type="reset" value="Reset Fields">
                <input class="btn pull-right btn-primary" type="submit" value="Submit">
            </form>
            <p> Fields marked with <FONT COLOR= "Red">*</FONT> are mandatory</p>
         </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
 
        <!-- Insert the help panel -->
        <BR><BR>
        <div class="col-sm-3 col-sm-offset-1">
          <div class="panel panel-default">
             <div class="panel-heading">Searching information project per Investigator</div>
             <div class="panel-body">
             <p>Searching information for the projects created by a Investigator<BR>
             <p>For extended help click on the button below.</p>
            <center><button id="myBtn"> Help </button></center>
            </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        <!-- Insert the Help window when clicking on the button -->
        {% include 'iSkyLIMS_wetlab/search-researcher-help.html' %}
 
    </div> <!--// end row -->
</div> <!-- Background  -->
    <!-- End of FORM for searching RUN information -->
{% endif %}
{% endblock %}
