
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Searching for a Run </h2>
    </div>
    <div class="modal-body">
        <p> To look for a specific run you should enter as much as 
        possible details you have in order to find an exact match, 
        or to get a limit of results that matched the 
        <BR>
        If  
        </p>
      <ul class="list-group">
                <li class="list-group-item">On RUN level</li>
                <ul>
                    <li class="list-group-item">Looking for an especific run: Filling the exact name of the run field</li>
                    <li class="list-group-item">Looking for similar RUN match: Clicking on the "Fuzzy Search" checkbox</li>
                    <li class="list-group-item">Searching from an especific date: Filling the Date Field</li>
                    <li class="list-group-item">Searching for run State: Selecting from the state list Field</li>
                </ul>
                <BR>
                <ul class="list-group">
                  <li class="list-group-item">On Project level</li>
                  <ul> <!-- project level  -->
                    <li class="list-group-item">Looking for an especific project: Filling the exact name of the run field</li>
                    <li class="list-group-item">Looking for similar Project match: Clicking on the "Fuzzy Search" checkbox</li>
                    <li class="list-group-item">Searching from an especific date: Filling the Date Field</li>
                    <li class="list-group-item">Searching for Project State: Selecting from the state list Field</li>
                    <BR>
                    <li class="list-group-item">Getting the projects for an especific user: Filling the userid field</li>
                </ul> <!-- end project level -->
            </ul> <!--end list-group -projet -->
          </ul> <!-- end list-group run -level-->
    </div>
    <div class="modal-footer">
      <p><BR></p>
    </div>
  </div>

</div>



