{% extends 'iSkyLIMS_wetlab/base.html' %}
{% load static %}
{% block content %}
    {% csrf_token %}
<script type="text/javascript" src="{% static "iSkyLIMS_wetlab/js/wetlab.js" %}"></script>
<style>
    .scroll-wrapper-sm-7 {
        max-height: 350px;
        overflow: auto;
        display:inline-block;
        width: 670px;
    }
</style>

{% if error_message %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7 col-sm-offset-3">
            <div class="panel panel-danger">
                <div class="panel-heading"><h3 style="text-align:center">Not matches</h3> </div>
                <div class="panel-body">
                    {% for values in error_message %}
                        <h4>{{values}}</h4>
                    {% endfor %}
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->
{% endif %}


{% if display_project_list %}
    <div class="row row-space-2 margin-b-4">
        <BR>
        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Project List</h3></div>
                <div class="panel-body scroll-wrapper-sm-7">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>The following projects were found for your search:</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, values in display_project_list.projects %}
                                <tr>
                                    <td><a href="/wetlab/displayProject={{ values }}">{{ key }}</a> </td>
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-6 -->
    </div> <!--  end of row -->
{% else %}
    {% load user_groups %}
<!-- FORM for searching  Project Information -->
    <div class="row row-space-4 margin-b-4">
      <div class="col-sm-7 col-sm-offset-1" >
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Searching Project</h3></div>
          <div class="panel-body">
            <form method="post" enctype="multipart/form-data" name="searchproject" id="searchproject" class="form-horizontal well">
            {% csrf_token %}
            <input type="hidden" name="action" value="searchproject"/>
            <div class="form-group">
                  <label class="col-sm-5  control-label" for="projectname" >Fill the Project name </label>
                  <div class="col-sm-5"><input class="form-control" type="text" name="projectname" id="projectname" size="100" maxlength="100"></div>
             </div>  <!-- end from-group   -->
            <BR>
            <div class="form-group">
                <label class="col-sm-5 control-label" for="platform" >Platform</label>
                <div class="col-sm-4"><select class="form-control" name="platform" id="platform">
                               				<option value="">Choose a value</option>
                                            {% for value in project_form_data.available_platforms %}
                                                <option value="{{value}}">{{value}}</option>
                                            {% endfor %}

                                      </select>
               </div>  <!-- end select input -->
            </div>  <!-- end from-group   -->
             <div class="form-group">
               <label class="col-sm-5 control-label" for="projectstate" >Run state</label>
               <div class="col-sm-4"><select class="form-control" name="runstate" id="runstate">
                               				<option value="">Choose a value</option>
                                            {% for value in project_form_data.run_states %}
                                                <option value="{{value}}">{{value}}</option>
                                            {% endfor %}
                                      </select>
               </div>  <!-- end select input -->
                <br>
             </div>  <!-- end from-group   -->
             <div class="form-group">
                <label class="col-sm-5 control-label" for="startdate" >From Date (DD-MM-YYYY)</label>
                <div class="col-sm-5"><input class="form-control" type="date" name="startdate" id="startdate" size="100" maxlength="100"></div>
                <br>
             </div>  <!-- end from-group   -->
             <br>
             <div class="form-group">
                <label class="col-sm-5 control-label" for="enddate" >End Date (DD-MM-YYYY)</label>
                <div class="col-sm-5"><input class="form-control" type="date" name="enddate" id="enddate" size="100" maxlength="100"></div>
                <br>
             </div>  <!-- end from-group   -->
             <br>
             <br>
            <div class="form-group">
                  <label class="col-sm-5  control-label" for="username" >Search from user name</label>
                  {% if request.user|has_group:"WetlabManager" %}
                    <div class="col-sm-5"><input class="form-control" type="text" name="username" id="username" size="100" maxlength="100"></div>
                  {% else %}
                    <div class="col-sm-5"><input class="form-control" type="text" name="username" id="username" value="{{user.get_username}}"  size="100" maxlength="100" placeholder="{{user.get_username}}" readonly></div>
                  {% endif %}
             </div>  <!-- end from-group   -->
            <br>
            <br>
                <input class="btn pull-left btn-primary" type="reset" value="Reset Fields">
                <input class="btn pull-right btn-primary" type="submit" value="Submit">
            </form>
         </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
        <!-- Insert the help panel -->
        <BR><BR>
        <div class="col-sm-3 col-sm-offset-1">
          <div class="panel panel-default">
             <div class="panel-heading">Searching information of the RUN</div>
             <div class="panel-body">
             <p>Searching information can be done on Runs or on Projects: <BR>
             <p>For extended help click on the button below.</p>
            <center><button id="myBtn"> Help </button></center>
            </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
       </div> <!--  end col-sm-3  -->
     <!-- Insert the Help window when clicking on the button -->
        {% include 'iSkyLIMS_wetlab/search-help.html' %}
    </div> <!--// end row -->
    <!-- End of FORM for searching Project information -->

{% endif %}

{% endblock %}
