{% extends 'iSkyLIMS_wetlab/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
{% if display_list_index_library %}

    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading">The following list matches with yor search: </div>
                <div class="panel-body">
                    <table class="table table-hover">
                   <thead>
                      <tr>
                        <th>Index Library Name</th>
                        <th>Version</th>
                      </tr>
                   </thead>
                   <tbody>
                    {% for  key, name , version in display_list_index_library.index_values %}
                        <tr>
                       <td><a href="/wetlab/DisplayIndexLibrary={{ key }}">{{ name }}</a></td>
                       <td>{{ version }}</td>
                       </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-7 -->
    </div> <!--  end of row -->

{% else %}
    <!-- FORM for searching index Library -->
    <div class="row row-space-2 margin-b-4">
      <div class="col-sm-7" >
        <div class="panel panel-default">
          <div class="panel-heading"><strong>Searching Index Library</strong></div>
          <div class="panel-body">
            <form method="post" enctype="multipart/form-data" name="searchindexlibrary" id="searchindexlibrary" class="form-horizontal well">
                {% csrf_token %}
                <input type="hidden" name="action" value="searchindexlibrary"/>
             <div class="form-group">
                  <label class="col-sm-5  control-label" for="indexlibraryname" >Index Library name </label>
                  <div class="col-sm-5"><input class="form-control" type="text" name="indexlibraryname" id="indexlibraryname" size="100" maxlength="200"></div>
             </div>  <!-- end from-group   -->
             <BR>
             <div class="form-group">
                  <label class="col-sm-5  control-label" for="adapter1" >Adapter 1</label>
                  <div class="col-sm-5"><input class="form-control" type="text" name="adapter1" id="adapter1" size="100" maxlength="200"></div>

             </div>  <!-- end from-group   -->
             <BR>
             <div class="form-group">
                  <label class="col-sm-5  control-label" for="adapter2" >Adapter 2</label>
                  <div class="col-sm-5"><input class="form-control" type="text" name="adapter2" id="adapter2" size="100" maxlength="200"></div>

             </div>  <!-- end from-group   -->
             <BR>
             <div class="form-group">
                  <label class="col-sm-5  control-label" for="indexname" >Index name</label>
                  <div class="col-sm-5"><input class="form-control" type="text" name="indexname" id="indexname" size="10" maxlength="50"></div>

             </div>  <!-- end from-group   -->
             <BR>
             <div class="form-group">
                  <label class="col-sm-5  control-label" for="indexbase" >Base Sequence</label>
                  <div class="col-sm-5"><input class="form-control" type="text" name="indexbase" id="indexbase" size="10" maxlength="50"></div>

             </div>  <!-- end from-group   -->
             <br>
                <div class="form-group">
                  <label class="col-sm-5 control-label" for="startdate" >From Start Date (DD-MM-YYYY)</label>
                  <div class="col-sm-5"><input class="form-control" type="date" name="startdate" value="" id="startdate"></div>
            </div>  <!-- end from-group   -->
                <br>
                <div class="form-group">
                  <label class="col-sm-5 control-label" for="enddate" >End Date Search (DD-MM-YYYY)</label>
                  <div class="col-sm-5"><input class="form-control" type="date" name="enddate" value="" id="enddate"></div>
            </div>  <!-- end from-group   -->
            <br>
                <input class="btn pull-left btn-primary" type="reset" value="Reset Fields">
                <input class="btn pull-right btn-primary" type="submit" value="Submit">
            </form>
         </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
        
    </div> <!--// end row -->
    <!-- End of FORM for searching index library information -->
{% endif %}
{% endblock %}
