{% extends 'iSkyLIMS_wetlab/base.html' %}
{% load static %}
{% block content %}
{% if na_data %}
    <script src="{% static "iSkyLIMS_wetlab/js/jquery/v3.4.1/jquery-3.4.1.min.js" %}" type="text/javascript"></script>
    <script src="{% static "iSkyLIMS_wetlab/js/jexcel/v3/jexcel.js" %}" type="text/javascript"></script>
    <script src="{% static "iSkyLIMS_wetlab/js/jsuites/v2/jsuites.js" %}" type="text/javascript"></script>

     <link href="{% static "iSkyLIMS_wetlab/css/jexcel/v3/jexcel.css" %}" rel="stylesheet">
     <link href="{% static "iSkyLIMS_wetlab/css/jsuites/v2/jsuites.css" %}" rel="stylesheet">

    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Set the Nucleic Accid data for the following samples.</h3></div>
                <div class="panel-body">
                    <br>
                    <form method="post" enctype="multipart/form-data" name="updateNAParameters"  id="updateNAParameters" class="form-horizontal well">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="updateNA"/>
                        <input type="hidden" name="na_parameters" value="{{ na_data.na_parameters }}"/>
                        <input type="hidden" name= "samples" value="{{na_data.samples}}"/>

                        <div id="spreadsheet"></div>
                        <br><br><br><br>
                        </div> <!--  end of col-table-responsive -->
                        <script>
                            var data = [{% for values in na_data.data %}
                                [{% for value in values %}'{{value}}',{% endfor %}],{% endfor %}
                            ];

                            dropdownFilter = function(instance, cell, c, r, source) {
                                var value = instance.jexcel.getValueFromCoords(c - 1, r);
                                {% for item, values in na_data.protocol_filter_selection %}
                                    if (value == '{{item}}') {
                                    return [{% for val in values %}'{{val}}',{% endfor %}];
                                }
                                {% endfor %}

                                else {
                                    return source;
                                }
                            }

                            mySpreadsheet = $('#spreadsheet').jexcel({
                                data:data,
                                columns: [
                                    { type: 'text', title:'{{na_data.headings.0}}', width:180 , readOnly:true },
                                    { type: 'dropdown', title:'{{na_data.headings.1}}', width:150 , source :[ {% for value in na_data.type_of_molecules %} '{{value}}', {% endfor %}]},
                                    { type: 'dropdown', title:'{{na_data.headings.2}}', width:150 , source :['Manual', 'Automated']},
                                    { type: 'calendar' , title: '{{na_data.headings.3}}', width:150 },
                                    { type: 'dropdown', title:'{{na_data.headings.4}}', width:150 , source :[ {% for value in na_data.protocol_type %}{'id':'{{value}}','name':'{{value}}'}, {% endfor %}]},
                                    { type: 'dropdown', title: '{{na_data.headings.5}}', width:180 , source:[{% for value in na_data.protocol_list %}'{{value}}',{% endfor %} ],
                                            filter:dropdownFilter },

                                ],
                                allowInsertColumn:false,
                                allowDeleteColumn:false,
                                allowRenameColumn:false,
                                allowInsertRow:false,
                                allowDeleteRow:false,
                                csvFileName:'Molecule_data',
                                minDimensions:[{{na_data.table_length}},{{na_data.number_of_samples}}],
                                onchange:function(instance, cell, c, r, value) {
                                    if (c == 4) {
                                        var columnName = jexcel.getColumnNameFromId([5, r]);
                                        instance.jexcel.setValue(columnName, '');
                                    }
                                }
                            });
                        </script>

                        <br>
                        <input type="button" value="Download Spreadsheet" onclick="$('#spreadsheet').jexcel('download')"/>
                        <input class="btn pull-right btn-primary" type="submit" value="Submit">
                    </form>
                    <script>
                        $(document).ready(function () {
                            $("#updateNAParameters").submit(function (e) {
                                //stop submitting the form to see the disabled button effect
                                // e.preventDefault();
                                //disable the submit button
                                var table_data = $('#spreadsheet').jexcel('getData')
                                var data_json = JSON.stringify(table_data)
                                $("<input />").attr("type", "hidden")
                                  .attr("name", "nucleic_data")
                                  .attr("value", data_json)
                                  .appendTo("#updateNAParameters");
                                $("#btnSubmit").attr("disabled", true);
                                return true;
                            });
                        });
                    </script>

                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-6 -->
    </div> <!--  end of row -->
{% elif display_update %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>The following samples are updated with Nucleic quality Parameters.</h3></div>
                <div class="panel-body">
                    <table class="table table-hover">
                     <thead>
                        <tr>
                            {% for values in display_update.heading %}
                                <th>{{values}}</th>
                            {% endfor %}
                        </tr>
                     </thead>
                     <tbody>
                        {% for values in display_update.updated_samples %}
                           <tr>
                                {% for value in values %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                           </tr>
                        {% endfor %}
                    </tbody>
                   </table>
                   <form method="post" enctype="multipart/form-data" action="setLibraryParameters" name="continueWithLibrary"  id="continueWithLibrary" class="form-horizontal well">
                       {% csrf_token %}
                       <p></p>
                       <input type="hidden" name="action" value="continueWithLibrary"/>
                       <input type="hidden" name="na_parameters" value="{{ display_update.samples }}"/>
                       <input type="button" value="Return Home" onclick="location.href="/" />
                       <input class="btn pull-right btn-primary" type="submit" value="Submit">
                    </form>
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-12 -->
    </div> <!--  end of row -->

{% else %}

    <div class="row row-space-4 margin-b-4">
        <div class="col-sm-7 col-sm-offset-1" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3>The following Samples can be updated with the Nuclic Accid information</h3></div>
                {% for protocol_s_list in display_list.list_of_samples %}
                    <div class="panel-body">

                        <form method="post" enctype="multipart/form-data" name="continueWithDNA"  id="continueWithDNA" class="form-horizontal well">
                        {% csrf_token %}
                            <input type="hidden" name="action" value="continueWithDNA"/>
                            <input type="hidden" name="samples_in_list" value="True"/>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        {% for value in display_list.heading %}
                                            <th> {{ value }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for date, code, type,  s_id in protocol_s_list  %}
                                        <tr>

                                                <td>{{ date }}</td>
                                                <td>{{ code }}</td>
                                                <td>{{type}}</td>
                                                <td><input type="checkbox" name="samples" value="{{s_id}}"></td>

                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                            <br><br>
                            <input type="button" value="Return Home" onclick="location.href ='/wetlab' ;"/>
                            <input class="btn pull-right btn-primary" type="submit" value="Submit">
                         </form>

                    </div>  <!--  end of panel body  -->
                {% endfor %}
            </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->
    </div> <!--// end row -->
{% endif %}

{% endblock %}
