
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h3>Statistics done on a researcher</h3>
    </div>
    <div class="modal-body">
        <p>This page will provide the statistics based on the researcher name.</p>
        <p>The researcher name field is a mandatory field and it cannot be blank.<BR>
        When filling the addtional fields in the form, the number of matches will be reduced to the ones that fullfil all conditions defined on the fields</p>
        <p>As a result after sending the request you could get the following:
        <ul>
          <li>Error page, if there is no match in the request</li>
          <li>Page containing all information related to project done by the researcher</li>
          <li>Page containing a list of the project that matches with the defined conditions</li>
        </ul>
        </p>
        <p>Read the foolowing tips for searching proyects done by researcher</p>
      <ul class="list-group">
        <li class="list-group-item">Looking for projects done by the researcher: Filling the exact name of the <b>researcher name</b> field</li>
        <li class="list-group-item">Looking for the latest project which matches all conditions: Clicking on the <b>Latest project</b> checkbox</li>
        <li class="list-group-item">Searching from an especific date: <b>Filling the Date Field</b></li>
        <li class="list-group-item">Searching for project State: Selecting from the state list Field</li>
      </ul>
    </div>
    <div class="modal-footer">
      <p><BR></p>
    </div>
  </div>

</div>
