{% extends 'iSkyLIMS_wetlab/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
{% include "iSkyLIMS_core/graphic_chart_functionality.html" %}
{% if display_stats_per_time.run_names %}

<script type="text/javascript" src="{% static 'iSkyLIMS_wetlab/js/wetlab.js' %}"></script>
<style>
.table-wrapper {
    height: 450px;
    overflow: auto;
    display:inline-block;
    width: 390px;
</style>
{% if ERROR %}
    <div class="row row-space-2 margin-b-4">
        <BR>
        <div class="col-sm-6  col-sm-offset-3"">
            <div class="panel panel-warning">
                <div class="panel-heading"><h3> Result of your request</h3></div>
                <div class="panel-body">

                        <p>{{ERROR}}</p>

                </div> <!--  end of panel body -->
           </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-6 -->
    </div> <!--// end row -->
{% endif %}
    <!--  Start Run information -->
    <div class="row row-space-2 margin-b-4">
        <BR>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body"><h4>The statistics results are based on the {{ display_stats_per_time.number_of_runs }}  </h4>
                That have been found for the selected period from : {{ display_stats_per_time.dates }}

                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Runs graphics  </h4></div>
                <div class="panel-body">
                    <!-- Run Column Chart will start here-->
                    <div id="run_period_chart-1"> </div>
                    <!-- dumping JavaScript code here -->
                        {{ display_stats_per_time.run_period_graphic |safe }}
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-6 -->


        <BR>
        <div class="col-sm-4 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">These are the Runs found according your query. To get all information of the run , click on it:
                <button onclick="exportTableToExcel('runsFound')" class="btn pull-right">Export Table To Excel <span class="glyphicon glyphicon-download-alt"></span></button>
                <BR>
                </div>
                <div class="table-wrapper">
                <table id="runsFound" class="table table-hover mb-0">
                   <thead>
                      <tr>
                        <th>Run Name</th>
                        <th>Date</th>
                      </tr>
                   </thead>
                   <tbody>

                    {% for key, values in display_stats_per_time.run_names.items %}
                     <tr>
                        {% for value, data in values %}
                       <td><a href="/wetlab/displayRun={{ key }}">{{ value }}</a> </td>
                       <td> {{ data }} </td>
                        {%endfor%}
                     </tr>
                    {%endfor%}
                   </tbody>
                 </table>
                </div> <!--  end of table wrapper  -->
          </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-3 -->
    </div> <!--// end row -->
        <BR>
        <!--  start the disk space utilization  -->
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Disk space utilization per each Run  </h4></div>
                <div class="panel-body">
                    <!-- Run Column Chart will start here-->
                    <div id="disk_usage_chart-1"> </div>
                    <!-- dumping JavaScript code here -->
                        {{ display_stats_per_time.disk_space_period_graphic |safe }}
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-12 -->
    </div> <!--// end row -->

    <!--  End Run information -->

    <!--  Start Project information -->
    <div class="row row-space-2 margin-b-4">
        <BR>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body"><h4>Have been found {{ display_stats_per_time.number_of_projects }} associated to the {{ display_stats_per_time.number_of_runs }} </h4>
                    For the selected period from : {{ display_stats_per_time.dates }}

                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Projects graphics  </h4></div>
                <div class="panel-body">
                    <!-- Run Column Chart will start here-->
                    <div id="project_period_chart-1"> </div>
                    <!-- dumping JavaScript code here -->
                        {{ display_stats_per_time.project_period_graphic |safe }}
                </div> <!--  end of panel body -->
            </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-6 -->


        <BR>
        <div class="col-sm-4 col-sm-offset-1"">
            <div class="panel panel-default">
                <div class="panel-heading">These are the Projects found according your query. To get all information of the Project , click on it:
                <button onclick="exportTableToExcel('projectsFound')" class="btn pull-right">Export Table To Excel <span class="glyphicon glyphicon-download-alt"></span></button>
                <BR>
                </div>
                <div class="table-wrapper">
                <table id="projectsFound" class="table table-hover">
                   <thead>
                      <tr>
                        <th>Project Name</th>
                        <th>Date</th>
                      </tr>
                   </thead>
                   <tbody>

                    {% for key, values in display_stats_per_time.project_names.items %}
                     <tr>
                        {% for value, data in values %}
                       <td><a href="/wetlab/displayProject={{ key }}">{{ value }}</a> </td>
                       <td> {{ data }} </td>
                        {%endfor%}
                     </tr>
                    {%endfor%}
                   </tbody>
                 </table>
                </div> <!--  end of table wrapper  -->
          </div> <!--  end of panel  -->
        </div> <!--  end of col-sm-3 -->
    </div> <!--// end row -->

    <!--  End Project information -->

    <!--  Start Undetermined Barcode information -->
    <div class="row row-space-2 margin-b-4">
        {% for unbar_chart ,lane_number, unbar_graph in display_stats_per_time.unbar_lane_chart %}
      <div class="col-sm-6" >
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Undetermined Barcode Statistics for Lane {{lane_number}}</h3></div>
          <div class="panel-body">
            <div id="{{ unbar_chart }}"> </div>
                {{ unbar_graph |safe }}
            </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-6  -->
        {% endfor %}

    <div class="row row-space-2 margin-b-4">
      <div class="col-sm-6 col-sm-offset-2" >
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Unknow Barcode Statistics all Lanes</h3></div>
          <div class="panel-body">
                <!-- Unknow Barcode Pie Chart will start here-->
            <div id="chart-5"> </div>
                <!-- dumping JavaScript code here -->
                {{ display_stats_per_time.unknow_pie3d |safe }}
         </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        </div> <!--// end col-sm-6  -->
    </div> <!--// end row -->
    <!--  End Undetermined Barcode information -->
{% else %}
    <!-- FORM for searching RUN  Information -->
    <BR>
    <div class="row row-space-2 margin-b-4">
      <div class="col-sm-7" >
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Run Statatistics for a period of time</h3></div>
          <div class="panel-body">
           <form method="post" enctype="multipart/form-data" name="statisticsPerPeriod" id="statisticsPerPeriod" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group required" >
                  <label class="col-sm-5 control-label" for="startdate" >From Start Date (DD-MM-YYYY) </label>
                  <div class="col-sm-5"><input class="form-control" type="date" required = "required" name="startdate" value="" id="startdate"></div>
                <br>
            </div>  <!-- end from-group   -->
            <div class="form-group required">
                  <label class="col-sm-5 control-label" for="enddate" >End Date (DD-MM-YYYY) </label>
                  <div class="col-sm-5"><input class="form-control" type="date" required = "required" name="enddate" value="" id="enddate"></div>
                <br>
            </div>  <!-- end from-group   -->
                <input class="btn pull-left btn-primary" type="reset" value="Reset Fields">
                <input class="btn pull-right btn-primary" type="submit" value="Submit">
            </form>
            </div>  <!--  end of panel body  -->
            <p> Fields marked with <FONT COLOR="Red">*</FONT> are mandatory</p>

        </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->

        <!-- Insert the help panel -->
        <BR><BR>
        <div class="col-sm-3 col-sm-offset-1">
          <div class="panel panel-default">
             <div class="panel-heading">Creating Run Statistics </div>
             <div class="panel-body">
             <p>This form will be used to create Run Statistics. The Tool will search for all those runs which the creation date is between the Start Date and the End Date: <BR>
             <p>For extended help click on the button below.</p>
            <center><button id="myBtn"> Help </button></center>
            </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        <!-- Insert the Help window when clicking on the button -->
        {% include 'iSkyLIMS_wetlab/search-help.html' %}

    </div> <!--// end row -->

    <!-- End of FORM for searching RUN information -->
{% endif %}
{% endblock %}
