{% extends 'iSkyLIMS_wetlab/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<script type="text/javascript" src="{% static "iSkyLIMS_wetlab/js/fusioncharts/js/fusioncharts.widgets.js" %}"></script>
<script type="text/javascript" src="{% static "iSkyLIMS_wetlab/js/fusioncharts/js/fusioncharts.js" %}"></script>
<script type="text/javascript" src="{% static "iSkyLIMS_wetlab/js/fusioncharts/js/themes/fusioncharts.theme.fint.js" %}"></script>
<script type="text/javascript" src="{% static "iSkyLIMS_wetlab/js/fusioncharts/js/themes/fusioncharts.theme.ocean.js" %}"></script>
<script type="text/javascript" src="{% static "iSkyLIMS_wetlab/js/fusioncharts/js/themes/fusioncharts.theme.carbon.js" %}"></script>
<script type="text/javascript" src="{% static "iSkyLIMS_wetlab/js/fusioncharts/js/themes/fusioncharts.theme.zune.js" %}"></script>
<script type="text/javascript" src="{% static "iSkyLIMS_wetlab/js/wetlab.js" %}"></script>

{% if machine_statistics  %}

    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Statistics results for Machine {{machine_statistics.machine_name}} </h2></div>
                <div class="panel-body">
                {% for run in machine_statistics.run_data  %}
                    {% for run_name, values_in_dict in run.items %}
                        <h3> Runs Completed: </h3>
                        <button onclick="exportTableToExcel('run{{run_name}}')" class="btn pull-right">Export Table To Excel <span class="glyphicon glyphicon-download-alt"></span></button>
                        <BR>
                        <div class="table-wrapper-scroll-y ">
                            <table id="run{{run_name}}" class="table  table-hover">
                                <thead>
                                    <tr>
                                        {% for values  in machine_statistics.run_heading %}
                                            <th>{{ values }} </th>
                                        {%endfor%}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for values in values_in_dict %}
                                        <tr>
                                            {% for value in values %}
                                                <td>{{ value }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <BR>
                        </div> <!--  end of col-table-responsive -->
                    {% endfor%}
                {% endfor %}
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-12  -->
    </div> <!--// end row -->
  {% if machine_statistics.run_pie_graph %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-8" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3><center>Runs Completed vs Runs Not Completed for  {{machine_statistics.machine_name}} </center></h3></div>
                <div class="panel-body">
                    <!-- Sequencer pie Chart starts here-->
                        <div id="run_pie_chart"> </div>
                        {{ machine_statistics.run_pie_graph |safe }}
                </div> <!--  end of panel body -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-8  -->
    </div> <!--// end row -->
  {% endif %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12" >
            <div class="panel panel-default">
              <div class="panel-body">
                {% for sequencer in machine_statistics.projects_data  %}
                    {% for sequencer_name, values_in_dict in sequencer.items %}
                        <h3> Projects using the sequencer {{sequencer_name }} : </h3>
                        <button onclick="exportTableToExcel('sequencer{{sequencer_name}}')" class="btn pull-right">Export Table To Excel <span class="glyphicon glyphicon-download-alt"></span></button>
                        <BR>
                        <div class="table-wrapper-scroll-y ">
                            <table id="sequencer{{sequencer_name}}" class="table  table-hover">
                                <thead>
                                    <tr>
                                        {% for values  in machine_statistics.projects_heading %}
                                            <th>{{ values }} </th>
                                        {%endfor%}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for values in values_in_dict %}
                                        <tr>
                                            {% for value in values %}
                                                <td>{{ value }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <BR>
                        </div> <!--  end of col-table-responsive -->
                    {% endfor%}
                {% endfor %}
                </div>  <!--  end of panel body  -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-12  -->
    </div> <!--// end row -->

    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3><center>Graphic Statistics for Machine {{machine_statistics.machine_name}} </center></h3></div>
                <div class="panel-body">
                    {% for seq_machine_graph in machine_statistics.machine_graph %}
                        {% for id_graph, chart in seq_machine_graph %}
                            <div class="col-sm-6" >
                                <!-- Showing graph-->
                                <div id="{{id_graph}}"> </div>
                                    {{ chart|safe }}
                            </div> <!--// end col-sm-6  -->
                        {% endfor %}
                    {% endfor %}
                </div> <!--  end of panel body -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-8  -->
    </div> <!--// end row -->



    {% if machine_statistics.comp_graphs %}
        <div class="row row-space-2 margin-b-4">
            <div class="col-sm-12" >
                <div class="panel panel-default">
                    <div class="panel-heading"><h3><center> {{machine_statistics.machine_name}} projects comparison </center></h3></div>
                    <div class="panel-body">
                    <!-- comparations chart starts here-->
                        {% for seq_comp_graph in machine_statistics.comp_graphs %}
                            {% for id_graph, chart in seq_comp_graph %}
                                <div class="col-sm-6" >
                                    <!-- Showing graph-->
                                    <div id="{{id_graph}}"> </div>
                                        {{ chart|safe }}
                                </div> <!--// end col-sm-6  -->
                            {% endfor %}
                        {% endfor %}
                    </div> <!--  end of panel body -->
                </div> <!--// end panel -->
            </div> <!--// end col-sm-8  -->
        </div> <!--// end row -->
    {% endif %}
    <div class="row row-space-2 margin-b-4">
        <div class="col-sm-8" >
            <div class="panel panel-default">
                <div class="panel-heading"><h3><center>Statistics Sequencer utilization for  {{machine_statistics.machine_name}} </center></h3></div>
                <div class="panel-body">
                    <!-- Sequencer pie Chart starts here-->
                        <div id="sequencer_pie_chart"> </div>
                        {{ machine_statistics.sequencer_pie_graph |safe }}
                </div> <!--  end of panel body -->
            </div> <!--// end panel -->
        </div> <!--// end col-sm-8  -->
    </div> <!--// end row -->


{% else %}
    {% load user_groups %}
    <!-- FORM for searching project research  Information -->
    <div class="row row-space-2 margin-b-4">
      <div class="col-sm-7" >
        <div class="panel panel-default">
          <div class="panel-heading"><h2>Statistics per Machine</h2></div>
          <div class="panel-body">
            <form method="post" enctype="multipart/form-data" name="statsmachine" id="statsmachine" class="form-horizontal well">
            {% csrf_token %}
            <input type="hidden" name="action" value="machine"/>
             <div class="form-group required">
                  <label class="col-sm-5  control-label" for="machinename" >Fill the Machine name </label>

                  <div class="col-sm-5"><input class="form-control" type="text" required = "required" name="machinename" id="machinename" size="100" maxlength="100"></div>

             </div>  <!-- end from-group   -->

                <br>

                <div class="form-group required">
                  <label class="col-sm-5 control-label" for="startdate" >From Start Date (DD-MM-YYYY)</label>
                  <div class="col-sm-5"><input class="form-control" type="date" required = "required" name="startdate" value="" id="startdate"></div>
                <br>
            </div>  <!-- end from-group   -->
                <div class="form-group required">
                  <label class="col-sm-5 control-label" for="enddate" >End Date Search (DD-MM-YYYY)</label>
                  <div class="col-sm-5"><input class="form-control" type="date" required = "required" name="enddate" value="" id="enddate"></div>
                <br>

            </div>  <!-- end from-group   -->
                <input class="btn pull-left btn-primary" type="reset" value="Reset Fields">
                <input class="btn pull-right btn-primary" type="submit" value="Submit">
            </form>
            <p> Fields marked with <FONT COLOR= "Red">*</FONT> are mandatory</p>
         </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        </div> <!--// end col-sm-7  -->

        <!-- Insert the help panel -->
        <BR><BR>
        <div class="col-sm-3 col-sm-offset-1">
          <div class="panel panel-default">
             <div class="panel-heading">Searching information project per Machine</div>
             <div class="panel-body">
             <p>Searching information for the projects created by a Machine<BR>
             <p>For extended help click on the button below.</p>
            <center><button id="myBtn"> Help </button></center>
            </div>  <!--  end of panel body  -->
        </div> <!--// end panel -->
        <!-- Insert the Help window when clicking on the button -->
        {% include 'iSkyLIMS_wetlab/search-researcher-help.html' %}

    </div> <!--// end row -->
    <!-- End of FORM for searching RUN information -->
{% endif %}


{% endblock %}
